{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Help.css"/>
<div class="help-main">
	<div id="ltlContents" class="help-right-part">
		<div class="help-right-part">
			<div class="help-in-rihgt-part">
				<h2>{wc:$article['title']}</h2>
				<style>
				.help-nav ul li a.cur{wc:$article['id']}{color:#f80;  position:relative; font-weight:bold;}
				.help-nav ul li a.cur{wc:$article['id']} b{width:4px; height:4px; overflow:hidden; background:#f80; display:inline-block; position:absolute; left:-10px; top:5px;}
				</style>
				<div class="help-content">
					{wc:$article['content']}
				</div>
			</div>
		</div>
	</div>
	<div class="help-left-part">
		<div class="help-nav">
			<h3>帮助中心</h3>			
            {wc:getlist sql="select * from `@#_category` where `parentid`='1'" return="category"}
			{wc:loop $category $help}
			<h4>{wc:$help['name']}</h4>
			<ul>
				{wc:fun:help($help['cateid'])}
			</ul>
			<div class="hackbox"></div>
			{wc:loop:end}
            {wc:getlist:end}
		</div>
		<div class="help-contact">
			<p>如果不能在帮助内容中找到答案，或者您有其他建议、投诉，您还可以：</p>
			<ul>
				<li class="CustomerCon"><a href="http://wpa.qq.com/msgrd?v=3&uin={wc:fun:_cfg('qq')}&site=qq&menu=yes" target="_blank" class="Customer"><b></b>在线客服</a></li>
				<li>客服QQ:3503525787</li>
				<!--<li class="tel"><span>{wc:fun:_cfg('cell')}</span></li>-->
			</ul>
		</div>
	</div>
</div>
{wc:templates "index","footer"}