<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">


    <style>
        #mcover {position: fixed;top: 0;left: 0;width: 100%;height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }
        #mcover img { position: fixed;right: 18px;top: 5px;width: 100%!important;z-index: 20001; }
        .g-header{
            position:fixed;
            width: 100%;
            top:0;
            left:0;
        }
    </style>
</head>
<body  ng-controller="CommonCtrl" style="font-family: serif;">
<div id="body_top" style="position:relative;width:100%;">

</div>
<div style="display: none;" id="headerId" class="g-header" ng-controller="headerCtrl" style="position:fixed !important;top:0;left:0;">
    <div class="navbar navbar-default  m-header" style="margin-bottom: 0;padding: 0;">
        <div>
            <ul class="m-nav-list" style="line-height: 10px;">
                <li>
                    <a href="#/tab/search" style="background: url('images/icon/sousuo.png') no-repeat;background-size: 24px;width: 60%;;height: 50px;background-position: center;float: left;"></a>
                </li>
                <li>
                    <img src="images/icon/title-logo.png" style="width: 130px;margin-top: 1px;">
                </li>
                <li>
                    <a ng-click="toLogin()" href="javascript:;" style="background: url('images/icon/ren.png') no-repeat;background-size: 24px;width: 60%;;height: 50px;background-position: center;float:right;"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 导航栏 -->

    <div class="m-nav">
        <div class="g-wrap">
            <ul class="m-nav-list">
                <li ng-class="{true: 'selected', false: ''}[isSelected1]">
                    <a style="width: 50%;" href="#/tab/home" ng-click="setSelectedItem(1);">
                        <span style="width: 100%;">首页</span>
                    </a>
                </li>

                <li ng-class="{true: 'selected', false: ''}[isSelected2]">
                    <a style="width: 50%;" href="#/tab/list" ng-click="setSelectedItem(2);">
                        <span style="width: 100%;">全部</span>
                    </a>
                </li>
                <li ng-class="{true: 'selected', false: ''}[isSelected4]">
                    <a style="width: 50%;" href="#/tab/xiangou" ng-click="setSelectedItem(4);">
                        <span style="width: 100%;">限购</span>
                    </a>
                </li>
                <li ng-class="{true: 'selected', false: ''}[isSelected3]">
                    <a style="width: 50%;" href="#/tab/share" ng-click="setSelectedItem(3);">
                        <span style="width: 100%;">晒单</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-view class="g-body"></div>

<a style="display: none;" href="javascript:;" class="w-button-top w-button-round w-button-backToTop pull-right" id="proId">返回顶部</a>
<a style="display: none;" id="shopList" class="w-miniCart" href="#/tab/shopList"><i class="ico-miniCart"></i><b class="w-miniCart-count" ng-bind="shopList.length"></b></a>



<div style="margin-top: 200px;" class="modal" id="updateModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 200px;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <p><img style="width: 50px;margin-bottom: 10px;" src="images/icon/success_icon.png"></p>
                <p><h4>更新密码成功</h4></p>
                <a href="javascript:;" data-dismiss="modal" ng-click="login();" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;margin-top: 10px;">马上登陆</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div style="margin-top: 200px;" class="modal" id="rigisterModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 200px;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <p><img style="width: 50px;margin-bottom: 10px;" src="images/icon/success_icon.png"></p>
                <p><h4>注册成功</h4></p>
                <a href="javascript:;" data-dismiss="modal" ng-click="login();" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;margin-top: 10px;">马上登陆</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div style="margin-top: 200px;max-height: 200px;" class="modal" id="alertModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 240px;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <p><h4 ng-bind="alertMsg" style="line-height: 2;word-wrap: break-word;"></h4></p>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <a href="javascript:;" data-dismiss="modal" class="btn btn-block" style="background: #fff;">关闭</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div style="margin-top: 200px;max-height: 200px;" class="modal" id="confirmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 280px;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <div class="w-msgbox-bd"><h3 class="w-msgbox-title" ng-bind="confirmMsg"></h3></div>
            </div>
            <div class="modal-footer w-msgbox-ft w-msgbox-ft-2" style="padding:0;">
                <a href="javascript:;" class="pro-btn" ng-click="confirmExecute()"><span>确定</span></a>
                <a href="javascript:;" class="pro-btn" data-dismiss="modal" aria-hidden="true"><span>取消</span></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal" id="addressModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <a ng-click="addNewAddress()" href="javascript:;">添加新地址</a>
                </h4>
            </div>
            <div class="modal-body" style="padding: 0;">
                <div ng-show="!choosed">
                    <div class="radio" style="padding: 10px 15px;border-bottom: 1px solid #dcdcdc;" ng-repeat="address in userAddress">
                        <label>
                            <input ng-checked="{{$index == 0}}" type="radio" name="addressRadios"  value="{{address.id}}" style="width: 15px;height: 15px;">
                            <div>
                                <p style="margin-bottom: 5px;color: #656565;font-size: 12px;"><span ng-bind="address.shouhuoren"></span><span class="pull-right" ng-bind="address.mobile"></span></p>
                                <p style="color: #656565;font-size: 12px;"><span style="color: #0079fe" ng-if="address.is_default == 'Y'">[默认]</span><span ng-bind="address.address"></span></p>
                            </div>
                        </label>
                    </div>
                </div>
                <div ng-show="choosed" style="padding: 10px 15px;">
                    <p style="margin-bottom: 5px;">请再次确认收货地址：</p>
                    <div style="background: #fff1e5;padding: 5px;">
                        <p style="margin-bottom: 5px;color: #656565;font-size: 12px;"><span ng-bind="address_c.shouhuoren"></span><span class="pull-right" ng-bind="address_c.mobile"></span></p>
                        <p style="color: #656565;font-size: 12px;"><span style="color: #0079fe" ng-if="address_c.is_default == 'Y'">[默认]</span><span ng-bind="address_c.address"></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer w-msgbox-ft w-msgbox-ft-2" style="padding:0;">
                <a href="javascript:;" class="pro-btn" ng-click="addressExecute()"><span>确定</span></a>
                <a href="javascript:;" class="pro-btn" ng-click="hideAddress()"><span>取消</span></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div style="height: 60px;" class="modal" id="loadingModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100px;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;padding: 0;">
                <img src="images/icon/loading.gif" style="width: 50px;">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="showModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    所有参与号码：
                </h4>
            </div>
            <div class="modal-body" style="padding: 0;overflow-y: auto;height: 300px;">
                <ul class="w-msgbox-codes" style="padding: 0 0 0 20px;">
                    <li ng-class="{true: 'win-code-color', false: ''}[winCode == showmsg]" ng-repeat="showmsg in showMsg" ng-bind="showmsg"></li>
                </ul>
            </div>
            <div class="modal-footer" style="padding: 5px;">
                <a href="javascript:;" data-dismiss="modal" class="btn btn-block" style="background: #fff;">关闭</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="picModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="position: absolute;bottom: 0;margin: 0 auto;width: 100%;max-height: 100%;">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <img ng-src="{{picUrl}}">
            </div>
            <div class="modal-footer" style="padding: 5px;">
                <a href="javascript:;" data-dismiss="modal" class="btn btn-block" style="background: #fff;">关闭</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div id="mcover" onclick="weChat()" style="display:none;">
    <img src="images/dowload1.png">
</div>


</body>

<script src="lib/requirejs/require.js" data-main="js/main.js"></script>


</html>