@charset "utf-8";
/*公用全局样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input { margin:0; padding:0; border:none; }
a { text-decoration:none; color:#585858; cursor:pointer; }
a:hover { color:#ff6600;  blur:expression(this.onFocus=this.blur()); }
a:active { outline:none; }
li { list-style-type:none; }
img{ border:0px none; vertical-align:bottom;}
table { border-collapse:collapse; }
fieldset { border-style:none }
button { cursor:pointer; }
select, input, textarea { font-size:12px; }
ul, li, dt, dd, dl { list-style:none; }
q:before, q:after { content: ''; }
abbr, acronym { border:0; }
.clear{ clear: both; font-size:0px;height:0px;line-height:0px;}

/*修改*/
.hb_w1000{ width:1000px; margin:0 auto; font-family:"微软雅黑";}
.hb_w1000 input,.hb_w1000 textarea{outline:none;} 
.hb_con1,.hb_con2,.hb_con3{ background:no-repeat center top; min-width:1000px;}
.hb_con1{ background-image:url(../../images/konka/a_1.png); height:3088px;float: left;width: 100%}
	/*按钮*/
.con1_add_1{margin: 0 auto;width: 982px;}
.hv_con1_btn{width: 100%;height: 95px;margin-top: 1250px}
.button_a1{background: url("../../images/konka/btn_1.png") no-repeat;height: 99px;width:296px;margin-left:7px;float: left}
.button_a1:hover,.button_a2:hover{opacity: 0.9}

.con2_add_1{margin: 0 auto;width: 982px;}
.hv_con2_btn{width: 100%;height: 95px;margin-top: 410px}
.button_a2{background: url("../../images/konka/btn_2.png") no-repeat;height: 99px;width:296px;margin-left:691px;float: left}

.display_box{
	width: 100%;height: 95px;;margin-top: 310px;
}
.display_1{
	width: 385px;
	float: left;
	height: 357px;
	margin-right: 15px;
	
}
.display_22{width: 385px;height: 258px;background:#fff}
.display_22 img{width:235px; height:200px; margin-left:75px; margin-top:29px;}
.display_1:nth-child(3n){
	margin-right: 0;
}
.display_box .content_box{
	width: 1190px;margin: 0 auto;
}

.display_1 .lev2{
	color: #ffffff;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	margin-top: 8px;

}
.display_1 .lev3{
	color: #ffffff;
	font-size: 36px;
	font-family: "Microsoft YaHei";
	margin-top:5px;
}
.display_1 .lev3 img{
	/*margin-left: 15px;*/
	float: right;
}
.display_1 .lev3 img:hover{opacity: 0.9;cursor: pointer}
.con3_add_1{margin: 0 auto;width: 1190px;height:75px;background-color: #ffffff;padding: 10px 0}
.hv_con3_box{width: 100%;height: 75px;margin-top: 66px;float: left}
.inner_lunbo{
	width: 1140px;margin: 10px auto;
}


div.LunBo {
	position: relative;
	list-style-type: none;
	height: 75px;
	line-height: 75px;
	width: 1180px;
	font-family: "Microsoft YaHei";
}
div.LunBo ul li {
	position: absolute;
	height: 170px;
	width: 1200px;
	left: 0px;
	top: 0px;
	display: none;
}
div.LunBo ul li.CurrentPic {
	display: block;
}
div.LunBo div.LunBoNum {

}
div.LunBo div.LunBoNum span {

}
div.LunBo div.LunBoNum span.CurrentNum {

}
.LunBo img{width: 40px;height: 40px;float: left;margin-top:18px;margin-left: 100px;margin-right: 100px}
.cog{
	color: #f80;font-size: 24px;width: auto;float: left;margin-left: 50px;
}
.name_1{color: #f80;font-size: 24px;width: auto;float: left;margin-left: 30px;}
.time_1{font-size: 24px;width: auto;float: left;margin-left: 30px;}
.name_2{font-size: 24px;width: auto;float: left;margin-left: 30px;
width: 400px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}