<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>什么是一元夺宝</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;display: none;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1 style="margin-left: 0;">什么是一元夺宝</h1>
        </div>
        <div class="g-wrap m-intro-picWrap" style="padding: 15px;margin-top: 0;">
            <div class="m-helpcenter-ext">
                <div style="background: #f80; color: #fff;width: 80px;text-align: center;margin-bottom: 10px;">一元夺宝</div>
                <div>
                    <p>
                        &nbsp; &nbsp;一元夺宝，是指支付1元就有机会获得价值千万倍的商品。<br/>
                    </p>
                    <p>
                        &nbsp; &nbsp;一元夺宝是一个引入众筹理念的新型电子商务平台，手机电脑、数码科技、潮流新品、家居电器，只需1元即有机会获取，凭借技术实力和算法公平，确保100%公平公正、100%正品保障，引领集娱乐、购物于一体的网购潮流。<br/>
                    </p>
                    <p>
                        <br/>
                    </p>
                </div>
                <h4>夺宝规则</h4>
                <ol>
                    <li><span class="index">1</span><b>获得幸运豆：</b>用户充值1元，即可获得1个幸运豆；</li>
                    <li><span class="index">2</span><b>挑选喜欢的商品：</b>商品分配对应数量的号码，1个幸运豆，可以获得其中1个号码（系统随机分配）；</li>
                    <li><span class="index">3</span><b>获得商品：</b>当所有号码都被分配完毕后，系统根据规则计算出1个幸运号码，持有该号码的用户，直接获得该商品。</li>
                </ol>

                <h4>幸运号码计算规则</h4>
                <ol>
                    <li><span class="index">1</span>商品的最后一个号码分配完毕后，将公示该分配时间点前本站全部商品的最后100个参与时间；</li>
                    <li><span class="index">2</span>将这100个时间的数值进行求和（得出数值A）（每个时间按时、分、秒、毫秒的顺序组合，如20:15:25.362则为201525362）；</li>
                    <li><span class="index">3</span>为保证公平公正公开，系统还会等待一小段时间，取最近下一期中国福利彩票“老时时彩”的开奖结果（一个五位数值B）；</li>
                    <li><span class="index">4</span>（数值A+数值B）除以该商品总需人次得到的余数<i data-func="remainder" class="ico ico-questionMark" style="margin-top:-2px;"></i> + 原始数&nbsp;10000001，得到最终幸运号码，拥有该幸运号码者，直接获得该商品。</li>
                    <li class="esp">注：如遇福彩中心通讯故障，无法获取上述期数的中国福利彩票“老时时彩”开奖结果，且24小时内该期“老时时彩”开奖结果仍未公布，则默认“老时时彩”开奖结果为00000。</li>
                </ol>

                <h4>关于“老时时彩”</h4>
                <ol>
                    <li><span class="index">1</span>“老时时彩”是由中国福彩中心发行的一种彩票，1元夺宝仅取其结果作为抗干扰数据源，以示公平公正公开，和“老时时彩”本身没有任何关系；</li>
                    <li><span class="index">2</span>“老时时彩”每天10:00-22:00-02:00进行开奖，白天72期，10分钟开奖，夜间48期，5分钟开奖，停开时间以福彩中心公布信息为准；</li>
                    <li><span class="index">3</span>了解更多“老时时彩”信息，<a href="http://caipiao.163.com/order/ssc/#from=1ydb" target="_blank">点击这里</a>访问网易彩票相关页面，亦可自行至彩点查询。</li>
                </ol>

                <h4>晒单规则</h4>
                <p style="margin-top:25px;text-indent:2em">如果您中奖了，可以通过晒单和网友们分享获奖的喜悦，帮助大家更充分的了解易中夺宝平台的乐趣，而且，晒单成功，会获得直减红包奖励，最高价值10幸运豆！晒单的时候，我们提醒您注意以下几点：</p>
                <ol style="padding-top:5px;margin-bottom:5px;">
                    <li><span class="index">1</span>详细的内容，是晒单的精华，因此，建议您的晒单不少于50字，并且配上3张以上不同的照片（跪求高清无码）；</li>
                    <li><span class="index">2</span>真实，是晒单的灵魂，因此，您可以将快递单号也晒上来哦~（快递单上的个人隐私部分，建议您马赛克处理下<!--&amp;*%^%$%^$）--></li>
                    <li><span class="index">3</span>一般大家都喜欢沾仙气，因此，您能够出镜和商品合个影儿什么的，给大家一起膜拜就再好不过了！</li>
                    <li><span class="index">4</span>晒单的质量越高越好玩，红包的价值就越高哦！</li>
                    <li><span class="index">5</span>如果同一类商品多次获奖，请勿简单的复制粘贴之前的晒单内容。</li>
                </ol>
				<br/><br/>
			<div><b>初道传媒有限公司在此声明，您通过本软件参加的商业活动，均与苹果公司(Apple Inc.)无关.</b></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>