<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>添加地址</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1>添加地址</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="javascript:;" ng-click="do_save_member_address($event);">保存</a>
        </div>
        <div class="m-user-addrAdd" style="margin-top: 45px;">
            <div class="m-user-bar">
                <div class="w-inputBar w-bar" style="font-weight: normal;">
                    <div class="w-bar-label">收货人</div>
                    <div class="w-bar-control"><input ng-model="shouhuoren" class="w-bar-input" type="text"></div>
                </div>
                <div class="w-inputBar w-bar" style="font-weight: normal;">
                    <div class="w-bar-label">手机号码</div>
                    <div class="w-bar-control"><input ng-model="mobile" class="w-bar-input" type="text" maxlength="11"></div>
                </div>
                <div class="w-selectBar w-bar"  style="font-weight: normal;">
                    <div class="w-bar-label">省份</div>
                    <div class="w-bar-control">
                        <select id="loc_province" class="w-bar-input"></select>
                    </div>
                </div>
                <div class="w-selectBar w-bar"  style="font-weight: normal;">
                    <div class="w-bar-label">城市</div>
                    <div class="w-bar-control">
                        <select id="loc_city" class="w-bar-input">
                        </select>
                    </div>
                </div>
                <div class="w-selectBar w-bar"  style="font-weight: normal;">
                    <div class="w-bar-label">地区</div>
                    <div class="w-bar-control">
                        <select id="loc_town" class="w-bar-input"></select>
                    </div>
                </div>
                <div class="w-inputBar w-bar"  style="font-weight: normal;">
                    <div class="w-bar-label">详细地址</div>
                    <div class="w-bar-control"><input ng-model="jiedao" type="text" class="w-bar-input"/></div>
                </div>
                <div class="w-checkBar w-bar"  style="font-weight: normal;">是否设为默认地址
                    <div ng-click="setSelectedItem();" class="w-bar-ext"><b ng-class="{false: 'w-switcher', true: 'w-checkBar-checked w-switcher w-switcher-on'}[isSelected]" data-pro="switcher"></b><input type="checkbox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>