<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>地址管理</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:;" class="m-simpleHeader-back"></a>

            <h1>地址管理</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" ng-click="addAddress()" href="javascript:;">添加</a>
        </div>
        <div style="margin-top: 45px;">
            <div style="padding: 10px 15px;border-bottom: 1px solid #dcdcdc;" ng-repeat="address in userAddress">
                <a href="#/tab/updateAddress?id={{address.id}}">
                    <p style="font-weight: bold;margin-bottom: 5px;font-size: 14px;color: #656565;"><span ng-bind="address.shouhuoren"></span><span class="pull-right" ng-bind="address.mobile"></span></p>
                    <p style="color: #656565;"><span style="color: #0079fe" ng-if="address.is_default == 'Y'">[默认]</span><span ng-bind="address.address"></span></p>
                </a>
            </div>
            <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
        </div>
    </div>
</div>
</body>
</html>