<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>文章详情</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;display: none;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1 style="margin-left: 0;">文章详情</h1>
        </div>
        <div id="articleInfoData" class="g-wrap m-intro-picWrap" style="padding: 15px;margin-top: 0;">
        </div>
    </div>
</div>
</body>
</html>