<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>计算结果</title>
</head>
<body>
<div class="g-body">
<div class="m-detail">
<div class="m-simpleHeader" style="text-align: center;">
    <a ng-click="backTo();" href="javascript:;" class="m-simpleHeader-back"></a>

    <h1 style="margin-left: 0;">计算结果</h1>
</div>
<div class="g-wrap" style="margin-top: 60px;font-size: 12px;">
<div class="m-calc-rule">
    <h2>计算公式</h2>

    <p>[( 数值A+数值B) ÷ 商品所需人次 ] 取余数 + 10000001</p>
</div>
<div class="m-calc-A">
    <p class="m-calc-A-title">数值A</p>

    <p>= 截止该商品开奖时间点前最后100条全站参与记录</p>

    <p>= <b class="txt-red" ng-bind="calData.data_a"></b></p>
    <a ng-show="isUp" ng-click="setUpDown()" class="txt-blue btn m-calc-A-unfoldBtn" href="javascript:">展开<i class="ico ico-sortArrow ico-sortArrow-down ico-sortArrow-gray"></i></a>
    <a ng-show="!isUp" ng-click="setUpDown()" class="txt-blue btn m-calc-A-foldBtn" href="javascript:;">收起<i class="ico ico-sortArrow ico-sortArrow-up ico-sortArrow-gray"></i></a>
</div>
<div ng-show="!isUp" style="overflow: hidden;">
    <table class="m-calc-resultList" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="time">财神时间</th>
                <th class="user">用户帐号</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="list in calData.content" class="calcRow">
                <td class="time"><span ng-bind="list.time"></span> <i class="ico ico-arrow-transfer"></i> <b class="txt-red" ng-bind="list.time_add"></b>
                </td>
                <td class="user" style="width: 38%;">
                    <div class="f-breakword"><a class="goUserPage" href="#/tab/personCenter?type=other&uid={{list.uid}}" ng-bind="list.username"></a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="m-calc-B">
    <p class="m-calc-B-title">数值B</p>

    <p>= 最近一期中国福利彩票“老时时彩”的开奖结果</p>

    <p>= <b class="txt-red" ng-bind="calData.data_b"></b> (第<span ng-bind="calData.ssc_qishu"></span>期)　<a href="http://baidu.lecai.com/lottery/draw/view/200/2015-12-25">开奖查询</a></p>
</div>

</div>
</div>
</div>
</body>
</html>