<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>好友返利</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;display: none;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">好友返利</h1>
        </div>
        <div>
            <div class="shitu_1"><img src="images/shitu_1.png"></div>
            <div class="shitu_2">
                <div class="shitu_2_title1">*什么是好友</div>
                <div class="shitu_2_content">
                    <p>您邀请朋友注册，Ta就是您的一级好友；</p>
                    <p>一级好友邀请朋友注册，Ta的好友即您的二级好友；</p>
                    <p>二级好友邀请朋友注册，Ta的好友就是您的三级好友；</p>
                </div>
            </div>
            <div class="shitu_2">
                <div class="shitu_2_title2">*什么是好友充值返利</div>
                <div  class="shitu_2_content">
                    <p>好友越多收益越多!!</p>
                    <p>您的一级好友充值您将获得充值金额<span>4%</span>的收益；</p>
                    <p>您的二级好友充值您将获得充值金额<span>3%</span>的收益</p>
                    <p>您的二级好友充值您将获得充值金额<span>2%</span>的收益</p>
                    <p>（由易中夺宝官方补贴）换言之，您在好友充值，不仅好友能够多宝，您也会得到易中夺宝额外给予的奖励!</p>
                </div>
                <div  class="shitu_2_content add1">

                    <p>那么让我们来分析一下：</p>
                    <p>10个徒弟每天消费<strong>10元</strong>，您就获得400积分奖励；100个徒弟每天消费10元，您就获得4000积分奖励（100积分等于1幸运豆，每天就能免费获得<span>40</span>幸运豆了</p>
                </div>

                <div  class="shitu_3">
                    <img src="images/shitu_3.png" class="shitu_3_img">
                </div>
            </div>
            <div class="shitu_2 add2" style="margin-bottom: 45px;">
                <div  class="shitu_4">

                    <div class="shitu_2_content add3">
                        <p>另外，您的10个以及好友，每人邀请10个一级好友，那么您就增加了100二级个好友，您的二级好友再邀请10个好友，那么您就拥有1000个三级好友......(假如每人每日充值10元，想想就知道收益有多惊人)</p>
                        <p>更重要的是，好友充值返利奖励是永久有效的哦，那就意味着，每个月都有这么多奖励，完全由好友带来，不需要自己做任何事情！以中夺宝就是这么靠谱！说到做到！</p>
                        <p>所以，各位想赚积分的大家，请不要独来独往，拉帮结派的邀请好友吧！只要您的“人脉”足够壮大，您的好友数量够多，易中夺宝保证您一秒钟变富豪，就此走向人生巅峰，天天免费获得奖品！</p>
                    </div>
                </div>
            </div>
            <div>
                <a href="javascript:;" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 16px;font-weight: bold; position:fixed;bottom: 5px;">立即邀请</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>