<div class="g-header" ng-controller="headerCtrl">
    <div class="navbar navbar-default navbar-static-top m-header" style="margin-bottom: 0;padding: 0;">
        <div>
            <ul class="m-nav-list" style="line-height: 10px;">
                <li>
                    <a href="#/tab/search" style="background: url('images/icon/sousuo.png') no-repeat;background-size: 24px;width: 60%;;height: 50px;background-position: center;float: left;"></a>
                </li>
                <li>
                    <img src="images/icon/title-logo.png" style="width: 130px;margin-top: 1px;">
                </li>
                <li>
                    <a ng-click="toLogin()" href="javascript:;" style="background: url('images/icon/ren.png') no-repeat;background-size: 24px;width: 60%;;height: 50px;background-position: center;float:right;"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 导航栏 -->
    <div class="m-nav">
        <div class="g-wrap">
            <ul class="m-nav-list">
                <li ng-class="{true: 'selected', false: ''}[isSelected1]"><a style="width: 50%;" href="#/tab/home" ng-click="setSelectedItem(1);"><span style="width: 100%;">首页</span></a></li>
                <li ng-class="{true: 'selected', false: ''}[isSelected2]"><a style="width: 50%;" href="#/tab/list" ng-click="setSelectedItem(2);"><span style="width: 100%;">全部商品</span></a></li>
                <li ng-class="{true: 'selected', false: ''}[isSelected3]"><a style="width: 50%;" href="#/tab/share" ng-click="setSelectedItem(3);"><span style="width: 100%;">晒单</span></a></li>
            </ul>
        </div>
    </div>
</div>