<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>首页</title>
    
</head>
<body>
<div class="m-index">
<div class="g-body-hd">
    <div class="row-fluid">
        <div class="span12">
            <div class="carousel slide" id="carousel">
                <ol class="carousel-indicators">
                    <li ng-repeat="imgdata in imgData" data-slide-to="{{$index+1}}" data-target="#carousel" ng-class="{true: 'active', false: ''}[$index+1 == imgData.length]"></li>
                </ol>
                <div class="carousel-inner">
                    <div ng-class="{true: 'active', false: ''}[$index+1 == imgData.length]" ng-repeat="imgdata in imgData" class="item">
                        <a ng-if="imgdata.slide_type == 0" href="{{imgdata.link}}"><img ng-src="{{imgdata.img}}"/></a>
                        <a ng-if="imgdata.slide_type == 1" href="#/tab/productDetail?id={{imgdata.shopid}}"><img ng-src="{{imgdata.img}}"/></a>
                        <a ng-if="imgdata.slide_type == 2" href="#/tab/searchResult?keywords={{imgdata.keywords}}"><img ng-src="{{imgdata.img}}"/></a>
                        <a ng-if="imgdata.slide_type == 3" href="#/tab/list?cateid={{imgdata.cateid}}"><img ng-src="{{imgdata.img}}"/></a>
                        <div class="carousel-caption">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="nav-ul" style="background: white;">
    <li><a href="#/tab/list" ng-click="setSelectedItem(2);"><img src="images/icon/list_icon.png"/><span>分类</span></a></li>
    <li><a href="#/tab/xiangou"><img src="images/icon/ten_icon.png"/><span>限购专区</span></a></li>
    <li><a href="#/tab/share" ng-click="setSelectedItem(3);"><img src="images/icon/share_icon.png"/><span>晒单</span></a></li>
    <li><a href="#/tab/question"><img src="images/icon/question_icon.png"/><span>常见问题</span></a></li>
</ul>
<div class="broadcast" style="display: none;">
    <img src="images/icon/broadcast_icon.png" style="width: 18px;margin-right: 5px;float: left;"><span>恭喜CMN还不给我中一个7分钟前获得海购…</span>
</div>

<div class="g-wrap g-body-bd">
    <div class="m-index-mod m-index-reveal">
        <div class="m-index-mod-hd">
            <h3>最新揭晓</h3>
        </div>
        <div class="m-index-mod-bd">
            <ul class="m-index-reveal-list w-goodsList-brief">
                <li ng-repeat="newgoods in newGoods" class="w-goodsList-item">
                    <div class="w-goods w-goods-brief">
                        <div class="w-goods-pic"><a href="#/tab/productDetail?id={{newgoods.id}}&endTime={{newgoods.q_end_time}}"><img style="height: 52px;" ng-src="{{newgoods.thumb}}"></a></div>
                        <div class="w-countdown f-txtabb">
                            <span ng-show="!newgoods.waiting" class="w-countdown-title pull-left" ng-bind="newgoods.goodsStatus"></span>
                            <div ng-show="newgoods.tag == 1" id="{{'fnTimeCountDown'+$index}}" style="color: #f00" data-end="{{endTime}}">
                                <span class="mini">00</span>:
                                <span class="sec">00</span>:
								<span class="hm">00</span>
                            </div>
                            <div ng-show="newgoods.tag == 0"><span ng-bind="newgoods.username" class="w-countdown-nums"></span><span>获得本期奖品</span></div>
                            <div ng-show="newgoods.waiting" class="w-countWaiting" data-pro="countdownWaiting">正在计算...</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-index-mod m-index-newArrivals">
        <div class="m-index-mod-hd">
            <h3>上架新品</h3>
            <a class="m-index-mod-more" href="#/tab/list?flag=zuixin" ng-click="setSelectedItem(2);">更多</a>
        </div>
        <div class="m-index-mod-bd">
            <ul class="w-goodsList w-goodsList-brief m-index-newArrivals-list">
                <li ng-repeat="newgoods in nGoods" class="w-goodsList-item">
                    <div class="w-goods w-goods-brief">
                        <div class="w-goods-pic">
                            <a href="#/tab/productDetail?id={{newgoods.id}}">
                                <img ng-src="{{newgoods.thumb}}">
                            </a>
                        </div>
                        <p class="w-goods-title f-txtabb">
                            <a></a><a href="#/tab/productDetail?id={{newgoods.id}}" ng-bind="newgoods.title"></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-index-mod" style="margin-top: 10px;">
        <div class="m-index-mod-hd">
            <h3>今日热门商品</h3>
            <a class="m-index-mod-more" href="#/tab/list" ng-click="setSelectedItem(2);">更多</a>
        </div>
        <div class="m-index-mod-bd">
            <ul class="w-goodsList w-goodsList-s m-index-popular-list">
                <li ng-repeat="hotgoods in hotGoods" class="w-goodsList-item">
                    <div class="w-goods w-goods-ing">
                        <i class="ico ico-label ico-label-ten" ng-show="hotgoods.wap_ten == 10"></i>
                        <div class="w-goods-pic">
                            <a href="#/tab/productDetail?id={{hotgoods.id}}">
                                <img ng-src="{{hotgoods.thumb}}"/>
                            </a>
                        </div>
                        <div class="w-goods-info">
                            <p class="w-goods-title f-txtabb"><a href="#/tab/productDetail?id={{hotgoods.id}}" ng-bind="hotgoods.title"></a></p>
                            <p>价值：{{hotgoods.money}}</p>
                            <div class="w-progressBar">
                                <p class="txt">开奖进度<strong ng-bind="hotgoods.ratio"></strong><strong>%</strong></p>
                                <p class="wrap">
                                    <span class="bar" style="width:{{hotgoods.ratio + '%'}};"><i class="color"></i></span>
                                </p>
                            </div>
                        </div>
                        <div class="w-goods-shortFunc">
                            <a id="addto" ng-click="addToCart(hotgoods, $event)" href="javascript:;" class="w-button-round-addToCart"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-more">
        <a href="#/tab/list" ng-click="setSelectedItem(2);">点击查看更多商品</a>
    </div>
    <div class="g-footer">
        <div class="g-wrap">
            <p style="margin-bottom: 7px;text-align: left;border-bottom: #DCDCDC 1px dotted;padding: 2px 6px;">特别说明：苹果公司不是易中夺宝赞助商，并且苹果公司也不会以任何形式参与其中！</p>
            <ul class="m-state f-clear">
                <li><img src="images/icon/footer_2.png" style="width: 15px;margin-right: 3px;">公平公正公开</li>
                <li><img src="images/icon/footer_3.png" style="width: 15px;margin-right: 3px;">正品保证</li>
                <li class="last"><img src="images/icon/footer_1.png" style="width: 15px;margin-right: 3px;">权益保障</li>
            </ul>
            <p class="m-copyright">粤ICP备15114598号-1 <span>版权所有 © 2015-2016</span></p>
        </div>
    </div>
</div>
</div>
<style>
	.Advertisent {
		position: relative;
	}
	.Advertisent span{
		position: absolute;
		right:20px;
		top: 10px;
		width:15px;
		height: 15px;
	}
	.Advertisent img{
		width: 100%;
	}
</style>

<div class="Advertisent" style="width: 100%;position: fixed;bottom: 0;z-index: 5;">
	<img src="images/Advertisent.jpg" style="width: 100%"/>
	<span id="A_YCB"><img src="images/A_banner.png"/ style="opacity: 0.8;"></span>
</div>
<script type="text/javascript">
	  $("#A_YCB").click(function(){
	  	$(".Advertisent").hide();
	  });
	  
</script>
</body>
</html>