<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>全部商品</title>
</head>
<body>
<div class="m-list">
    <!-- 二级导航 -->
    <div class="g-wrap g-body-hd m-list-nav">
        <div class="m-list-nav-catlog selected">
            <a ng-click="openMenuList();" href="javascript:;"><span ng-bind="displayType"></span><i class="ico ico-arrow ico-arrow-down ico-arrow-s-gray"></i></a>
        </div>
        <div class="m-list-types">
            <ul class="m-list-types-list">
                <li ng-class="{true: 'selected', false: ''}[isSelected1]">
                    <a ng-click="setSelectedItem(1);" href="javascript:;">人气</a>
                </li>
                <li ng-class="{true: 'selected', false: ''}[isSelected2]">
                    <a ng-click="setSelectedItem(2);" href="javascript:;">最新</a>
                </li>
                <li ng-class="{true: 'selected', false: ''}[isSelected3]">
                    <a ng-click="setSelectedItem(3);" href="javascript:;">剩余人次</a>
                </li>
                <li ng-class="{true: 'selected', false: ''}[isSelected4]">
                    <a ng-click="setSelectedItem(4);" href="javascript:;">总需人次</a>
                </li>
            </ul>
        </div>
        <!-- 所有分类列表 -->
        <div class="m-list-catlog" ng-show="isShow">
            <ul class="m-list-catlog-list">
                <li ng-class="{true: 'selected', false: ''}[isSelected == -1]"><a class="cate_0"  ng-click="chooseType(-1, '全部商品', '0')" href="javascript:;">全部商品</a></li>
                <li ng-repeat="typelist in typeList" ng-class="{true: 'selected', false: ''}[isSelected == $index]">
				<a id="cate_{{typelist.cateid}}" ng-click="chooseType($index, typelist.name, typelist.cateid)" href="javascript:;" ng-bind="typelist.name"></a></li>
            </ul>
        </div>
    </div>
    <div class="g-wrap g-body-bd">
        <!-- 商品列表 -->
        <div id="scroller" class="m-list-content">
            <ul class="w-goodsList w-goodsList-l m-list-goodsList" data-pro="entry">
                <li ng-repeat="goodslist in goodsList" class="w-goodsList-item">
                    <div class="w-goods w-goods-l w-goods-ing"><i class="ico ico-label ico-label-ten" ng-show="goodslist.wap_ten == 10"></i>
                        <div class="w-goods-pic"><a href="#/tab/productDetail?id={{goodslist.id}}"><img ng-src="{{goodslist.thumb}}"></a></div>
                        <div class="w-goods-info"><p class="w-goods-title f-txtabb f-breakword"><a href="#/tab/productDetail?id={{goodslist.id}}" ng-bind="goodslist.title"></a></p>
                            <div class="w-progressBar"><p class="wrap"><span class="bar" style="width:{{goodslist.ratio + '%'}}"><i class="color"></i></span></p>
                                <ul class="txt">
                                    <li class="txt-l"><p>总需<span ng-bind="goodslist.zongrenshu"></span> 人次</p></li>
                                    <li class="txt-r"><p>剩余<b ng-bind="goodslist.zongrenshu - goodslist.canyurenshu" class="txt-blue"></b></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-goods-shortFunc">
                            <a href="javascript:;" ng-click="addToCart(goodslist, $event)" class="w-button-round-addToCart"></a>
                        </div>
                    </div>
                </li>
                <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>