<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>个人中心</title>
</head>
<body>
<div class="m-user-index">
    <div class="m-user-summary">
        <div class="info">
            <div class="m-user-avatar">
                <a ng-if="isHost" href="#/tab/personalInfo?uid={{uid}}"><img style="width: 45px;height: 45px;" ng-src="{{userInfo.img}}"></a>
                <a ng-if="!isHost" href="javascript:;"><img style="width: 45px;height: 45px;" ng-src="{{userInfo.img}}"></a>
                <a style="background: #f80;float: right;margin-top: -15px;" href="#/tab/home"><i class="ico ico-more-b"></i></a>
            </div>
            <div class="txt">
                <div class="name">
                    <a ng-if="isHost" href="#/tab/personalInfo?uid={{uid}}" style="color: #fff;" ng-bind="userInfo.username"></a>
                    <a ng-if="!isHost" href="javascript:;" style="color: #fff;" ng-bind="userInfo.username"></a>
                </div>
            </div>
            <div class="money">
                <div ng-if="isHost">
                    余额：<span style="color: #ffff00;" ng-bind="userInfo.money"></span> 财神币<a href="#/tab/recharge" class="w-button w-button-s m-user-summary-btn-normal pull-right" style="color: #D9304D;width: 50px;top: -4px;height: 25px;line-height: 24px;">充值</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-user-bar">
        <div style="border-bottom: 15px solid #f0f0f3;display: none;">
            <a href="#" class="w-bar m-user-bar-border"><img src="images/icon/redpacket_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">红包</span><span
                    class="w-bar-ext"><b class="ico-next"></b></span></a>
            <a href="#" class="w-bar"><img src="images/icon/heart_list_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">心愿单</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
        </div>

        <div style="border-bottom: 15px solid #f0f0f3">
            <a href="#tab/productShare?uid={{uid}}" class="w-bar"><img src="images/icon/share_list_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">晒单</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
            <a href="#/tab/snatchRecord?uid={{uid}}" class="w-bar"><img src="images/icon/snatch_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">财神记录</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
            <a  ng-if="isHost" href="#/tab/rechargeRecord?uid={{uid}}" class="w-bar"><img src="images/icon/recharge_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">充值记录</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
            <a href="#/tab/winningRecord?uid={{uid}}" class="w-bar"><img src="images/icon/winning_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">中奖记录</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
            <a ng-click="showPic(userInfo.codeImg)" href="javascript:;" class="w-bar"><img src="images/icon/code_icon.png" style="width: 45px;padding: 10px;"><span style="position: absolute;margin-top: 3px;">推广二维码</span><span class="w-bar-ext"><b
                    class="ico-next"></b></span></a>
        </div>
        <a ng-click="exit()" href="javascript:;" class="w-bar m-user-bar-margin m-user-bar-border" style="text-align:center;margin-bottom: 10px;font-weight: normal;" id="btnLogout">退出登录</a>
    </div>
    <div class="m-user-bar">
    </div>
</div>
</body>
</html>