<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>商品详情</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>商品详情</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="#/tab/home"><i class="ico ico-more"></i></a>
        </div>
        <style type="text/css">
        	.qishu_box{
        		clear: both;
        		width:100%;
        		border-top:1px solid #E0E0E0;
        		border-bottom:1px solid #E0E0E0;
        		height:32px;
        		text-align: center;
        		line-height:32px;
        	}
        	.qishu_box a{
        		width:30%;
        		height:30px;
        		float:left;
        		border-left:1px solid #E0E0E0;
        		display:inline-block;
        	}
        	.qishu_box .more{
        		width:10%;
        		border-right:1px solid #E0E0E0;
        	}
        	.now{
        		background: #f80;
        		color:white;
        	}
        </style>
        
        <div id="scroller_product_detail" style="margin-top:45px;">
            <div class="g-wrap">
            	<div class="qishu_box" ng-show="qishuList">
		        	<a ng-class="{'true':'now','false':''}[qishuList.id == id]" href="#/tab/productDetail?id={{qishuList.id}}" ng-repeat="qishuList in qishuList">
		        		第{{qishuList.qishu}}期
		        	</a>
		        	<a class="more" href="#/tab/qishuList?sid={{sid}}">
		        		+
		        	</a>
		        </div>
                <div class="g-wrap-hd">
                    <div class="row-fluid" style="width: 210px;margin: 0 auto;height: 210px;">
                        <div class="span12">
                            <i class="ico ico-label ico-label-ten" style="background-size: 30px;" ng-show="goodsInfo.wap_ten == 10"></i>
                            <div class="carousel slide" id="carousel">
                                <ol class="carousel-indicators">
                                    <li ng-repeat="imgurl in goodsInfo.picarr" data-slide-to="{{$index+1}}" data-target="#carousel" ng-class="{true: 'active', false: ''}[$index == 0]"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div ng-class="{true: 'active', false: ''}[$index == 0]" ng-repeat="imgurl in goodsInfo.picarr" class="item">
                                        <a href="javascript:;"><img ng-src="{{imgurl}}"/></a>
                                        <div class="carousel-caption">
                                            <h4></h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-goods w-goods-xxl m-detail-goods">
                        <div class="w-goods-info">
                            <p class="w-goods-title"><button class="w-button" style="padding:0 2px;margin-right: 5px;" ng-bind="tag"></button><span ng-bind="goodsInfo.title"></span></p>
                            <p class="w-goods-period">期号：<span ng-bind="goodsInfo.qishu"></span></p>

                            <div class="w-progressBar">
                                <p class="wrap">
                                    <span class="bar" style="width:{{goodsInfo.ratio + '%'}};"><i class="color"></i></span>
                                </p>
                                <ul class="txt">
                                    <li class="txt-l"><p>总需 <span ng-bind="goodsInfo.zongrenshu"></span> 人次</p></li>
                                    <li class="txt-r"><p>剩余<b class="txt-blue" ng-bind="goodsInfo.zongrenshu - goodsInfo.canyurenshu"></b></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-if="havaWinner" class="m-detail-goods-result">
                        <div class="w-record" style="border-radius: 5px;background: #F7EED6;">
                            <i class="ico ico-label ico-label-winner"></i>
                            <div class="w-record-avatar">
                                <a href="#/tab/personCenter?type=other&uid={{goodsInfo.q_user.uid}}">
                                    <img style="width: 90px;" ng-src="{{goodsInfo.q_user.img}}">
                                </a>
                            </div>
                            <div class="w-record-detail">
                                <p class="f-breakword">获奖者：<a ng-bind="goodsInfo.q_user.username" href="#/tab/personCenter?type=other&uid={{goodsInfo.q_user.uid}}"></a> <span class="txt-green">(<span ng-bind="goodsInfo.q_user.address"></span>)</span></p>
                                <p>用户ID：<span ng-bind="goodsInfo.q_user.uid"></span> (唯一不变标识)</p>
                                <p>期号：<span ng-bind="goodsInfo.qishu"></span></p>
                                <p>
                                	本期参与：<span ng-bind="goodsInfo.q_user.renci"></span>人次　
                                	<a ng-click="gorecorde(goodsInfo.id,goodsInfo.q_user.uid,goodsInfo.qishu,goodsInfo.q_user_code)" class="m-detail-userCodes-viewWinnerCodesBtn" href="javascript:;">
                                		查看Ta的号码
                                	</a>
                                </p>
                                <p>揭晓时间：<span ng-bind="goodsInfo.q_end_time"></span></p>
                            </div>
                        </div>
                        <p class="m-detail-goods-result-luckyCode">幸运号码：<b ng-bind="goodsInfo.q_user_code"></b><a style="border: 1px solid #fff;border-radius: 5px;margin-right: 5px;" class="w-button w-button-simple pull-right" href="#/tab/calculation?id={{id}}">查看计算详情</a></p>
                    </div>

                    <div ng-if="isTime">
                        <div class="m-detail-goods-result-luckyCode">
                            <div ng-if="waiting" id="fnTimeCountDown" data-end="{{endTime}}">
                                揭晓倒计时：
                                <span class="mini">00</span>:
                                <span class="sec">00</span>:
                                <span class="hm">00</span>
                            </div>
                            <a ng-if="waiting" style="border: 1px solid #fff;border-radius: 5px;margin-right: 5px;position: relative;top:-20px;" class="w-button w-button-simple pull-right" href="#/tab/calculation?id={{id}}">查看计算详情</a>
                            <div ng-if="!waiting" class="w-countWaiting" data-pro="countdownWaiting" style="color: #fff;">正在计算...</div>
                        </div>
                    </div>

                    <div class="m-detail-userCodes">
                        <p ng-if="notLogin" class="m-detail-userCodes-blank"><a href="#/tab/login"><b style="color: #f80;">请登录</b></a>，查看你的财神号！</p>
                        <p ng-if="notJoin" class="m-detail-userCodes-blank">您还没有参与本期财神哦！</p>
                        <div ng-if="isJoin" class="m-detail-userCodes-blank" style="text-align: left;">
                            <p>您参与了：<span style="color: #f00" ng-bind="goodsInfo.curr_uinfo.gonumber"></span>人次</p>
                            <div class="w-msgbox-codes">
                                <ul>
                                    <li>财神号：</li><li ng-repeat="somecode in someCode" ng-bind="somecode"></li><li><a ng-if="goodsInfo.curr_uinfo.gonumber > 6" ng-click="showAll(goodsInfo.q_user_code)" href="javascript:;">查看更多</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-wrap-bd">
                    <div class="m-detail-more">
                        <a href="#/tab/productInfo?id={{id}}" class="w-bar">图文详情<span class="w-bar-ext"><b class="ico-next"></b></span></a><span class="w-bar-hint" style="margin-top: -31px;">( 建议在wifi下查看 )</span>
                        <a href="#/tab/passedPublish?sid={{goodsInfo.sid}}" class="w-bar">往期揭晓<span class="w-bar-ext"><b class="ico-next"></b></span></a>
                        <a href="#/tab/productShare?sid={{goodsInfo.sid}}" class="w-bar">晒单分享<span class="w-bar-ext"><b class="ico-next"></b></span></a>
                    </div>
                    <div id="contain" class="m-detail-record">
                        <div class="w-bar">所有参与记录 <span class="w-bar-hint">( 自<span ng-bind="goodsInfo.start_time"></span>开始 )</span></div>
                        <div class="m-detail-record-wrap" style="padding-bottom: 5px;">
                            <ul class="m-detail-record-list">
                                <li ng-repeat="recordlist in recordList">
                                    <div class="f-clear">
                                        <div class="avatar"><a href="#/tab/personCenter?type=other&uid={{recordlist.uid}}"><img style="width: 35px;height: 35px;" ng-src="{{recordlist.uphoto}}"></a></div>
                                        <div class="text">
                                            <p class="f-breakword">
                                                <a href="#/tab/personCenter?type=other&uid={{recordlist.uid}}" ng-bind="recordlist.username"></a>
                                                <span class="address">(<span ng-bind="recordlist.area"></span> IP：<span ng-bind="recordlist.ip"></span>)</span>
                                            </p>
                                            <p><span class="num">参与了<span class="txt-red" ng-bind="recordlist.count_gonumber"></span>人次</span> <span ng-bind="recordlist.time"></span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="noData" style="text-align: center;margin-top: 10px;">暂无参与记录</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-simpleFooter m-detail-buy" style="position: relative;">
            <div ng-if="canBuy" class="m-simpleFooter-text" style="text-align:center;margin-left: 45px;">
                <a ng-click="addToCart(goodsInfo, $event)" class="w-button w-button-main" href="#/tab/shopList" style="font-size: 13px;font-weight: bold;border-radius: 5px;margin-right: 10px;color: #fff;">立即夺宝</a>
                <a style="font-size: 13px;font-weight: bold;border-radius: 5px;color: #f80;" ng-click="addToCart(goodsInfo, $event)" id="addToCart" class="w-button" href="javascript:;">加入清单</a>
            </div>
            <div ng-if="!canBuy" class="m-simpleFooter-text" style="text-align:center">
                <span>新的一期正在火热进中……</span>
                <a class="w-button w-button-main pull-right" href="#/tab/productDetail?id={{goodsInfo.next_id}}" style="font-size: 13px;font-weight: bold;border-radius: 5px;float: left;">立即前往</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>