<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>晒单分享</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1>晒单分享</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div id="scroller_product_share" class="m-winRecord-wrap">
                <div>
                    <ul data-pro="entry">
                        <li ng-repeat="sharelist in shareList" class="w-record m-winRecord-revealed" style="border: none;margin-bottom: 20px;">
                            <div class="w-record-cnt f-clear">
                                <div class="w-record-avatar"><a href="#/tab/shareDetail?sd_id={{sharelist.sd_id}}"><img ng-src="{{sharelist.q_user.img}}"></a></div>
                                <div class="w-record-detail">
                                    <p class="f-txtabb"><a href="#/tab/shareDetail?sd_id={{sharelist.sd_id}}" style="color: #f80" ng-bind="sharelist.q_user.username"></a><span class="pull-right" ng-bind="sharelist.sd_time"></span></p>
                                    <div style="margin-left: 60px;padding:5px;background:#f;border-radius: 2px;">
                                        <p style="font-size: 14px;font-weight: bold;color: #000" ng-bind="sharelist.sd_title"></p>
                                        <p ng-bind="sharelist.title"></p>
                                        <p>期号：<span ng-bind="sharelist.qishu"></span></p>
                                        <p style="color: #000;margin-bottom: 10px;" ng-bind="sharelist.sd_content"></p>
                                        <p>
                                            <img ng-click="showPic(shareimg)" ng-repeat="shareimg in sharelist.sd_photolist" ng-src="{{shareimg}}" style="width: 60px;margin-right: 5px;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>