<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>常见问题</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;display: none;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">常见问题</h1>
        </div>
        <div style="margin-top: 2px;">
            <div class="panel-group changjianwenti" id="accordion">
				<div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse">
                        1、联系我们<a href="javascript:;" style="margin-left: 10px;color: #f80">400-805-8955</a></button>
                    <div style="padding: 5px 15px;" id="collapse" class="collapse">
                        公司名称：深圳市易中夺宝科技有限公司<br>
                        地&nbsp;&nbsp;址：深圳市龙岗区碧新路2002号中肯大厦 6F<br>
                        邮&nbsp;&nbsp;编：518116<br>
                        客服 Q Q：400817723<br>
                        服务热线：<a href="tel:4008-177-233" style="color: #666;">4008-177-233</a><br>
                        邮&nbsp;&nbsp;箱：admin@1y-cs.com
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse1">2、怎样参加夺宝？</button>
                    <div style="padding: 5px 15px;" id="collapse1" class="collapse">
                        使用有效手机号码或者邮箱地址注册登录，就可以参加夺宝。
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse2">3、易中夺宝是怎么计算中奖号码的？</button>
                    <div style="padding: 5px 15px;" id="collapse2" class="collapse">
                        <ul>
                            <li>(1)、商品所有份额认购完毕后，取该商品最后购买时间前网站所有商品的最后100条购买时间记录；</li>
                            <li>(2)、每条时间记录按时、分、秒、毫秒依次排列取数值并将这100个数值求和（A）；</li>
                            <li>(3)、为保证公平公正公开，系统还会等待一小段时间，取最近一期中国乐彩彩票“时时彩”的开奖结果（一个五位数值B）；</li>
                            <li>中国乐彩彩票“时时彩”详细信息>></li>
                            <li>注：最后一个幸运码分配时间距离中国乐彩彩票“时时彩”最近下一期开奖大于15分钟，默认“时时彩”开奖结果为00000。</li>
                            <li>(4)、将A与B之和除以该商品总参与人次后取余数，余数加上10000001 即为“幸运中奖号”</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse3">4、中奖号码的计算结果可信吗？</button>
                    <div style="padding: 5px 15px;" id="collapse3" class="collapse">
                        开奖算法引入 “时时彩”开奖结果作为外部参数，因此幸运号码肯定是未知的，您可以绝对相信计算结果的真实性和可靠性。
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse4">5、商品是正品吗？怎么保证？</button>
                    <div style="padding: 5px 15px;" id="collapse4" class="collapse">
                        易中夺宝所有商品均从品牌官方、正规渠道采购，100%正品保障，保证所有商品均为正品行货，可享受厂家所提供的全国联保服务。
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse5">6、如果一件商品很久都没达到总需人次怎么办？</button>
                    <div style="padding: 5px 15px;" id="collapse5" class="collapse">
                        若某件商品的所有幸运码从开始分配之日起90天未分配完毕，则易中夺宝购官方有权取消该件商品的夺宝活动，并向用户退还幸运豆，所退还幸运豆将在3个工作日内退还至用户账户余额中。
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse6">7、什么是幸运豆？</button>
                    <div style="padding: 5px 15px;" id="collapse6" class="collapse">
                        <p>幸运豆是易中夺宝平台的代币，用户每充值1元，即可获得1枚幸运豆；</p>
                        <p>1枚幸运豆可以直接购买1人次的幸运码。</p>
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse7">8、幸运豆是否可以提现？</button>
                    <div style="padding: 5px 15px;" id="collapse7" class="collapse">
                        很抱歉，幸运豆无法提现。
                    </div>
                </div>
                <div>
                    <button style="text-align: left;border-top: none;" type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapse8">9、如何晒单分享？</button>
                    <div style="padding: 5px 15px;" id="collapse8" class="collapse">
                        在您收到商品后，登录易中夺宝平台，进入"我的夺宝"，在“晒单分享”区发布晒单信息，通过审核后，您的晒单会出现在平台“晒单分享”区，与大家分享喜悦。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>