<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>支付结果</title>
</head>
<body>
<div id="resultPay" class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <h1 style="margin-left: 0;">支付结果</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="#/tab/home"><i class="ico ico-more"></i></a>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div ng-if="isSuccess">
                <div class="m-pay-result-title"><h1>恭喜您，充值成功！</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff" class="w-button w-button-main pull-left">返回首页</a>
                        <a href="#/tab/rechargeRecord?uid={{holdUID}}" style="padding: 5px;color: #3C3C3C;" class="w-button w-button-aside">查看充值记录</a>
                    </div>
                </div>
            </div>
            <div ng-if="isFaild">
                <div class="m-pay-result-title"><h1>sorry，充值失败</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff;" class="w-button w-button-main">返回主页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>