<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>充值记录</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>充值记录</h1>
        </div>
        <div class="m-detail-menu">
            <a href="#/tab/recharge" id="moreBtn">充值</a>
        </div>
        <div class="m-user-chargeRecord">
            <div class="remark">
                <p class="item" style="font-size: 14px;">目前仅提供最近三个月的充值记录。</p>
            </div>
            <div id="scroller_recharge_record">
                <div class="list">
                    <div class="item" ng-repeat="recordlist in recordList">
                        <p class="from" style="font-weight: bold;" ng-bind="recordlist.pay"></p>

                        <p class="time" ng-bind="recordlist.time"></p>

                        <p class="num">￥<span ng-bind="recordlist.money" ng-class="{true: 'pass-line', false: ''}[recordlist.status != 1]"></span></p>
                    </div>
                </div>
            </div>
            <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
        </div>
    </div>
</div>
</body>
</html>