<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>手机号码注册</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>手机号码注册</h1>
        </div>
        <div class="m-detail-menu">

        </div>
        <div class="container" style="margin-top: 60px;">
            <form class="form-style">
                <div class="form-group">
                    <label for="mobile">手机号码：</label>
                    <input ng-model="mobile" type="text" id="mobile" class="form-control" placeholder="请输入手机号码" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">密码：</label>
                    <input ng-model="password" type="password" id="password" maxlength="12" class="form-control" placeholder="6-12位数字或者字母组成" required>
                </div>
                <div class="form-group" style="margin-top: 25px;">
                    <label for="inputCode">验证码：</label>
                    <input style="width: 40%" ng-model="inputCode" type="text" id="inputCode" placeholder="请输入验证码" required>
                    <a href="javascript:;" ng-click="do_send_mobile_code()" ng-class="{false: 'btn btn-default pull-right phone-code', true: 'btn btn-default pull-right phone-coded'}[checked]" ng-bind="codeText"></a>
                </div>
                <div class="form-group">
                    <a ng-click="do_register($event)" href="javascript:;" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;">注册</a>
                </div>
                <div class="form-group checkbox">
                    <label>
                        <input checked type="checkbox" id="optionsRigister" value=""><a style="font-size: 13px;" href="#/tab/agreement">同意 <span>"服务协议"和"用户须知"、"隐私权相关政策"</span></a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>