<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>搜索结果</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>搜索结果</h1>
        </div>
        <!-- 商品列表 -->
        <div class="m-list-content" style="margin-top: 50px;">
            <p style="margin:8px 10px;">
                <span ng-bind="keywords"></span>，共<span ng-bind="searchList.total"></span>件商品
            </p>
            <div id="scroller_search_result">
                <ul class="w-goodsList w-goodsList-l m-list-goodsList">
                    <li ng-repeat="searchlist in searchList.list" class="w-goodsList-item">
                        <div class="w-goods w-goods-l w-goods-ing"><i class="ico ico-label ico-label-ten" ng-show="searchlist.wap_ten == 10"></i>
                            <div class="w-goods-pic"><a href="#/tab/productDetail?id={{searchlist.id}}"><img ng-src="{{searchlist.thumb}}"></a></div>
                            <div class="w-goods-info">
                                <p class="w-goods-title f-txtabb f-breakword"><a href="#/tab/productDetail?id={{searchlist.id}}" ng-bind="searchlist.title"></a></p>
                                <div class="w-progressBar"><p class="wrap"><span class="bar" style="width:{{searchlist.ratio + '%'}}"><i class="color"></i></span></p>
                                    <ul class="txt">
                                        <li class="txt-l"><p>总需<span ng-bind="searchlist.zongrenshu"></span> 人次</p></li>
                                        <li class="txt-r"><p>剩余<b ng-bind="searchlist.zongrenshu - searchlist.canyurenshu" class="txt-blue"></b></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-goods-shortFunc">
                                <a href="javascript:;" ng-click="addToCart(searchlist, $event)" class="w-button-round-addToCart"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>