<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>搜索商品</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>搜索商品</h1>
        </div>
        <div class="m-query">
            <div class="w-query">
                <div class="w-input">
                    <input ng-model="keywords" class="form-control" type="text" maxlength="50" placeholder="请输入要搜索的商品">
                </div>
                <a href="javascript:;" ng-click="goSearch($event)" class="btn btn-default pull-right">搜索</a>
            </div>
            <div>
                <h2 style="font-weight: bold;">热门搜索</h2>
                <ul class="popular-list" style="margin-bottom: 10px;">
                    <li ng-repeat="wordlist in wordList"><a href="#/tab/searchResult?keywords='{{wordlist}}'" ng-bind="wordlist"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>