<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>清单</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">清单</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div id="shop_content">
                <div class="m-cart">
                    <div ng-repeat="shoplist in shopList" class="item">
                        <div class="pic"><a href="#/tab/productDetail?id={{shoplist.id}}"><img ng-src="{{shoplist.thumb}}"></a></div>
                        <div class="text"><h1 class="title"><a href="#/tab/productDetail?id={{shoplist.id}}" ng-bind="shoplist.title"></a></h1>
                            <div>总需 <span ng-bind="shoplist.zongrenshu"></span> 人次，剩余 <em class="remain" ng-bind="shoplist.zongrenshu - shoplist.canyurenshu"></em> 人次</div>
                            <div>参与人次
                                <div class="w-number" style="font-weight: bold;">
                                    <input style="color: #080808;" class="w-number-input" type="text" ng-change="setNumber($index)" ng-model="shoplist.num" ng-pattern="/^[0-9]*/">
                                    <a ng-click="plus($index)" class="w-number-btn w-number-btn-plus" href="javascript:;">+</a>
                                    <a ng-click="subtract($index)" class="w-number-btn w-number-btn-minus" href="javascript:;">-</a>
                                </div>
                            </div>
                            <a href="javascript:;" ng-click="del($index)" class="w-button pull-right" style="position: relative;top:-25px;color: #f80;padding: 0 10px;color: #f80;">删除</a>
                        </div>
                    </div>
                    <div ng-show="isEmpty" style="text-align: center;margin-top: 100px;" id="pro-view-9">您的清单里还没有任何商品，<a href="#/tab/home" style="color: #39f;padding: 8px;">马上去逛逛~</a></div>
                </div>
            </div>
            <div class="m-simpleFooter" style="position: relative;">
                <div class="m-simpleFooter-text" style="font-size: 14px;">
                    <div>共参与<span ng-bind="shopList.length">0</span>件商品，总计：<em class="txt-red"><span ng-bind="price"></span>财神币</em></div>
                </div>
                <div class="m-simpleFooter-ext">
                    <a href="javascript:;" ng-click="addToCart()" ng-class="{true: 'w-button w-button-main-empty', false: 'w-button w-button-main'}[isEmpty]" style="padding: 0 5px;color: #fff;">提交清单</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>