<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>修改手机号码</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>修改手机号码</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="javascript:;" ng-click="do_save_mobile($event)">保存</a>
        </div>
        <div class="container" style="margin-top: 60px;">
            <form class="form-style">
                <div class="form-group">
                    <input ng-model="mobile" type="text" id="mobile" class="form-control" placeholder="请输入新手机号码" required>
                </div>
                <div class="form-group" style="margin-top: 25px;">
                    <label for="code">验证码：</label>
                    <input style="width: 40%" ng-model="code" type="text" id="code" placeholder="请输入验证码" required>
                    <a href="javascript:;" ng-click="send_mod_mobile_code()" ng-class="{false: 'btn btn-default pull-right phone-code', true: 'btn btn-default pull-right phone-coded'}[checked]" ng-bind="codeText"></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>