<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>忘记密码</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>找回密码</h1>
        </div>
        <div class="m-detail-menu">

        </div>
        <div class="container" style="margin-top: 60px;">
            <form class="form-style">
                <div class="form-group">
                    <label for="mobile">手机号码：</label>
                    <input ng-model="mobile" type="text" id="mobile" class="form-control" placeholder="请输入手机号码" required
                           autofocus>
                </div>
                <div class="form-group">
                    <label for="password">新密码：</label>
                    <input ng-model="password" type="password" maxlength="20" id="password" class="form-control" placeholder="6-20位数字或者字母组成" required>
                </div>
                <div class="form-group" style="margin-top: 25px;">
                    <label for="code">验证码：</label>
                    <input style="width: 40%" ng-model="code" type="text" id="code" placeholder="请输入验证码" required>
                    <a href="javascript:;" ng-click="do_send_found_code()" ng-class="{false: 'btn btn-default pull-right phone-code', true: 'btn btn-default pull-right phone-coded'}[checked]" ng-bind="codeText"></a>
                </div>
                <div class="form-group">
                    <a ng-click="do_save_new_password($event)" href="javascript:;" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;">提交修改</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>