<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>中奖确认</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">中奖确认</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 14px;">
            <div class="m-detail-record" style="border-bottom: 1px solid #dcdcdc;">
                <div class="w-bar">奖品状态</div>
                <div class="m-detail-record-wrap">
                    <ul class="m-detail-record-list">
                        <li ng-repeat="statelist in winningInfo.jindu">
                            <div class="f-clear">
                                <div class="avatar" style="margin-left: 9px;">
                                    <img ng-show="statelist.status != 1" style="width: 16px;margin-bottom: 5px;" src="images/icon/winning_sure_icon.png">
                                    <img ng-show="statelist.status == 1" style="width: 16px;margin-bottom: 5px;" src="images/icon/winning_end_icon.png">
                                </div>
                                <div class="text" style="font-size: 14px;">
                                    <p class="f-breakword"><span ng-bind="statelist.info"></span><span class="address pull-right" ng-bind="statelist.time"></span>
                                        <a ng-click="confirmAddress()" ng-if="($index == winningInfo.jindu.length -4)&&statelist.status == 0" class="w-button w-button-main pull-right" href="javascript:;" style="font-size: 13px;border-radius: 5px;padding: 2px 10px;color: #fff">确认地址</a>
                                        <a ng-click="confirmReceive()" ng-if="($index == winningInfo.jindu.length -2)&&statelist.status == 0" class="w-button w-button-main pull-right" href="javascript:;" style="font-size: 13px;border-radius: 5px;padding: 2px 10px;color: #fff">确认收货</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-detail-record" style="border-bottom: 1px solid #dcdcdc;margin-top: 10px;">
                <div class="w-bar">物流信息</div>
                <div style="padding: 5px 20px;font-size: 13px;line-height: 2;">
                    <p style="font-size: 13px;" ng-bind="winningInfo.goods_info.title"></p>
                    <p><span>物流公司：</span><span ng-bind="winningInfo.company.company"></span></p>
                    <p><span>运单号码：</span><span ng-bind="winningInfo.company.company_code"></span></p>
                </div>
            </div>
            <div class="m-detail-record" style="border-bottom: 1px solid #dcdcdc;margin-top: 10px;">
                <div class="w-bar">地址信息</div>
                <div style="padding: 5px 20px;font-size: 13px;line-height: 2;">
                    <p><span ng-bind="winningInfo.address.shouhuoren"></span><span class="pull-right" ng-bind="winningInfo.address.mobile"></span></p>
                    <p><span ng-bind="winningInfo.address.address">广东省深圳市福田区八卦岭平安大厦</span></p>
                </div>
            </div>
            <div class="m-detail-record" style="border-bottom: 1px solid #dcdcdc;margin-top: 10px;margin-bottom: 10px;">
                <div class="w-bar">奖品信息</div>
                <div class="w-record-cnt f-clear">
                    <div style="float: left;margin-top: 10px;"><a href="#/tab/productDetail?id={{winningInfo.goods_info.id}}"><img style="width: 70px;margin-left: 10px;" ng-src="{{winningInfo.goods_info.thumb}}"></a></div>
                    <div class="w-record-detail">
                        <div style="margin: 5px 5px 5px 90px;">
                            <a href="#/tab/productDetail?id={{winningInfo.goods_info.id}}"><p class="f-txtabb" style="font-size: 16px;margin-bottom: 5px;" ng-bind="winningInfo.goods_info.title"></p></a>
                            <p>期号：<span ng-bind="winningInfo.goods_info.qishu"></span></p>
                            <p>总需：<span ng-bind="winningInfo.goods_info.zongrenshu"></span>人次</p>
                            <p>幸运号码：<span class="txt-red" ng-bind="winningInfo.goods_info.q_user_code"></span></p>
                            <p>本期参与：<span class="txt-red" ng-bind="winningInfo.goods_info.gonumber"></span>人次</p>
                            <p>揭晓时间：<span ng-bind="winningInfo.goods_info.q_end_time"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>