<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>中奖记录</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">中奖记录</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div class="m-winRecord-wrap">
                <div id="scroller_winning_record">
                    <ul data-pro="entry" style="background: #f0f0f3;">
                        <li ng-repeat="recordlist in winningRecordList" style="border: 1px solid #dcdcdc;background: #fff;padding: 5px;margin-bottom: 15px;">
                            <div class="w-record-cnt f-clear">
                                <div style="float: left;margin-top: 10px;"><a href="#/tab/productDetail?id={{recordlist.shopid}}">
                                    <img style="width: 80px;" ng-src="{{recordlist.thumb}}"></a>
                                </div>
                                <div class="w-record-detail">
                                    <div style="margin: 5px 5px 5px 90px;">
                                        <a href="#/tab/productDetail?id={{recordlist.shopid}}"><p class="f-txtabb" style="font-size: 16px;margin-bottom: 5px;" ng-bind="recordlist.title"></p></a>
                                        <p>期号：<span ng-bind="recordlist.qishu"></span></p>
                                        <p>总需：<span ng-bind="recordlist.zongrenshu"></span>人次</p>
                                        <p>幸运号码：<span class="txt-red" ng-bind="recordlist.q_user_code"></span></p>
                                        <p>本期参与：<span class="txt-red" ng-bind="recordlist.renci"></span>人次</p>
                                        <p>揭晓时间：<span ng-bind="recordlist.q_end_time"></span></p>
                                    </div>
                                </div>
                                <div ng-if="flag" class="w-record-title" style="height: 20px;border-top: 1px solid #dcdcdc;margin: 10px 10px 0 10px;padding: 10px;">
                                    <a href="#/tab/winningDetail?id={{recordlist.id}}">
                                        <div class="pull-right" style="color: #7bd35b;padding: 7px;">
                                            <span ng-if="recordlist.qianshou == 1">已签收</span>
                                            <span ng-if="recordlist.qianshou == 0">待签收</span>
                                            <span ng-if="recordlist.qianshou == 2">等待发货</span>
                                            <span ng-if="recordlist.qianshou == 3">确认收货地址</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>