@CHARSET "UTF-8";
/* 弹窗样式 */
.layer {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	z-index:9999;
}

.layer2 {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index:9999;
}

.msgBox {
	width: 350px;
	background: #fff;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	margin-left: -175px;
	top: 50%;
	margin-top: -80px;
	z-index: 999999;
}

.msg_content {
	padding: 15px 0 10px 0;
	position: relative;
}

.msg_pic {
	width: 68px;
	height: 68px;
	background: url(../../images/goods_detail/msg_ico.png) no-repeat 0 -247px;
	margin: 0px auto 10px auto;
}

.msg_content p {
	font-size: 20px;
	text-align: center;
	color: #363636;
}

.msg_btn {
	height: 40px;
	position: relative;
	padding-top: 5px;
	border-radius: 0 0 5px 5px;
}

.cancel {
	position: absolute;
	width: 49px;
	height: 32px;
	background: url(../images/goods_detail/msg_ico.png) no-repeat 0 -8px;
	cursor: pointer;
	right: 0;
	top: 10px;
}

.triangle {
	border: 15px solid #000;
	border-color: #fff transparent transparent transparent;
	width: 0px;
	height: 0px;
	position: absolute;
	left: 163px;
	top: 0;
}

.sub_btn {
	width: 87px;
	height: 30px;
	line-height: 29px;
	text-align: center;
	display: inline-block;
	background: #f80;
    border:1px solid #b6243d;
	color: #fff;
	border-radius:5px;
	font-size: 14px;
	cursor: pointer;
	font-family:'微软雅黑';
}
.sub_btn:hover{
	background: #f81d00;
}
.colse_btn{
	width: 87px;
	height: 30px;
	line-height: 29px;
	text-align: center;
	display: inline-block;
	background:#E2E2E2;
    color:#3C3C3C;
    border:1px solid #C6C6C6;
	border-radius:5px;
	font-size: 14px;
	cursor: pointer;
	font-family:'微软雅黑';
}
.colse_btn:hover{
	background:#E8E8E8 repeat !important;
}



.sub_btn {
	
	margin-left: 52px;
	margin-right: 65px;
	
}

.qx_msg_pic {
	background-position: 0 -74px;
}

.cz_msg_pic {
	background-position: 0 -163px;
}

.bj_sub_btn {
	margin-left: 134px
}