@CHARSET "UTF-8";
/* 猜你喜欢样式 */
.member_mywin{width:962px;margin:20px auto 30px auto;font-family:"微软雅黑"; }
.member_mywin h3{width:100%;height: 44px;clear: both;border-bottom: 2px solid #888888;}
.member_mywin h3 span {width: 100px;font-size: 18px;height: 25px;display: block;color: #666;font-family: microsoft yahei;float: left;margin: 12px 0 0 5px;}
.member_mywin h3 a {height: 20px;line-height: 20px;font-size: 12px;color: #9B9B9B;font-weight: normal;display: block;float: right;font-family: "宋体";margin: 20px 10px 0 0;}
.member_contants{width:962px;overflow:hidden}
.member_mywin .hot-list{}
.member_mywin .hot-list .list-block { width: 217px;height: 300px;background: #fff;float: left;border: 1px solid #EBEBEB;border-top: 0;margin: 0 -1px 0 0;position: relative;padding: 0 11px;overflow: hidden;}
.member_mywin .list-block .pic {width: 185px; padding: 9px 8px; text-align:center}
.member_mywin .list-block .name {text-align: left;font-size: 12px;padding:10px 0;}
.member_mywin .list-block .money {padding: 0 0 15px 0;font-family: arial;text-align: left;color: #999;}
.member_mywin .Progress-bar {width: 221px;height: 50px;}
.member_mywin .Progress-bar p {height: 4px;background: #E7E7E7;border: 1px solid #DBDBDB;position: relative;border-radius: 3px;}

#memberindex_index{width:800%;}
#memberindex_demo_1,#memberindex_demo_2,#memberindex_index{float:left;}