article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
display:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show
}
ol, ul, menu {
	list-style:none
}
img {
	border:0
}
a:focus {
	outline:none
}
em, i {
	font-style: normal;
}
button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:-3px;
	outline:none;
}
button, input {
	border:1px solid;
	outline:none;
	line-height:normal;
*overflow:visible
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}
input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
textarea {
	overflow:auto;
	vertical-align:top
}

*[hidden] {
	display:none
}

.clearfix:after, .central:after, .widget ul:after, .paging:after, .pagenav:after, .base-tit:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix, .central, .widget ul, .paging, .pagenav, .base-tit {
*+height:1%;
}
body, button, input, select, textarea, code {
	font-size:12px;
	font-family:microsoft yahei;
	color: #444;
}
.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=40);
	display:none
}
.theme-popover {
	z-index:9999;
	position:fixed;
	top:50%;
	left:60%;
	width:350px;
	height:450px;
	margin:-275px 0 0 -390px;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}
.theme-poptit {
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
	font-size: 14px;
}
.theme-popbod {
	padding:70px 15px;
	color:#444;
	height: 148px;
}
.theme-popbom {
	padding:15px;
	background-color:#f6f6f6;
	border-top:1px solid #ddd;
	border-radius:0 0 5px 5px;
	color:#666
}
.theme-popbom a {
	margin-left:8px
}
.theme-poptit .close {
	float:right;
	color:#999;

	font-size:20px;
	text-shadow:0 1px 0 #ddd
}
.theme-poptit a{
margin-top:-6px;
}

.theme-poptit .close:hover {
	color:#444;
}

.dform {
	text-align: center;
}

.theme-signin {
	margin: -50px -20px -50px 90px;
	text-align:left;
	font-size: 14px;
}
.theme-signin h4 {
	color:#999;
	font-weight:100;
	margin-bottom: 20px;
	font-size: 12px;
}

.saoma_content{
	width: 100%;
}
.erweima,.android,.apple{
	width: 200px;height: 200px;float: left;
}
.erweima:hover,.android:hover,.apple:hover{
	
}
.erweima,.apple{
	margin-right: 50px;
}
.erweima{
	margin-left: 56px;
}
.apple_left{margin-top:30px;font-size:24px !important;}
.apple_left a{color:#afafaf}
.apple_set_yi{margin-top:55px;font-size:24px;color:#f80;text-align:center;}

.down_s{
	margin-left: 18px;
}

.bottom_1,.bottom_2{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	font-family: Microsoft YaHei;
}
.bottom_1{
	margin-top: 41px;
}
.bottom_2{
	margin-top: 10px;
}