﻿@charset "utf-8";
.search_cart_wrap {
font-family:'Arial';
	width:330px;
	height:32px;
	z-index:0;
	margin:0 auto;
	overflow:hidden;
	background:#fff !important
	
}
.search_cart_wrap a{border:none !important;}
.search_cart_wrap .number {
	
}
.search_cart_wrap .number p {
	color:#666;
	font-size:14px;
	display:block;
}
.search_cart_wrap .number ul {
	float:left;
}

.search_cart_wrap .number  li {
	width:22px;
	color:#808080 !important;
	float:left;
	display:block;
	font-size:22px;
	height:27px;
	line-height:27px;
	text-align:center;
	margin:0 1px;
	border:1px solid #E4E4E4;
	position:relative;
	left:0;top:0
}
.search_cart_wrap .number  li em{color:#808080 !important;}

.search_cart_wrap .number li.num {
	background:#fff;
}
.search_cart_wrap .number li.nobor {
	width:10px;
	border:0 none;
	font-family:'Arial';
	font-weight:bold;
}
.search_cart_wrap .number li.gray666 {
	color:#808080 !important;
	width:55px;
	border:0 none;
	font-size:12px;
	line-height:27px;
	_line-height:31px;
	font-family:'Arial';
	font-weight:bold;
}
.search_cart_wrap .number li cite {
	display:block;
	width:20px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	
}
.search_cart_wrap .number li em {
	display:block;
	width:21px;
}

.search_cart_wrap .number .u-secondary {
	width:30px !important;
	text-align:left;
}

@media screen and (max-width:1190px) {
.search_cart_wrap {

}
.search_cart_wrap .number {
margin-left:0;
}
