@CHARSET "UTF-8";
/*首页的晒单 */
.lottery_show{width:1200px; margin:0 auto; position:relative}
.xshandan_list{width:1198px;height:345px; border-top:none; margin:0 auto; border:1px solid #EBEBEB;padding-bottom:20px;position:relative;overflow:hidden;}
.xshandan_list ul{position:absolute; left:0; top:0; }
.xshandan_list ul li{ padding-bottom:15px;padding-top:15px;overflow:hidden; width:1198px; border-bottom:1px solid #eaeaea; position:relative}
.xshangdan_list_float{width:585px;float:left; margin-left:10px;}
.xshandan_list_img{ float:left;width:110px; height:90px; overflow:hidden; line-height:90px; border:1px solid #EBEBEB}
.xshandan_list_img img{margin-top:5px}
.xshaidan_shu{ width:1px;height:136px; position:absolute; background:#eaeaea; left:49%; top:0;}
	/*clc添加样式*/
	.xshaidan_shu-Modify{left: 598px;}
.xshandan_list_content{height:90px; width:70%;float:left; padding-left:20px;  color:#fff9ed; position:relative}
.xshandan_list_content_l{ position:absolute;left:10px; top:0}
.xshandan_list_content_r{position:absolute;right:1px; bottom:5px}
.xshandan_list_content_top{ height:68px; overflow:hidden; padding-top:8px; padding-left:10px;color:#999}
.xshandan_list_content_bottom{clear:both;padding-bottom:3px; padding-right:20px; text-align:right}
