
a{text-decoration: none}
ul{margin:0px;padding:0px}
.women{
    width:1200px;margin: 0 auto;border: 1px solid #dddddd;
}
.top_all{
    width: 1190px;height: 36px;line-height: 36px;padding-left: 10px;border-bottom: 1px #dddddd solid;
}
#ddBrandList-Modify{
    padding-top: 20px;height: 100px;
}
.l_a{
    width: 149px;
}

.l_content{
    width: 149px;height:80px;list-style: none;float: left;text-align: center;border-right: 1px #dddddd solid;
}
.l_content:nth-child(8n){
    border-right: 1px #ffffff solid;
}
.l_content:nth-child(9n){clear: both}

.l_img{width: 50px;height:50px;display: block;margin: 0 auto 10px}
.l_img1{
    background: url("../../images/new/phone.png") no-repeat;
    _background-image: url('images/phone.png') no-repeat;;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img2{
    background: url("../../images/new/computer.png") no-repeat;
    _background-image: url('images/computer.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;
}
.l_img3{
    background: url("../../images/new/digital.png") no-repeat;
    _background-image: url('images/digital.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img4{
    background: url("../../images/new/high.png") no-repeat;
    _background-image: url('images/high.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img5{
    background: url("../../images/new/new_trend.png") no-repeat;
    _background-image: url('images/new_trend.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img6{
    background: url("../../images/new/family_life.png") no-repeat;
    _background-image: url('images/family_life.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img7{
    background: url("../../images/new/female.png") no-repeat;
    _background-image: url('images/female.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img7{
    background: url("../../images/new/female.png") no-repeat;
    _background-image: url('images/female.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_img8{
    background: url("../../images/new/other.png") no-repeat;
    _background-image: url('images/other.png') no-repeat;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.l_span{width: 150px; font-family: Microsoft YaHei;font-size: 14px;color: #000000}
.l_span_curr{color: #f80}
.l_span:hover{color: #f80}

/*动画*/
.ease_in_out {  -webkit-transition: all 1.2s ease-in-out;  -moz-transition: all 1.2s ease-in-out; -o-transition: all 1.2s ease-in-out;  transition: all 1.2s ease-in-out;  }
.l_img:hover {  -webkit-transform: rotate(360deg);  -moz-transform: rotate(360deg);  -o-transform: rotate(360deg);  transform: rotate(360deg);  }

