body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;background-color: #fafafa;min-height: 600px}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

#agree_22{cursor:pointer;}
#agree_22:hover{color:red}
.time_color{
	width: 149px;
	height: 47px;
	line-height: 47px;
	vertical-align: middle;
	text-align: center;
	margin-top: 24px;
	position: relative;
	float: left;
	font-size: 14px;
	color: #ffffff;
	background-color:#aaaaaa !important;
	display:none;
}
.time_color:hover{
background-color:#aaaaaa !important;
}

.login_bg_img{
    /*改1*/
    width: 100%;
    height: 100%;
    background:url("../../images/yiycs.jpg") no-repeat;
/*    background-size:100% 765px;*/
    background-size: contain;
   /* position: relative;*/
    position: fixed;
    background-color: #fafafa;

}
.login_bg_img_2{
    width: 100%;
    height: 100%;
    background:url("../../images/yiycs1.jpg") no-repeat;
    background-size: contain;
    position: fixed;
    background-color: #fafafa;
}


.login_top_img{
    border:none;

    width: 176px;
    height: 57px;
    background: url("../../images/login_new/logo_yiyuan.png") no-repeat ;
    background-size: 176px 57px;
     margin: 0 auto;
   /* margin-top: 56px;*/
}

@keyframes mymove1
{
   /* from {left:123px;}
    to {left:144px;}*/
    0%   {left:0px;top: 0px }
    50%  {left:53px; top: 0px}
    100%  {left:0px;top: 0px}
}

@-webkit-keyframes mymove1 /*Safari and Chrome*/
{
    0%   {left:0px;top: 0px }
    50%  {left:53px; top: 0px}
    100%  {left:0px;top: 0px}
}

@-ms-keyframes mymove1
{
    0%   {left:0px;top: 0px }
    50%  {left:53px; top: 0px}
    100%  {left:0px;top: 0px}
}

@-moz-keyframes mymove1
{
    0%   {left:0px;top: 0px }
    50%  {left:53px; top: 0px}
    100%  {left:0px;top: 0px}
}
.yun_left img{
    width: 226px;
    height: 72px;
}
.yun_right{
    width: 188px;
    height: 78px;
    position: absolute;
    margin-left: 70.815%;
    margin-top:123px;
    /*移动*/
    animation:mymove2 5s infinite;
    -webkit-animation:mymove2 7s infinite; /*Safari and Chrome*/
    -moz-animation:mymove2 7s infinite;
    -ms-animation:mymove2 7s infinite;
    -o-animation:mymove2 7s infinite;

}
@media (max-width: 1416px) {
    .yun_right{
        margin-left: 80%;
    }
}
@keyframes mymove2
{
    /* from {left:123px;}
     to {left:144px;}*/
    0%   {left:-100px; top: 0px}
    50%  {left:53px; top: 0px}
    100%   {left:-100px; top: 0px}
}

@-webkit-keyframes mymove2 /*Safari and Chrome*/
{
    0%   {left:-100px; top: 0px}
    50%  {left:53px; top: 0px}
    100%   {left:-100px; top: 0px}
}

@-ms-keyframes mymove2
{
    0%   {left:-100px; top: 0px}
    50%  {left:53px; top: 0px}
    100%   {left:-100px; top: 0px}
}

@-moz-keyframes mymove2
{
    0%   {left:-100px; top: 0px}
    50%  {left:53px; top: 0px}
    100%   {left:-100px; top: 0px}
}
/*气球*/

.qiqiu{
    width: 22.04%;
    height: 362px;
    position: absolute;
    margin-left: 19.44%;
    margin-top:83px;
    z-index: 99;
    /*移动*/
    animation:mymove3 20s infinite;
    -webkit-animation:mymove3 20s infinite; /*Safari and Chrome*/
    -moz-animation:mymove3 20s infinite;
    -ms-animation:mymove3 20s infinite;
    -o-animation:mymove3 20s infinite;

}
@media (max-width: 1416px) {
    .qiqiu{
        margin-left: 0;
    }
}
@keyframes mymove3
{
    0%   {left:0px; top: 0px; }
    25%   {left:50px;top: -40px; }
    50%  {left:50px;  top: 60px; }
    75%  {left:0px;  top: 100px; }
    100%  {left:0px;top: 0px; }
}

@-webkit-keyframes mymove3 /*Safari and Chrome*/
{
    0%   {left:0px; top: 0px; }
    25%   {left:50px;top: -40px; }
    50%  {left:50px;  top: 60px; }
    75%  {left:0px;  top: 100px; }
    100%  {left:0px;top: 0px; }
}

@-ms-keyframes mymove3
{
    0%   {left:0px; top: 0px; }
    25%   {left:50px;top: -40px; }
    50%  {left:50px;  top: 60px; }
    75%  {left:0px;  top: 100px; }
    100%  {left:0px;top: 0px; }
}

@-moz-keyframes mymove3
{
    0%   {left:0px; top: 0px; }
    25%   {left:50px;top: -40px; }
    50%  {left:50px;  top: 60px; }
    75%  {left:0px;  top: 100px; }
    100%  {left:0px;top: 0px; }
}
.qiqiu img{
    width: 214px;
    height: 362px;
}
/*登录框体*/
.login-message{
    margin: 0 auto;
    margin-top: 20px;
    width: 322px;
    height: 393px;
    font-family:"Microsoft YaHei";
    border-radius: 5px;


}
.login-title{
    text-align: left;
    width: 330px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    margin-left: 30px;
    font-size: 18px;
    font-family:"Microsoft YaHei";
}
.phone-number{
    width: 320px;
    height: 47px;

    position: relative;
    float: left;
}
.phone-number input{
    border: 1px solid #c7c4c4;
    background:url('../../images/login_new/account-number.png') no-repeat 10px 10px ;
    background-color: #ffffff;
    width:274px;
    height:46px;line-height: 26px;
    font-size: 12px;
    padding-left: 46px;
    font-family:"Microsoft YaHei";
    float: left;

}
.mima{
    width: 320px;
    height: 47px;

    margin-top:24px;
    position: relative;
    float: left;
}
.mima input{
    border: 1px solid #c7c4c4;

    background:url('../../images/login_new/password.png') no-repeat 10px 10px;
    background-color: #ffffff;
    width:274px;
    height:46px;line-height: 26px;
    font-size: 12px;
    padding-left: 46px;
    font-family:"Microsoft YaHei";
    float: left;
}
.extra-option{
    position: relative;
    margin-top: 18px;
    width: 320px;
    height: 41px;
    float: left;
}
.extra-option div input{
    float: left;
    margin-left: 10px;

}
.extra-option div label{
    float: left;
    margin-top: -3px;
    font-family:"Microsoft YaHei";
}

.extra-right{
    float: right;
    width: 100px;
    font-size: 14px;
}
.extra-option div a{
    float: right;
    color: #888888;
    text-decoration: none;
    margin-top: -3px;
}
.extra-option div a:hover{
cursor: pointer;color: #f80;
}

.count-relate{
    font-family:"Microsoft YaHei";

    position: absolute;
    /*margin-top: 30px;*/
    width: 320px;
    height: 16px;
    float: left;
    color: #333333;
    margin-top: 258px;
    font-size: 12px;
}
.line-left{
    width: 118px;float: left;height: 8px;border-bottom: 1px solid #cccccc;
}
.line-right{
    float: right;
}
.gap_title{
    width: 84px;text-align: center;float: left;
}
.log_content{
    position: absolute;
    width: 320px;

    float: left;
    margin-top: 292px;
}
.log_content a{
    display: block;
    float: left; width: 30px;
    margin-right: 22px;
}
.log_content a:nth-child(1){
    margin-left:142px;

}

.login-button{
    position: absolute;
   /* margin-left: 30px;*/

    background-color: #f80;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    width: 320px;
    font-size: 18px;
    color: #ffffff;
	cursor:pointer;
    margin-top: 165px;
}
.login-button:hover{
    background-color: #d2691e;
}
.login-button label{
    text-align:center;
    letter-spacing: 10px;
    padding-left: 5px;
	cursor:pointer;
}
.login-a{
    position: absolute;
    /* margin-left: 30px;*/

    vertical-align: middle;

    width: 320px;
    font-size: 14px;
    color: #888888;

    margin-top: 225px;
}
.login-a a{
    color: #f80;
}
.login-a a:hover{
text-decoration: none;

}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
/*底层*/
.login-forth-layer{
    margin: 0 auto;
    float: left;
    width: 100%;
    background-color: #ffffff;
    bottom: 45px;
    text-align: center;
    position: absolute;
}
.go-center{
    width: 640px;
    margin: 0 auto;
}
.go-center div{
    float: left;
    text-align: center;
    margin-top: 10px;
}
.foot-a{
    width: 102px;
}
.login-third-layer{
    float: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #999999;
    font-size: 14px;
    background-color: #ffffff;
    font-family:"Microsoft YaHei";
}
.login-forth-layer a{
    color: #999999;
    text-decoration: none;
    font-size: 14px;
    font-family:"Microsoft YaHei";
}
.login-forth-layer img{
    margin-top: 2px;
}

/*page2*/
/*登录框体*/
.login-message2 {
/*    position: absolute;
    margin-left: 712px;
    margin-top: 130px;
    width: 322px;
    height: 393px;
    background-color: #fafafa;
    font-family: "Microsoft YaHei";
    border-radius: 5px;
    float: left;*/
    height: 429px;
}

.phone-number2{
    width: 320px;
    height: 47px;

    position: relative;
    float: left;
}
.phone-number2 input{
    border: 1px solid #c7c4c4;

    background-color: #ffffff;
    width:294px;
    height:46px;line-height: 26px;
    font-size: 12px;
    padding:0 13px;
    font-family:"Microsoft YaHei";
    float: left;

}
.mima2{
    width: 320px;
    height: 47px;

    margin-top: 24px;
    position: relative;
    float: left;
}
.mima2 input{
    border: 1px solid #c7c4c4;

    padding:0 13px;
    background-color: #ffffff;
    width:294px;
    height:46px;line-height: 26px;
    font-size: 12px;

    font-family:"Microsoft YaHei";
    float: left;
}
.yanzhengma{
    width: 172px;
    height: 47px;

    margin-top: 24px;
    position: relative;
    float: left;
}
#code_ts{position:absolute;left:0;top:50px;}
.yanzhengma input{
    border: 1px solid #c7c4c4;
    padding-right: 8px;
    padding-left: 13px;
    background-color: #ffffff;

    height:46px;line-height: 26px;
    font-size: 12px;

    font-family:"Microsoft YaHei";
    float: left;
}
.get_yanzhengma{
    width: 149px;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    text-align: center;
    margin-top: 24px;
    position: relative;
    float: left;
    background-color: #f80; ;
    font-size: 14px;
    color: #ffffff;
	cursor:pointer
}
.get_yanzhengma:hover{

 background-color: #d2691e;

}
.login-button2{
    margin-top: 234px;
	cursor:pointer

}

.extra-option2{
    position: relative;
    margin-top: 20px;
    width: 320px;
    height:14px;
    line-height:14px;
     vertical-align: middle;
    float: left;
    color: #888888;
    margin-left: 1px;
}
.extra-option2 .div_1{
    height:14px;float: left;
}
.extra-option2 .div_2{
    height:14px;float: left;margin-top: -2px;margin-left: 5px;font-size: 12px;
}
.extra-option3{
    position: relative;
    margin-top: 70px;
    width: 320px;
    height:14px;
    line-height:14px;
    vertical-align: middle;
    float: left;
    color: #888888;
    margin-left: 1px;
}
.extra-option3 .div_1{
    height:14px;float: left;font-size: 12px;
}
.extra-option3 .div_2 a{
    height:14px;float: left;margin-left: 2px;font-size: 12px; color: #f80;
}
.extra-option3 .div_2 a:hover{
    text-decoration: none;
}
.log_content2{
    position: absolute;
    width: 350px;

    float: left;
    margin-top: 383px;
}
.log_content2 a{
    display: block;
    float: left; width: 30px;
    margin-right: 22px;
}
.log_content2 a:nth-child(1){
    margin-left:142px;

}
.count-relate2{
    font-family:"Microsoft YaHei";

    position: absolute;
    /*margin-top: 30px;*/
    width: 320px;
    height: 16px;
    float: left;
    color: #333333;
    margin-top: 350px;
    font-size: 12px;
}
.count-relate2 .line-left{
    width: 118px;float: left;height: 8px;border-bottom: 1px solid #cccccc;
}
.count-relate2 .line-right{
    float: right;
}
.count-relate2 .gap_title{
    width: 84px;text-align: center;float: left;
}

/*弹窗提示成功*/
.register_success {display:none;width: 100%;height: 100%;background: #000;position: fixed;opacity: 0.8;left: 0;top: 0;z-index:999;}
.register_success_span{display:none;width:300px;height:100px;position: absolute;left:50%;top:40%;margin-left:-150px;
z-index:9999;background:#fff;text-align:center;border-radius:10px; line-height:100px;font-size:18px;font-family:'微软雅黑';color:red}


@media (max-width: 1919px) {
    /*    .login_bg_img {

        }*/
}
/*
@media (max-width: 1438px) {
    .login_bg_img {
        width: 100%;
      
        height: 100%;
        
        background-size:100% 100%;
        background: url("../../images/yiycs.jpg");
    }
    .yun_right{
        margin-top: 100px;
    }
}*/
/*
@media (max-width: 1291px) {
    .login_bg_img {
        width: 100%;
       
        height: 100%;
       
        background-size:100% 100%;
        background: url("../../images/yiycs.jpg") no-repeat 10px 10px;
    }
}
*/
/*
@media (max-width: 900px) {
    .login_bg_img {
        background: none;
    }
}*/
/*
@media (max-height: 630px) {
    .login_bg_img {
        background: none;
    }
    .login-forth-layer{
        display: none;
    }
    .login-third-layer{
        display: none;
    }
}*/