@CHARSET "UTF-8";
*{margin:0; padding:0; font-family:"微软雅黑";color: #545454}
a{ text-decoration:none}
ul li{ list-style:none}
img{ border:none}
/*clc修改
.head_top p,.login_info a{font-family:"宋体"}
.h_wel a:nth-child(1){font-family:"微软雅黑"}*/
.name_control{overflow:hidden;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-ms-text-overflow:ellipsis;
	white-space:nowrap;width:374px;margin-left:0;}

.member_personal_top{ width:1200px; margin:0 auto; overflow:hidden; font-size:12px; padding:30px 0 10px 0; color:#999}
.member_personal_top a:hover{ text-decoration:underline}
.memberxhcontains{ width:1198px; border:1px solid #CCC; padding-bottom:30px; overflow:hidden; margin:0 auto;margin-bottom:20px;}
.memberxh_title{ width:100%; overflow:hidden;}
.memberxh_title ul{ clear:both;overflow:hidden;}
.memberxh_title li{ float:left;border-bottom:1px solid #E0E0E0;  height:35px; line-height:35px;width:148px; background:#f0f0f0; border-right:1px solid #CCC; text-align:center}
.memberxh_title .current_box{border-right: none;}
.memberxh_title li a{color:#333; font-size:12px;display:block}
.memberxh_title .current{ background:#fff;height:32px;border-top: 3px solid #f80; border-bottom:1px solid #fff;width: 154px;} 

.memberxh_duobaotitle{ width:96%; margin:0 auto;border:1px solid #CCC; overflow:hidden; height:32px; line-height:32px; margin-top:15px;background:#f2f2f2;}
.memberxh_duobaotitle td{font-size:12px;}
.memberxh_duobaocontent{width:96%; margin:0 auto; margin-top:10px;border-collapse:collapse}
.memberxh_duobaocontent td{ font-size:12px;}
.memberxh_duobaocontentinfo td{ padding-top:5px;}
.memberxh_duobaocontenttr{border-bottom:1px solid #CCC; padding-bottom:15px}
.memberxh_duobaocontentinfo .Progress-bar span{background: #f80 !important;}
.memberxh_duobaocontentinfo .Pro-bar-li .P-bar01{color: #f80;}
.member_personinfo{ width:1198px;height:204px; border:1px solid #CCC; overflow:hidden; margin:0 auto}
.member_personinfoleft{width:200px;text-align:center;float:left}
.member_personinfoleft img{width:160px; height:160px; margin-top:18px;border: 1px solid red;}
.member_personinforight{ float:left; margin-top:24px;}
.member_personinforight_user{ font-size:16px;color:#3C3C3C}
.member_personinforight_user a{ font-size:12px;color:#3399ff; padding-left:10px; font-weight:normal}
.member_personinforight_user a:hover{ text-decoration:underline;}
.member_personinforight_userid{font-size:12px}
.membermar_01{ margin-top:20px}
.membermar_02{ margin-top:15px}
.membercolor_blur01{color:#3399ff}
.membercolor_red01{color:#f80}
.membercolor_red02{color:#f80}
.member_personinforight_login p{font-size:12px}
.member_personinfo_loginup{color:#3399ff; padding-left:15px}
.member_personinfo_loginch{ margin-left:15px;padding:5px 8px; background:#3399FE;border:1px solid #1B7DE0;color:#fff; border-radius:3px; cursor:pointer}
.member_personinfo_comfire{ margin-left:15px;padding:3px 5px; background:#3399FE;border:1px solid #1B7DE0;color:#fff; border-radius:3px; cursor:pointer}
.member_xiangqing{width:25px; text-align:center;padding:5px 8px; background:#3399FE;border:1px solid #1B7DE0;color:#fff; border-radius:3px; cursor:pointer}
.memberxhcontains_serach{ width:96%; margin:0 auto; height:40px; line-height:55px; clear:both; font-size:12px; color:#999;}
.memberxhcontains_serachl{ float:left;}
.memberxhcontains_serachl span{ cursor: pointer; padding:5px 20px;}
.memberxhcontains_serachl .current{ background:#f80; color:#FFF; border-radius:5px}
.memberxhcontains_serachr{ float:right}

/*中奖记录*/
.member_user_winner{width:100%;margin:0 auto}
.member_user_winner ul{ clear:both; padding-left:3%}
.member_user_winner ul li{ float:left;width:273px;margin-top:15px;height:360px; border:1px solid #DDD; margin-right:10px}
.member_user_winnerimg{ text-align:center; padding-top:15px;}
.member_user_winnerimg{ width:96%;  text-align:center; padding-top:10px; margin:0 auto}
.member_user_winnerimg img{width:100%; height:185px;}
	/*clc修改*/
.member_user_winnerimg-Modify img{width:185px; height:185px;}
.member_user_winner h4{height:30px; padding-left:20px; font-size:14px; padding-right:20px; padding-top:10px}
.member_user_winnerinfo{ padding-left:20px; font-size:12px; }
.member_user_winnerinfo p{ padding-bottom:5px}

/*详情*/
.winner_detail{width:88.8%;background:#ffffe1; border:1px solid #dfddb5 ; border-top:none; padding:25px 25px;}
.winner_detail_first{font-size:16px; line-height:30px; color:#3bbd04; border-bottom:1px dashed #ccc}
.winner_detail_first span{margin-left:15px;color:#3399ff;display:none}
.winner_detail_second{ padding-top:15px;}
.winner_detail_second p{color:#333; margin-top:5px}
.winner_detail_three{ padding-top:25px; height:40px;color:#333; border-bottom:1px solid #ccc}
.winner_detail_fourth{ padding-top:20px;}
.winner_detail_fourth h3{ margin-bottom:10px}
.winner_detail_fourth p{ margin-bottom:5px;}
.winner_infotitlte{width:93%; margin:30px auto auto auto;border:1px solid #ccc;border-top:2px solid #ccc; padding-bottom:20px; overflow:hidden}
.winner_infotitlte .title{clear:both;height:40px;line-height:40px;background:#E4E4E4;}
.winner_infotitlte .title li{float:left; font-size:12px; text-align:center}
.winner_infotitlte .content{width:100%;clear:both;}
.winner_infotitlte .content li{float:left; font-size:12px; text-align:center; padding-top:15px;}
.winner_infotitlte .content p{ margin-bottom:3px;}

/*添加晒单*/
.member_shaidanbutton{ width:60px;padding:5px 8px;border-radius:5px; margin-top:10px; color:#fff; text-align:center; cursor:pointer;background:#3399FE;border: 1px solid #1B7DE0;}
.member_shaidanbutton:hover{ background:#42A8FF}

.member_user_shaidan{ width:96%;  text-align:center; padding-top:10px; margin:0 auto}
.member_user_shaidan img{width:100%; height:185px;}
.member_shaidantop{ height:64px;padding:0 15px 0 15px;}
.member_shaidantop p{ font-size:12px;color:#3C3C3C; padding-top:5px;}
.member_shaidanbottom{ height:106px;background:#F5F5F5;margin-top:10px; padding-left:15px;font-size:12px; padding-top:15px}
.member_shaidanbottom p,.member_shaidanbottom h5{ padding-bottom:5px;}
.member_shaidanbottom .content{ line-height:18px;color:#808080}
.setheight{ height:390px !important;}

.member_noticle_tishi{width:50%; margin:20px auto; text-align:center; font-size:12px;}
.setheight{height:390px !important;}
.member_shaidanstatus{width:93%; height:40px; line-height:50px; margin:0 auto; border-bottom:2px solid #333;font-size:14px !important;}
.member_shaidanstatus .current{color:#f80}

/*账户明细*/
.xmember_acount{ width:96%; background:#f2f2f2; margin:0 auto; border-top:2px solid #dddddd; height:35px; line-height:35px;}
.xmember_acount td,.xmember_acount_info tr td{color:#808080}
.xmember_acount_info{width:96%;margin:0 auto;border-collapse:collapse}
.xmember_acount_info tr td{ height:40px; line-height:40px;}
.xmember_acount_info tr{ border-bottom:1px solid #dddddd}
#toPayForm .R-content{ width:90%; margin:20px auto auto auto}

/*添加晒单*/
.member_addshaidan{width:90%; margin:40px auto 10px auto; overflow:hidden}
.member_addshaidan .sd_lilie{ clear:both}
.member_addshaidan .sd_lilie .sd_span{font-size:14px; float:left; display:block;width:60px;}
#sd_text{border:1px solid #ccc; width:450px; height:30px; padding:0 0 0 5px;}
#sd_textarea{width:500px; height:150px; border:1px solid #ccc; resize:none; padding:5px; margin-top:30px; overflow:hidden}
#sd_file{ float:left;float:left;}
#fileQueue{display: block; margin: 30px 0 0 0;}
#fileQueue div{ margin:5px 0 0 0;}
#sd_submit{cursor:pointer;padding:10px 15px; float:right;background:#f80;border-radius:5px;border:1px solid #B6243D;color:#fff}
.button{ margin:5px 0 0 0; float:left;padding:3px 7px; float:left; border-right:1px solid #666; border-bottom:1px solid #666;}
.fileWarp{ width:710px;  float:left;}
.fileWarp ul li{ float:left;  margin-right:10px;}
.fileWarp ul li a{ display:block; height:25px; width:100px; text-align:center; background-color:#eee; color:#f60;line-height:25px;}
.xh_upload{ cursor:pointer;width:120px; height:30px; line-height:30px;background:#f80; text-align:center;margin-top:50px;border-radius:5px; color:#fff; border:1px solid #B6243D}
#sd_submit:hover,.xh_upload:hover{background:#f81d00}
#edui1{ z-index:5 !important;}

.Progress-bar{width:373px;height:10px;background: #E7E7E7;border: 1px solid #DBDBDB;position: relative;border-radius: 3px; }
.Progress-bar span{ position:absolute; left:0; top:0}
.Pro-bar-li{width:100%;}
.Pro-bar-li .P-bar01 {width: 35%;text-align: left;}
.Pro-bar-li .P-bar02 {width: 30%;text-align: center;}
.Pro-bar-li .P-bar03 {width: calc(34% - 20px);float: right;text-align: right;}
.Pro-bar-li li {float: left;color: #AEADAD;font-size: 14px;font-family: 微软雅黑,宋体; border: none; margin: 0;padding: 0;box-shadow: none; border-radius: none;}