#xhmy_member_chongzhi{
    margin-right: 12px;
}
#xhmy_member{
   /* padding-left:0 ;padding-right: 0;text-align: center;*/margin-left: 6px;
}
.login_info .h_1yyg .h_1yyg_eject{
    width: 80px;
}
.gray01 {

}
/*.gray01:nth-child(1) {
    /!*  margin-left: -9px;*!/float: left;
}*/
.login_info .h_wel {

    padding-right: 8px;
}

.login_info .h_wel img{
    margin-top: -5px;
}

.login_info .h_inv a, .login_info .h_inv a:visited {

    padding-left: 13px;
}
.head_search .search_submit {

/*    background-position: 14px -89px;
    background: -moz-linear-gradient(center top , #FEFEFE, #E3E3E3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    text-indent: -999em;
    vertical-align: top;
    cursor: pointer;
    float: left;
    border-left: solid 1px #d6d6d6;
    position: absolute;*/

}
.ico_search {
 /* background: url(../images/101_1.png) 0px -10px no-repeat;*/ z-index: 1999;width: 40px;height: 33px;

}
.ico_search img{
    z-index: 1999;width: 19px;height: 19px;float: left;margin-left: 6px;margin-top: 7px;
}
.ico_search:hover{
  /*  background: url(../images/headbg11.png) -20px -90px no-repeat;
    background-color: #f80;*/
}
.red_bg{
    background-color: #f80;
}
.head_mid .head_number{
    /*margin-top: 22px;*/
    height: 33px;
    background-color: #ffffff;
}
.head_mid .head_number a{
    background-color: #ffffff;
    height: 32px;
    line-height: 32px;
}
.green-Modify{
	color:#ffa800;
}
.footer_content{
	margin-top:87px;
}