@charset "utf-8";
/*
.Pro_Detright .Pro_number .num_del, .Pro_Detright .Pro_number .num_add, .Pro_Detright .Pro_number #shopsub {

    color: #f00;

}*/
 .Pro_Detright .Pro_number .num_add{padding-top:1px}

.Pro_Detright .Pro_number .num_ban-Modify {
	color:#999;
	cursor:pointer;
	position:relative;
}

#shopsub:hover,#shopadd:hover{
	
    color: #292929;
	background-color:#FFFFF0;
	position:relative;
	text-decoration:none;
}

#divContent .Single_Content{
	height:auto;
    padding-top: 36px; 
}
/*揭晓的内容宽度控制*/
.txt-blue{
	max-width:115px;
	overflow:hidden;
	display:block;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
	float:left;
	
}

.txt-left,.txt-right{
	
	float:left;
}
.xjiexiao_detail p:nth-child(1) {
    display:inline-block;
}
/*.xjiexiao_qishu {
	background-color:#f1f1f1;
}*/


/*背景图*/
.xjiexiao_pre{
	background:URL(../../images/goods_detail/1.png) no-repeat;background-size: 34px 35px;
}
.xjiexiao_pre:hover{
	background:URL(../../images/goods_detail/3.png) no-repeat;background-size: 34px 35px;
}
.xjiexiao_next{
	background:URL(../../images/goods_detail/4.png) no-repeat;background-size: 34px 35px;
}
.xjiexiao_next:hover{
	background:URL(../../images/goods_detail/6.png) no-repeat;background-size: 34px 35px;
}