.goods_hot .goods_right .share .buyList {
    height:720px;
}
.recommend .Pro-Modify { 
    background: #fff;
   
}
.recommend .Pro {
    
   background: #ffffff;
    
}
.w_goods_title a:hover{
	color:#f80;
}
.w_goods_pic a img {
   
    height: 115px;
    
}