@charset "utf-8";
/*最新揭晓*/
.ygRecord ul.Record_title {
    background:#FFFACD;
}
.ygRecord div.RecordOnehundred ul li.timeVal {
    width: 88px;
}
.ygRecord div.RecordOnehundred ul li.nem {
    width: 150px;
    overflow: hidden;
}

.ygRecord ul.Record_title li.name {
    width: 525px;

    padding-left: 58px;
}

.ygRecord ul.Record_content li.name,.ygRecord div.RecordOnehundred ul li.name {
    width:510px;
    padding-left: 20px;
    padding-right: 15px;
    overflow: hidden;
}


.m-detail-revealed .m-detail-main-rule {
    padding: 10px 0 0 65px;
    height: 120px;
}
.m-detail-main-rule {
	width:860px;
    height: 129px;
    border-top: 0;
    color: #3c3c3c;
}

.m-detail-main-rule .txt {
    list-style: disc;
    list-style-position: inside;
}
.m-detail-main-rule .txt li {
    margin-bottom: 10px;
	display: list-item;
    text-align: -webkit-match-parent;
}
.m-detail-main-rule .title {
    font-size: 14px;
    font-weight: bold;
}
.m-detail-main-rule .formula {
    margin-top: 5px;
    color: #bab9b9;
    font-size: 32px;
}


.m-detail-main-rule .box {
    display: inline-block;
    min-width: 120px;
    vertical-align: middle;
    margin: 0 2px;
    padding: 8px 0;
    height: 44px;
    text-align: center;
    background: #fff;
    color: #3c3c3c;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    position: relative;
    cursor: default;
}
.m-detail-revealed .m-detail-main-rule .red-box {
    line-height: 1.666;
}
.m-detail-main-rule .red-box {
    background-color: #FFE6E6;
    border-color: #FAC8D1;
    //line-height: 44px;
	
}
 .txt-red {
    color: #f80;
    font-weight: bold;
	font-size:14px;
}
.m-detail-main-rule .operator {
    display: inline-block;
	color: #bab9b9;
    font-size: 32px;
}
.m-detail-main-rule .operator_2 {
    display: inline-block;
	color: #bab9b9;
    font-size: 27px;
}
.m-detail-main-rule .gray-box {
    background: #f8f8f8;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f2f2f2));
    background: -moz-linear-gradient(top,#ffffff,#f2f2f2);
    background: -o-linear-gradient(top,#ffffff,#f2f2f2);
    background: -ms-linear-gradient(top,#ffffff,#f2f2f2);
}

.m-detail-main-rule .more-box {
    display: none;
    position: absolute;
    left: -65px;
    top: 60px;
    z-index:3;
    width: 250px;
    text-align: left;
}
i.ico.ico-arrow.ico-arrow-yellow {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
i, em {
    font-style: normal;
}
.m-detail-main-rule .more-box .yellow-box {
    margin-top: 13px;
    padding: 15px 20px;
    background: #FFF9DA;
    border-width: 1px;
   
}
.m-detail-main-rule .yellow-box {
    border-color: #EED85C;
    background: #FFFBE7;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#FFF9D8));
    background: -moz-linear-gradient(top,#ffffff,#FFF9D8);
    background: -o-linear-gradient(top,#ffffff,#FFF9D8);
    background: -ms-linear-gradient(top,#ffffff,#FFF9D8);
}
.m-detail-main-rule .yellow-box a{
	color:#3399ff;
}
/*计算公式气泡框*/
.arrow{
    position:absolute;
    width:0px;
    height:0px;
    bottom:82px;
    left:110px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #EED85C;
    bottom:92px;
}
.arrow-Modify{bottom:89px;}
.arrow *{
    position:absolute;
    width:0px;
    height:0px;
    border-color:transparent transparent #EED85C;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFF9D8;
    left: -8px;
}
.arrow em{  bottom:-10px;  }
.arrow span{  bottom:-11px;  }


.xjiexiao_next:hover {
    
    background: URL(../images/goods_detail/6.png) no-repeat;
    
}
.xjiexiao_img img{
	width:120px;margin-left:20px
}

.buylistH{
	padding-top:3px;    height: 687px;
}
.RcenterH {
    height: 641px;

}

.jiexiao_detail{
    cursor: pointer;
}
