@CHARSET "UTF-8";
/* 十元 */

.m-ten-rule{ width:1200px; margin:0 auto; overflow:hidden}
.m-ten-rule .m-ten-mod-hd h3 {line-height: 32px;color: #fff;font-size: 16px;font-weight: normal;}
.m-ten-rule .m-ten-mod-hd {padding-left: 15px;height: 32px;background-color: #f80;border-color: #f80;}
.m-ten-mod-hd{position: relative;height: 40px;border-bottom: 2px solid #888888;z-index:0;}
.m-ten-mod-hd h3 {line-height: 40px;font-size: 18px;color: #000;font-weight: bold;font-family: "Microsoft Yahei";}
.m-ten-rule-list {padding: 5px 16px;font-size: 14px;color: #3c3c3c;border:1px solid #E4E4E4; overflow:hidden}
.m-ten-rule-list li {float:left;margin-bottom: 15px;padding-left: 30px;text-indent: -30px; padding-right:60px; font-size:14px;font-family: "Microsoft Yahei";}
.txt-red {color: #f80;}
.m-ten-rule-list .index {font-size: 24px;font-style: italic;font-weight: normal;font-family: "Verdana";line-height: 20px;}.
.listContent_all{ font-size:16px !important;}

/*index_item页面的修改*/
.xhitem_jisuang h4{margin:0; padding:0;}
.xhitem_jisuang{overflow:hidden;width:1100px; height:190px; border-bottom:1px solid #ebebeb; margin:15px auto 30px auto;}
.xhitem_jisuang_left{width:130px; float:left}
.xhitem_jisuang_right{float:left; width:900px;margin-left:20px; display:inline}

.xhitem_jisuang_right ul li{background:url(../../images/new/item_02.jpg) no-repeat left 5px; padding-left:25px;padding-top:0;}
.xhitem_jisuang_right ul li h4{font-size:14px; font-family:"微软雅黑";color:#f80;}
.xhitem_jisuang_right ul li p{font-family:"宋体";font-size:12px;}

.jisuang_jieguo{width:1100px; height:195px; background:#ff754a; margin:0 auto;font-family:"微软雅黑";}
.jisuang_jieguo_left{float:left;padding-top:10px; padding-left:15px;}
.jisuang_jieguo_right{float:left; padding-left:15px;font-family:"宋体";font-size:12px;color:#fff; padding-top:20px;}
.jisuang_jieguo_right ul li{ margin-bottom:8px;}
.jisuang_jieguo_rightbottom{margin-left:0;clear:both;width:200px;padding:5px 0; text-align:center;font-family:"微软雅黑"; border-radius:36px; font-size:16px;color:#f80; background:#fff; font-weight:bold;}
.world_01{font-weight:800;font-family:"微软雅黑"; font-size:14px;}

.jisuang_jieguo .laoshicai span{font-size:16px; padding:2px 8px;border-radius:32px;color:#f80; font-family:"微软雅黑";background:#fef598; font-weight:bold;margin-right:3px}
.jisuang_jieguo .yushu span,.jisuang_jieguo .zhongjiang span{font-size:16px; padding:2px 5px;color:#f80; font-family:"微软雅黑";background:#fff;font-weight:bold;margin-right:3px}

/*更多众乐码*/
.itemsee_zhongle{width:398px;height:50px;border:1px solid #dedeb3;margin-left:0; margin-top:11px; }
.itemsee_zhonglelogin{ line-height:50px; text-align:center;color:#3c3c3c;}
.itemsee_zhonglelogin span{color:#3399ff; font-size:12px; font-weight:bold;cursor:pointer}
.mycanyuno{color:#3399ff; font-size:16px; font-weight:bold;text-align:center;line-height:50px;}
.itemsee_zhonglemy{line-height:50px;font-size:14px;color:#714c00; padding-left:15px;font-weight: bold;}
.itemsee_zhonglemyleft{color:#f80}
.itemsee_zhonglemyduo{ font-size:12px; font-weight:normal;color:#808080}
.itemsee_zhonglemyduoma span{font-size:12px;font-weight:normal;color:#808080; margin-right:5px;}
.mycanyu .see_more{cursor:pointer}