/*新手指南-cheng*/
body{
    background-color:#f1f1f1;
	
}
.trio-container{
    margin-left:auto;
    margin-right:auto;
 /*   margin-bottom: 63px;*/
    width: 1200px;
    height: 2413px;
    font-family: Microsoft YaHei;
    background-color:#ffffff ;
}

.trio-bg{
    position: relative;
    float: left;
    width: 1200px;
    height: 2350px;

}
.trio-bg img{
    width: 1200px;
}
.suggest-one{
    position: absolute;
    margin-top: 352px;
    margin-left: 220px;

    /*margin-left: 177px;*/
    background-color:#fff6f7;
    width: 430px;
    height: 148px;
}
.suggestion-1{
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Microsoft YaHei;
    color: #888888;
}
.suggestion-2{

}
.suggest-two{
    position: absolute;
    width: 450px;
    margin-top: 779px;
    margin-left: 520px;

}
.add-1{
 text-align: right;
}
.add-2{
    margin-left: 108px;
}
.add-1,.add-2{
    width: 450px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #888888;
    margin-bottom:10px ;

}
.suggest-three{

    width: 430px;
    height: 200px;
    position: absolute;
    margin-top: 1216px;
    margin-left: 218px;
    /*margin-left: 177px;*/
    background-color:#fff6f7;


}

.add-4{
    width: 435px
}
.add-5{
    color:#655D5D;	
	font-size: 18px;
}
.send-check{
    width: 544px;
    height: 100px;
    position: absolute;
    margin-top: 1652px;
    margin-left: 162px;

}
.send-check div{
    margin-bottom: 7px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}
.trio-rule{
    width: 994px;
    height: 100px;
    position: absolute;
    margin-top: 1829px;
    margin-left: 103px;
}
.rule-1{

}
.list-img{
    height: 32px;
    float: left;
}
.trio-title{
    height: 32px;
    color: #de4c63;
    float: left;
    line-height: 32px;
    font-size: 30px;
    margin-left: 14px;

}
.top-dash{
    float: right;
    margin-top: 19px;
    border-top: 2px dashed #b6b6b6;
    width: 273px;
}
.top-clear{
   float: right;
    width: 37px;
    height: 20px;
}
.list-1{
font-family: "Microsoft YaHei";
    font-size: 16px;

    margin-left: 60px;
    margin-bottom: 9px;
    background-color:#ffffff;
    border-color: #ffffff;
}
.list-add{
    background-color:#ffffff ;
    border-color: #ffffff;
    width: 970px;
    margin-top: 18px;
    padding-left: 60px; ;
}
.list-top{
    margin-top: 140px;
    height: 145px;
  /*  border-bottom: #eee solid 1px;*/
    background-color: #ffffff;
}
.rule-2{
    margin-top: 48px;
    height: 32px;
    width: 310px;
    margin-left: 28px;
}
.button-color{
    width: 1200px;
    height: 220px;
    position: absolute;
    margin-top: 2280px;
    /*margin-left: 103px;*/

    background-color: #ffffff;
}
.trio-button{
    height: 76px;
    line-height: 76px;
    width: 238px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-family: Microsoft YaHei;
    color: #ffffff;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    background-color: #f80;
    border-color: #ffffff;
}
.trio-button:hover{background-color:#d2691e;}
.trio-button a{color: #ffffff;text-decoration:none}
