@CHARSET "UTF-8";
.box{width:1200px;margin:0 auto;margin-bottom:40px}
.message{margin: 0 0 0 398px;padding: 40px 0 60px 60px;position: relative;width: 400px;}
.gxn{
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 10px;}
.gxn a{color: #3c3c3c;}
.fhsy{
	font-size: 12px;
	border-image: none;
    border-radius: 3px;
  
    border-width: 0 1px 2px 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Microsoft Yahei",simhei;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 0 15px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
	background: #f80 none repeat scroll 0 0;
    border-color: #b6243d;
}
.now{color: #808080;line-height: 25px;font-family: verdana;}
.yes_ico{
	left: 0; position: absolute; top: 40px; 
	background:url(../../images/yes.png) no-repeat;
	 height: 50px;
    width: 50px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.guss_youlove{margin-top:60px;}
.guss_youlove_top{height:25px; line-height:20px; border-bottom:2px solid #ccc}
.guss_youlove_top p{float:left;color: #000;font-family: microsoft yahei;font-size:18px}
.guss_youlove_top a{float:right;font-size: 12px;color: #9B9B9B;}
.guss_youlove ul{}
.guss_youlove ul li{width:238px; border:1px solid #EBEBEB;float:left;}
.guss_youimg img{width:150px;height:150px; margin-top:10px; margin-left:44px}
.guss_youimg_p{margin-top:15px;padding-left:20px;}
.guss_youimg_p p{margin-bottom:5px;}
.guss_youimg_p .sec{color:#999}
