﻿@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body {
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
	
div {
	margin:0 auto;
}
:focus {
	outline:0;
}
img {
	border:0;
	
}
ul,li {
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:14px;
	font-family: "微软雅黑";
}
/*h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:12px;
}*/
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
.clear {
	width:100%;
	height:0;
	clear:both;
	overflow:hidden;
}
.clear1 {
	width:100%;
	height:15px;
	clear:both;
	overflow:hidden;
}
i,em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl,.fl-img {
	float:left;
}
/*clc修改*/
.fr {
/*	float:right;*/
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.blank10 {
	height:10px;
	font-size:0;
	overflow:hidden;
	line-height:0;
	background:none;
}
.hidden {
	display:none;
}
.show {
	display:block;
}
.Current_nav {
	width:1200px;
	font-size:12px;
	color:#bbb;
	font-family:宋体;
	line-height:36px;
	margin:0 auto;
	text-align:left;
}
.Current_nav span {
	font-family:宋体;
}
.Current_nav a {
	color:#bbb;
}
.Current_nav a:hover {
	color:#f80;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f80;
}
.blue {
	color:#f80 !important;
}

.goods_list .blue{color:#39f;}
.name .blue{color:#0082f0;}
.single-xx-has .blue{color:#0082f0;}
a.blue:hover {
	text-decoration:underline;
	color:#f80;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.rmb {
	background:url(../images/arrow_button.png) -178px -57px no-repeat;
	padding-left:8px;
}
.orangebut,.bluebut,.graybut,.cancelBtn,.greenbut {
	display:inline-block;
	font-size:12px;
	border-radius:2px;
	text-align:center;
	padding:0 19px;
	*overflow:visible;
	cursor:pointer;
}
input.orangebut,input.bluebut,input.graybut,input.cancelBtn {
	padding:4px 19px;
	padding:6px 19px 2px\9;
	*padding:5px 19px 1px;
	_padding:5px 19px 1px;
}
a.orangebut,a.bluebut,a.graybut,a.cancelBtn,a.greenbut {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
input[type=button]::-moz-focus-inner {
	border:0;
}
.greenbut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.greenbut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.orangebut {
	background:#f80;
	border:1px solid #f80;
	color:#fff;
}
.orangebut:hover {
	background:#f80;
	color:#fff;
	text-decoration:none
}
.bluebut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.bluebut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
	text-decoration:none
}
.graybut {
	background:#f3f3f3;
	border:#cfcfcf 1px solid;
	color:#999;
}
.graybut:hover {
	background:#bbb;
	color:#fffeee;
}
.cancelBtn {
	background:#f4f4f4;
	border:#ddd 1px solid;
	color:#747474;
}
.cancelBtn:hover {
	background:#f4f4f4;
	border:#bbb 1px solid;
	color:#747474;
}
.tips-con i {
	background:url(../images/PublicIcon.png);
}
.tips-con {
	text-align:center;
	color:#666;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:0 -75px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-2px\9;
	_vertical-align:-2px;
}
.msgNoMore {
	font-size:14px;
	padding:15px 0 0;
	text-align:center;
	color:#bbb;
}
.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.Close,.Roll_mycart li a.Close:hover,.quick_cart .Current s,.quick_service .Current s,.quick_Collection .Current s,.quick_Return .Current s {
	background:url(../images/quickBack.png) no-repeat;
}

.quickBack {
	position:fixed;
	bottom:40px;
	right:10px;
	width:60px;
	z-index:11;
}
* html .quickBack {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.quickBack .quick_But {
	width:60px;
}
.quickBack .quick_But dd a.quick_cartA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_serviceA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_CollectionA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_ReturnA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	z-index:11;
}
.quickBack .quick_But dd a s {
	cursor:pointer;
	height:58px;
	left:0;
	position:absolute;
	top:0;
	width:58px;
}
.quickBack .quick_But dd a b {
	width:58px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	position:absolute;
	top:32px;
	left:0;
	display:inline-block;
	font-family:微软雅黑;
	display:none;
	cursor:pointer;
	z-index:10;
}
.quickBack .quick_But dd a.Current b {
	display:block;
}
.quick_cart em {
	width:16px;
	padding-left:1px;
	height:17px;
	line-height:16px;
	font-size:11px;
	font-family:Arial;
	text-align:center;
	color:#fff;
	position:absolute;
	top:7px;
	right:5px;
	background:url(../images/quickBack_CartDig.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quickBack_CartDig.png");
}
.quick_cart s {
	background-position:1px 0;
}
.quick_service s {
	background-position:1px -59px;
}
.quick_Collection s {
	background-position:1px -118px;
}
.quick_Return s {
	background-position:1px -177px;
}
.quick_cart .Current s {
	background-position:-58px 0;
}
.quick_service .Current s {
	background-position:-58px -59px;
}
.quick_Collection .Current s {
	background-position:-58px -118px;
}
.quick_Return .Current s {
	background-position:-58px -177px;
}
.Roll_mycart {
	width:315px;
	border:1px solid #2AF;
	position:absolute;
	right:56px;
	top:1px;
	background:#fff;
	z-index:18;
}
.Roll_mycart ul {
	max-height:175px;
	overflow:auto;
	padding-left:8px;
	border-bottom:1px solid #EFEFEF;
}
.Roll_mycart li {
	width:60px;
	float:left;
	text-align:center;
	position:relative;
	margin:8px 10px 0 0;
	_display:inline;
	line-height:14px;
}
.Roll_mycart li a {
	height:60px;
	display:block;
}
.Roll_mycart li a.Close {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-color:#EEE;
	background-position:-14px -238px;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
	border-bottom:none;
}
.Roll_mycart li a.Close:hover {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -238px;
	background-color:#f80;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
}
.Roll_mycart li img {
	border:1px solid #EEE;
	width:58px;
	height:58px;
}
.Roll_mycart li span {
	font-family:Arial;
	font-weight:bold;
}
.Roll_mycart li.Roll_CartMore a {
	width:60px;
	height:60px;
	background:#F0F0F0;
	display:inline-block;
	line-height:60px;
	font-family:宋体;
	color:#999;
}
.Roll_mycart li.Roll_CartMore a:hover {
	background:#e8e8e8;
	color:#808080;
}
.Roll_mycart li.Roll_CartMore a i {
	font-weight:bold;
}
.Roll_mycart p {
	text-align:right;
	color:#999;
	width:260px;
	height:22px;
	overflow:hidden;
	float:right;
	padding-top:5px;
	padding-right:8px;
}
.Roll_mycart p span {
	color:#f80;
}
.Roll_mycart h3 {
	height:26px;
	padding-right:8px;
	padding-bottom:4px;
}
.Roll_mycart h3 input {
	width:112px;
	height:26px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f80;
	border-radius:3px;
	float:right;
	padding:2px 0 5px;
	_padding:3px 0 2px;
}
.Roll_mycart h3 input[type=button]::-moz-focus-inner {
	border:0;
}
.rmbred,.rmbgray,.rmbwhite {
	background:url(../images/PublicIcon.png) no-repeat;
}
.rmbred {
	background-position:0 -49px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbgray {
	background-position:0 -3px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbwhite {
	background-position:0 -25px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.header:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.header {
	background:#fff;
	zoom:1;
	position:relative;
	z-index:79;
}
.head_top,.head_mid_bg,.nav_center {
	margin:auto;
	font-size:12px;
}
.site_top {
	width:100%;
	height:32px;
	background-color:#F5F6F8;
	box-shadow:0 1px 0 #F5F6F8;
}
.site_top .head_top {
	width:1200px;
	height:25px;
}
.head_top .collect {
	float:left;
	padding-top:8px;
	margin-right:10px;
}
.head_top .collect a {
	background-position:0 -13px;
	padding:3px 0 0 15px;
	background-repeat:no-repeat;
	float:left;
	color:#666;
}
.head_top .collect a:hover {
	color:#808080;
}
.head_top .Ht-qqicon {
	float:left;
	margin-top:7px;
	color:#666;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-right:45px;
}
.login_info {
	display:none;
	float:right;
}
.login_info li {
	float:left;
	display:inline;
	margin-top:6px;
	margin-top:5px\0;
}
.gray_info a,.gray_info a:visited,.Ht-qqicon a,.Ht-qqicon a:visited {
	color:#666;
	padding-left:15px;
}
.gray_info a:hover,.Ht-qqicon a:hover {
	color:#808080;
}
.login_info .h_1yyg {
	margin-top:0;
	height:25px;
	position:relative;
	padding:6px 14px 0 7px;
	text-align:center;
	z-index:11;
}
.login_info .h_1yyg b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject {
	position:absolute;
	top:0;
	left:-2px;
	border:1px solid #DFDFDF;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:105px;
	background:#fff;
}
.login_info .h_1yyg .h_1yyg_eject dt {
	text-align:left;
	height:32px;
	position:relative;
}
.login_info .h_1yyg .h_1yyg_eject dt a {
	padding:6px 15px 0 8px;
	height:24px;
	display:inline-block;
}
.login_info .h_1yyg_eject i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject dd {
	text-align:left;
	border-top:1px solid #E9E9E9;
}
.login_info .h_1yyg .h_1yyg_eject dd a {
	height:30px;
	display:block;
	padding-left:12px;
	line-height:30px;
}
.login_info .h_1yyg .h_1yyg_eject dd a:hover {
	background:#F5F5F5;
}
.login_info .h_news {
	margin-top:0;
	height:25px;
	position:relative;
	padding:6px 18px 0 7px;
	position:relative;
	text-align:center;
	z-index:11;
}
.login_info .h_news b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_down {
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	z-index:11;
}
.login_info .h_news .h_news_downT {
	position:relative;
	height:32px;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:48px;
	float:left;
	z-index:9;
	background:#fff;
}
.login_info .h_news .h_news_downT a {
	padding:6px 12px 0 0;
	height:24px;
	display:inline-block;
}
.login_info .h_news .h_news_downT i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_downC {
	z-index:11;
	position:relative;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	background:#fff;
	float:left;
	margin-left:0;
	left:0;
	top:1px;
}
.login_info .h_news .h_news_downC a {
	width:80px;
	text-align:left;
	height:30px;
	line-height:30px;
	display:block;
	padding:0 24px 0 11px;
	padding-left:12px;
	line-height:30px;
	border-bottom:1px solid #E9E9E9;
}
.login_info .h_news .h_news_downC a:hover {
	background:#F5F5F5;
}
.login_info .h_wel {
	color:#666;
	padding:0 7px;
}
.login_info .h_login i {
	color:#666;
	padding-right:8px;
}
.login_info .h_wel img {
	width:15px;
	height:15px;
	vertical-align:middle;
	margin-right:5px;
}
.login_info .h_login span {
	padding:0 7px;
	color:#eee;
}
.login_info .h_login {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_Mobile {
	padding:0 7px;
	margin-top:8px\9;
	position:relative;
}
.login_info .h_Mobile .h_Mobileicon {
	width:19px;
	height:9px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -212px;
	position:absolute;
	top:-4px;
	top:-5px\9;
	right:-2px;
}
.login_info .h_inv {
	padding:0 7px;
}
.login_info .h_inv {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_inv a,.login_info .h_inv a:visited {
	background-position:0 -141px;
	padding-left:17px;
	color:#f80;
}
.login_info .h_inv a:hover {
	background-position:0 -159px;
	color:#808080;
}
.login_info .h_1yyg a,.login_info .h_1yyg a:visited,.login_info .h_news a,.login_info .h_news a:visited,.login_info .h_inv a,.login_info .h_inv a:visited,.login_info .h_help a,.h_help .h_1yyg a:visited,.login_info .h_Mobile a,.login_info .h_Mobile a:visited {
	color:#666;
}
.login_info .h_1yyg a:hover,.login_info .h_news a:hover,.login_info .h_inv a:hover,.login_info .h_help a:hover,.login_info .h_Mobile a:hover {
	text-decoration:underline;
}
.login_info .h_tel {
	height:15px;
	overflow:hidden;
	background-position:0 0;
	margin-top:9px;
	_margin-top:10px;
	margin-left:5px;
}
.login_info .h_tel b {
	width:138px;
	display:block;
	color:#f80;
	line-height:20px;
	margin-top:-3px;
	font-family:Arial;
	text-indent:15px;
	font-size:18px;
	font-weight:normal;
}
.h_news_tips {
	border:1px solid #BBB;
	width:170px;
	box-shadow:0 0 3px #DFDFDF;
	position:absolute;
	text-align:right;
	padding:5px 5px 2px 10px;
	background:#F7F7F7;
	border-radius:2px;
	z-index:11;
}
.h_news_tips .tipsCancel {
	position:absolute;
	right:3px;
	top:3px;
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -124px;
}
.h_news_tips p {
	text-align:left;
	color:#666;
	height:22px;
	line-height:22px;
	padding-right:15px;
}
.h_news_tips p a {
	color:#2AF;
	text-align:right;
	float:right;
}
.h_news_tips p a:hover {
	text-decoration:underline;
}
.head_mid {
	height:90px;
}
.head_mid .head_mid_bg:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.head_mid .head_mid_bg {
	width:1200px;
	zoom:1;
	overflow:hidden;
}
.head_mid .head_mid_bg .logo_1yyg {
	float:left;
	margin-top:5px;
	margin-right:10px;
	display:inline;
}
.head_mid .head_mid_bg .logo_1yyg a {
	display:block;
	width:240px;
	height:80px;
	overflow:hidden;
}
.head_mid .newbie_guide {
	float:left;
	margin-top:12px;
	height:60px;
	overflow:hidden;
}
.head_mid .head_number {
	float:right;
	height:25px;
	line-height:23px;
	line-height:25px;
	margin:18px 0 0 27px;
	display:inline;
}

.head_mid .head_number a {
	display:inline-block;
	color:#666;
	background:#F5F5F5;
	border:1px solid #e5e5e5;
	font-size:14px;
	font-family:微软雅黑,宋体;
	padding:1px 10px 2px 10px;
	color:#666;
}
.head_mid .head_number a:hover {
	color:#666;
	background:#ebebeb;
	border:1px solid #e0e0e0;
}
.head_mid .head_number span {
	font-size:20px;
	font-family:arial;
	vertical-align:-2px;
	color:#2AF;
	padding:0 5px;
}
.head_mid .head_search {
	float:right;
	margin-top:18px;
}
.search_all{width:310px;height:33px;border:solid 1px #CFCFCF;border-radius:3px;}
.head_search .init {
	width:269px;
	height:33px;
	text-indent:5px;
	line-height:26px;
	background-repeat:repeat-x;
	color:#867F7F;
	border-right:none;
	float:left;
	font-family:Arial,"宋体";
	border:none;
}
.head_search .text {
	text-align:left;
	color:#666;
	font-weight:normal;
}
.head_search .search_submit {
	width:40px;
	height:33px;
	background-position:14px -89px;
	/*clc移除*/
/*	background: -moz-linear-gradient(center top , #FEFEFE, #E3E3E3) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	border:none;
	text-indent:-999em;
	vertical-align:top;
	cursor:pointer;
	float:left;
	border-left:solid 1px #d6d6d6;
    position: absolute;
}
.ico_search{
/*background:url(../images/headbg11.png) -20px -90px no-repeat;*/
width:30px;
height:30px;
z-index:1000;
display:block;
margin-left:5px;
}
.head_search .keySearch {
	padding-top:1px;
	clear:both;
}
.head_search .keySearch a {
	margin-right:10px;
	color:#999;
}
.head_search .keySearch a:hover {
	color:#808080;
	text-decoration:none;
}
.head_nav ul.nav_list li.home-back {
	width:86px;
}
.head_nav ul.nav_list li.sort-all {
	width:108px;
}
.head_nav ul.nav_list li.sort-all-shouye {
	width:84px;
}
.head_nav ul.nav_list li.sort-all-shouye a{
	width:82px;
}
.head_nav ul.nav_list li.share {
	width:116px;
}
.head_nav ul.nav_list li.nav_Cloud {
	width:101px;
}
.head_nav ul.nav_list li.new-lottery {
	width:116px;
}
.head_nav ul.nav_list li.cooperation {
	width:86px;
}
.head_nav ul.nav_list li.what-1yyg {
	width:116px;
}
body.index .head_nav ul.nav_list li.home-back a.home,body.sort .head_nav ul.nav_list li.sort-all a.sort,body.share .head_nav ul.nav_list li.share a,body.nav_Cloud .head_nav ul.nav_list li.nav_Cloud a,body.lottery .head_nav ul.nav_list li.new-lottery a,body.cooperation .head_nav ul.nav_list li.cooperation a,body.helper .head_nav ul.nav_list li.what-1yyg a {
	background:#F40;.w_miniCart
	border:1px solid #E53D00;
	box-shadow:inset 0 0 15px #E53D00;
	height:33px;
	overflow:hidden;
	font-weight:bold;
	line-height:32px;
	_line-height:34px;
}
body.sort .head_nav .nav_center ul.nav_list li a.nav_ico {
	background:#ff4e00;
}
.nav_list li a.nav_ico {
	background:#ff4e00;
}
.head_nav {
	width: 100%;
	position: relative;
	z-index:20;
	border-bottom: 3px solid #808080;
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);*/
	height: 38px;
	background: #fff;
}
.head_nav .nav_center {
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	position: relative;
	z-index:1;
	clear: both;
	display: block;
}
.m_catlog{
	font-size: 15px;
    position: absolute;
    top: 0;
}

.m_catlog_hd{
	background:#f80;
	border-bottom:solid 1px #e15765;
	height:37px;
	position:relative;
	}
.m_catlog a{color:#fff;display:block;height:36px;line-height:36px;padding-left:30px;width:210px;}	
.m_catlog_hd a{font-weight:bold;line-height:37px;font-size:15px;font-family:"微软雅黑";text-decoration:none;}
.m_catlog_wrap{overflow:hidden; background:url(../images/mix-icon.png) center bottom no-repeat; }
.m_catlog_bd{background:#f80;height:332px;}
.xh_juxing{width:240px;height: 4px;background:url(../images/hong.png) left center;}
.m_catlog_list li{border-bottom:solid 1px #ff6776;border-top:solid 1px #c20013;line-height:34px;}
.m_catlog_list li:hover{background:#c20013}
.m_catlog_list li a{font-size:15px;font-family:"微软雅黑";text-decoration:none;}
.m_catlog_ft{background-repeat:repeat-x;height:4px;overflow:hidden;}

.m_menu{}
.m_menu_list li{float:left;padding:5px 0;position:relative;}
.m_menu_list a:hover, .m_menu_list .selected a {color: #808080;}
.m_menu_list a{font-size:16px;font-weight:bold;height:28px;margin:0 17px 0 17px;text-align:center;width:88px;color:#3c3c3c;font-family:"微软雅黑";text-decoration:none;}
.m_menu_list li span{color:#aeaeae;font-size:16px;}

.m_menu_list .ico_hot {
    left: 12px;
	position: absolute;
	top: -6px;
	background-position: -60px -30px;
	height: 13px;
	width: 25px;
	z-index: 9999;
}
.ico{
	background:url(../images/mix-icon.png) -60px -30px no-repeat;
	display: inline-block;
    overflow: hidden;
    vertical-align: middle
}
.w_miniCart{width:135px;height:35px;background:#f80;float:right;border-radius:3px;}
.w_miniCart_btn{
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 19px;
    line-height: 17px;
    overflow: hidden;
    padding: 9px 0 8px 40px;
    position: relative;
    text-decoration: none;
    width: 100px;
    background-color: #f80;
	}

.w_miniCart_btn .ico_miniCart {
    left: 10px;
    position: absolute;
    top: 7px;
}
.ico_miniCart{
	background-position: -30px -30px;
    height: 21px;
    width: 24px;
}
.w-miniCart-count {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #f81d00;
    display: inline-block;
    line-height: 17px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 30px;
}

.w-miniCart-btn .ico-arrow-white-solid-l {
    left: -4px;
    position: absolute;
    top: 5px;
}
.ico-arrow-white-solid-l {
    background-position: -100px -90px;
}
.ico-arrow-white-solid{
height:7px;
width:4px;
}

.head_nav .nav_list {
	float:left;
	width:780px;
	height:35px;
	background:#Fff;
	margin:0;
	overflow:hidden;
	z-index:20;
}
.head_nav .nav_list li {
	float:left;
}
.head_nav .nav_list li a {
	float:left;
	width:100%;
	text-align:center;
	height:35px;
	overflow:hidden;
	line-height:32px;
	_line-height:34px;
	font-size:14px;
	font-family:微软雅黑,宋体;
	color:#666;
	border:1px solid #f80;
}
.head_nav .nav_list li a:hover {
	background:#FF4800;
	border:1px solid #FF4800;
}
.head_nav .nav_list .hover{
	background:#FF4800;
	border:1px solid #FF4800;
}
.head_nav ul.nav_list li.home-back a {
	width:84px;
	height:33px;
	overflow:hidden;
}
.head_nav ul.nav_list li.sort-all a {
	width:107px;
	height:33px;
	overflow:hidden;
}
.head_nav ul.nav_list li.share a {
	width:114px;
}
.head_nav ul.nav_list li.nav_Cloud a {
	width:99px;
}
.head_nav ul.nav_list li.new-lottery a {
	width:114px;
}
.head_nav ul.nav_list li.cooperation a {
	width:84px;
}
.head_nav ul.nav_list li.what-1yyg a {
	width:114px;
}
.head_nav .mini_mycart {
	background:#2AF;
	width:200px;
	float:right;
	height:35px;
	padding:0;
}
.head_nav .mini_mycart a.cart {
	height:35px;
	line-height:34px;
	float:left;
	text-align:left;
	font-size:14px;
	font-family:微软雅黑,宋体;
	overflow:hidden;
	color:#fff;
	position:relative;
	padding-left:39px;
}
.head_nav .mini_mycart a.cart s {
	width:22px;
	height:18px;
	background-position:0 -39px;
	display:black;
	float:left;
	position:absolute;
	left:11px;
	top:8px;
}

.head_nav .mini_mycart a.checkout {
	width:81px;
	height:27px;
	line-height:25px;
	_line-height:27px;
	text-align:center;
	background:#0095F2;
	font-family:微软雅黑;
	font-size:14px;
	float:right;
	color:#fff;
	border-radius:3px;
	margin:4px 4px 0 0;
	display:inline-block;
}
#sCartTotal {
	font-family:Arial,Helvetica,sans-serif;
}
.head_nav .nav_list li.sort-all {
	position:relative;
}
.nav_class {
	width:978px;
	height:33px;
	background:#fff;
	border:1px solid #DCDCDC;
	border-top:none;
	margin:0 auto 10px;
	position:relative;
	z-index:1;
	box-shadow:0 0 2px #D3D3D3;
}
.nav_class ul:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.nav_class ul {
	padding-left:10px;
	zoom:1;
}
.nav_class li {
	float:left;
	height:33px;
	font-size:14px;
	font-family:微软雅黑,宋体;
	color:#888;
}
.nav_class li a {
	color:#888;
	padding:4px 17px 5px 17px;
	padding:5px 17px 4px 17px\9;
	_padding:7px 17px 5px 17px;
	display:inline-block;
}
.nav_class li a:hover {
	color:#808080;
}
.mycart_list {
	width:270px;
	border:1px solid #2AF;
	position:absolute;
	z-index:10;
	top:35px;
	*top:35px;
	_top:35px;
	right:0;
	background:#fff;
}
.mycart_list dl {
	width:230px;
	padding:10px 10px 8px 10px;
	height:62px;
	border-bottom:1px solid #EFEFEF;
	position:relative;
}
.mycart_list dl.mycartcur {
	background:#F4F4F4;
}
.mycart_list dl dd,.mycart_list dl dt {
	float:left;
	padding:0;
	background:none;
}
.mycart_list dl dt {
	width:58px;
	height:58px;
	padding:0 10px 0 0;
}
.mycart_list dl dt a,.mycart_list dl dt a img,.mycart_list dl dt a:hover {
	width:58px;
	height:58px;
	display:block;
	border:0;
	color:#555;
	padding:0;
	background:none;
}
.mycart_list dl dt a img {
	border:1px solid #EFEFEF;
}
.mycart_list dl dd.title {
	width:145px;
	float:left;
}
.mycart_list dl dd.title em {
	color:#999;
	font-family:宋体;
}
.mycart_list dl dd.title a {
	width:145px;
	height:40px;
	line-height:20px;
	display:block;
	overflow:hidden;
	color:#555;
	padding:0;
	background:none;
}
.head_nav .nav_center .mycart_list dl dd.title a:hover {
	color:#808080;
	text-decoration:underline;
}
.mycart_list dl dd.title span {
	color:#808080;
	line-height:20px;
}
.mycart_list dl dd.del {
	margin-top:0;
	position:absolute;
	right:10px;
	bottom:10px;
}
.mycart_list dl dd.del a {
	color:#ccc;
	font-weight:normal;
	font-size:12px;
	padding:0;
	background:none;
}
.mycart_list dl dd.del a:hover {
	color:#808080;
	text-decoration:underline;
}
.mycart_list p {
	padding:5px 8px 10px 0;
	text-align:right;
	color:#999;
}
.mycart_list p span {
	color:#f80;
}
.mycart_list h3 {
	height:30px;
	padding-right:8px;
	padding-bottom:13px;
}
.mycart_list h3 input {
	width:120px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f80;
	border-radius:3px;
	float:right;
	padding:3px 0 5px;
	_padding:3px 0 2px;
}
.footer_line,.ft-fwrx-tel,.ft-fwrx-service a,.service-promise li a,.Service_Time p,.Service_Fund P,.ft-weixin dt span,.ft-weixin-img s {
	background:url(../images/footerimg.png);
}
.footer_content {
	font-family:"微软雅黑";
	background:#3d3d3d;
	overflow:hidden;
	zoom:1;
	clear:both;
	margin-top:20px;
}
.footer_line {
	height:8px;
	font-size:0;
	line-height:0;
	background-position:0 0;
}
.footservice {
	width:1080px;
	height:185px;
	margin:10px auto 0 auto;
	overflow:hidden;
	clear:both;
}
.footer_content .service-promise {
	width:1200px;
	padding-left:30px;
	border:1px solid #E8E8E8;
	margin:0 auto;
	height:46px;
	background:#fff;
}
.footer_content .service-promise ul {
	float:left;
	width: 1200px;
}
.footer_content .service-promise li {
	float:left;
	display:block;
	height:43px;
	margin-left:50px;
	width: 29%;
}
.footer_content .service-promise .service-promise-border-r0 a {
	margin-right:0;
}
.sp-fair a,.sp-wares a,.sp-free-delivery a,.sp-business a {
	height:21px;
	display:inline-block;
	margin:13px 90px 0 0;
}
.footer_content .service-promise .sp-fair a {
	background-position:0 -65px;
	width:145px;
}
.footer_content .service-promise .sp-wares a {
	background-position:0 -89px;
	width:144px;
}
.footer_content .service-promise .sp-free-delivery a {
	background-position:0 -113px;
	width:134px;
}
.footer_content .service-promise .sp-business a {
	background-position:0 -137px;
	width:230px;
}
.footer_content .service-promise .sp-fair a span,.footer_content .service-promise .sp-wares a span,.footer_content .service-promise .sp-free-delivery a span,.footer_content .service-promise .sp-business a span {
	display:none;
}
.footservice .support {
	margin:15px 0;
	overflow:hidden;
	zoom:1;
}
.footservice .support dl {
	float:left;
	width:183px;
	
}
.footservice .support dt {
	height:24px;
	margin-bottom:6px;
	overflow:hidden;
	margin-top:4px;
}
.footservice .support dt span {
	font-size:16px;
	font-weight:bold;
	color:#c5c5c5;
}
.footservice .support .ft-newbie,.footservice .support .ft-ygjj,.footservice .support .ft-delivery,.footservice .support .ft-wares {
	width:160px;
	height:154px;
	background:url(../images/new/footer.jpg) no-repeat left top;
	margin-right:2px;
	padding-left:15px;
}
.footservice .support .ft-fwrx {
	width:180px;
	margin-right:30px;
	height:154px;
}
.footservice .support .ft-fwrx .ft-fwrx-tel {
	background-position:0 -40px;
	height:16px;
	_height:15px;
	overflow:hidden;
}
.footservice .support .ft-fwrx .ft-fwrx-tel i {
	display:block; color:#9F9F9F;
}
.footservice .support .ft-fwrx .ft-fwrx-service a {
	background-position:0 -10px;
	width:109px;
	height:24px;
	_height:23px;
	display:block;
	text-indent:-999em;
}
.footservice .support .ft-fwrx .ft-fwrx-time {
	color:#9F9F9F;
	line-height:20px;
	height:22px;
	_height:21px;
}
.footservice .support dd {
	height:23px;
	padding:2px 0 0 0;
	_padding:3px 0 0 0;
	overflow:hidden;
	font-size:14px;
}
.footservice .support dd.ft-fwrx-service {
	height:60px;
	color:#9F9F9F;
}
.footservice .support dd.ft-fwrx-service .ft-qqicon {
	height:20px;
	display:block;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-left:15px;
}
.footservice .support dd.ft-fwrx-service .ft-qqgroup {
	display:block;
	font-size:12px;
	font-family:Arial;
}
.footservice .support dd b {
	width:3px;
	height:3px;
	font-size:0;
	line-height:0;
	background:#CACACA;
	vertical-align:3px;
	display:inline-block;
	margin-right:5px;
}
.footservice a,.footer a:link,.footer a:visited {
	color:#9F9F9F;
}
.footservice a:hover,.footer a:hover {
	color:#808080;
	text-decoration:underline;
}
.service_date {
	width:126px;
	margin:18px auto 6px;
	text-align:center;
	height:48px;
	color:#fff;
}
.service_date .Service_Time {
	width:99px;
	padding:5px 0 0 15px;
	height:43px;
	text-align:left;
	background:#f80;
	border-radius:2px;
	display:block;
	float:left;
	margin:0 3px;
}
.service_date .Service_Time p {
	height:16px;
	line-height:15px;
	background-position:-215px -15px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Time span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund a {
	width:105px;
	padding:5px 10px 0 15px;
	_display:inline;
	height:43px;
	text-align:left;
	background:#3B0;
	border-radius:2px;
	display:block;
	float:left;
	color:#fff;
}
.service_date .Service_Fund p {
	height:16px;
	line-height:15px;
	background-position:-215px -40px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Fund span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund i {
	font-size:12px;
	padding-left:5px;
	line-height:20px;
}
.footservice .support .ft-weixin {
	width:170px;
	overflow:hidden;
	border-right:none;
}
.footservice .support .ft-weixin dt span {
	background-position:-104px -168px;
	padding-left:25px;
	margin-left:5px;
}
.footservice .support .ft-weixin dd.ft-weixin-img {
	width:125px;
	height:93px;
	text-align:center;
	margin-bottom:2px;
}
.footservice .support .ft-weixin dd.ft-weixin-img s {
	width:93px;
	height:93px;
	margin:0 auto;
	display:inline-block;
	background-position:0 -168px;
}
.footer {
	width:100%;
	text-align:center;
	clear:both;
	padding:20px 0 10px 0;
	font:12px/1.5 Tahoma,Arial,"微软雅黑",Helvetica,sans-serif;
	color:#333;
	background:#fff;
}
.footer .footer_links {
	text-align:center;
}
.footer .footer_links a {
	padding:0 20px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.footer .footer_links b {
	height:11px;
	width:1px;
	background:#E4E4E4;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	margin-top:4px;
	*+margin-top:2px;
	margin-top:4px\9;
	margin-left:-3px;
}
.footer a {
	text-align:center;
	line-height:16px;
	line-height:18px\9;
}
.footer .footer_links .footer_links_nonebj a {
	text-align:center;
	border-left:none;
	width:50px;
}
.copyright {
	text-align:center;
	color:#9F9F9F;
	margin:0 auto 15px auto;
	padding:5px 0 0 0;
	clear:both;
}
.footer_icon {
	margin:0 auto 0 auto;
	height:30px;
}
.footer_icon li {
	width:110px;
	height:40px;
	margin:0 0 0 10px;
	float:left;
}
.footer_icon li img{
	width:110px;
	height:40px;
}
.footer_icon li a {
	width:110px;
	height:40px;
	display:block;
	overflow:hidden;
}
.footer_icon li.fi_315online span {
	display:none;
}
.footer_icon .fi_pingan,.footer_icon .fi_anxibao,.footer_icon .fi_alipay,.footer_icon .fi_cnnic,.footer_icon .fi_315online,.footer_icon .fi_ectrustchina {
	background:url(../images/footer.png) transparent scroll 0 0 no-repeat;
}
.footer_icon .fi_ectrustchina {
	background-position:0 -220px;
}
.footer_icon .fi_315online {
	background-position:0 -250px;
}
.footer_icon .fi_cnnic {
	background-position:0 -280px;
}
.footer_icon .fi_pingan {
	background-position:0 -310px;
}
.footer_icon .fi_alipay {
	background-position:0 -340px;
}
.footer_icon .fi_anxibao {
	width: 87px;
	background-position: 0 -419px;
	overflow: hidden;
}
.page_nav:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageUL {
	float:right;
	padding:20px 5px 0 0;
}
.page_nav ul.pageUL li {
	float:left!important;
	margin:0 5px;
	text-align:center;
}
.page_nav ul.pageUL li.total_page {
	color:#333;
	line-height:38px;
	padding-right:20px;
}
.page_nav ul.pageUL li.total_page i {
	color:#F00;
	font-style:normal;
}
.page_nav ul.pageUL li.curr_page {
	background-color:#FFEDE1;
	border:1px solid #FD6D01;
	color:#F50;
	display:block;
	font-weight:bold;
	height:25px;
	line-height:25px;
	width:25px;
}
.page_nav ul.pageUL li a {
	border:1px solid #DEDEDE;
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}
.page_nav ul.pageUL li a:hover {
	background-color:#FFF;
	border:1px solid #FD6D01;
	color:#FD6D01;
	display:block;
	height:25px;
	line-height:25px;
	text-decoration:none;
}
.page_nav ul.pageUL li.prev_page a {
	background:url("../images/arrow_button.png") no-repeat scroll -170px -13px transparent;
	padding:0 0 0 10px;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.next_page a {
	background:url("../images/arrow_button.png") no-repeat scroll right 5px transparent;
	padding:0 10px 0 0;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.prev_page a:hover,.page_nav ul.pageUL li.next_page a:hover {
	background-color:#FFF;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageULEx {
	float:right;
	padding:20px 0 0 0;
	margin-right:0;
	display:inline;
}
.page_nav ul.pageULEx li {
	line-height:32px;
}
.page_nav ul.pageULEx li.curr_page {
	padding:4px 0 5px 0;
	padding:4px 0 5px 0\9;
	_padding:4px 0 5px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li a {
	padding:3px 0 4px 0;
	padding:3px 0 4px 0\9;
	_padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li.prev_page a,.page_nav ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.page_nav ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.page_nav ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.page_nav ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	width:30px;
	overflow:hidden;
	color:#666;
}
.page_nav ul.pageULEx li a {
	border:1px solid #DEDEDE;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li a,.page_nav li a:hover {
	display:block;
	overflow:hidden;
}
.page_nav ul.pageULEx li a:hover {
	background-color:#49B8FF;
	border:1px solid #49B8FF;
	color:#FFF;
	text-decoration:none;
}
.page_nav ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:block;
	text-align:center;
	overflow:hidden;
	width:55px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:55px;
	overflow:hidden;
}
.page_nav ul.pageULEx li.prev_page a:hover,.page_nav li.next_page a:hover {
	background-color:#49B8FF;
	color:#fff;
	border:1px solid #49B8FF;
	overflow:hidden;
}
.pagesx{font-size:14px;color:#333; margin:25px 0 0 0; float:right;}
#Page_Ul{ font-size:14px;}
#Page_Ul li{ float:left; margin-right:10px;}
#Page_Ul li a{color:#333;
	border:1px solid #DEDEDE;
	text-align:center;
	padding:5px 10px;
	border-radius:5px;
	color:#666;
	display:block;
}
#Page_Ul li a:hover {
	background-color:#fff;
	border:1px solid #f80;
	color:#f80;
	text-decoration:none;
}

#Page_Ul #Page_Total{line-height:26px; display:none;}
#Page_Ul .Page_This{color:#333; line-height:26px;}



.head_top p.welcome{color:#666;line-height:29px;float:left;}

/*
2015/12/02
*/
.w-button {
    white-space: nowrap;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
   
    border-width: 0 1px 2px 0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    font-weight: bold;
    outline: none;
}

.w-button-l {
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 4px;
}
.w-button-main {
    background: #fff;
    color: #f80;
    border: 1px solid #f80;
  
}
.w-button-addToCart {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 45px;
    height: 45px;
    text-indent: -99em;
    background: url(../images/xmix-btn.png) left top no-repeat;
    _background: url(../images/xmix-btn.png) no-repeat;
}

.w-button-addToCart:hover {
    background: url(../images/xmix-btn.png) no-repeat scroll 0px -50px ;
}
.w-button-addToCart {
    margin-left: 5px;
    border: medium none;
    padding: 0px;
}
.w-button-addToCart:hover {
    background-position: 0px -50px;
}
.shop_buttom{margin-top:1px;}

.ft-weixin-img_xiaohe{width:106px; height:105px;background:url(../images/new/weixin.png) no-repeat;}

/*底部的图片*/
.footer_01{background:url(../images/new/f_01.png) no-repeat left top;}

.footer_02{background:url(../images/new/f_02.png) no-repeat left top;}

.footer_03{background:url(../images/new/f_03.png) no-repeat left top;}

.footer_04{background:url(../images/new/f_04.png) no-repeat left top;}

.footer_05{background:url(../images/new/f_05.png) no-repeat left top;}


/*修改body预定义样式对index.header的影响*/
.header{
	font-family: "Microsoft YaHei";
}
.goods_loding {
    max-height: 325px;
    overflow: auto;
    font-size: 18px;
    color: #666;
    font-family: 微软雅黑,宋体;
    text-align: center;
}



/*  首页   诚信   图标样式  start */
.honesty{
	margin:0 auto;
	width:208px;
	
	
}
.honesty li a{
	width:60px;
	float:left;
	color: #666;
	margin:0 auto;
	padding: 4px;
	margin-top:5px;
    /*cursor: pointer;*/
    
}
.honesty li i.i1 {
    background-position: 0 0;
}

.honesty li i {
    display: block;
    height: 37px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    width: 37px;
}
.honesty li .i1{
    background-image:url(../images/wangzhanlogo1.png);
    background-repeat: no-repeat;
}
.honesty li .i2{
    background-image:url(../images/wangzhanlogo2.png);
    background-repeat: no-repeat;
}
.honesty li .i3{
    background-image:url(../images/wangzhanlogo3.png);
    background-repeat: no-repeat;
}
.honesty li .i4{
    background-image:url(../images/wangzhanlogo4.png);
    background-repeat: no-repeat;
}
.honesty li .i5{
    background-image:url(../images/wangzhanlogo5.png);
    background-repeat: no-repeat;
}
.honesty li .i6 {
    background-image:url(../images/wangzhanlogo6.png);
    background-repeat: no-repeat;
}
.honesty li .i1:hover{
    background-image:url(../images/wangzhanlogo9.png);
    background-repeat: no-repeat;
}
.honesty li .i2:hover{
    background-image:url(../images/wangzhanlogo8.png);
    background-repeat: no-repeat;
}
.honesty li .i3:hover{
    background-image:url(../images/wangzhanlogo7.png);
    background-repeat: no-repeat;
}
.honesty li .i4:hover{
    background-image:url(../images/wangzhanlogo10.png);
    background-repeat: no-repeat;
}
.honesty li .i5:hover{
    background-image:url(../images/wangzhanlogo11.png);
    background-repeat: no-repeat;
}
.honesty li .i6:hover {
    background-image:url(../images/wangzhanlogo12.png);
    background-repeat: no-repeat;
}

.honesty li {
    text-align: center;
}
ul, ol {
    list-style: outside none none;
}
body, button, input, select, textarea, fieldset, label {
    color: #666;
    font: 12px "微软雅黑",Arial;
}
.box_small{padding-left:5px !important;}

/*  首页   诚信   图标样式  end */



























