{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/konka/konka.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/default/konka/swiper.min.css">
<script src="{G_TEMPLATES_JS}/default/swiper.min.js"></script>

<div class="hb_con1">
    <!--增加三个按钮-->
    <div class="hv_con1_btn">
        <div class="con1_add_1">
            <a href="{WEB_PATH}/goods/{wc:$kangjia_1}"><div class="button_a1"></div></a>
        </div>
    </div>
    <div class="hv_con2_btn">
        <div class="con2_add_1">
            <a href="{WEB_PATH}/goods/{wc:$kangjia_2}"><div class="button_a2"></div></a>
        </div>
    </div>
    <div class="hv_con2_btn display_box">
        <div class="content_box">
            
			{wc:loop $renqi_list $list}
            <div class="con2_add_1 display_1">
                <div class="display_22"><img class="lev1" src="{G_UPLOAD_PATH}/{wc:$list['thumb']}"></div>
                <div class="lev2 xh_overflow_x">{wc:$list['title']}</div>
                <div class="lev3"><span style="text-decoration: line-through;font-size:26px;">￥{wc:$list['money']}</span>
					<a href="{WEB_PATH}/goods/{wc:$list['id']}"><img src="{G_TEMPLATES_IMAGE}/konka/xiao_btn.png"></a>
				</div>
            </div>
			{wc:loop:end}
            <div style="clear: both">

            </div>
        </div>
    </div>
    <div class="hv_con3_box">
        <div class="con3_add_1">
                <div class="LunBo">
                <ul>
				{wc:loop $lotter_list $k $list}
                    <li {wc:if $k==0} class="CurrentPic"{wc:if:end}>
                        <img src="{G_TEMPLATES_IMAGE}/konka/laba.png">
                        <div class="cog">恭喜</div>
                        <div class="name_1">{wc:$list['username']}</div>
                        <div class="time_1">{wc:$list['content']}</div>
                        <div class="name_2">{wc:$list['title']}</div>
                    </li>
                 {wc:loop:end}   
                </ul>
                <div class="LunBoNum">
                    <span class="CurrentNum"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div style="clear: both"> </div>
    </div>




</div>

<script type="text/javascript" language="javascript">
    var PicTotal = 4;
    var CurrentIndex;
    var ToDisplayPicNumber = 0;
    $("div.LunBo div.LunBoNum span").click(DisplayPic);
    function DisplayPic() {
// 测试是父亲的第几个儿子
        CurrentIndex = $(this).index();
// 删除所有同级兄弟的类属性
        $(this).parent().children().removeClass("CurrentNum")
// 为当前元素添加类
        $(this).addClass("CurrentNum");
// 隐藏全部图片
        var Pic = $(this).parent().parent().children("ul");
        $(Pic).children().hide();
// 显示指定图片
        $(Pic).children("li").eq(CurrentIndex).show();
    }
    function PicNumClick() {
        $("div.LunBo div.LunBoNum span").eq(ToDisplayPicNumber).trigger("click");
        ToDisplayPicNumber = (ToDisplayPicNumber + 1) % PicTotal;
        setTimeout("PicNumClick()",1000);
    }
    setTimeout("PicNumClick()",1000);
</script>
{wc:templates "index","footer"}