<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>参加夺宝，欢乐号</title>
	<style>
		body{margin: 0;}
		a{text-decoration: none;}
		.number{
			font-size: 14px;
			color: #f81000;			
			padding-left: 5px;
			font-family: "微软雅黑";
			font-weight: bold;
			float:left;
			
		}
		.number_B{
			position: relative;
			margin-top:5px;
			padding-bottom:5px;
			border-bottom: 1px solid #f80;
		}
		.number_box{
			font-size: 12px;
			color:rgb(168,168,168);
			padding-left: 5px;
		}
		.number_new{
			font-size: 13px;
			color: #1d1d1d;			
			font-weight: bold;
			float: right;
			padding-top:2px;
			padding-right:5px;
			}
		.clearfix{clear:both;
		}
		.red{
			color:red;
		}
	</style>
	</head>
	<body>
		<div class="number_bigbox">
		<div class="number_B">
		<div class="number">所有参与号码&nbsp;:</div>
		<div class="number_new" ng-click="backTo()">关&nbsp;闭</div>
		<div class="clearfix"></div>
		</div>
		<div class="number_box">
			<span ng-repeat="codelist in recordeList" ng-class="{true:'red',false:''}[codelist == code]">
				{{codelist}}
			</span>
		
		</div>		

		</div>
	</body>
</html>
