<!DOCTYPE html>
<html lang="zh-CN">

<head>
	
<title>往期揭晓</title>
    <style>
			p,li{margin: 0;padding: 0;}
			a{display: block;}
			.winning_Y{
				width: 100%;
				position: fixed;
				top:0;
				left: 0;
				background: #f7f7f7;
				border-bottom: 2px solid #dfdfdf;
			}
			.winning_content{
				width:70% ;
				border: 1px solid #dedede;
				height: 29px;
				float:left;
				line-height: 29px;
				font-size:12px;
				background: white;
				border-radius: 10px;
				margin:10px 0px;
				text-align: center;
				font-family: "宋体";
			}
			.ico-more{
				width:25px;
			}
			.moreBtn{
				width:15%;
				float:left;
				padding: 6px 0px;
			}
			.back{
				width:15%;
				height:44px;
				float:left;
			}
			.backimg{
				margin: 11px 0px;
    			height: 25px;
			}
			.winning_left{				
				color: #8e8e8e;
				width: 60px;
				float: left;
				font-weight: bold;
			
				font-family:"宋体";
				
			}
			.winning_input{
				float: left;
				height:27px;
				width:45%;
				border-left: 1px solid rgb(222,222,222);
				border-right: 1px solid rgb(222,222,222);
				border-top:none;
				border-bottom: none;
				text-align: center;
			}
			
			.clearfix{clear: both;}
			.winning_right{
				color:#8e8e8e;
				text-align: center;
				width: 60px;
				float:left;
				
				line-height: 29px;
				font-weight: bold;
				font-family:"宋体";
			}
		
			.qishu_box{
				display: inline-block;
				width: 32.7%;
				overflow: hidden;
				border: 1px solid #dfdfdf;
				color:rgb(157,157,157) !important;
				text-align: center;
				
				margin: 2px 0;
			}			
			.qishu_box1{float: left;}
			.qishu_number_box{
				height:20px;font-size: 14px;width:100%;color: white;font-size: 10px;
			}
			.qishu_number{
				background:#f80;height:20px;line-height:20px;width:50%;margin:0 auto;border-radius:5px;margin-top: -2px;
			}
		
			.href_img{
				width:19px;
				margin:0px 5px;
				
				border-radius: 30%;
			}
			.strip{width:100px;
			height:14px;
			border-radius:7px;
			border:#fff1d6 1px solid;
			background:white;
			margin: auto;
			margin-top:6px;
			}
			.strip_two{
				height:14px;
				
				background: #f80;
				border-radius:7px;
			}
			.clearfix{clear: both;}
		</style>
</head>
<body>
<div class="g-body" style="clear: both;">
    <div class="m-detail" style="text-align: center;clear: both;">
        
        <div class="winning_Y" style="z-index: 55;">
        	<a ng-click="backTo();" href="javascript:void(0);" class="back">
        		<img src="images/icon/back_icon.png" class="backimg"/>
        	</a>
			<div class="winning_content">
				<div class="winning_left">第</div>
				<input id="winning_small" class="winning_input" ng-model="qishu_text" >
					
				</input>
				<div class="winning_right" ng-click="gomodel(qishu_text)">
					期&nbsp;<img id="winning_box" src="../statics/templates/templet2/images/href.png"  class="href_img"/>
				</div>
			</div>
			<a class="moreBtn" href="#/tab/home"><i class="ico ico-more"></i></a>
		</div>
		
    
            <div id="scroller_passed_publish" style="clear: both;margin-top:50px;font-size: 12px;">
                
                <div style="text-align: left;width: 100%; clear: both;">    
                	<!--正在进行中的产品-->
              
					<li ng-repeat="newestlist in newestList" class="qishu_box qishu_box1" ng-click="godetail(newestlist.id)"> 
                    	<div style="clear: both;"></div>
						<div class="qishu_number_box">
							<div class="qishu_number" >第{{newestlist.qishu}}期</div>
						</div>
						<div style="width:100%;">
							<img ng-src="images/member.jpg" style="width: 50%;margin:10px;"/>
						</div>
						<div>
							
							<p style="color:deepskyblue;">
								{{newestlist.q_user.username}}	
							</p>
							<p>进行中...</p>
						
							<div class="strip">
								<div class="strip_two" style="width:{{newestlist.bili}} !important;"></div>
							</div>
							<div  style="height:17px;">{{newestlist.bili}}</div>
							<p><font ng-bind="newestlist.q_end_time"></font></p>
						</div>
						
					</li>
					<!--正在揭晓的产品-->
					<li ng-repeat="progressList in progressList" class="qishu_box qishu_box1" ng-click="godetail(progressList.id)"> 
                    	<div style="clear: both;"></div>
						<div class="qishu_number_box">
							<div class="qishu_number" >第{{progressList.qishu}}期</div>
						</div>
						<div style="width:100%;">
							<img ng-src="images/member.jpg" style="width: 50%;margin:10px;"/>
						</div>
						<div>
							<p style="color:deepskyblue;">
								正在揭晓...	
							</p>
							<div  style="height:18px;">
								揭晓时间
							</div>
							<p><font ng-bind="progressList.endtime"></font></p>
						</div>
					</li>
					
                	<!--已经揭晓的产品-->
                    <li ng-repeat="finishedlist in finishedList" class="qishu_box" ng-click="godetail(finishedlist.id)"> 
                    	<div style="clear: both;"></div>
						<div class="qishu_number_box">
							<div class="qishu_number" >第{{finishedlist.qishu}}期</div>
						</div>
						<div style="width:100%;">
							<img ng-src="{{finishedlist.q_user.img}}" style="width: 50%;border-radius: 50%;margin:10px;"/>
						</div>
						<div style="line-height:14px;">
							
							<p style="color:deepskyblue;">
								{{finishedlist.q_user.username}}	
							</p>
							<p>幸运号&nbsp;:<font ng-bind="finishedlist.q_user_code" color="#ff6a00"></font></p>
							<p>参与人次&nbsp;:<font ng-bind="finishedlist.q_user.renci" color="#ff6a00"></font></p>
							<p><font ng-bind="finishedlist.q_end_time"></font></p>
							
						</div>
						<div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
					</li>
                </div>  
            	
            </div>
       
    </div>

</div>
</body>
</html>