@charset "utf-8";
	.logo {
	width:1200px;
	height:80px;
	padding-top:15px;
	margin:0 auto;
	overflow:hidden;
}
.logo .float span.tel {
	float:right;
	display:block;
	padding-right:20px;
	padding-top:46px;
}
.logo .float span.logo_pic {
	width:105px;
	height:62px;
	
	float:left;
	display:block;
}
.logo .float span.logo_pic .a {
	width:105px;
	height:61px;
	display:inline-block;
}
.logo .float a.a {
	float:left;
}
.logo .float span.text {
	width:284px;
	float:left;
	font-weight:bold;
	display:block;
	margin:41px 0 0 40px;
}
.logo .float span.help {
	width:284px;
	text-align:right;
	float:right;
	display:block;
	margin:41px 0 0 40px;
}
.logo .float span.help a {
	padding:0 10px;
	color:#666;
}
.logo .float span.help a.help_center {
	border-left:1px solid #ccc;
	padding:0 0 0 10px;
}
.shop_process {
	width:1200px;
	height:auto;
	color:#666;
	margin:0 auto;
}
.shop_process ul.process {
	width:1200px;
	height:30px;
	float:left;
	margin:15px 0;
	background:#d8e8f9;
}
.shop_process ul.process li {
	text-align:center;
	float:left;
	line-height:30px;
	font-size:12px;
}
.shop_process ul.process li.first_step {
	color:#fff;
	width:250px;
	background:#f80;
	font-weight:bold;
}
.shop_process ul.process li.secend_step {
	width:250px;
}
.shop_process ul.process li.third_step {
	width:250px;
}
.shop_process ul.process li.fourth_step {
	width:250px;
}
.shop_process ul.process li.fifth_step {
	width:250px;
}
.shop_process ul.process li.arrow_1,.shop_process ul.process li.arrow_2 {
	width:27px;
	height:30px;
	overflow:hidden;
	display:block;
}
.shop_process ul.process li.arrow_1 {
	background:url(../images/shop_process.png) no-repeat -205px 0;
}
.shop_process ul.process li.arrow_2 {
	background:url(../images/shop_process.png) no-repeat -240px 0;
}
.shop_process .submitted {
	width:1200px;
	clear:both;
	position:relative;
	clear:both;
}
.shop_process .submitted ul.order {
	width:1198px;
	min-height:130px;
	border:1px solid #dfdfdf;
	clear:both;
	overflow-x:hidden;
	overflow-y:hidden;
	scroll:no;
}
.shop_process .submitted ul.order li {
	width:1198px;
	float:left;
}
.shop_process .submitted ul.order li.ts {
	height:40px;
	line-height:40px;
	border-top:1px solid #dfdfdf;
	background:#f8f8f8;
}
.shop_process .submitted ul.order li.ts p {
	width:400px;
	float:left;
}
.shop_process .submitted ul.order li.ts p.right {
	width:400px;
	float:right;
	text-align:right;
	padding:0 20px 0 0;
}
.shop_process .submitted ul.order li.ts p.left {
	color:#333;
}
.shop_process .submitted ul.order li.ts p.left input {
	margin:15px 10px 0 20px;
	*margin:10px 10px 0 20px;
	_margin:10px 10px 0 20px;
	float:left;
}
.shop_process .submitted ul.order li.ts p.left a.all {
	width:30px;
	height:20px;
	line-height:20px;
	text-align:center;
	margin:10px 0 0 0;
	display:block;
	float:left;
}
.shop_process .submitted ul.order li.ts p.left a.del {
	width:110px;
	height:29px;
	display:block;
	line-height:29px;
	text-align:center;
	margin:5px 0 0 10px;
	background:url(../images/shop_process.png) -120px -320px;
	float:left;
}
.shop_process .submitted ul.order li.ts p.right span {
	font-size:18px;
	font-family:arial;
	color:#f80;
	padding:0 5px;
}
.shop_process .submitted ul.order li.ts span.ts {
	width:18px;
	height:19px;
	display:block;
	background:url(../images/shop_process.png) no-repeat -205px -300px;
	float:left;
	margin:10px 10px 0 25px;
}
.shop_process .submitted ul.order li.end {
	width:1198px;
	min-height:90px;
	border-top:1px solid #e6e7e8;
	margin:0 0 12px 0;
	overflow:hidden;
}
.shop_process .submitted ul.order li.end p.ts {
	width:978px;
	height:25px;
	line-height:25px;
	color:#f60;
	text-align:center;
	background-color:#FFFDF0;
	border-bottom:1px solid #f9f9f9;
}
.shop_process .submitted ul.order li.top {
	width:1198px;
	height:35px;
	line-height:35px;
	color:#555;
	background:url(../images/process_top.png);
	border-bottom:1px solid #dfdfdf;
}
.shop_process .submitted ul.order li span {
	text-align:center;
}
.shop_process .submitted ul.order li span.color {
	color:#f80;
}
.shop_process .submitted ul.order li span img {
	width:70px;
	height:70px;
	display:block;
	margin:15px auto 0 auto;
	border:1px solid #ccc;
}
.shop_process .submitted ul.order li.top span.goods,.shop_process .submitted ul.order li.top span.xj {
	width:145px;
	display:block;
	float:left;
}
.shop_process .submitted ul.order li.end span.goods {
	width:120px;
	height:72px;
	display:block;
	float:left;
}
.shop_process .submitted ul.order li.end span.goods input {
	margin:40px 0 0 20px;
	float:left;
}
.shop_process .submitted ul.order li.end span.goods a {
	width:72px;
	height:72px;
	display:block;
	float:right;
}
.shop_process .submitted ul.order li.top span.name {
	width:218px;
	height:30px;
	display:block;
	float:left;
	padding:0 20px;
}
.shop_process .submitted ul.order li.end span.name {
	width:248px;
	display:block;
	float:left;
	overflow:hidden;
	font-size:14px;
	margin:12px auto 0 auto;
	padding:0 10px;
}
.shop_process .submitted ul.order li.end span.name p {
	font-size:12px;
	text-align:left;
	line-height:25px;
}
.shop_process .submitted ul.order li span.do {
	padding-left:20px;
}
.shop_process .submitted ul.order li.end span.do a {
	height:20px;
	line-height:20px;
	text-align:center;
	display:block;
	float:left;
	margin:36px 0 0 10px;
}
.shop_process .submitted ul.order li.end span.name a {
	width:248px;
	height:50px;
	line-height:25px;
	display:block;
	float:left;
	overflow:hidden;
	font-size:12px;
	text-align:left;
	color:#0082f0;
}
.shop_process .submitted ul.order li span.num,span.money,span.all,span.moneys,span.xj {
	width:170px;
	display:block;
	float:left;
}
.shop_process .submitted ul.order li.end span.num {
	padding:5px 0 0 0;
	position:relative;
}
li.end span.money,li.end span.all,li.end span.moneys,li.end span.xj {
	line-height:90px;
}
.shop_process .submitted ul.order li.end span.jian {
	width:12px;
	height:12px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) -170px -35px;
	cursor:pointer;
	margin:38px 0 0 18px;
	*margin:38px 0 0 18px;
	_margin:38px 0 0 12px;
}
.shop_process .submitted ul.order li.end span.jia {
	width:16px;
	height:12px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) -185px -35px;
	cursor:pointer;
	margin:38px 0 0 10px;
}
.shop_process .submitted ul.order li.end span input.text {
	width:36px;
	height:15px;
	line-height:15px;
	text-align:center;
	display:block;
	float:left;
	margin:33px 0 0 10px;
}
.shop_process .submitted h3 {
	width:205px;
	height:30px;
	display:block;
	line-height:35px;
	text-align:left;
	text-indent:10px;
	color:#d2b080;
	background:url(../images/shop_process.png) no-repeat 0 0;
	top:106px;
	right:63px;
	position:absolute;
}
.shop_process .submitted h3 span {
	width:180px;
	display:block;
	float:left;
}
.shop_process .submitted h3 a {
	width:20px;
	height:20px;
	line-height:20px;
	display:block;
	float:left;
	text-indent:-9999px;
	margin:8px 0 0 0;
}
.shop_process h5 {
	width:1200px;
	height:34px;
	padding:15px 0;
}
.shop_process h5 a {
	width:144px;
	height:44px;
	display:block;
	background:url(../images/shop_process.png) no-repeat 0 -461px;
	float:left;
	margin-left:830px;
	*margin-left:830px;
	_margin-left:330px;
}
.shop_process h5 input {
	width:165px;
	height:45px;
	display:block;
	border:none;
	color:#d2b080;
	background:url(../images/shop_process.png) no-repeat 0 -35px;
	cursor:pointer;
	float:right;
}
.shop_process div.ts {
	width:978px;
	height:40px;
	line-height:40px;
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	float:right;
	text-indent:20px;
}
.shop_process .cartno p {
	line-height:30px;
	width:340px;
	margin:15px auto;
}
.shop_process .cartno p span {
	width:15px;
	height:15px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) no-repeat -160px -300px;
	margin:8px 5px 0 0;
}
.shop_process .cartno p a {
	display:inline;
	padding:0 5px;
	color:#0082dd;
}
.fast {
	width:976px;
	height:200px;
	border:1px solid #ebebeb;
	padding:1px 1px 0 1px;
	clear:both;
	margin:20px auto 10px auto;
}
.fast h3 {
	width:966px;
	height:30px;
	background:#f4f4f4;
	padding-left:10px;
}
.fast h3 span {
	width:300px;
	height:17px;
	display:block;
	margin-top:5px;
	float:left;
	color:#fe8500;
	font-size:14px;
	font-weight:bold;
}
.fast .fast_list {
	width:307px;
	height:152px;
	padding:10px 8px;
	float:left;
}
.fast .fast_list h4 {
	width:142px;
	height:152px;
	float:left;
}
.fast .fast_list h4 a {
	width:140px;
	height:150px;
	display:block;
	border:1px solid #ebebeb;
}
.fast .fast_list h4 a:hover {
	border:1px solid #fb8c00;
}
.fast .fast_list h4 a img {
	width:140px;
	height:150px;
	display:block;
}
.fast .fast_list ul {
	width:140px;
	height:140px;
	padding:6px 5px;
	float:left;
	overflow:hidden;
}
.fast .fast_list ul li {
	width:140px;
	height:20px;
	line-height:20px;
	float:left;
	margin-bottom:5px;
}
.fast .fast_list li.title {
	width:140px;
	height:30px;
	line-height:15px;
	overflow:hidden;
	font-size:12px;
}
.fast .fast_list li.title a,.fast .fast_list li.title a:hover {
	color:#0082f0;
}
.fast .fast_list li.buy {
	width:105px;
	height:28px;
}
.fast .fast_list li.buy a {
	width:105px;
	height:28px;
	line-height:28px;
	text-indent:30px;
	color:#fff;
	font-weight:bold;
	display:block;
	background:url(../images/shop_process.png) no-repeat -150px -465px;
}
.shop_login_regsiter {
	width:605px;
	height:345px;
	border:5px solid #d6f1ff;
	margin:auto;
}
.shop_login_regsiter .clo {
	width:600px;
	padding:5px 5px 5px 0;
}
.shop_login_regsiter .clo a {
	width:18px;
	height:18px;
	display:block;
	float:right;
	background:url(../images/shop_process.png) no-repeat -220px -105px;
}
.shop_regsiter {
	width:300px;
	height:315px;
	float:left;
	padding:15px 15px 0 15px;
	background:url(../images/shop_line.png) no-repeat right;
}
.shop_regsiter h3 {
	width:242px;
	height:20px;
	background:url(../images/shop_process.png) no-repeat 0 -80px;
	float:left;
	margin-bottom:10px;
}
.menu {
	width:290px;
	height:32px;
	padding-left:10px;
	border-bottom:1px solid #d9d9d9;
	clear:both;
}
.menu li {
	text-align:center;
	float:left;
	width:89px;
	height:32px;
	display:block;
	line-height:32px;
	cursor:pointer;
}
.menu li.tabFocus {
	width:89px;
	height:32px;
	font-weight:bold;
	z-index:100;
	background:none;
	background:url(../images/shop_process.png) no-repeat 0 -160px;
	position:relative;
	top:1px;
}
.shop_login {
	width:260px;
	height:315px;
	float:left;
	padding:15px 0 0 15px;
}
.shop_login h3 {
	width:217px;
	height:18px;
	background:url(../images/shop_process.png) no-repeat 0 -105px;
	float:left;
	margin-bottom:30px;
}
.shop_login ul {
	width:254px;
	float:left;
	padding-left:6px;
}
.shop_login ul li {
	width:254px;
	float:left;
	padding:6px 0;
}
.shop_login ul li.login {
	width:214px;
	float:left;
	padding:6px 0 6px 30px;
}
.shop_login ul li input.zh,.shop_login ul li input.password {
	width:193px;
	height:32px;
	line-height:32px;
	text-indent:10px;
	border:none;
	background:url(../images/shop_process.png) no-repeat 0 -125px;
}
.shop_login ul li input.dl {
	width:73px;
	height:32px;
	border:none;
	background:url(../images/shop_process.png) no-repeat -175px -160px;
	border:red 1px solid;
}
.shop_login ul li p {
	float:left;
	line-height:42px;
}
.shop_login ul li a {
	padding-left:10px;
}
.shop_payment {
	width:980px;
	height:auto;
	color:#666;
	position:relative;
}
.shop_payment ul.payment {
	width:980px;
	height:31px;
	background:#d8e8f9;
	float:left;
	margin:20px 0;
}
.shop_payment ul.payment li {
	text-align:center;
	float:left;
	line-height:31px;
	font-size:12px;
}
.shop_payment ul.payment li.first_step {
	width:165px;
}
.shop_payment ul.payment li.secend_step {
	width:165px;
	color:#fff;
	background:#ff7c21;
	font-weight:bold;
}
.shop_payment ul.payment li.fourth_step {
	width:165px;
}
.shop_payment ul.payment li.fifth_step {
	width:165px;
}
.shop_payment ul.payment li.third_step {
	width:202px;
}
.shop_payment ul.payment li.arrow_1,.shop_payment ul.payment li.arrow_2,.shop_payment ul.payment li.arrow_3 {
	width:27px;
	height:31px;
}
.shop_payment ul.payment li.arrow_1 {
	background:url(../images/shop_process.png) no-repeat -205px -35px;
}
.shop_payment ul.payment li.arrow_2 {
	background:url(../images/shop_process.png) -240px -0px;
}
.shop_payment ul.payment li.arrow_3 {
	background:url(../images/shop_process.png) -240px -35px;
}
.shop_payment .payment_list {
	width:978px;
	min-height:40px;
	overflow:auto;
	border:1px solid #dfdfdf;
	overflow-x:hidden;
	overflow-y:hidden;
	clear:both;
}
.shop_payment .payment_list ul.order_list {
	width:978px;
	position:relative;
	clear:both;
}
.shop_payment a:hover {
	color:#c33;
}
.shop_payment .payment_list ul.order_list li {
	float:left;
}
.shop_payment .payment_list ul.order_list li.end {
	width:978px;
	height:40px;
	border-top:1px solid #eee;
	overflow:hidden;
}
.shop_payment .payment_list ul.order_list li.bottom {
	width:928px;
	padding-right:50px;
	height:40px;
	line-height:40px;
	border-top:1px solid #eee;
	text-align:right;
	background:#f8f8f8;
}
.payment_Total {
	width:928px;
	padding-right:50px;
	text-align:right;
	border-top:1px solid #eee;
	line-height:40px;
}
.payment_Total span {
	color:#F00;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
}
.point_out {
	width:928px;
	text-align:right;
	padding:0 50px 0 0;
	vertical-align:top;
	line-height:20px;
}
.point_out em {
	color:#F60;
	font-weight:bold;
	font-family:宋体;
	padding:0 3px;
}
.point_out span {
	color:#666;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
}
.point_out .text {
	border:1px solid #CFCFCF;
	color:#333;
	font-size:12px;
	margin:0 5px 0 5px;
	padding:2px;
	width:56px;
}
.point_out .msg:after {
	clear:both;
	content:" ";
	display:block;
	height:0;
}
.point_out .msg {
	margin-bottom:5px;
	zoom:1;
}
.point_out .msg .stop {
	border:1px solid #F60;
	background:#FFFDF0;
	height:22px;
	overflow:hidden;
	line-height:24px;
	_line-height:20px;
	float:right;
	margin-top:10px;
	padding-left:25px;
	padding-right:10px;
	position:relative;
}
.point_out .msg .stop i {
	width:14px;
	height:14px;
	position:absolute;
	left:5px;
	top:4px;
	background:url(../images/shop_process.png) -263px -300px no-repeat;
}
.point_in {
	width:928px;
	padding:10px 50px 10px 0;
	text-align:right;
	border-top:1px solid #eee;
	line-height:30px;
}
.point_in em {
	color:#FE3F3F;
}
.point_in .J_Sum {
	color:#FE3F3F;
	font-family:arial;
	font-size:22px;
}
.point_in span {
	color:#999;
}
.point_in span em {
	color:#999;
	font-size:16px;
	font-weight:bold;
	padding:0 3px;
}
.shop_payment .payment_list ul.order_list li.top {
	width:978px;
	height:35px;
	line-height:35px;
	color:#555;
	background:url(../images/process_top.png);
	border-bottom:1px solid #dfdfdf;
}
.shop_payment .payment_list ul.order_list li span {
	text-align:center;
}
.shop_payment .payment_list ul.order_list li.end span.num,.shop_payment .payment_list ul.order_list li.bottom span {
	color:#f00;
	font-size:14px;
	font-family:arial;
}
.shop_payment .payment_list ul.order_list li.bottom span {
	font-size:18px;
	font-weight:bold;
}
.shop_payment .payment_list ul.order_list li.end span.all span {
	font-size:18px;
	font-family:arial;
	color:#f00;
	padding:0 5px;
}
.shop_payment .payment_list ul.order_list li.top span.name {
	width:358px;
	height:30px;
	display:block;
	float:left;
	text-align:left;
	text-indent:35px;
}
.shop_payment .payment_list ul.order_list li.end span.name {
	width:318px;
	height:40px;
	line-height:40px;
	display:block;
	float:left;
	overflow:hidden;
	font-size:14px;
	margin:0 auto;
	padding:0 20px;
	text-align:left;
	text-indent:15px;
}
.shop_payment .payment_list ul.order_list li.end span.name a {
	width:318px;
	height:25px;
	line-height:25px;
	display:block;
	float:left;
	overflow:hidden;
	font-size:14px;
	margin:8px 0 0 0;
	color:#0082F0;
}
.shop_payment .payment_list ul.order_list li span.num,.shop_payment .payment_list ul.order_list li span.money,.shop_payment .payment_list ul.order_list li span.all,.shop_payment .payment_list ul.order_list li span.moneys {
	width:155px;
	display:block;
	float:left;
}
.shop_payment .payment_list ul.order_list li.end span.num,.shop_payment .payment_list ul.order_list li.end span.money,.shop_payment .payment_list ul.order_list li.end span.all,.shop_payment .payment_list ul.order_list li.end span.moneys {
	line-height:40px;
}
.shop_payment .account {
	width:943px;
	min-height:99px;
	border:1px solid #e1e1e1;
	float:left;
	margin:10px 0;
	padding:0 0 0 35px;
	background:url(../images/shop_process.png) repeat-x 0 -580px;
}
.shop_payment .account li {
	width:908px;
	float:left;
	height:38px;
	line-height:38px;
	color:#333;
	font-size:14px;
	padding:10px 0 0 0;
}
.shop_payment .account li.tit {
	border-top:1px dashed #ccc;
	padding:10px 0 0 0;
	color:#333;
	font-size:12px;
}
.shop_payment .account li.tit span.s {
	width:16px;
	height:14px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) repeat-x -240px -300px;
	margin-top:10px;
}
.shop_payment .account li u {
	color:#0088d6;
	font-weight:bold;
	padding-left:5px;
}
.shop_payment .account li p {
	float:left;
	font-size:12px;
	line-height:25px;
}
.shop_payment .account li p.cz {
	width:265px;
	height:25px;
	background:url(../images/shop_process.png) 0 -505px;
	text-indent:15px;
	margin-left:10px;
}
.shop_payment .account li span {
	color:#2d9f00;
	font-family:arial;
	font-size:18px;
	padding:0 5px 0 0;
}
.shop_payment .account li span.pay {
	font-size:14px;
	color:red;
}
.shop_payment .account li span.oth {
	font-size:14px;
	color:#333;
}
.shop_payment .other {
	width:976px;
	min-height:150px;
	border:2px solid #bedcec;
	clear:both;
	padding-bottom:25px;
	overflow:hidden;
}
.shop_payment .other h3 {
	width:976px;
	height:30px;
	line-height:31px;
	text-indent:15px;
	background:url(../images/other.png);
	border-bottom:1px solid #bedcec;
	font-size:14px;
	color:#333;
	font-weight:bold;
}
.shop_payment .other div {
	width:936px;
	margin-top:10px;
	float:left;
	color:#999;
	padding-left:20px;
}
.shop_payment .other div span {
	color:Red;
	font-weight:bold;
	font-size:14px;
}
.shop_payment .other ul {
	clear:both;
	float:left;
	width:928px;
	padding:5px 0 0 27px;
}
.shop_payment .other li {
	float:left;
	margin-left:15px;
	margin-right:15px;
	padding:10px 0;
	_margin:0 10px 0 11px;
}
.shop_payment .other li input {
	float:left;
	margin:12px 5px 0 0;
	*margin:10px 1px 0 0;
	display:block;
}
.shop_payment .other li span {
	display:block;
	width:134px;
	height:36px;
	float:left;
	border:#ddd 1px solid;
	cursor:pointer;
}
.shop_payment .other li span.zfb {
	background:url(../images/bank_logo.png?v=12) 8px -613px;
}
.shop_payment .other li span.cft {
	background:url(../images/bank_logo.png?v=12) 8px -500px;
}
.shop_payment .other li span.yl {
	background:url(../images/bank_logo.png?v=12) 8px -550px;
}
.shop_payment .other li span.kq {
	background:url(../images/bank_logo.png?v=12) 12px -575px;
}
.shop_payment .other li span.wy {
	background:url(../images/bank_logo.png?v=12) 8px -539px;
}
.shop_payment .other li span.online {
	background:url(/MyCart/images/bank_logo.png?v=22) 8px -650px;
}
#other h3 font {
	color:#666;
	font-size:12px;
	font-weight:normal;
}
#other #yue {
	color:#F00;
}
#other .bor {
	border-top:#CCC 1px dotted;
	padding-top:20px;
	position:relative;
	left:20px;
	padding-left:0;
}
.bank_logo li span.gh_bank {
	background:url(../images/bank_logo.png?v=12) 8px 0;
}
.bank_logo li span.zh_bank {
	background:url(../images/bank_logo.png?v=12) 8px -32px;
}
.bank_logo li span.jh_bank {
	background:url(../images/bank_logo.png?v=12) 8px -67px;
}
.bank_logo li span.nh_bank {
	background:url(../images/bank_logo.png?v=12) 8px -99px;
}
.bank_logo li span.pf_bank {
	background:url(../images/bank_logo.png?v=12) 8px -132px;
}
.bank_logo li span.sf_bank {
	background:url(../images/bank_logo.png?v=12) 8px -165px;
}
.bank_logo li span.xy_bank {
	background:url(../images/bank_logo.png?v=12) 8px -199px;
}
.bank_logo li span.bj_bank {
	background:url(../images/bank_logo.png?v=12) 8px -232px;
}
.bank_logo li span.gd_bank {
	background:url(../images/bank_logo.png?v=12) 8px -264px;
}
.bank_logo li span.ms_bank {
	background:url(../images/bank_logo.png?v=12) 8px -297px;
}
.bank_logo li span.zx_bank {
	background:url(../images/bank_logo.png?v=12) 8px -329px;
}
.bank_logo li span.gf_bank {
	background:url(../images/bank_logo.png?v=12) 8px -362px;
}
.bank_logo li span.pa_bank {
	background:url(../images/bank_logo.png?v=12) 8px -397px;
}
.bank_logo li span.zg_bank {
	background:url(../images/bank_logo.png?v=12) 8px -429px;
}
.bank_logo li span.jt_bank {
	background:url(../images/bank_logo.png?v=12) 8px -462px;
}
.shop_payment h5 {
	width:239px;
	height:44px;
	margin:40px auto 0 370px;
	*margin:40px auto 0 370px;
	_margin:40px auto 0 180px;
	float:left;
}
.shop_payment h5 input {
	width:239px;
	height:44px;
	border:none;
	cursor:pointer;
	background:url(../images/shop_process.png) 0 -530px;
}
.shop_payment .answer {
	width:980px;
	float:left;
	margin:40px 0 0 0;
	border-top:1px solid #e5e5e5;
	clear:both;
}
.shop_payment .answer h6 {
	width:970px;
	padding:10px 0 10px 10px;
	font-weight:bold;
	font-size:14px;
}
.shop_payment .answer h6 span {
	width:16px;
	height:16px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) -175px -300px;
}
.shop_payment .answer ul.answer_list {
	width:955px;
	padding:0 0 0 25px;
}
.shop_payment .answer ul.answer_list li {
	width:955px;
	padding:0 0 5px 0;
}
.shop_payment .answer ul.answer_list li.problem {
	font-weight:bold;
}
.shop_payment .answer ul.answer_list li.more {
	padding:10px 0;
}
.shop_payment .answer ul.answer_list li.more,li.more a {
	color:#0386d9;
}
.shop_payment .all_money {
	text-align:right;
	padding:10px 20px 0 0;
}
.shop_payment .all_money span {
	color:#f60;
	font-size:16px;
	padding:0 5px 0 0;
}
.shop_wait {
	width:980px;
	height:auto;
	color:#666;
}
.shop_wait ul.wait {
	width:980px;
	height:31px;
	background:#d8e8f9;
	float:left;
	margin:20px 0;
}
.shop_wait ul.wait li {
	text-align:center;
	float:left;
	line-height:31px;
	font-size:12px;
}
.shop_wait ul.wait li.first_step {
	width:165px;
}
.shop_wait ul.wait li.secend_step {
	width:165px;
}
.shop_wait ul.wait li.fourth_step {
	width:165px;
}
.shop_wait ul.wait li.fifth_step {
	width:165px;
}
.shop_wait ul.wait li.third_step {
	width:202px;
	color:#fff;
	background:#ff7c21;
	font-weight:bold;
}
.shop_wait ul.wait li.arrow_1,.shop_wait ul.wait li.arrow_2,.shop_wait ul.wait li.arrow_3 {
	width:27px;
	height:31px;
}
.shop_wait ul.wait li.arrow_1 {
	background:url(../images/shop_process.png) no-repeat -205px -35px;
}
.shop_wait ul.wait li.arrow_2 {
	background:url(../images/shop_process.png) -240px -0px;
}
.shop_wait ul.wait li.arrow_3 {
	background:url(../images/shop_process.png) -240px -35px;
}
.shop_wait .wait_list {
	width:978px;
	border:1px solid #e6e7e8;
	min-height:100px;
	clear:both;
}
.shop_wait .wait_list h3 {
	width:978px;
	height:59px;
	background:url(../images/shop_wait.png) no-repeat 19% center;
	margin:20px 0;
	float:left;
}
.shop_wait .wait_list ul {
	width:738px;
	padding:0 120px 20px 120px;
	float:left;
}
.shop_wait .wait_list ul li {
	width:738px;
	float:left;
	overflow:hidden;
	margin-top:20px;
}
.shop_wait .wait_list ul li.tit {
	height:30px;
	background:#f6f6f6;
	border-bottom:1px solid #eee;
}
.shop_wait .wait_list ul li.cont {
	border-bottom:1px solid #eee;
	padding:0 0 20px 0;
}
.shop_wait .wait_list ul li.tit span {
	height:30px;
	line-height:30px;
	display:block;
	float:left;
}
.shop_wait .wait_list ul li.cont span {
	height:60px;
	line-height:20px;
	display:block;
	float:left;
	overflow:hidden;
}
.shop_wait .wait_list ul li span.ygbh {
	width:103px;
	padding:0 0 0 15px;
}
.shop_wait .wait_list ul li.cont span.ygbh {
	line-height:40px;
	font-weight:bold;
}
.shop_wait .wait_list ul li span.name {
	width:320px;
	padding:0 15px;
	color:#555;
}
.shop_wait .wait_list ul li.cont span.name a {
	color:#0082dd;
}
.shop_wait .wait_list ul li span.num {
	width:270px;
}
.shop_wait .wait_list ul li span.num p {
	height:40px;
	overflow:hidden;
}
.shop_wait .wait_list ul li span.num a {
	color:#0082dd;
}
dl.add {
	height:29px;
	padding:25px 0 0 70px;
	line-height:29px;
}
dl.add dd {
	float:left;
	margin-right:1px;
}
dl.add dd input.amount {
	width:42px;
	height:26px;
	padding:0 3px 0 5px;
	line-height:25px\9;
	*line-height:25px;
	background:#fdf2d9;
	border:#d8d8d8 1px solid;
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
}
dl.add dd a.jia {
	display:block;
	background:url(../images/add.png) 0 0;
	width:13px;
	height:14px;
}
dl.add dd a.jias {
	display:block;
	background:url(../images/add.png) 0 0;
	width:13px;
	height:14px;
}
dl.add dd a.jian {
	display:block;
	background:url(../images/add.png) 0 13px;
	width:13px;
	height:13px;
	margin-top:1px;
}
dl.add dd a.jians {
	display:block;
	background:url(../images/add.png) 0 13px;
	width:13px;
	height:13px;
	margin-top:1px;
}
.shop_wait .wait_list p.ts {
	font-size:14px;
	width:758px;
	padding:0 0 20px 120px;
	clear:both;
}
.shop_wait .wait_list div {
	width:758px;
	height:95px;
	padding:0 0 20px 20px;
	*padding:0 0 20px 20px;
	_padding:0 0 20px 100px;
}
.shop_wait .wait_list div a {
	height:95px;
	display:block;
	float:left;
	margin-right:80px;
}
.shop_wait .wait_list div a.index {
	width:157px;
	background:url(../images/shop_process.png) 0 -775px;
}
.shop_wait .wait_list div a.look {
	width:176px;
	background:url(../images/shop_process.png) 0 -870px;
}
.shop_wait .wait_list div a.user {
	width:176px;
	background:url(../images/shop_process.png) 0 -680px;
}
.fast .fast_list li.look_buy {
	width:111px;
	height:33px;
}
.fast .fast_list li.look_buy a {
	width:111px;
	height:33px;
	line-height:28px;
	text-indent:30px;
	color:#fff;
	font-weight:bold;
	display:block;
	background:url(../images/shop_process.png) no-repeat -180px -680px;
}
.payment_ts {
	width:395px;
	height:151px;
	margin:0;
	padding:0;
}
.payment_ts h3 {
	width:385px;
	height:20px;
	padding:0 0 5px 10px;
	border-bottom:1px solid #eee;
}
.payment_ts h3 span {
	width:300px;
	font-size:14px;
	font-weight:bold;
	color:#ff7200;
	display:block;
	float:left;
}
.payment_ts h3 a {
	width:48px;
	display:block;
	float:right;
	color:#8c8c8c;
}
.payment_ts h3 a div {
	width:10px;
	height:10px;
	float:left;
	margin:1px 5px 0 0;
	background:url(../images/shop_process.png) -140px -300px;
}
.payment_ts p {
	width:385px;
	padding:0 0 0 10px;
	margin-top:10px;
	color:#8c8c8c;
}
.payment_ts p.bottom {
	text-indent:20px;
}
.payment_ts p span {
	width:15px;
	height:15px;
	display:block;
	float:left;
	background:url(../images/shop_process.png) -160px -300px;
	margin-right:5px;
}
.payment_ts ul {
	width:373px;
	height:29px;
	border:1px solid #e9e9e9;
	background:#f4f4f4;
	margin-top:15px;
	padding:10px 0 10px 20px;
	float:left;
}
.payment_ts ul li {
	line-height:29px;
	float:left;
}
.payment_ts ul li.title {
	padding-left:10px;
}
.payment_ts ul li a {
	width:110px;
	height:29px;
	line-height:29px;
	text-align:center;
	color:#0087dc;
	font-weight:bold;
	display:block;
	background:url(../images/shop_process.png) -120px -320px;
}
.shop_win {
	width:980px;
	overflow:hidden;
	padding:0 0 20px 0;
}
.shop_win ul.ok {
	width:980px;
	height:31px;
	background:#d8e8f9;
	float:left;
	margin:20px 0;
}
.shop_win ul.ok li {
	text-align:center;
	float:left;
	line-height:31px;
	font-size:14px;
	font-weight:bold;
}
.shop_win ul.ok li.first_step {
	width:307px;
}
.shop_win ul.ok li.secend_step {
	width:302px;
}
.shop_win ul.ok li.third_step {
	width:317px;
	color:#fff;
	background:#ff7c21;
}
.shop_win ul.ok li.arrow_1,.shop_win ul.ok li.arrow_2 {
	width:27px;
	height:31px;
}
.shop_win ul.ok li.arrow_1 {
	background:url(../images/shop_process.png) no-repeat -240px -0px;
}
.shop_win ul.ok li.arrow_2 {
	background:url(../images/shop_process.png) -205px -35px;
}
.shop_win h3 {
	width:875px;
	height:62px;
	float:left;
	padding-left:105px;
}
.shop_win h3 span {
	width:292px;
	height:62px;
	display:block;
	background:url(../images/shop_process.png) 0 -400px;
}
.shop_win .serial_number {
	width:605px;
	overflow:hidden;
	margin:10px auto;
	padding:20px 20px;
	border:1px solid #e7e7e7;
	clear:both;
}
.shop_win .serial_number p.title {
	font-size:14px;
	font-weight:bold;
	padding:5px 0 10px 0;
}
.shop_win .serial_number p {
	padding:10px 0 10px 10px;
	border-bottom:1px solid #e7e7e7;
}
.shop_win .serial_number p span {
	color:#666;
}
.shop_win .serial_number ul {
	width:595px;
	height:auto;
	overflow:hidden;
	padding:20px 0 0 10px;
	float:left;
	clear:both;
}
.shop_win .serial_number ul li {
	width:595px;
	float:left;
	color:#666;
	padding:0 0 10px 0;
}
.shop_win .serial_number ul li.more {
	text-indent:55px;
}
.shop_win .serial_number ul li a {
	color:#0082dd;
}
.shop_win .end {
	width:647px;
	margin:30px auto 0 auto;
}
.shop_win .end li {
	padding-bottom:15px;
	color:#666;
}
.shop_win .end li.title {
	font-size:14px;
}
.shop_win .end li a {
	padding-right:15px;
	color:#0082dd;
}
.shop_win .end li span {
	color:#f00;
}
.error,.numhun {
	clear:both;
	border:1px solid orange;
	width:135px;
	line-height:20px;
	text-align:left;
	background:url(../images/error.jpg) no-repeat 3% center;
	padding-left:25px;
	display:none;
	position:absolute;
	top:65px;
	left:0;
	z-index:99;
}
.numhun {
	display:block;
	top:12px;
	border:none;
	color:#f60;
}

/*2015/12/05*/
.w-button-xl {
    font-size: 18px;
    border-radius: 4px;
}

.w-button {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border-width: 1px;
    padding: 0 35px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    font-weight: bold;
    outline: none;
}
.w-button-main {
    background: #fff;
    color: #f80;
    boder:1px solid #f80;
}
.xcartlist_j{width:1200px;height:34px;padding:15px 0;}
.xcartlist_j_left{float:left; padding: 0 25px;height: 45px;line-height: 45px; font-size:12px; color:#3C3C3; background:#E2E2E2; color:#3C3C3C; border-color:#C6C6C6}
.xcartlist_j_left:hover{ background:#E8E8E8 repeat !important;}
.xcartlist_j_right{float:right; font-size:18px}
.xcartlist_j_right:hover{background:#f80;color: #fff;}