@charset "utf-8";
	.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
.head_nav,.footer_content {
	margin:0 auto;
}
.sid-line {
	height:0;
	overflow:hidden;
	border-bottom:1px solid #E7E7E7;
}
.button01 s,.button02 i,.get-button,.more s,.tsed,.ts,.Close a,.info-address s,.info-class s,.subnav,.subnav s,.address-icon s,.class-icon s,.smile_message i,.smile i,.much i,.icon,.icon1 {
	background:url(../images/star-icon.png);
}
.button01,.button02,.button03,.button_pal {
	height:23px;
	border-radius:3px;
	font-size:12px;
	line-height:23px;
	line-height:26px\9;
	_line-height:23px;
	display:inline-block;
	color:#fff;
}
.button01 s,.button02 i {
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:-1px;
	cursor:pointer;
}
.button01 {
	width:62px;
	padding-left:12px;
	background:#49B8FF;
	border:1px solid #1BA3FA;
	position:relative;
	float:left;
	text-indent:15px;
}
.button01:hover {
	background:#1BA3FA;
	border:1px solid #1BA3FA;
	color:#fff;
}
.button01 s {
	background-position:0 -53px;
	width:10px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.button_pal {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
	float:left;
	cursor:default;
}
.button_pal:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
}
.button02 {
	width:62px;
	padding-left:12px;
	border:1px solid #DDD;
	background:#fff;
	color:#2af;
	position:relative;
	text-indent:15px;
}
.button02:hover {
	border:1px solid #BBB;
	color:#2af;
}
.button02 i {
	background-position:-11px -53px;
	width:13px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.button03 {
	width:75px;
	height:23px;
	background:#f80;
	border:1px solid #f80;
	color:#fff;
	text-align:center;
}
.button03:hover {
	width:75px;
	background:#f80;
	color:#fff;
	text-decoration:none
}
.get-button {
	width:75px;
	height:26px;
	overflow:hidden;
	line-height:24px;
	line-height:28px\9;
	_line-height:24px;
	font-size:12px;
	display:inline-block;
	background-position:0 0;
	color:#2af;
	text-align:center;
	position:absolute;
}
.get-button:hover {
	width:75px;
	height:26px;
	background-position:0 -27px;
	color:#2af;
}
.reply_unbotton {
	width:64px;
	height:24px;
	overflow:hidden;
	line-height:23px;
	line-height:26px\9;
	_line-height:24px;
	font-size:12px;
	display:inline-block;
	background:#58BEFF;
	border:1px solid #1BA3FA;
	border-radius:3px;
	color:#fff;
	text-align:center;
	float:left;
}
.reply_unbotton:hover {
	width:64px;
	height:24px;
	display:inline-block;
	background:#1BA3FA;
	border-radius:3px;
	color:#fff;
}
.disBtn {
	width:64px;
	height:24px;
	background:#EDEDED;
	border:1px solid #CFCFCF;
	color:#A5A5A5;
	cursor:default;
}
.disBtn:hover {
	width:64px;
	height:24px;
	background:#EDEDED;
	border:1px solid #CFCFCF;
	color:#A5A5A5;
	cursor:default;
}
.address-icon {
	display:inline-block;
	position:relative;
	padding-left:12px;
	color:#666;
}
.address-icon s {
	position:absolute;
	background-position:0 -64px;
	width:8px;
	height:14px;
	display:inline-block;
	top:3px;
	top:1px\9;
	_top:3px;
	left:0;
}
.class-icon01,.class-icon02,.class-icon03,.class-icon04,.class-icon05,.class-icon06,.class-icon07 {
	display:inline-block;
	position:relative;
	padding-left:17px;
	padding-right:5px;
	line-height:20px!important;
	color:#666;
}
.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s {
	position:absolute;
	width:13px;
	height:13px;
	display:inline-block;
	top:4px;
	top:2px\9;
	_top:4px;
	left:0;
}
.class-icon01 s {
	background-position:-1px 0;
}
.class-icon02 s {
	background-position:-18px 0;
}
.class-icon03 s {
	background-position:-35px 0;
}
.class-icon04 s {
	background-position:-52px 0;
}
.class-icon05 s {
	background-position:-69px 0;
}
.class-icon06 s {
	background-position:-86px 0;
}
.class-icon07 s {
	background-position:-106px -1px;
}
body {
	background:url(../images/subtle_stripes.png);
}
.top-stripes {
	background:url(../images/top-stripes.png);
	height:9px;
	margin-bottom:6px;
	overflow:hidden;
	display:none;
}
.layout980 {
	width:1200px;
	margin:0 auto 20px;
	border-bottom:1px solid #E5E5E5;
	box-shadow:0 0 5px 0 rgba(34,25,25,.3);
	background:#fff;
}
.sidebar {
	width:160px;
	_overflow:hidden;
	padding:10px;
	float:left;
}
.head {
	height:160px;
	overflow:hidden;
}
.head-but {
	height:26px;
	margin:10px 0;
	overflow:hidden;
}
.sid-tit {
	font-size:12px;
	font-family:宋体;
}
.sid-tit span {
	font-weight:normal;
}
.ta-friend {
	margin-top:10px;
}
.ta-friend ul {
	width:180px;
}
.ta-friend li {
	float:left;
	width:50px;
	overflow:hidden;
	margin-right:5px;
	height:73px;
	text-align:center;
	display:inline;
}
.ta-friend li img {
	height:50px;
	overflow:hidden;
	vertical-align:middle;
	display:block;
}
.ta-friend li i {
	height:25px;
	white-space:nowrap;
}
.ta-friend .more {
	width:153px;
	text-align:right;
	padding-right:7px;
	position:relative;
	margin-bottom:18px;
}
.ta-friend .more s {
	background-position:-25px -53px;
	width:6px;
	height:5px;
	font-size:0;
	display:inline-block;
	position:absolute;
	top:8px;
	right:0;
}
.sid-guest {
	margin-top:10px;
	margin-bottom:10px;
}
.sid-guest .guest-pic {
	width:50px;
	height:50px;
	overflow:hidden;
	float:left;
}
.sid-guest .guest-con {
	margin-left:58px;
	_margin-left:55px;
	width:102px;
	height:56px;
	overflow:hidden;
}
.sid-guest .sid-mane {
	height:22px;
	line-height:14px;
	overflow:hidden;
	white-space:nowrap;
	margin-top:-2px;
	margin-top:0\9;
	_margin-top:-1px;
}
.sid-guest .sid-address {
	height:18px;
	line-height:14px;
	overflow:hidden;
	white-space:nowrap;
}
.sid-guest .sid-time {
	height:18px;
	line-height:14px;
	overflow:hidden;
	white-space:nowrap;
}
.Pop-news {
	width:404px;
	height:194px;
	position:absolute;
	z-index:51;
	padding:10px;
	margin-top:-10px;
	margin-left:80px;
	display:none;
}
.Pop-Con {
	width:404px;
	height:170px;
	padding-bottom:10px;
	border:1px solid #CCC;
	background:#FFF;
	position:relative;
}
.Comment_form {
	width:400px;
	margin:20px auto 0 auto;
	text-align:center;
}
.Comment_form textarea {
	width:388px;
	height:160px;
	border:0;
}
.Comment_login {
	line-height:80px;
	height:80px;
}
.Comment_login a {
	padding:0 3px;
}
.Comment_login a:hover {
	color:#333;
	text-decoration:underline;
}
.Comment_textbox {
	background:#F1F1F1;
}
.Comment_textbox i {
	width:13px;
	height:11px;
	background-position:-53px 0;
	right:0;
	bottom:2px;
	position:absolute;
}
.Comment_Start {
	background:#F8F8F8;
}
.Comment_Start_tbg {
	height:7px;
	font-size:0;
	line-height:0;
	background-position:0 -70px;
	background-repeat:repeat-x;
}
.Comment_Start_tit {
	width:722px;
	margin:0 auto;
	border-bottom:1px solid #fff;
}
.Comment_Start_tit h4 {
	width:722px;
	height:40px;
	line-height:40px;
	color:#666;
	font-size:14px;
	font-weight:bold;
	text-indent:0.5em;
	margin:0 auto;
	border-bottom:1px solid #EBEBEB;
}
.Comment_All_Reply_tit h4 {
	width:722px;
	height:40px;
	line-height:40px;
	color:#333;
	font-size:14px;
	font-weight:bold;
	text-indent:0.5em;
	margin:15px auto 0 auto;
}
.Pop-Con .arrow {
	position:absolute;
	top:-10px;
	top:-11px\0;
	top:-10px\9;
	left:20px;
}
.arrow em,.arrow span {
	color:#CCC;
	height:17px;
	width:17px;
	font-family:Simsun;
	font-size:16px;
	line-height:21px;
	overflow:hidden;
}
.arrow_left em {
	margin-left:8px;
	margin-top:8px;
	padding-top:4px;
}
.arrow_left span {
	margin-left:-16px;
	top:1px;
	color:#fff;
	position:absolute;
}
.Close a {
	width:12px;
	height:12px;
	font-size:0;
	line-height:0;
	display:inline-block;
}
.Close a {
	position:absolute;
	right:3px;
	top:3px;
	background-position:-52px -155px;
}
.Close a:hover {
	background-position:-66px -155px;
}
.layout980 .content {
	width:999px;
	overflow:hidden;
	float:left;
}
.per-info {
	height:100px;
	padding-left:30px;
	padding-top:5px;
}
.per-info .info-mane {
	height:30px;
	padding-top:5px;
	_padding-top:3px;
	font-size:14px;
	font-family:"Arial";
	font-weight:normal;
}
.per-info li {
	width:750px;
	float:left;
}
.per-info .info-mane b {
	font-size:16px;
	vertical-align:middle;
}
.per-info .info-address {
	height:28px;
}
.per-info .info-address em {
	position:relative;
	height:18px;
	overflow:hidden;
	line-height:22px\9;
	_line-height:18px;
	padding-left:12px;
	float:left;
	margin-right:5px;
}
.per-info .info-address em s {
	position:absolute;
	background-position:0 -64px;
	width:8px;
	height:14px;
	display:inline-block;
	top:5px;
	left:0;
}
.per-info .info-address span {
	position:relative;
	height:18px;
	/* padding-left:12px; */
	float:left;
	font-size:14px;
	display:inline;
}
/* .per-info .info-address span s {
	position:absolute;
	background-position:-14px -64px;
	width:8px;
	height:9px;
	display:inline-block;
	top:5px;
	left:0;
} */
.per-info .info-class {
	height:28px;
}
.per-info .info-class span {
	display:inline-block;
}
.per-info .info-class i.gray01 {
	margin-right:8px;
}
.per-info li.info-intro {
	padding-right:25px;
	height:20px;
	overflow:hidden;
}
.subnav {
	background-position:0 -79px;
	background-repeat:repeat-x;
	height:40px;
}
.subnav li {
	float:left;
	line-height:32px;
}
.subnav li a,.subnav li a:visited {
	color:#666;
}
.subnav li a:hover,.subnav li a:active {
	height:32px;
	display:inline-block;
	position:relative;
	color:#f80;
	float:left;
	text-align:center;
	font-weight:bold;
	text-decoration:none
}
.subnav li.poa-4 a {
	width:123px;
	font-size:14px;
	font-family:宋体;
	display:inline-block;
	text-align:center;
}
.subnav li.poa-4 a:hover {
	width:123px;
}
.subnav li.poa-2 a {
	width:75px;
	font-size:14px;
	font-family:宋体;
	display:inline-block;
	text-align:center;
}
.subnav li.poa-2 a:hover {
	width:75px;
}
.subnav li.poa-4 .cur {
	width:123px;
	background:#f80;
	height:32px;
	border:1px solid #f80;
	display:inline-block;
	position:relative;
	color:#fff;
	float:left;
	text-align:center;
	font-weight:bold;
}
.subnav li.poa-4 .cur s {
	background-position:-25px -59px;
	width:9px;
	height:6px;
	display:inline-block;
	position:absolute;
	bottom:-6px;
	_bottom:-14px;
	left:59px;
}
.subnav li.poa-2 .cur {
	width:75px;
	background:#F80;
	height:32px;
	border:1px solid #F60;
	display:inline-block;
	position:relative;
	color:#fff;
	float:left;
	text-align:center;
	font-weight:bold;
}
.subnav li.poa-2 .cur s {
	width:75px;
	background-position:-25px -59px;
	width:9px;
	height:6px;
	display:inline-block;
	position:absolute;
	bottom:-6px;
	_bottom:-14px;
	left:33px;
}
.New-content {
	width:740px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 30px;
}
.scroll-list {
	padding:20px 0 25px 0;
	border-bottom:1px solid #E9E9E9;
}
.R-tit {
	color:#666;
	font-size:14px;
	margin-bottom:8px;
}
.R-tit .tit-name {
	margin-right:6px;
	font-weight:bold;
}
.R-tit .tit,.R-tit .tit-con {
	margin-left:6px;
}
.buy-com {
	width:378px;
	height:125px;
	border:1px solid #E6E6E6;
	background:#fafafa;
	margin:0;
}
.buy-pic {
	float:left;
	width:118px;
	height:125px;
}
.buy-pic img {
	width:70px;
	height:70px;
	margin:11px 0 0 6px;
	padding:15px;
}
.buy-rcon {
	margin-left:118px;
}
.buy-rcon .Progress-bar {
	width:208px;
	margin:0;
}
.buy-name {
	height:18px;
	padding-top:8px;
	white-space:nowrap;
	width:250px;
	overflow:hidden;
}
.buy-money {
	height:20px;
}
.money {
	position:relative;
	padding-left:8px;
	line-height:14px;
}
.money i {
	margin-right:3px;
}
.buy-code {
	height:22px;
	line-height:18px;
}
.buy-code .orange {
	font-size:14px;
	font-weight:bold;
}
.buy-time {
	height:22px;
	height:21px\9;
}
.post-pic {
	height:100px;
	overflow:hidden;
	padding-top:10px;
}
.post-pic li {
	float:left;
	margin-right:10px;
	display:inline;
}
.post-pic li img {
	height:100px;
	width:100px;
}
.Progress-bar {
	height:44px;
}
.Progress-bar p {
	height:4px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
}
.Progress-bar p span {
	border:1px solid #F55700;
	background:#F60;
	position:absolute;
	top:-1px;
	left:-1px;
	height:4px;
	font-size:0;
	border-radius:3px;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:12px;
	font-family:宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:12px;
	font-family:arial;
	height:14px;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#F00;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#14A8E4;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:35%;
	float:right;
	text-align:right;
}
.Circle-con li {
	width:339px;
	height:98px;
	border:1px solid #E5E5E5;
	background:#FAFAFA;
	float:left;
	margin-right:19px;
	display:inline;
	margin-bottom:10px;
}
.Circle-pic {
	float:left;
	width:81px;
	height:81px;
	overflow:hidden;
	padding:8px;
}
.Circle-pic img {
	width:81px;
	height:81px;
}
.Circle-R {
	margin-left:97px;
	margin-top:-2px;
	margin-top:0\9;
}
.Circle-R .buy-name {
	font-size:14px;
	height:25px;
	width:220px;
	white-space:nowrap;
}
.Circle-R .buy-intro {
	padding-top:3px;
	padding-right:5px;
	height:37px;
	overflow:hidden;
	word-wrap:break-word;
}
.groups-con:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.groups-con {
	width:900px;
	zoom:1;
	padding-top:4px;
}
.groups-con li {
	width:330px;
	float:left;
	height:80px;
	margin:20px 15px 15px 0;
	padding:10px;
	display:inline;
}
.groups-con li.groups-cur {
	background:#FBFBFB;
}
.groups-img {
	float:left;
	width:81px;
	height:81px;
	overflow:hidden;
}
.groups-img img {
	width:81px;
	height:81px;
}
.groups-info {
	margin-left:97px;
	margin-top:-2px;
	margin-top:0\9;
}
.groups-info .groups-name {
	font-size:14px;
	height:25px;
	font-weight:bold;
}
.groups-info .groups-intro {
	height:40px;
	overflow:hidden;
}
.friend-con:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.friend-con {
	width:900px;
	zoom:1;
	padding-top:4px;
}
.friend-con li {
	width:330px;
	float:left;
	height:80px;
	margin:20px 15px 15px 0;
	padding:10px;
	display:inline;
}
.friend-con li.friend-cur {
	background:#FBFBFB;
}
.friend-img {
	float:left;
	width:80px;
	height:80px;
}
.friend-img img {
	width:80px;
	height:80px;
}
.friend-info {
	margin-left:91px;
}
.friend-info .friend-intro {
	height:40px;
	overflow:hidden;
}
.friend-name {
	font-size:14px;
	height:25px;
}
.friend-class {
	height:22px;
}
.friend-class .class-icon {
	float:left;
}
.topic-tab {
	height:30px;
	margin-top:24px;
	line-height:30px;
	overflow:hidden;
	background:#F2F2F2;
}
.topic-tab li {
	float:left;
	padding:0 0 0 25px;
	text-align:center;
}
.topic-tab li i {
	width:1px;
	height:12px;
	font-size:0;
	display:inline-block;
	background:#D0D0D0;
	margin-top:10px;
}
.topic-tab li a {
	line-height:30px;
	display:inline-block;
}
.topic-tab li.cursor a {
	font-weight:bold;
	color:#f60;
}
.topic-tips {
	padding-left:20px;
	margin-top:14px;
	margin-bottom:-12px;
	z-index:99;
}
.topic-list li {
	padding-top:27px;
	padding-bottom:8px;
	border-bottom:1px solid #E8E8E8;
	margin-left:20px;
}
.topic-tit {
	font-size:14px;
}
.topic-tit .gray03 {
	font-size:12px;
}
.topic-C {
	padding-bottom:11px;
}
.topic-C .about-reply img {
	position:relative;
	top:4px;
}
.topic-reply {
	text-align:right;
	height:14px;
	line-height:14px;
}
.get-tips {
	margin-top:20px;
	margin-bottom:-12px;
	z-index:99;
}
.get-com {
	width:800px;
	padding-top:0;
	padding-left:6px;
}
.get-com li {
	width:204px;
	height:289px;
	overflow:hidden;
	padding:9px 7px;
	border:1px solid #E4E4E4;
	box-shadow:0 0 4px 0 rgba(20,15,17,.1);
	float:left;
	margin-right:33px;
	display:inline;
	margin-top:30px;
	position:relative;
}
.get-com li .get-button {
	right:5px;
	top:5px;
	display:none;
	z-index:99;
}
.get-com li.get-cur {
	border:1px solid #E4E4E4;
	_border:1px solid #D1D1D1;
	box-shadow:0 0 3px 0 rgba(20,15,17,.3);
}
.get-pic img {
	width:200px;
	height:200px;
}
.get-name {
	width:200px;
	height:22px;
	overflow:hidden;
	white-space:nowrap;
	margin-top:5px;
}
.buy-award {
	margin-top:-2px;
	height:22px;
}
.buy-award img {
	vertical-align:middle;
	margin-right:5px;
}
.get-open {
	padding-top:5px;
}
.get-open .are-open {
	background:#E00;
	width:87px;
	padding-left:10px;
	height:26px;
	line-height:26px;
	display:inline-block;
	color:#fff;
	float:left;
}
.get-open .open-wei {
	background:#F60;
	width:57px;
	padding-left:10px;
	height:26px;
	line-height:26px;
	display:inline-block;
	color:#fff;
	float:left;
}
.get-com li .get-pic {
	height:200px;
	position:relative;
	z-index:9;
}
.get-com li .get-pic b {
	width:200px;
	height:35px;
	line-height:35px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	display:inline-block;
	font-size:14px;
	color:#999;
	background-color:#eee;
	font-weight:normal;
}
.tsed,.ts,.Close a,.smile_message i,.smile i,.smile-have i,.much i,.icon,.icon1 {
	background:url(../images/share_icon.png);
}
.goods_share_list {
	width:900px;
}
.goods_share_list li {
	width:235px;
	overflow:hidden;
	padding:10px 0 0 0;
	margin-right:17px;
	display:inline;
	float:left;
}
.goods_share_list li.share-liR {
	float:right;
	margin-right:0;
}
.goods_share_list .share_list_content {
	width:233px;
	border:1px solid #E4E4E4;
	position:relative;
	background:#fff;
	margin:0 auto 10px;
}
.text-h10 {
	height:0;
	overflow:hidden;
}
.goods_share_list .hover {
	border:1px solid #F60;
}
.share_list_content dt {
	width:223px;
	padding:6px;
	position:relative;
	display:block;
}
.share_list_content dt a {
	display:block;
}
.share_list_content dd {
	padding-left:6px;
	padding-right:6px;
	position:relative;
}
.share_list_content dt img {
	width:220px;
}
.smile_message {
	position:absolute;
	height:22px;
	background:#098;
	overflow:hidden;
	bottom:10px;
	right:10px;
}
.smile_click {
	position:relative;
	background:#FF6000;
	width:30px;
	line-height:22px;
	height:22px;
	padding-left:28px;
	display:inline-block;
	color:#fff;
	float:left;
}
a.smile_click {
	color:#fff;
}
a.smile_click:hover {
	color:#fff;
}
.much_click {
	position:relative;
	background:#EEE;
	width:33px;
	line-height:22px;
	height:22px;
	padding-left:25px;
	display:inline-block;
	color:#333;
	float:left;
}
.smile_click i {
	width:14px;
	height:14px;
	display:inline-block;
	background-position:-20px -155px;
	position:absolute;
	left:7px;
	top:5px;
}
.much_click i {
	width:13px;
	height:12px;
	display:inline-block;
	background-position:-36px -155px;
	position:absolute;
	left:7px;
	top:6px;
}
.share_list_content h3 {
	width:37px;
	height:36px;
	position:absolute;
	top:-1px;
	left:4px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/share.png) -100px -300px;
}
.share-name {
	width:223px;
}
.share-name .name-img {
	width:35px;
	overflow:hidden;
	float:left;
}
.share-name .name-img img {
	width:35px;
	height:35px;
	margin-top:2px;
}
.share-name .share-name-r {
	margin-left:35px;
	color:#666;
	text-align:left;
	padding-left:5px;
}
.share-name .share-name-r span {
	width:180px;
	overflow:hidden;
	display:inline-block;
}
.share-name .share-name-r span.gray03 a {
	margin-right:5px;
}
.share-name .share-name-r a {
	display:inline-block;
}
.share_info {
	width:179px;
	word-wrap:break-word;
	line-height:20px;
	margin-right:0;
	margin-left:40px;
}
.message {
	text-align:left;
	height:24px;
	padding-bottom:6px;
	margin-top:8px;
}
.tsed,.ts {
	width:51px;
	height:23px;
	border-radius:3px;
	line-height:23px;
	_line-height:23px;
	position:absolute;
	top:-30px;
	left:0;
	display:block;
	padding-left:6px;
	z-index:99999;
}
.tsed {
	background-position:0 -176px;
	color:#666;
}
.ts {
	border:1px solid #A1D26C;
	background-color:#F4FFEA;
	background-position:4px 4px;
	padding-left:24px;
	background-repeat:no-repeat;
	color:#83BE42;
}
.message .smile {
	padding:4px 6px 2px 22px;
	_padding:5px 6px 2px 22px;
	float:left;
	position:relative;
	margin-right:5px;
	margin-left:40px;
	border-radius:3px;
	font-family:宋体;
	font-size:12px;
}
.message .gray03 {
	color:#BABABA;
}
.message .smile b {
	font-weight:normal;
}
.message .much {
	float:left;
	font-family:宋体;
	font-size:12px;
}
.message .much a {
	display:inline-block;
	position:relative;
	padding:4px 5px 2px 19px;
	_padding:5px 5px 2px 19px;
}
.message .much a:hover {
	color:#f60;
}
.message .much a:hover i {
	background-position:0 -85px;
	left:0;
}
.message .smile i {
	width:13px;
	height:11px;
	display:inline-block;
	background-position:0 -72px;
	position:absolute;
	left:4px;
	top:7px;
}
.message .much i {
	width:15px;
	height:14px;
	display:inline-block;
	background-position:0 -58px;
	position:absolute;
	left:0;
	top:7px;
}
.goods_share_list .hover span.smile {
	background:#f60;
	display:inline-block;
	color:#fff;
	cursor:pointer;
}
.goods_share_list .hover span.smile i {
	background-position:0 -30px;
}
.goods_share_list .hover span.smile-have {
	background:#CACACA;
	padding:4px 6px 2px 22px;
	display:inline-block;
	position:relative;
	margin-right:5px;
	border-radius:3px;
	color:#fff;
	cursor:default;
}
.goods_share_list .hover span.smile-have i {
	background-position:0 -44px;
	width:13px;
	height:11px;
	display:inline-block;
	position:absolute;
	left:4px;
	top:7px;
}
.text_message:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.text_message {
	width:223px;
	padding:5px 5px 5px 5px;
	line-height:19px;
	border-top:1px dotted #E5E5E5;
	zoom:1;
}
.text_message .name-img {
	float:left;
}
.text_message .name-img img {
	width:20px;
	height:20px;
	margin-top:0;
	margin-right:5px;
}
.text_message p {
	padding-top:0;
	word-wrap:break-word;
	color:#666;
	margin-left:25px;
}
.text_message p a {
	white-space:nowrap;
}
.text_message span img {
	vertical-align:middle;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	background:url(../images/star-icon.png);
}
.Member_Pop_friend,.Member_Pop_letter,.Member_Pop_Has {
	height:23px;
	border-radius:3px;
	font-size:12px;
	line-height:23px;
	line-height:26px\9;
	_line-height:23px;
	display:inline-block;
	color:#fff;
	text-align:left;
	margin-right:8px;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:-1px;
	cursor:pointer;
}
.Member_Pop_friend {
	width:62px;
	padding-left:12px;
	background:#49B8FF;
	border:1px solid #1BA3FA;
	position:relative;
	text-indent:15px;
}
.Member_Pop_friend:hover {
	background:#1BA3FA;
	border:1px solid #1BA3FA;
	color:#fff;
}
.Member_Pop_friend s {
	background-position:0 -53px;
	width:10px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.Member_Pop_pal {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
	float:left;
}
.Member_Pop_pal:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
}
.Member_Pop_letter {
	width:62px;
	padding-left:12px;
	border:1px solid #DDD;
	background:#fff;
	color:#2af;
	position:relative;
	text-indent:15px;
}
.Member_Pop_letter:hover {
	border:1px solid #BBB;
	color:#2af;
}
.Member_Pop_letter i,.ta-friend li .Member_Pop_letter i {
	background-position:-11px -53px;
	width:13px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.Member_Pop_Has {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
}
.Member_Pop_Has:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
	cursor:default;
}
.Member_Pop {
	width:278px;
	height:140px;
	border:1px solid #CCC9C6;
	background:#fff;
	position:absolute;
	box-shadow:2px 2px 3px 0 rgba(34,25,25,.2);
}
.Member_Pop_cur {
	background:#FBFBFB;
}
.Member_Pop_img {
	float:left;
	width:80px;
	height:80px;
	margin:10px;
	display:inline;
}
.Member_Pop_img img,.ta-friend li .Member_Pop_img img {
	width:80px;
	height:80px;
}
.Member_Pop_info,.ta-friend li .Member_Pop_info {
	margin-left:91px;
	margin-top:7px;
	text-align:left;
}
.Member_Pop_info .Member_Pop_intro {
	height:40px;
	overflow:hidden;
	padding-right:8px;
}
.Member_Pop_name {
	font-size:14px;
	height:25px;
}
.Member_Pop_class {
	height:22px;
}
.Member_Pop_class .class-icon {
	float:left;
}
.Member_Pop_class span {
	float:left;
}
.Member_Pop_class span.address-icon {
	width:95px;
	height:20px;
	overflow:hidden;
}
.Member_Pop_but {
	width:100%;
	height:30px;
	background:#F4F4F4;
	position:absolute;
	bottom:0;
	margin-left:0;
	left:0;
	text-align:right;
	padding-top:5px;
}
