@CHARSET "UTF-8";
/* 推广 */
/*网页载入动画*/
.top_xuanfu{width: 100%;height: 100%;background:rgba(0,0,0,0.8);position: fixed;z-index: 9999;}
.xuanfu{position: fixed;z-index: 99999;left:35%;top:50%;}
/*
.xuanfu img{width: 100%;height: 100%;}
*/
/*大背景图*/
.big_bg{
	width: 1920px;height:2531px;background: url("../../images/default/background_02_02.png");position: absolute;z-index: 1;margin-top: 103px;
}
/*选项卡*/
div{margin:0;padding:0;}
.tab{margin:0;padding:0;list-style:none;width:200px;overflow:hidden;}
.tab li{float:left;cursor:pointer; }
.on{display:block;}
.tabs_box{ width: 945px;height: 413px;background-color: #AE0E26; position: absolute; z-index: 999;margin-top: 1633px;margin-left: 490px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.tabs_box ul{  width: 97px;float: left;margin-left: 17px;  }
.tabs_box ul li{  width: 97px;  height: 95px;float: left;  }
.tabs_box .tabs_content{  width: 945px;display:none;  }
.on_clicked{  display:none;  width: 97px;height: 95px;float: left;  }
.list_bg1{  background: url("../../images/default/baozupo.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 40px;  margin-bottom: 17px;  }
.list_bg2{  background: url("../../images/default/xiaomei.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 7px;  margin-bottom: 17px;  }
.list_bg3{  background: url("../../images/default/xiaowang.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 7px;  margin-bottom: 17px;  }
.tabs_content1{  background: url("../../images/default/baozupo_background_04.png") no-repeat;   background-size: 945px 413px;  width: 945px;height: 413px;  }
.tabs_content2{  background: url("../../images/default/xiaomei_background_04.png") no-repeat;   background-size: 945px 413px;  width: 945px;height: 413px;  }
.tabs_content3{  background: url("../../images/default/xiaowang_background_04.png") no-repeat;  background-size: 945px 413px;  width: 945px;height: 413px;  }
/*按钮*/
.button_222{
	width: 472px;height: 100px;position: absolute;z-index: 999;margin-left: 888px;margin-top: 703px;
}

.button_222:hover{
	opacity: 0.8;cursor: pointer;
}
.button_222 img{
	width: 100%;height: 100%;
}
/*领红包*/
.button_linghongbao{
	width: 324px;height: 100px;position: absolute;z-index: 999;margin-left: 804px;margin-top: 1490px;
}
.button_linghongbao:hover{
	opacity: 0.8;cursor: pointer;
}
.button_linghongbao img{
	width: 100%;height: 100%;
}
/*开抢*/
.button_kaiqiang{
	width: 316px;height: 100px;position: absolute;z-index: 999;margin-left: 804px;margin-top: 2385px;
}
.button_kaiqiang:hover{
	opacity: 0.8;cursor: pointer;
}
.button_kaiqiang img{
	width: 100%;height: 100%;
}

