@charset "utf-8";
	body {
	background:#f7f7f7;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
.fl-img {
	display:block;
	float:left;
}
.hidenn {
	display:none;
}
.share_box {
	width:1200px;
	text-align:left;
	border:1px solid #e1e1e1;
}
.share_box:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.share_box_left {
	width:940px;
	background:#fff;
	float:left;
	border-right:1px solid #e1e1e1;
}
.share_main:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
}
.share_title {
	width:880px;
	margin:0 auto;
	text-align:center;
	font-size:24px;
	font-family:微软雅黑;
}
.share_title_icon {
	background:url(../images/Expression_icon.png?v=130607) 0 -109px no-repeat;
	width:37px;
	height:36px;
	position:absolute;
	left:0;
	top:-1px;
}
.share_title_icon span {
	display:none;
}
.share_title h3 {
	text-align:center;
	padding:20px 0 10px;
	font-size:24px;
	font-family:微软雅黑;
	color:#666;
}
.share_time {
	color:#C2C2C2;
	text-align:center;
	font-family:宋体;
	margin-bottom:15px;
}
.share-get i,.share-get s,.Comment_victory h3,.page-upgray,.page-updow,.Comment_Collapse b {
	background:url(http://skin.1yyg.com/Post/images/share_single.png?v=130607) no-repeat;
}
.share_goods {
	width:900px;
	height:106px;
	margin:0 auto;
	border:1px solid #E4E4E4;
}
.share_goods .fl-img {
	margin:12px 0 0 14px;
	display:inline;
}
.share_goods .fl-img img {
	width:80px;
	height:80px;
}
.share-get {
	float:left;
	width:449px;
	height:106px;
	position:relative;
	background:#FAFAFA;
}
.share-get i {
	width:67px;
	height:49px;
	display:inline-block;
	background-position:0 0;
	position:absolute;
	right:7px;
	top:0;
}
.share-get s {
	width:54px;
	height:40px;
	display:inline-block;
	background-position:0 -97px;
	position:absolute;
	right:7px;
	top:0;
}
.share-getinfo {
	margin-left:106px;
	color:#999;
	padding-top:10px;
}
.share-getinfo .orange {
	font-family:Arial;
	margin-right:3px;
}
.share-getinfo p {
	height:22px;
	overflow:hidden;
}
.share-getinfo p.getinfo-title {
	height:40px;
	line-height:20px;
	overflow:hidden;
}
.share-getinfo .getinfo-name {
	/*width:143px;*/
	overflow:hidden;
	white-space:nowrap;
}
.share-Conduct {
	float:left;
	width:449px;
	height:106px;
	border-left:1px solid #E4E4E4;
	position:relative;
}
.share-Conduct .arrow {
	position:absolute;
	left:0;
}
.share-Conduct .arrow em,.share-Conduct .arrow span {
	color:#E4E4E4;
	height:10px;
	width:5px;
	font-family:Simsun;
	font-size:14px;
	line-height:14px;
	overflow:hidden;
	position:absolute;
}
.share-Conduct .arrow_Rleft em {
	margin-left:-5px;
	margin-top:48px;
}
.share-Conduct .arrow_Rleft span {
	margin-left:-4px;
	margin-top:48px;
	color:#fff;
}
.share-Conduct .fl-img {
	border:1px solid #E4E4E4;
}
.share-Conduct .getbut-a {
	border:1px solid #E4E4E4;
	line-height:15px;
	color:#f80;
	font-weight:normal;
	border-radius:3px;
	padding:2px 10px;
	display:inline-block;
}
.share-Conduct .getbut-a:hover {
	color:#fff;
	border:1px solid #f80;
	background:#f80;
	line-height:15px;
	color:#fff;
	font-weight:normal;
	border-radius:3px;
	padding:2px 10px;
	display:inline-block;
	text-decoration:none
}
.share_content {
	width:900px;
	margin:0 auto;
	font-size:14px;
	text-indent:28px;
	line-height:26px;
	padding:15px 0 15px 0;
	word-wrap:break-word;
	color:#666;
}
.share_content img{ max-width:900px;}

.share_content p {
	margin:10px auto 0;
	text-align:center;
	text-indent:0;
}
.share_content p.content-pad {
	text-align:left;
	margin:20px 0 70px 0;
	text-indent:2em;
}
.tsed,.ts,.smile i,.smile-have i,.much i {
	background:url(http://skin.1yyg.com/Post/images/share_icon.png);
}
.message {
	text-align:left;
	padding-bottom:5px;
	margin-top:8px;
	position:relative;
}
.tsed,.ts {
	width:51px;
	height:23px;
	border-radius:3px;
	line-height:23px;
	_line-height:23px;
	position:absolute;
	top:-30px;
	left:0;
	display:block;
	padding-left:6px;
	z-index:99999;
}
.tsed {
	background-position:0 -176px;
	color:#666;
}
.ts {
	border:1px solid #A1D26C;
	background-color:#F4FFEA;
	background-position:4px 4px;
	padding-left:24px;
	background-repeat:no-repeat;
	color:#83BE42;
}
.moodm .smile {
	padding:4px 10px 2px 22px;
	display:inline-block;
	position:relative;
	margin-right:8px;
	border-radius:3px;
	font-family:宋体;
	font-size:12px;
}
.moodm .smile {
	background:#f80;
	display:inline-block;
	color:#fff;
	cursor:pointer;
}
.moodm .smile b {
	font-weight:normal;
}
.moodm .smile-have {
	background:#CACACA;
	padding:4px 10px 2px 22px;
	display:inline-block;
	position:relative;
	margin-right:8px;
	border-radius:3px;
	color:#fff;
	cursor:default;
}
.moodm .much {
	padding-left:18px;
	color:#999;
	padding:4px 5px 2px 22px;
	display:inline-block;
	position:relative;
	font-family:宋体;
	font-size:12px;
}
.moodm .smile i {
	width:13px;
	height:11px;
	display:inline-block;
	background-position:0 -72px;
	position:absolute;
	left:4px;
	top:7px;
}
.moodm .smile i {
	background-position:0 -30px;
}
.moodm .much i {
	width:15px;
	height:14px;
	display:inline-block;
	background-position:0 -58px;
	position:absolute;
	left:0;
	top:7px;
}
.moodm .smile-have i {
	background-position:0 -44px;
	width:13px;
	height:11px;
	display:inline-block;
	position:absolute;
	left:4px;
	top:7px;
}
.mood {
	height:50px;
}
.moodwm {
	width:400px;
	_width:405px;
	height:24px;
}
.moodm {
	float:left;
	width:220px;
}
.moodwm .share span.fen {
	float:left;
	vertical-align:middle;
	color:#999;
	display:inline-block;
	line-height:26px;
}
.moodwm .share .bdshare_t {
	float:left;
	vertical-align:middle;
	color:#999;
}
.share_more_detail {
	text-align:right;
	font-size:14px;
	padding-right:20px;
	line-height:30px;
}
.share_more_detail a,.share_more_detail a:visited {
	color:#3275A9;
}
.share_more_detail a:hover {
	color:#F60;
}
.qcomment_main {
	width:743px;
}
.Comment_Con {
	width:713px;
	margin:15px auto 0;
	padding-bottom:15px;
	color:#666;
}
.Comment_single {
	width:713px;
	margin:0 auto 0;
	padding:15px;
	color:#666;
	border-bottom:1px solid #EEE;
}
.User_head {
	width:30px;
	height:30px;
	float:left;
}
.User_head img {
	width:50px;
	height:50px;
}
.Comment_con {
	margin-left:60px;
	margin-bottom:10px;
}
.Comment_info_one {
	margin-left:40px;
}
.Reply_User_head {
	width:50px;
	height:50px;
	float:left;
}
.Reply_User_head img {
	width:50px;
	height:50px;
}
.Reply_User_info {
	margin-left:60px;
}
.Comment-pic {
	width:50px;
	height:50px;
	float:left;
}
.Comment-pic img {
	width:50px;
	height:50px;
}
.Comment_login {
	width:99.4%;
	height:48px;
	line-height:48px;
	position:absolute;
	top:0;
	left:1px;
	background:#EEE;
	text-align:center;
	border:1px solid #C2C2C2;
}
.Comment_textbox .textarea02 {
	height:52px;
	text-align:left;
	border:1px solid #BDBDBD;
	font-size:12px;
	color:#666;
	overflow:hidden;
	position:relative;
	display:block;
}
.Comment_textbox .textarea01 {
	border:0;
	position:relative;
	display:none;
}
.Comment_form:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Comment_form {
	margin-left:60px;
	zoom:1;
}
.Comment_textbox:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Comment_textbox {
	position:relative;
	zoom:1;
}
.Comment-txt {
	width:99.4%;
	height:87px;
	border:1px solid #987;
}
.qcomment_reply_module .Comment-pic {
	width:30px;
	height:30px;
	float:left;
}
.qcomment_reply_module .Comment-pic img {
	width:30px;
	height:30px;
}
.qcomment_reply_module .Comment_form {
	margin-left:40px;
	zoom:1;
}
.qcomment_reply_module .Comment-txt {
	width:99.4%;
	height:67px;
}
.qcomment_reply_module .Comment_login {
	width:99.4%;
	height:28px;
	line-height:28px;
	position:absolute;
	top:0;
	left:1px;
	background:#EEE;
	text-align:center;
	border:1px solid #C2C2C2;
}
.qcomment_bottom_reply {
	width:743px;
	margin:0 auto 0;
}
.qcomment_box_reply {
	background:#F7F7F7;
	border:1px solid #F1F1F1;
	border-bottom:none;
	margin-left:60px;
	overflow:hidden;
	zoom:1;
	clear:both;
}
.Comment_Details {
	border-bottom:1px solid #F1F1F1;
	padding:15px;
}
.Comment_Details .User_head img {
	width:30px;
	height:30px;
}
.Comment_Reply:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Comment_Reply {
	padding:15px;
	border-bottom:1px solid #F1F1F1;
	zoom:1;
	background:#fff;
}
.Comment_info_one .Comment_Reply {
	border:1px solid #eee;
}
.borbot-none {
	border-bottom:none;
	padding-bottom:0;
}
.Comment_Collapse {
	height:29px;
	color:#999;
	background:#F7F7F7;
	border:1px solid #F1F1F1;
	border-top:none;
	text-align:center;
}
.Comment_Collapse a {
	color:#999;
	display:block;
	padding:8px 0;
}
.Comment_Collapse b {
	width:9px;
	height:5px;
	overflow:hidden;
	display:inline-block;
	background-position:-121px 0;
	margin-left:5px;
	vertical-align:1px;
	_vertical-align:2px;
}
.Comment_User,.C_summary {
	color:#666;
}
.Comment_User {
	font-size:12px;
	height:18px;
	line-height:12px;
	_line-height:20px;
}
.Comment_User em {
	float:right;
}
.Comment_User span {
	color:#999;
	padding-right:0;
}
.C_summary {
	word-wrap:break-word;
	font-size:12px;
	line-height:22px;
	position:relative;
	display:block;
	_display:inline-block;
	padding-right:50px;
}
.qcomment_box_reply .C_summary {
	padding-right:38px;
}
.C_summary img {
	vertical-align:middle;
}
.C_summary .Reply-r {
	position:absolute;
	bottom:0;
	right:0;
	font-family:宋体;
}
.C_summary .Reply-r b {
	font-weight:normal;
}
.C_detail {
	height:32px;
	line-height:30px;
}
.C_detail span {
	padding-right:10px;
}
.C_detail a,.C_detail a:visited {
	color:#3275A9;
}
.C_detail a:hover {
	color:#F60;
}
.Summary-time {
	color:#BBB;
	font-family:宋体;
	margin-left:10px;
}
.C_summary .Reply-r a {
	margin-left:10px;
}
.Comment_right {
	float:right;
	width:258px;
	background:#f8f8f8
}

.victory-tit {
	height:30px;
	margin:8px 0;
	position:relative;
}
.victory-tit span {
	display:inline-block;
	float:right;
	margin-top:7px;
	margin-right:12px;
}
.victory-tit .page-upgray,.victory-tit .page-updow {
	width:18px;
	height:14px;
	display:inline-block;
	margin-left:6px;
}
.victory-tit .page-upgray {
	background-position:-71px 0;
	cursor:default;
}
.victory-tit .page-updow {
	background-position:-71px -16px;
	cursor:default;
}
.victory-tit .page-up {
	background-position:-95px -16px;
	cursor:pointer;
}
.victory-tit .page-dow {
	background-position:-95px 0;
	cursor:pointer;
}
.Comment_victory ul {
	width:203px;
	overflow:hidden;
	margin:0 auto;
}
.Comment_victory h3 {
	width:130px;
	padding-left:17px;
	height:30px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background-position:0 -56px;
	position:absolute;
	left:-3px;
}
.victory_info {
	width:160px;
	margin:0 auto;
	overflow:hidden;
	margin-top:12px;
	min-height:60px;
	_height:60px;
	padding-left:60px;
	position:relative;
	vertical-align:top;
	border-bottom:1px dotted #D9D9D9;
}
.victory_head {
	left:0;
	top:0;
	padding-bottom:20px;
	position:absolute;
	text-align:center;
}
.victory_head img {
	height:50px;
	width:50px;
	border:0 none;
	display:block;
	font-size:0;
	overflow:hidden;
	vertical-align:top;
}
.victory_User {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height:18px;
	color:#676767;
	white-space:nowrap;
}
.victory_User .blue {
	margin-right:5px;
}
.victory_detail {
	border:1px solid #E3E3E3;
	color:#666;
	border-radius:3px;
	line-height:12px;
	padding:6px 12px 7px 12px;
	_padding:5px 12px 8px 12px;
	display:inline-block;
	margin-top:5px;
}
.Comment_share {
	width:203px;
	overflow:hidden;
}
.Comment_share h4 {
	font-size:14px;
	font-weight:bold;
	color:#666;
	height:20px;
	margin-top:15px;
}
.New-single {
	width:203px;
	overflow:hidden;
	margin-top:11px;
	padding-bottom:15px;
	border-bottom:1px dotted #D9D9D9;
}
.New-single-time {
	color:#BBB;
	white-space:nowrap;
}
.New-single-time .blue {
	margin-right:5px;
}
.New-single-C {
	margin-top:5px;
}
.New-single-C a {
	color:#666;
}
.New-single-C a:hover {
	color:#777;
}
.New-singleImg {
	background:#E9E9E9;
	width:203px;
	height:72px;
	position:relative;
	margin-top:10px;
}
.New-singleImg img {
	width:60px;
	height:60px;
	float:left;
	margin:6px 0 0 6px;
	display:inline;
}
.New-singleImg .arrow {
	position:absolute;
	left:15px;
	top:-7px;
}
.New-singleImg .arrow em {
	color:#E9E9E9;
	height:5px;
	width:12px;
	font-family:Simsun;
	font-size:14px;
	line-height:14px;
	overflow:hidden;
	position:absolute;
}
.New-singleImg .arrow_Rleft em {
	margin-left:4px;
	margin-top:3px;
}
.PopMsg {
	border:1px solid #A2A2A2;
	width:282px;
	height:144px;
	margin:0 auto;
}
.PopMsgC {
	text-align:center;
	font-size:14px;
	color:#999;
	padding:15px 0 25px 0;
}
.PopMsgC s {
	width:21px;
	height:21px;
	background:url(http://skin.1yyg.com/Member/images/new-admin.png?v=121019) -57px -96px;
	display:inline-block;
	vertical-align:top;
	margin-right:5px;
}
.PopMsgbtn {
	text-align:center;
	height:30px;
}
.pageDialogMain div .auth_box {
	width:240px;
	padding:0 0 0 15px;
}
.pageDialogMain div .auth_box ul {
	width:240px;
	float:left;
	padding:0 0 3px 0;
}
.pageDialogMain div .auth_box ul li {
	float:left;
	width:240px;
	padding:5px 0 0 0;
}
.pageDialogMain div .auth_box ul li .text_yzm {
	width:100px;
	height:20px;
	line-height:20px;
	display:block;
	float:left;
	border:none;
	border:1px solid #888;
}
.auth_box li div {
	color:#666;
	line-height:24px;
}
.pageDialogMain div .auth_box ul li .yzwrong {
	padding:1px 0 5px 25px;
	background:url(http://skin.1yyg.com/Images/arrow_button.png) no-repeat -166px -75px;
	color:#f60;
	width:100px;
	line-height:20px;
	float:left;
	margin:0 0 0 9px;
	display:none;
	vertical-align:middle;
	color:#f00;
}
.pageDialogMain div .auth_box ul li img {
	height:35px;
	line-height:22px;
	text-align:center;
	display:inline;
	float:left;
	margin:0 10px 0 0;
}
.pageDialogMain div .auth_box ul li a {
	color:#3DB8FF;
	font-size:12px;
	vertical-align:-9px;
	vertical-align:-13px\9;
	line-height:24px;
}
.pageDialogMain div .auth_box ul li a.orangebut {
	color:#fff;
}
.pages {
	overflow:hidden;
	height:60px;
	clear:both;
	margin-top:18px;
	margin-bottom:10px;
	margin-right:10px;
}
.pages:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	zoom:1;
}
.pages ul.pageULEx {
	float:right;
	padding:10px 0 0 0;
	margin-right:0;
	display:inline;
}
.pages ul.pageULEx li {
	line-height:32px;
}
.pages ul.pageULEx li.curr_page {
	padding:4px 0 3px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li a {
	padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page a,.pages ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page i,.pages ul.pageULEx li.next_page i {
	font-family:宋体;
	font-weight:bold;
}
.pages ul.pageULEx li.prev_page i {
	padding-right:5px;
}
.pages ul.pageULEx li.next_page i {
	padding-left:5px;
}
.pages ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.pages ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.pages ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	background-color:#F60;
	border:1px solid #F60;
	color:#FFF;
	text-decoration:none;
	border-radius:5px;
}
.pages ul.pageULEx li a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li a,.pages li a:hover {
	display:inline-block;
	overflow:hidden;
}
.pages ul.pageULEx li a:hover {
	color:#f60;
	text-decoration:none;
}
.pages ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	width:65px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:65px;
	overflow:hidden;
	display:inline-block;
}
.pages ul.pageULEx li.prev_page a:hover,.pages li.next_page a:hover {
	color:#f60;
	overflow:hidden;
}
.pages ul.pageULEx li.page_curgray a,.pages ul.pageULEx li.page_curgray a:hover {
	cursor:default;
	display:inline-block;
	background:#F4F4F4;
	border:1px solid #E4E4E4;
	color:#CCC;
}
.Comment-txt{
	border: 1px solid #BDBDBD;
	resize:none;
	padding:5px;
	width:640px;
}
.reply_unbotton {
	
	overflow: hidden;
	padding:8px 10px;
	font-size: 12px;
	display: inline-block;
	background: #3399FE;
	border: 1px solid #1B7DE0;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	float: right;
	cursor:pointer;
	margin:10px 0 0 0;
}
.reply_unbotton:hover{background:#42A8FF}