﻿@charset "utf-8";
	body {
	background-color:#F7F7F7;
}
.show_content:after,.show_Period:after,.Pro_Details:after,.GetPrize:after,.Details_box:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.period_Open i,.period_Open s,.Period_ArrowBut,.Security li i,.Security li s,.Security li b,.Det_Cart i,.AllRecL i,.AllRecR_T i,.AllRecRCur s,.SingleR_TC i,.SingleR_TC s,.Comment_smile span i,.Comment_smile span s {
	background:url(../images/Detailsbg.png) no-repeat;
}
.show_content {
	zoom:1;
	background:#fff;
	border:1px solid #E4E4E4;
	width:1200px;
	position:relative;
	margin:0 auto;
	z-index:0;
}
.show_Period {
	width:1200px;
	overflow:hidden;
	zoom:1;
	position:relative;
}
.show_Period .period_Open {
	position:absolute;
	right:-1px;
	bottom:0;
	_bottom:-1px;
	background:#fff;
	width:135px;
	height:32px;
	border:1px solid #E4E4E4;
}
.show_Period .period_Open a {
	width:70px;
	height:32px;
	_height:21px;
	overflow:hidden;
	line-height:34px;
	_line-height:35px;
	padding-left:50px;
	_padding-top:11px;
	font-family:宋体;
	display:inline-block;
	cursor:pointer;
	font-size:12px;
	color:#2AF;
}
.show_Period .period_Open i,.show_Period .period_Open s {
	display:inline-block;
	width:7px;
	height:8px;
	vertical-align:0;
	vertical-align:2px\9;
	overflow:hidden;
	margin-left:3px;
}
.show_Period .period_Open i {
	background-position:-273px 0;
}
.show_Period .period_Open s {
	background-position:-261px 0;
}
.show_Period .Period_list {
	width:100%;
	border-bottom:1px solid #E4E4E4;
	height:32px;
	background:#fcfcfc;
}
.show_Period .Period_list li {
	float:left;
	width:132px;
	height:32px;
	border-left:1px solid #E4E4E4;
}
.show_Period .Period_list li a {
	width:132px;
	height:32px;
	line-height:31px;
	text-align:center;
	font-family:微软雅黑,宋体;
	display:inline-block;
}
.show_Period .Period_list li a:hover {
	background:#fff;
	color:#f80;
}
.show_Period li .period_Ongoing {
	width:98px;
	padding-left:10px;
	padding-top:0;
	_padding-top:1px;
	overflow:hidden;
	font-family:微软雅黑,宋体,Arial;
	font-size:12px;
	position:relative;
	color:#f60;
	display:inline-block;
}
.show_Period li .period_Ongoing i {
	width:46px;
	height:16px;
	display:inline-block;
	background:url(../images/Announced_8.gif) no-repeat;
	vertical-align:-3px;
	_vertical-align:-2px;
	margin-left:3px;
	cursor:pointer;
}
.show_Period li .period_ArrowCur {
	width:132px;
	font-family:微软雅黑,宋体,Arial;
	font-size:16px;
	line-height:32px;
	height:32px;
	background:#f80;
	color:#fff;
	text-align:center;
	display:inline-block;
	font-weight:normal;
}
.Pro_Details {
	width:1150px;
	zoom:1;
	padding-bottom:17px;
	margin:auto;
}
.Pro_Details h1 {
	font-family:微软雅黑,宋体;
	font-size:24px;
	padding-bottom:9px;
	margin-top:15px;
	text-align: left;
}
.Pro_Details h1 span {
	margin-right:15px;
	color: #000000;
}
.Pro_Detleft {
	float:left;
	width:420px;
	overflow:hidden
}
.Pro_Detleft .detail-itemsummary-imageviewer {
	float:left;
	width:398px;
	margin:6px 5px 0 0;
}
/*.m-detail-period-title {
    padding-left: 22px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #3C3C3C;
    background-color: #F2F2F2;
    font-family: "Microsoft Yahei";
}*/
.middlePicRemark {
	position:absolute;
	top:0;
	left:0;
	width:244px;
	z-index:1;
	line-height:18px;
	text-align:center;
	padding:3px;
	background-color:#f3f3f3;
	border:1px #999 solid;
	display:none;
}
.middlePicBox {
	PADDING-BOTTOM:0;
	HEIGHT:396px;
	TEXT-ALIGN:center;
	border:1px solid #E3E3E3;
}
.middlePicBox a img {
	width:396px;
	height:396px;
	border:0;
}
.smallPicList {
	margin:0;
	padding-top:5px;
	width:396px;
	height:46px;
	overflow:hidden;
	position:relative;
	background:#fff;
	float:left;
}
.smallPicList .hidden {
	display:none;
}
.jcarousel-prev {
	float:left;
	width:10px;
	height:46px;
	z-index:3;
	cursor:pointer;
	background:transparent url(../images/detailIco.png) no-repeat -10px 18px;
	display:block;
}
.jcarousel-prev-disabled {
	cursor:default;
	background:transparent url(../images/detailIco.png) no-repeat 0 18px;
}
.jcarousel-next {
	float:right;
	width:10px;
	height:46px;
	z-index:3;
	cursor:pointer;
	background:transparent url(../images/detailIco.png) no-repeat -20px 18px;
	display:block;
}
.jcarousel-next-disabled {
	cursor:default;
	background:transparent url(../images/detailIco.png) no-repeat right 18px;
}
.jcarousel-clip {
	margin:0;
	padding:0;
	width:375px;
	height:46px;
	float:left;
	position:relative;
	z-index:2;
	overflow:hidden;
}
.jcarousel-clip ul {
	margin:0;
	padding:0;
	height:46px;
	left:0;
	top:0;
	z-index:1;
	display:none;
	position:absolute;
}
.jcarousel-clip ul li {
	margin:0 4px 0 8px;
	padding:0;
	width:42px;
	height:46px;
	float:left;
	list-style:none;
	display:inline;
	background:url(../images/detail-v2.jpg) left -152px no-repeat;
}
.jcarousel-clip ul li img {
	margin:0;
	padding:5px 2px 2px 2px;
	width:38px;
	height:38px;
	cursor:pointer;
}
.jcarousel-clip ul li.curr {
	background:url(../images/detail-v2.jpg) #fff left -100px no-repeat;
}
img.jqzoom {
	cursor:crosshair;
}
div.jqZoomTitle {
	z-index:5000;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	height:16px;
	padding-top:2px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	color:#FFF;
	background:#999;
}
.jqZoomPup {
	overflow:hidden;
	background-color:#FFF;
	-moz-opacity:0.6;
	opacity:0.6;
	filter:alpha(opacity = 60);
	z-index:10;
	border-color:#e3e3e3;
	border-style:solid;
	cursor:crosshair;
}
.jqZoomPup img {
	border:1px;
}
.jqZoomWindow {
	border:1px solid #999;
	background-color:#FFF;
}
.preload {
	-moz-opacity:0.8;
	opacity:0.8;
	filter:alpha(opacity = 80);
	color:#333;
	font-size:12px;
	font-family:Tahoma;
	text-decoration:none;
	border:1px solid #CCC;
	background-color:white;
	padding:8px;
	text-align:center;
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position:43px 30px;
	width:90px;
	height:43px;
	z-index:10;
	position:absolute;
	top:3px;
	left:3px;
}
div.jqZoomBigPic {
	position:absolute;
	display:none;
	left:-2000px;
	top:-2000px;
}
div.jqZoomBigPic img {
	border:0;
}
.Pro_Detleft .Pro_GetPrize {
	float:left;
	width:400px;
	margin-top:15px;
	border:1px solid #EEE;
}
.Pro_Detleft .Pro_GetPrize h2 {
	font-family:微软雅黑,宋体;
	font-size:18px;
	padding:4px 0 0 12px;
	color:#666;
}
.Pro_Detleft .GetPrize {
	padding:8px 0 0 12px;
	zoom:1;
	margin-bottom:10px;
}
.Pro_Detleft .GetPrize dl {
	float:left;
}
.Pro_Detleft .GetPrize dt {
	float:left;
	width:80px;
	margin-right:17px;
	font-size:0;
}
.Pro_Detleft .GetPrize dd {
	float:left;
	width:280px;
}
.Pro_Detleft .GetPrize dd p {
	height:20px;
	white-space:nowrap;
	width:280px;
	overflow:hidden;
}
.Pro_Detright {
	float:left;
	width:450px;
}
.Pro_Detright .Det_money {
	height:30px;
	padding-top:2px;
	font-family:宋体;
	font-size:14px;
	color:#666;
}
.Pro_Detright .Det_money span {
	font-family:Arial;
	font-size:14px;
	color: #f80;
}
.Pro_Detright .Det_money span.rmbgray {
	background-position:0 -2px;
}

.Pro_Detright .Det_money em {
	font-family:"Microsoft Yahei","Arial","Verda","tahoma";
	font-size:14px;
	font-weight:400px;
	margin-right:2px;
}
.Pro_Detright .Pro_Detsingle {
	height:15px;
	line-height:15px;
	color:#999;
	font-family:宋体;
	display:block;
	padding:13px 0 0;
	_padding:13px 0 0;
}
.Pro_Detright .Pro_Detsingle span {
	font-family:Arial;
	margin:0 5px;
}
.Pro_Detright .Pro_number {
	line-height:20px;
	color:#999;
	text-align:left;
	margin-top:13px;
	_margin-top:12px;
	margin-bottom:22px;
	_margin-bottom:21px;
}
.Pro_Detright .Pro_number span {
	padding-left:20px;
}
.Pro_Detright .Pro_number .num_del,.Pro_Detright .Pro_number .num_add,.Pro_Detright .Pro_number .num_dig {
	width:22px;
	height:24px;
	overflow:hidden;
	display:inline-block;
	font-family:宋体;
	border:1px solid #CFCFCF;
	text-align:center;
	font-size:18px;
	color:#999;
	line-height:24px;
	vertical-align:middle;
	background:#F4F4F4;
}
.Pro_Detright .Pro_number .num_ban {
	color:#ccc;
	cursor:default;
}
.Pro_Detright .Pro_number .num_dig {
	width:65px;
	background:#fff;
	line-height:24px;
	border-left:none;
	border-right:none;
	font-size:18px;
	font-family:arial;
}
.Pro_Detright .Det_button {
	margin-top:10px;
	height:51px;
	position:relative;
}
.Det_button .Det_Shopbut {
	width:330px;
	height:49px;
	line-height:49px;
	text-align:center;
	border:1px solid #f80;
	border-bottom:1px solid #f80;
	background:#f80;
	color:#fff;
	border-radius:3px;
	font-family:微软雅黑,黑体;
	font-size:24px;
	display:inline-block;
	float:left;
	margin-right:6px;
}

.Det_button .Det_Shopbut_exit{
	width:196px;
	height:47px;
	line-height:47px;
	text-align:center;
	border:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#ccc;
	color:#fff;
	border-radius:3px;
	font-family:微软雅黑,黑体;
	font-size:24px;
	display:inline-block;
	float:left;
	margin-right:6px;
}
.Det_button .Det_Shopbut_exit:hover{
	background:#c0bfbf;
	text-decoration:none;
}
.Det_button .Det_Shopbut:hover {
	background:#f80;
	color:#fff;
	text-decoration:none
}
.Det_button .Det_Cart {
	width:260px;
	height:49px;
	line-height:49px;
	text-align:center;
	border:1px solid #EED7D9;
	background:#EFE5E6;
	color:#f80;
	border-radius:3px;
	font-family:微软雅黑,黑体;
	font-size:18px;
	display:inline-block;
	position:relative;
	float:right;
	padding-left:50px;
	padding-right:22px;
}
.Det_button .Det_Cart:hover {
	background:#f3d9dc;
	color:#f80;
	text-decoration:none;
}
.Det_button .Det_Cart i {
	width:25px;
	height:20px;
	display:inline-block;
	background-position:-71px -1px;
	position:absolute;
	left:105px;
	top:15px;
	cursor:pointer;
}
.Security {
	height:22px;
	margin:18px 0 16px 0;
	position:relative;
}
.Security ul {
	float:left;
	height:16px;
	overflow:hidden;
	border-right:1px solid #E1E1E1;
	padding-right:15px;
	margin-top:3px;
}
.Security li {
	float:left;
	font-family:宋体;
	line-height:16px;
	_line-height:18px;
	font-size:12px;
	color:#9A9A9A;
	margin:0 8px 0 8px;
	display:inline;
	position:relative;
	padding-left:20px;
}
.Security li i,.Security li s,.Security li b {
	width:15px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	left:0;
	top:0;
	vertical-align:middle;
}
.Security li i {
	background-position:0 0;
}
.Security li s {
	background-position:-22px 0;
}
.Security li b {
	background-position:-44px 0;
}
.Security li a {
	color:#999;
}
.Security li a:hover {
	color:#f80;
	text-decoration:none
}
.Security .Det_Share {
	height:21px;
	position:absolute;
	top:0;
	right:0;
}
.Pro_Detright .Pro_Record {
	height:190px;
	border:1px solid #E3E3E3;
}
.Pro_Record .Record_tit {
	height:32px;
}
.Pro_Record .Record_tit li {
	float:left;
	background:#F3F3F3;
	border-right:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
	text-align:center;
	height:32px;
	line-height:32px;
	cursor:pointer;
}
.Pro_Record .Record_tit li.NewestRec {
	width:220px;
	color:#999;
}
.Pro_Record .Record_tit li.MytRec {
	width:226px;
	color:#999;
}
.Pro_Record .Record_tit li.Explain {
	width:230px;
	border-right:none;
}
.Pro_Record .Record_tit li.Record_titCur {
	background:#fff;
	color:#666;
	border-bottom:none;
}
.Pro_Record .Newest_Con {
	margin:3px 10px 0 10px;
}
.Pro_Record .Newest_Con li {
	height:28px;
	padding-top:10px;
	border-bottom:1px solid #EEE;
	color:#9A9A9A;
	padding-left:4px;
}
.Pro_Record .Newest_Con li img {
	vertical-align:middle;
	margin-right:8px;
}
.Pro_Record .Newest_Con li em {
	font-family:Arial;
	margin:0 5px;
}
.Pro_Record .Newest_Con li a.blue {
	margin-right:5px;
}
.Pro_Record .Newest_Con p {
	height:31px;
	line-height:31px;
	text-align:center;
	color:#666;
}
.Pro_Record .Newest_Con .MsgIntro {
	padding:15px 15px 0 15px;
	font-size:14px;
	color:#999;
	font-family:微软雅黑,宋体;
	text-align:left;
	height:auto;
	text-indent:2em;
}
.Pro_Record .Newest_Con .MsgIntro1 {
	padding:0 15px;
	font-size:14px;
	color:#999;
	font-family:微软雅黑,宋体;
	text-align:left;
	height:auto;
	text-indent:2em;
}
.My_Record {
	width:420px;
	margin:3px auto 0 auto;
}
.My_Record li {
	height:29px;
	line-height:28px;
	overflow:hidden;
	color:#666;
	border-bottom:1px solid #EEE;
}
.My_Record p {
	text-align:right;
	line-height:28px;
	font-family:宋体;
}
.My_RecordReg {
	text-align:center;
	margin-top:50px;
}
.My_RecordReg b {
	font-weight:normal;
	display:block;
	height:35px;
	font-family:微软雅黑,宋体;
	color:#999;
}
.My_RecordReg .My_Signbut {
	width:70px;
	padding:6px 0 6px 0;
	border:1px solid #f80;
	background:#f80;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
	margin-right:10px;
	font-weight:bold;
}
.My_RecordReg .My_Signbut:hover,.My_RecordReg .My_Regbut:hover {
	color:#fff;
}
.My_RecordReg .My_Regbut {
	width:70px;
	padding:5px 0 6px 0;
	border:1px solid #2AF;
	background:#2AF;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
	font-weight:bold;
}
.NewRecord_msg s {
	background:url(../images/webmsg.png) no-repeat;
}
.NewRecord_msg {
	position:relative;
	height:90px;
	margin:70px 0 0 80px;
	padding:0 0 0 80px;
}
.NewRecord_msg s {
	width:72px;
	height:90px;
	background-position:0 -310px;
	position:absolute;
	display:inline-block;
	background-position:0 0;
	left:0;
	top:0;
}
.NewRecord_msg .NewRecord_msgtxt {
	text-align:left;
	color:#999;
	height:50px;
	padding-top:18px;
	line-height:24px;
	font-family:宋体;
	display:block;
}
.NewRecord_msg .NewRecord_msgtxt em {
	display:block;
}
.NewRecord_msg s {
	background:url(../images/webmsg.png) no-repeat;
}
.NoConMsg {
	text-align:center;
}
.NoConMsg span {
	height:110px;
	line-height:90px;
	display:inline-block;
	font-family:微软雅黑,宋体;
	font-size:18px;
	color:#999;
	overflow:hidden;
	zoom:1;
}

.Pro_Detleft .middlePicBox em {
	width:75px;
	height:95px;
	display:inline-block;
	position:absolute;
	top:53px;
	left:34px;
	padding:15px 20px 20px 10px;
	text-align:center;
	font-size:20px;
	color:#999;
	font-family:微软雅黑,宋体;
	overflow:hidden;
	background:url(../images/Details_EndCircle.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://skin.1yyg.com/images/Details_EndCircle.png?v=121226");
}
.End_DetailsExplain {
	height:114px;
	line-height:110px;
	text-align:center;
	font-family:微软雅黑,宋体;
	color:#999;
	margin:6px 0 15px;
	font-size:20px;
	border:1px solid #CCC;
	background:#F7F7F7;
}
.End_DetailsAutoTime {
	height:56px;
	line-height:52px;
	text-align:center;
	font-family:微软雅黑,宋体;
	color:#999;
	margin:13px 0 0;
	font-size:20px;
	border:1px solid #CCC;
	background:#F7F7F7;
}
.End_Detailslist:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.End_Detailslist {
	border:1px solid #E4E4E4;
	zoom:1;
	padding-bottom:17px;
}
.End_Detailslist .End_DetailsTit {
	height:32px;
	line-height:30px;
	text-indent:1em;
	color:#666;
	border-bottom:1px solid #E4E4E4;
	font-size:14px;
	font-family:微软雅黑,宋体;
}
.End_Detailslist li {
	width:100px;
	height:189px;
	overflow:hidden;
	float:left;
	margin:17px 20px 0 28px;
	display:inline;
}
.End_Detailslist .pic {
	text-align:center;
	width:100px;
	height:100px;
	overflow:hidden;
	margin-bottom:3px;
}
.End_Detailslist .pic img {
	width:100px;
	height:100px;
}
.End_Detailslist .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.End_Detailslist .name a {
	line-height:18px;
	display:block;
}
.End_Detailslist .money {
	font-family:arial;
	text-align:center;
	color:#999;
}
.End_Detailslist .money span {
	font-family:arial;
	color:#666;
}
.End_Detailslist .Endgo_buy {
	text-align:center;
	margin-top:5px;
}
.End_Detailslist .go_Shopping12 {
	padding:5px 13px 6px 13px;
	_padding:6px 13px 5px 13px;
	border:1px solid #f80;
	background:#f80;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
}
.End_Detailslist a.go_Shopping12:hover {
	color:#fff;
}
.Announced_Frame {
	
}
.Announced_FrameT,.Announced_FrameTin {
	width:450px;
	height:49px;
	overflow:hidden;
	text-align:center;
	font-weight: bold;
	font-size:25px;
	color:#f80;
	line-height:50px;
	font-family:微软雅黑,宋体;
	
}
.Announced_FrameTin {
	
}
.Announced_FrameTin_box3 {
	background:url(../images/Announced_7.png) no-repeat;
}
.Announced_FrameCode,.Announced_FrameGet,.Announced_FrameBm {
	
}
.Announced_FrameCode {
	width:428px;
	height:55px;
	margin:0 auto;
	border: 2px solid #f80;
	background-position:0 0;
}
.Announced_FrameCode .Announced_FrameCodeMal {
	margin:15px 0 0 84px;
	float:left;
	display:inline;
}
.Announced_FrameCode .Announced_FrameClockMar {
	margin:15px 0 0 15px;
	float:left;
	display:inline;
}
.Announced_FrameCode .Announced_FrameClock {
	float:left;
	margin:12px 0 0 13px;
	display:inline;
}
.Announced_FrameCode li {
	width:40px;
	height:55px;
	float:left;
	text-align:center;
	position:relative;
	font-family:Arial;
	font-weight:bold;
	background:#fff;
	line-height:52px;
	font-size:60px;
	color:#f80;
}
.Announced_FrameCode li b {
	width:40px;
	height:55px;
	position:absolute;
	background:url(../images/Announced_code.png) no-repeat;
	top:0;
	left:0;
}
.Announced_FrameCode li.Code_1 b {
	background-position:-4px -13px;
}
.Announced_FrameCode li.Code_2 b {
	background-position:-48px -13px;
}
.Announced_FrameCode li.Code_3 b {
	background-position:-93px -13px;
}
.Announced_FrameCode li.Code_4 b {
	background-position:-139px -13px;
}
.Announced_FrameCode li.Code_5 b {
	background-position:-183px -13px;
}
.Announced_FrameCode li.Code_6 b {
	background-position:-229px -13px;
}
.Announced_FrameCode li.Code_7 b {
	background-position:-273px -13px;
}
.Announced_FrameCode li.Code_8 b {
	background-position:-318px -13px;
}
.Announced_FrameCode li.Code_9 b {
	background-position:-364px -13px;
}
.Announced_FrameCode li.Code_0 b {
	background-position:-408px -13px;
}
.Announced_FrameCode li.Code_Point b {
	background-position:-450px -13px;
}
.Announced_FrameGet {
	width:428px;
	height:87px;
	background-position:0 -87px;
}
.Announced_FrameGet .Announced_FrameLanguage {
	width:410px;
	background:#fff;
	text-align:center;
	display:inline-block;
	margin:8px auto 0 10px;
}
.Announced_FrameBut {
	margin:0 auto;
}
.Announced_But {
	padding:5px 21px 6px 22px;
	border:1px solid #C42500;
	background:#C42500;
	color:#FC0;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
	margin:10px 0 0 14px;
	font-family:宋体;
}
.Announced_FrameBm {
	width:450px;
	height:15px;
	background-position:0 -182px;
}
.Announced_FrameCal {
	width:424px;
	height:173px;
	background:#fff;
	margin:0 auto;
	border-radius:3px;
	margin-bottom:0;
	text-align:center;
}
.Announced_FrameCal p {
	padding:36px 0 17px 0;
}
.Details_HotTj {
	width:978px;
	border:1px solid #E4E4E4;
	background:#fff;
	height:238px;
	margin:10px auto 0;
}
.Details_HotTj .HotTj_tit {
	font-size:14px;
	height:31px;
	line-height:29px;
	_line-height:31px;
	text-indent:1em;
	color:#666;
	font-family:微软雅黑,宋体;
	color:#6E6E6E;
	border-bottom:1px solid #E4E4E4;
}
.Details_HotTj .HotTj_Con:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Details_HotTj .HotTj_Con {
	zoom:1;
}
.Details_HotTj .HotTj_Con ul {
	float:left;
}
.Details_HotTj .HotTj_Con li {
	width:137px;
	float:left;
	margin:10px 1px 10px 22px;
	display:inline;
}
.Details_HotTj .HotTj_Con .pic {
	text-align:center;
	width:120px;
	height:120px;
	overflow:hidden;
	margin-bottom:10px;
	position:relative;
}
.Details_HotTj .HotTj_Con .pic img {
	width:120px;
	height:120px;
}
.Details_HotTj .HotTj_Con .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.Details_HotTj .HotTj_Con .name a {
	line-height:18px;
	color:#666;
	display:block;
}
.Details_HotTj .HotTj_Con .name a:hover {
	text-decoration:underline;
	color:#f80;
}
.Details_HotTj .HotTj_Con .money {
	font-family:arial;
	text-align:center;
	color:#999;
}
.Details_HotTj .HotTj_Con .money span {
	font-family:arial;
	color:#666;
}
.ProductTabNav {
	width:1201px;
	margin:10px auto 0;
	height:35px;
}
.ProductTabNav .DetailsT_Tit {
	top:auto;
	background-color:#fff;
	z-index:11;
}
.ProductTabNav .nav-fixed {
	position:fixed;
	top:0;
}
* html .ProductTabNav .nav-fixed {
	position:absolute;
	bottom:auto;
	top:expression(eval(document.documentElement.scrollTop));
}
.ProductTabNav .DetailsT_Tit {
	overflow:visible;
}
.DetailsT_TitP {
	border:1px solid #E4E4E4;
	height:35px;
	width:1200px;
	background:#fff;
	position:relative;
	z-index:1;
}
.DetailsT_TitP ul {
	height:35px;
	float:left;
	margin-top:-1px;
	z-index:3;
	position:absolute;
}
.DetailsT_TitP li {
	float:left;
	font-family:微软雅黑,宋体;
	font-size:16px;
	text-align:center;
	height:36px;
	line-height:34px;
	border-right:1px solid #E4E4E4;
	position:relative;
	cursor:pointer;
}
.DetailsT_TitP p {
	float:right;
	margin-top:-1px;
	margin-right:-1px;
	position:absolute;
	right:0;
}
.DetailsT_TitP li.Product_DetT {
	width:134px;
}
.DetailsT_TitP li.All_RecordT {
	width:158px;
}
.DetailsT_TitP li.Single_ConT {
	width:98px;
}
.DetailsT_TitP li.DetailsTCur {
	font-size:18px;
	height:34px;
	color:#f80;
	font-weight:bold;
	line-height:30px;
	border-top:3px solid #d2691e;
	margin-top:0;
	background:#fff;
}
.DetailsT_TitP .DetailsT_Cart {
	background:#22ABFE;
	height:37px;
	color:#fff;
	font-family:微软雅黑,宋体;
	font-size:14px;
	line-height:34px;
	_line-height:38px;
	position:relative;
	padding:0 10px 0 39px;
	display:inline-block;
}
.DetailsT_TitP .DetailsT_Cart s {
	width:22px;
	height:18px;
	background-position:0 -39px;
	display:inline-block;
	left:11px;
	top:9px;
	position:absolute;
}
.DetailsT_TitP .DetailsT_Cart:link {
	color:#fff;
}
.DetailsT_TitP .DetailsT_Cart:hover {
	color:#fff;
}
.AllRecordT_Tit,.SingleT_Tit {
	width:978px;
	margin:10px auto 0;
	font-family:微软雅黑,宋体;
	font-size:14px;
	height:35px;
	line-height:32px;
	text-indent:1em;
	border-top:2px solid #F60;
	background:#F8F8F8;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
.AllRecordT_Tit span {
	font-size:12px;
	color:#A6A6A6;
}
.SingleT_Tit span {
	font-size:12px;
	color:#A6A6A6;
	font-family:宋体;
}
.AllRecordT_Tit span em,.SingleT_Tit span em {
	font-family:Arial;
	margin:0 5px;
}
.Product_Content,.AllRecord_Content,.Single_Content {
	width:1200px;
	overflow:hidden;
	border:1px solid #E4E4E4;
	border-top:none;
	background:#fff;
	margin:auto;
}
.AllRecord_Content .pages,.Single_Content .pages {
	width:910px;
}
.Product_Con {
	/*width:918px;*/
	width:1200px;
	overflow:hidden;
	/*padding:30px 30px 30px 30px;*/
	padding:10px 0 0;
}
.Product_Con p img{
	display:block;margin:0 auto;
}
.AllRecordCon {
	width:920px;
	margin:0 auto 15px;
	padding:38px 0 15px;
}
.AllRecord_Content .pages {
	margin-bottom:12px;
	border-top:1px solid #E4E4E4;
	padding:12px 0 0;
}
.Single_Content .pages {
	margin-bottom:12px;
}
.AllRecW:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.AllRecW {
	width:920px;
	margin:0 auto;
	zoom:1;
	background:url(../images/AllRecord_1.png) 0 repeat-y;
}
.AllReclist {
	padding-top:6px;
}
.AllRecTime {
	height:16px;
	position:relative;
}
.AllRecTime p {
	font-family:微软雅黑,宋体;
	font-size:24px;
	color:#999;
	display:inline-block;
	position:absolute;
	left:124px;
	top:-18px;
}
.AllRecTime b {
	width:36px;
	height:1px;
	background:#E4E4E4;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	left:265px;
	top:0;
}
.All_lineH {
	height:48px;
}
.AllRecW .AllRecL {
	width:292px;
	text-align:right;
	position:relative;
	padding-right:22px;
	margin-top:7px;
	color:#9A9A9A;
}
.AllRecW .AllRecL i {
	width:16px;
	height:5px;
	overflow:hidden;
	background-position:-98px 0;
	display:inline-block;
	position:absolute;
	right:0;
	top:7px;
}
.AllRecW .AllRecR {
	width:600px;
	margin:1px;
}
.AllRecW .AllRecRCur {
	border:1px solid #E4E4E4;
	background:#F8F8F8;
	margin:0;
	padding-bottom:7px;
	position:relative;
}
.AllRecW .AllRecRCur s {
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:5px;
	background-position:-98px -8px;
}
.AllRecW .AllRecR .AllRecR_T {
	height:25px;
	color:#9A9A9A;
	padding-left:4px;
	padding-top:7px;
}
.AllRecW .AllRecR .AllRecR_T a.blue {
	margin-right:5px;
}
.AllRecW .AllRecR .AllRecR_T em.orange {
	margin:0 5px;
	font-family:Arial;
}
.AllRecW .AllRecR .AllRecR_T i {
	width:10px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	background-position:-122px 0;
	vertical-align:-3px;
	_vertical-align:middle;
	margin:0 2px 0 5px;
}
.AllRecW .AllRecR .AllRecR_T span {
	color:#CCC;
}
.AllRecW .AllRecR .AllRecR_T img {
	vertical-align:middle;
	margin-right:8px;
}
.AllRecW .AllRecR .AllRecR_T em {
	font-family:宋体;
}
.AllRecW .AllRecR .AllRecR_Code {
	font-family:宋体;
	padding-left:14px;
}
.AllRecW .AllRecR .AllRecR_Code b {
	font-weight:normal;
	width:66px;
	text-align:right;
	display:inline-block;
}
.Single_Content:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Single_Content {
	zoom:1;
}
.Single_Content .lineNone {
	border-bottom:none;
}
.SingleR_TC i {
	font-size:80px;
}
.Single_list {
	width:918px;
	overflow:hidden;
	margin:30px auto 15px;
	padding:0 0 19px 0;
	border-bottom:1px solid #E4E4E4;
}
.Single_list .Topiclist-img {
	width:80px;
	overflow:hidden;
	text-align:center;
	float:left;
}
.Single_list .Topiclist-img .head-img {
	width:80px;
	margin:0 auto;
	display:block;
}
.Single_list .Topiclist-img .head-img img {
	width:80px;
	height:80px;
}
.Single_list .Topiclist-img .blue {
	white-space:nowrap;
	width:80px;
	overflow:hidden;
	display:block;
}
.Single_list .Topiclist-img .class-icon {
	width:40px;
	white-space:nowrap;
	padding-left:16px;
	color:#999;
}
.Single_list .Topiclist-img span {
	white-space:nowrap;
}
.Single_list .SingleR {
	width:782px;
	margin-left:48px;
	display:inline;
}
.Single_list .SingleR_TC:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Single_list .SingleR_TC {
	position:relative;
	zoom:1;
}
.Single_list .SingleR_TC h3 {
	color:#999;
	font-family:微软雅黑,宋体;
	font-size:18px;
	color:#333;
	line-height:24px;
}
.Single_list .SingleR_TC h3 span {
	font-size:14px;
}
.Single_list .SingleR_TC h3 em {
	font-size:12px;
}
.Single_list .SingleR_TC p {
	padding:7px 25px 12px 0;
}
.Single_list .SingleR_TC i,.Single_list .SingleR_TC s {
	width:19px;
	height:17px;
	display:inline-block;
	position:absolute;
}
.Single_list .SingleR_TC i {
	left:-28px;
	top:0;
	background-position:-143px 0;
}
.Single_list .SingleR_TC s {
	right:0;
	bottom:12px;
	background-position:-168px 0;
}
.Single_list ul.SingleR_pic {
	display:inline-block;
}
.Single_list .SingleR_pic li {
	float:left;
	margin-right:10px;
	display:inline;
}
.Single_list .SingleR_Comment .Comment_smile {
	height:25px;
	padding-top:6px;
}
.SingleR_Comment .Comment_smile span {
	margin-right:10px;
}
.SingleR_Comment .Comment_smile span i {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:-4px;
	background-position:-198px 0;
	margin-right:3px;
}
.SingleR_Comment .Comment_smile span s {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:-8px;
	background-position:-230px 0;
	margin-right:0;
}
.Single_list .SingleR_Comment p.SingleRmore {
	height:31px;
	line-height:31px;
	font-family:宋体;
	border-top:1px dotted #DDD;
}
.Single_list .SingleR_Comment li {
	padding:3px 0;
	line-height:22px;
	border-top:1px dotted #DDD;
}
.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s {
	background:url(../images/new-class-icon.png);
}
.class-icon01,.class-icon02,.class-icon03,.class-icon04,.class-icon05,.class-icon06,.class-icon07 {
	display:inline-block;
	position:relative;
	padding-left:17px;
	padding-right:5px;
	line-height:20px!important;
	color:#666;
}
.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s {
	position:absolute;
	width:13px;
	height:13px;
	display:inline-block;
	top:4px;
	top:2px\9;
	_top:4px;
	left:0;
}
.class-icon01 s {
	background-position:-1px 0;
}
.class-icon02 s {
	background-position:-18px 0;
}
.class-icon03 s {
	background-position:-35px 0;
}
.class-icon04 s {
	background-position:-52px 0;
}
.class-icon05 s {
	background-position:-69px 0;
}
.class-icon06 s {
	background-position:-86px 0;
}
.class-icon07 s {
	background-position:-106px -1px;
}
.list_goodsTj {
	width:980px;
	background:#fff;
	margin:10px auto 20px auto;
	_margin:10px auto 10px auto;
}
.list_goodsTj .list_goodsTjTit {
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	height:36px;
	line-height:36px;
	padding-left:15px;
	border-top:2px solid #F60;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
.list_goodsTj .Roll_Left {
	width:24px;
	height:280px;
	float:left;
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}
.list_goodsTj .Roll_Left a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-left:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Right {
	width:24px;
	height:280px;
	float:right;
	background:#fff;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
.list_goodsTj .Roll_Right a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-right:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Left a.Roll_enabled,.list_goodsTj .Roll_Right a.Roll_enabled {
	background:#F6F6F6;
	color:#BCBCBC;
}
.list_goodsTj .Roll_Left a.Roll_enabled:hover,.list_goodsTj .Roll_Right a.Roll_enabled:hover {
	background:#F6F6F6;
	color:#F60;
}
.list_goodsTj .Roll_Con {
	width:880px;
	height:280px;
	float:left;
	overflow:hidden;
	position:relative;
	left:48px;
}
.list_goodsTj .list_goodsTjCon {
	width:978px;
	border:1px solid #E4E4E4;
	height:280px;
	overflow:hidden;
	position:relative;
}
.list_goodsTj .list_goodsTjCon ul {
	width:1927px;
	position:absolute;
	z-index:1;
	left:0;
}
.list_goodsTjCon li {
	width:150px;
	float:left;
	margin:10px 32px 10px 0;
}
.list_goodsTjCon .pic {
	text-align:center;
	width:150px;
	height:140px;
	overflow:hidden;
	margin-bottom:10px;
}
.list_goodsTjCon .pic a {
	display:inline-block;
}
.list_goodsTjCon .pic img {
	width:150px;
	height:140px;
}
.list_goodsTjCon .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.list_goodsTjCon .name a {
	line-height:18px;
	color:#666;
	display:block;
}
.list_goodsTjCon .name a:hover {
	text-decoration:underline;
	color:#f60;
}
.list_goodsTjCon .money {
	font-family:宋体;
	text-align:center;
	color:#999;
}
.list_goodsTjCon .money span {
	font-family:arial;
	color:#666;
}
.list_goodsTjCon .go_buy {
	text-align:center;
	margin-top:7px;
}
.go_Shopping12 {
	padding:5px 16px 6px 16px;
	_padding:6px 16px 5px 16px;
	border:1px solid #F60;
	background:#F60;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
}
a.go_Shopping12:hover {
	color:#fff;
}
.detail_Prompt {
	width:452px;
	height:155px;
	padding:30px 0 0 10px;
	background:#fff;
}
.detail_Prompt dt {
	width:130px;
	float:left;
	margin-right:30px;
}
.detail_Prompt dd {
	width:280px;
	float:left;
	padding-top:15px;
}
.detail_Prompt dd b,.detail_Prompt dd span {
	display:block;
	color:#F60;
	font-family:微软雅黑,宋体;
}
.detail_Prompt dd b {
	font-size:20px;
	font-weight:normal;
	height:35px;
}
.detail_Prompt dd span {
	font-size:14px;
	margin-bottom:15px;
}
.detail_Prompt .detail_Promptbut {
	padding:5px 16px 6px 16px;
	border:1px solid #F60;
	background:#F60;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
}
.Progress-bar {
	height:66px;
	border-bottom:1px solid #EEE;
}
.Progress-bar p {
	height:8px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
}
.Progress-bar p span {
	height:8px;
	border:1px solid #f80;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff8800',endColorStr='#d2691e',gradientType='1');
	background: -moz-linear-gradient(left, #f80, #d2691e);
	background: -o-linear-gradient(left,#f80, #d2691e);
	background:-webkit-gradient(linear, 0% 0, 100% 0, from(#f80), to(#d2691e));
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:0;
	border-radius:3px;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:14px;
	font-family:微软雅黑,宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:18px;
	font-family:arial;
	height:20px;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#d2691e;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#14A8E4;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:34%;
	float:right;
	text-align:right;
}
.pages {
	overflow:hidden;
	height:35px;
	clear:both;
}
.pages ul.pageULEx {
	float:right;
	padding:0;
	margin-right:0;
	display:inline;
}
.pages ul.pageULEx li {
	line-height:32px;
}
.pages ul.pageULEx li.curr_page {
	padding:4px 0 3px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li a {
	padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page a,.pages ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page i,.pages ul.pageULEx li.next_page i {
	font-family:宋体;
	font-weight:bold;
}
.pages ul.pageULEx li.prev_page i {
	padding-right:5px;
}
.pages ul.pageULEx li.next_page i {
	padding-left:5px;
}
.pages ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.pages ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.pages ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	background-color:#F60;
	border:1px solid #F60;
	color:#FFF;
	text-decoration:none;
	border-radius:5px;
}
.pages ul.pageULEx li a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li a,.pages li a:hover {
	display:inline-block;
	overflow:hidden;
}
.pages ul.pageULEx li a:hover {
	color:#f60;
	text-decoration:none;
}
.pages ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	width:65px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:65px;
	overflow:hidden;
	display:inline-block;
}
.pages ul.pageULEx li.prev_page a:hover,.pages li.next_page a:hover {
	color:#f60;
	overflow:hidden;
}
.pages ul.pageULEx li.page_curgray a,.pages ul.pageULEx li.page_curgray a:hover {
	cursor:default;
	display:inline-block;
	background:#F4F4F4;
	border:1px solid #E4E4E4;
	color:#CCC;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	background:url(../images/star-icon.png);
}
.Member_Pop_friend,.Member_Pop_letter,.Member_Pop_Has {
	height:23px;
	border-radius:3px;
	font-size:12px;
	line-height:23px;
	line-height:26px\9;
	_line-height:23px;
	display:inline-block;
	color:#fff;
	text-align:left;
	margin-right:8px;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:-1px;
	cursor:pointer;
}
.Member_Pop_friend {
	width:62px;
	padding-left:12px;
	background:#49B8FF;
	border:1px solid #1BA3FA;
	position:relative;
	text-indent:15px;
}
.Member_Pop_friend:hover {
	background:#1BA3FA;
	border:1px solid #1BA3FA;
	color:#fff;
}
.Member_Pop_friend s {
	background-position:0 -53px;
	width:10px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.Member_Pop_pal {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
	float:left;
}
.Member_Pop_pal:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
}
.Member_Pop_letter {
	width:62px;
	padding-left:12px;
	border:1px solid #DDD;
	background:#fff;
	color:#2af;
	position:relative;
	text-indent:15px;
}
.Member_Pop_letter:hover {
	border:1px solid #BBB;
	color:#2af;
}
.Member_Pop_letter i,.ta-friend li .Member_Pop_letter i,.Member-list li .Member_Pop_letter i {
	background-position:-11px -53px;
	width:13px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
	padding:0;
}
.Member_Pop_Has {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
}
.Member_Pop_Has:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
	cursor:default;
}
.Member_Pop {
	width:278px;
	height:140px;
	border:1px solid #CCC9C6;
	background:#fff;
	position:absolute;
	box-shadow:2px 2px 3px 0 rgba(34,25,25,.2);
}
.Member_Pop_cur {
	background:#FBFBFB;
}
.Member_Pop_img {
	float:left;
	width:80px;
	height:80px;
	margin:10px;
	display:inline;
}
.Member_Pop_img img,.ta-friend li .Member_Pop_img img,.Member-list li .Member_Pop_img img,.R-list .Member_Pop_img img {
	width:80px;
	height:80px;
}
.Member_Pop_info,.ta-friend li .Member_Pop_info {
	margin-left:91px;
	margin-top:7px;
	text-align:left;
}
.Member_Pop_info .Member_Pop_intro {
	height:40px;
	overflow:hidden;
	padding-right:8px;
}
.Member_Pop_name {
	font-size:14px;
	height:25px;
}
.Member_Pop_class {
	height:22px;
}
.Member_Pop_class .class-icon {
	float:left;
}
.Member_Pop_class span {
	float:left;
}
.Member_Pop_class span.address-icon {
	width:95px;
	height:20px;
	overflow:hidden;
}
.Member_Pop_but {
	width:100%;
	height:30px;
	background:#F4F4F4;
	position:absolute;
	bottom:0;
	margin-left:0;
	left:0;
	text-align:right;
	padding-top:5px;
}
.Immediate {
	color:#999;
	border:1px solid #EED7D9;
	background:#EFE5E6;
	height:40px;
	margin-top:-1px;
	position:relative;
	font-family:宋体;
}
.Immediate b {
	width:55px;
	height:20px;
	line-height:20px;
	background:#f60;
	color:#fff;
	font-weight:normal;
	text-align:center;
	display:inline-block;
	float:left;
	margin:10px;
	
}
.Immediate p {
	line-height:20px;
	float:left;
	margin:9px 0 0 0;
}
.Immediate em {
	color:#f60;
	font-family:Arial;
	font-size:20px;
	line-height:20px;
	padding-right:5px;
	padding-left:3px;
}
.Immediate span {
	float:right;
	color:#f80;
	top:12px;
	right:8px;
	position:absolute;
}
.Immediate span a:hover {
	color:#f60;
	text-decoration:underline;
}

/*2015/12/02*/
.xPro_Detright {
    float: left;
    width: 460px;
}
.m-detail-main-buyGoods {
    margin: 30px 0;
}
m-detail-main-buyGoods .w-button {
    margin-right: 10px;
}
.m-detail-main-buyGoods .w-button {
    margin-right: 10px;
}
.w-button-xl {
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border-radius: 4px;
}
.w-button-main {
    background: #f80;
    border-color: #b6243d;
}

.w-button {
    white-space: nowrap;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    
    border-width: 0 0 0 0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    font-weight: bold;
    outline: none;
}
.w-button-xl {
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border-radius: 4px;
}
.w-button-main {
    background: #fff;
    border:1px solid #f80;
    color: #f80;
}
.w-button_margin{margin-top:15px;}
#addToCart .ico-miniCart {
    float: left;
    margin-top: 11px;
    margin-left: 0px;
}

.w-button:hover {
    background: #42A8FF none repeat scroll 0% 0%;
    text-decoration: none;
}
.ico-miniCart {
    width: 27px;
    height: 24px;
    background-position: -30px -30px;
}
.ico {
    display: inline-block;
    background: url(../images/xmix-icon_05.png) no-repeat;
    _background-image: url(../images/xmix-icon_05.png);
    overflow: hidden;
}
.m-detail-main-codes {
    margin-top: 20px;
    padding: 8px 0px 8px 14px;
    height: 80px;
    line-height: 20px;
    background-color: #FFFFE0;
    border: 1px solid #DEDEB3;
    position: relative;
}
.m-detail-main-codes .deco {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 16px;
    height: 15px;
    background-color: #FFF;
    background-position: -40px -60px;
}
.m-detail-main-codes .deco, .m-detail-period-title-ft, .m-detail-mainTab-resultList .ball {
    background-image: url(../images/Xmix-icon.png);
    background-repeat: no-repeat;
}


.g-side {
    height: 560px;
    border: 1px solid #dddddd;
    /*border-top: 0;*/
    background-color: #f2f2f2;
}
.g-side {
    float: right;width: 268px;
}

.m-detail-period-title h4 {
    float: left;
    font-size: 18px;
}
.m-detail-period-main {
    padding: 0px 10px 9px;
    height: 510px;
}
m-detail-period-main {
    padding: 0px 10px 9px;
    height: 510px;
}
.m-detail-period-main-wrap {
}
.m-detail-period-main-wrap {
    height: 100%;
    background-color: #FFF;
}
.m-detail-period-nav {
    padding: 19px 0px 0px 15px;
    height: 36px;
    background: #FFF none repeat scroll 0% 0%;
}
.g-twoCol, .f-clear {
}
.m-detail-period-nav-newer-disable {
    background-position: -300px -30px;
}
.m-detail-period-nav-newer {
    background: transparent url(../images/xmix-icon.png) no-repeat scroll -344px -30px;
}
.m-detail-period-nav-btn {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #F5F5F5;
    text-indent: -9999px;
    overflow: hidden;
}
.m-detail-period-nav-current {
    display: block;
    float: left;
    width: 148px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
}
.m-detail-period-nav-older {
    background: transparent url(../images/xmix-icon.png) no-repeat scroll -344px -73px;
}
.m-detail-period-content {
    height: 455px;
}
m-detail-period-winner-detail {
    padding: 30px 10px 22px;
}
.m-detail-period-winner-detail {
    padding: 15px 10px 5px;
    color: #3C3C3C;
}
.avatar {
    margin: 0px auto 13px;
}
.m-detail-period-winner-detail .avatar {
    margin: 0px auto 3px;
    padding: 4px;
    width: 90px;
    border: 1px solid #DDD;
    border-radius: 2px;
}
.m-detail-period-winner-detail .title {
    margin-bottom: 5px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px dashed #DDD;
}
.m-detail-period-winner-detail p {
    line-height: 24px;
}
.m-detail-period-winner-detail p {
    line-height: 18px;
}
.f-txtabb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-detail-period-winner-link {
    text-align: center;
}
.w-button-simple {
    padding: 0px 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Verdana";
    color: #808080;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    background: transparent -moz-linear-gradient(center top , #FFF, #EEE) repeat scroll 0% 0%;
}
.m-detail-period-winner-detail p {
    line-height: 24px;
}
.m-detail-main-ing {
    padding-right: 50px;
    padding-top: 12px;
    border: 1px dotted #a0a0a0;
    border-left: 0;
    border-right: 0;
}
.w-goods-xxl {
}
.m-detail-main-codes a, .m-detail-main-codes-list a {
    font-family: 'simsun';
}
.m-detail-main-progress {
	
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}
.txt-blue {
    color: #39F;
	font-weight:bold;
}
.txt-err, .txt-impt, .txt-red {
    color: #f80;
	font-weight:bold;
}


.m-detail-period-newest_h6{
	padding-left: 15px;
    line-height: 42px;
    color: #3c3c3c;
	font-size:12px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.xjiexiao_img img{width:110px;height:110px; margin-top:10px;}
.xjiexiao_content{width:241px; height:510px; background:#FFF}
.xjiexiao_titlte{width:90%;margin:30px auto auto auto; overflow:hidden;text-align:center;}
.xjiexiao_titlte a{color: #3c3c3c;font-size:14px;font-weight: bold; }
.xjiexiao_titlte_gudnong{width:220px; margin:20px auto auto auto;}

.xjiexiao_xuanze{width:200px; height:38px; line-height:36px; margin:10px auto auto auto; overflow:hidden;}
.xjiexiao_pre{float:left; width:34px; height:35px; background:URL(../images/goods_detail/1.png) no-repeat; cursor:pointer}
.xjiexiao_next{float:left;width:34px; height:35px; background:URL(../images/goods_detail/4.png) no-repeat;cursor:pointer}
.xjiexiao_qishu{width:128px; height:33px;text-align:center;float:left; color:#808080; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd}
.xjiexiao_detail{width:220px;margin:20px auto auto auto; overflow:hidden}
.xjiexiao_detail p{ margin-top:10px;color:#3c3c3c}
.xjiexiao_seedetail{width:66px; height:24px; line-height:24px; border:1px solid #d8d8d8; color:#808080; font-size:12px; text-align:center; cursor:pointer; margin:30px auto auto auto; border-radius:5px; background:#f6f6f6; font-family:"Verdana"}

/*小图片*/
.xh_xiaotu{background:url(../images/goods_detail/36.png) no-repeat;border-bottom:1px solid rgb(219, 54, 82);}
//.zoom-desc label{border:none}
.zoom-desc label:hover{background:url(../images/goods_detail/36.png) no-repeat;border-bottom: 1px solid rgb(219, 54, 82); height:61px; }
.jcarousel-clip img:hover{ border:none;border:1px solid #f80;border-bottom:none}


/******************2015/12/14 商品内容页面 底部的温馨提示 和正品保证等容器的样式******************************/
.tishi{width:850px; border-top: 1px dashed #ddd;color: #7d7d7d;line-height: 25px;margin: 0 auto;padding: 30px 8px 25px 80px;font-family:'Microsoft Yahei';}
.tishi .tishi_tit{float:left;font-size:16px;}
.tishi .tishi_content{padding-left:85px;font-size:16px;}
#fbar{width:1200px;overflow:hidden;margin:10px auto 0;border:1px solid #e4e4e4;color:#666;background:#fff}
#fbar dl{padding: 20px 20px 20px 120px;}
#fbar i{display: inline-block;height: 32px;line-height: 32px;padding-right: 10px;vertical-align: bottom;width: 32px;}
#fbar .zhengpin{background:url(../images/zhengpin.png) no-repeat;}
#fbar .lianbao{background:url(../images/lianbao.png) no-repeat;}
#fbar .anquan{background:url(../images/anquan.png) no-repeat;}
#fbar dt{color: #d2691e;display: block;font-family:'Microsoft Yahei';font-size: 16px;height: 32px; line-height: 32px;margin-left: -42px;}
#fbar dd{display: block;line-height: 18px;padding: 10px 0 30px;}




/*修改 购买次数的样式  2016.5.24  */

a,li,ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.box{
	float:left;
}
.box_left,.box_right{
	width:28px;
	height:26px;
	border:1px solid #e4e4e4;
	text-align: center;
	float:left;
	line-height:26px;
	cursor:pointer;
}
.box_left{
	border-bottom-left-radius:18px;
	border-top-left-radius:18px;
}
.box_right{
	border-bottom-right-radius:18px;
	border-top-right-radius:18px;
}
.box_center{
	width: 40px;
	height:26px;
	text-align: center;
	border:1px solid #e4e4e4;
	float:left;
	margin:0 auto;
	padding: 0;
	line-height:26px;
}
.woyao_box3{
	float:left;
}
.woyao_box3 li{
	float: left;
	padding:0px 15px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 18px;
	cursor: pointer;
	color: #333;	
}
			/*更多*/
	.ng-total-nav .now a{color: #f80 !important;}
	.ng-total-nav .now{width:156px;
						}
    .ng-sort a{color: #999;
    			
    			overflow: hidden;
    			display: block;
    			font-size: 14px;
    			background-color: #fff;}
 
	.ng-total-nav li a{
						
						text-align: center;
						line-height: 38px;
						border: 1px solid #e4e4e4;
						}
	.ng-total-nav li{width: 116px;}	
	.ng-total-nav li{float: left;}
	.ng-total-nav {width: 1200px;
					height: 38px;
					margin: auto; 
					border: 1px solid #e4e4e4;
				    box-shadow: 0 0 5px #e4e4e4;
				    overflow: hidden;}
	.clearfix{clear: both;}
	.box_color{ background-color:#f80;
      			color: #fff;}

	.dotting {
	    display: inline-block; width: 10px; min-height: 2px;
	    padding-right: 2px;
	    border-left: 2px solid currentColor; border-right: 2px solid currentColor;
	    background-color: currentColor; background-clip: content-box;
	    box-sizing: border-box;
	    -webkit-animation: dot 4s infinite step-start both;
	    animation: dot 4s infinite step-start both;
	    *zoom: expression(this.innerHTML = '...'); /* IE7 */
	}
	.dotting:before { content: '...'; } /* IE8 */
	.dotting::before { content: ''; }
	:root .dotting { margin-left: 2px; padding-left: 2px; } /* IE9+ */
	
	@-webkit-keyframes dot {
	    25% { border-color: transparent; background-color: transparent; }
	    50% { border-right-color: transparent; background-color: transparent; }
	    75% { border-right-color: transparent; }
	}
	@keyframes dot {
	    25% { border-color: transparent; background-color: transparent; }
	    50% { border-right-color: transparent; background-color: transparent; }
	    75% { border-right-color: transparent; }
	}






