@charset "utf-8";
	body {
	background-color:#F7F7F7;
}
.goods_tj,.goods_xp,.goods_rq,.goods_xs,.list_classMore i,.MoreClick i,.Price_Sort i,.SortCur b,.SortCur s {
	background:url(../images/goods_tj.png) no-repeat;
}
.list_Curtit {
	width:1200px;
	height:39px;
	background:#fff;
	border:1px solid #E4E4E4;
}
.list_Curtit h1 {
	font-size:18px;
	line-height:22px;
	color:#f80;
	font-family:微软雅黑,宋体;
	font-weight:bold;
	padding:8px 10px 0 10px;
	_padding:9px 10px 0 10px;
}
.list_Curtit span {
	font-family:微软雅黑,宋体;
	padding:11px 10px 0 10px;
	_padding:12px 10px 0 10px;
	display:block;
	color:#999;
}
.list_Curtit span em {
	margin:0 5px;
}
.list_class:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.list_class {
	width:1200px;
	background:#fff;
	border:1px solid #E4E4E4;
	padding-bottom:10px;
	border-top:none;
	zoom:1;
	position:relative;
}
.list_class dl {
	padding-top:10px;
	float:left;
}
.list_class dt {
	float:left;
	width:53px;
	text-align:center;
	line-height:22px;
	color:#BBB;
}
.list_class dd {
	float:left;
	width:1140px;
	overflow:hidden;
}
.list_class dd ul {
	float:left;
}
.list_class dd li {
	float:left;
	width:130px;
	height:24px;
	overflow:hidden;
	margin-bottom:2px;
	margin-right:10px;
}
.list_class dd a {
	line-height:22px;
	height:24px;
	overflow:hidden;
	padding:2px 5px 2px 5px;
	color:#666;
	white-space:nowrap;
}
.list_class dd a:hover {
	color:#f80;
}
.list_class dd a.ClassCur {
	background:#f80;
	color:#fff;
	padding:2px 5px 2px 5px;
	white-space:nowrap;
}
.list_class dd a.ClassCur:hover {
	color:#fff;
}
a.list_classMore {
	border:1px solid #EEE;
	display:inline-block;
	position:absolute;
	bottom:10px;
	right:10px;
	padding:2px 8px 1px 8px;
	_padding:3px 8px 3px 8px;
	color:#f80;
}
a.list_classMore:visited,a.list_classMore:hover,a.list_classMore:active {
	color:#f80;
}
.list_classMore i {
	width:8px;
	height:8px;
	overflow:hidden;
	display:inline-block;
	background-position:right -158px;
	_vertical-align:2px;
}
.MoreClick i {
	width:8px;
	height:8px;
	display:inline-block;
	background-position:left -158px;
}
.list_Sort {
	width:1200px;
	height:48px;
	background:#fff;
	border:1px solid #E4E4E4;
	border-top:none;
}
.list_Sort dl {
	float:left;
	padding-top:10px;
}
.list_Sort dt {
	float:left;
	width:53px;
	text-align:center;
	padding-top:4px;
	color:#BBB;
}
.list_Sort dd {
	float:left;
	padding-left:1px;
	height:28px;
}
.list_Sort dd a {
	border:1px solid #CCC;
	margin-right:10px;
	padding:2px 20px 2px 20px;
	padding:4px 20px 0 20px\9;
	_padding:2px 20px 2px 20px;
	margin-left:1px;
	margin-top:2px;
	margin-bottom:1px;
	color:#999;
	display:inline-block;
	float:left;
}
.list_Sort dd a:hover {
	color:#f80;
}
.list_Sort dd a.SortCur {
	border:2px solid #f80;
	color:#666;
	margin-right:10px;
	margin-top:1px;
	margin-left:-1px;
	margin-bottom:0;
}
.list_Sort dd a.Price_Sort {
	padding:2px 20px 2px 20px;
	padding:3px 20px 1px 20px\9;
	_padding:4px 20px 3px 20px;
	display:inline-block;
	vertical-align:0;
	_vertical-align:-3px;
}
.list_Sort dd .Price_Sort i,.list_Sort dd .SortCur b,.list_Sort dd .SortCur s {
	width:7px;
	height:9px;
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
}
.list_Sort dd .Price_Sort i {
	background-position:-43px -170px;
	_vertical-align:2px;
}
.list_Sort dd .SortCur b {
	background-position:-22px -170px;
	_vertical-align:2px;
}
.list_Sort dd .SortCur s {
	background-position:-22px -170px;
	_vertical-align:2px;
}
.listContent:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.listContent {
	zoom:1;
	padding-bottom:28px;
}
.item:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.item {
	width:1226px;
	zoom:1;
	margin:0 auto;
}
.goods-iten {
	width:288px;
	border:1px solid #E4E4E4;
	float:left;
	display:_block;
	display:inline;
	margin:13px 0 0 13px;
	position:relative;
	background:#fff;
}
.goods_Cur {
	z-index:9;
}
.goods-iten .goods_Curbor {
	width:100%;
	height:392px;
	text-align:center;
	top:-3px;
	left:-3px;
	position:absolute;
	border:3px solid #FFD7BC;
	background:none;
	z-index:-11;
	display:none;
}	
#ulGoodsList .goods-iten:hover{
border: 1px solid #f80;
}
.goods_Cur .goods_Curbor {
	display:block;
}
.goods_block {
	width:234px;
}
.goods-iten .goods_tj {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right 0;
	position:absolute;
	/*right:0;
	_right:-1px;*/
	left: -2px;
	_left: -1px;
	top:0;
	z-index:1;
}
.goods-iten .goods_xp {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -49px;
	position:absolute;
	/*	right:0;
	_right:-1px;*/
	left: -2px;
	_left:-1px;
	top:0;
	z-index:0;
}

/*十元专区*/
.goods-iten .goods_xp_shi {
	width:52px;
	height:47px;
	display:inline-block;
	background:url(../images/shiyuan.png) no-repeat;
	position:absolute;
	left:-5px;
	_right:-1px;
	top:0;
	z-index:0;
	margin-left: 10px;
	margin-top: 5px;
}
.goods-iten .goods_xp_shis {
	width:63px;
	height:63px;
	display:inline-block;
	background:url(../images/PK6.png) no-repeat;
	position:absolute;
	left:-5px;
	_right:-1px;
	top:0;
	z-index:0;
	margin-left: 10px;
	margin-top: 5px;
}
.pk_numer{
        display:inline-block;
        position:absolute;
	left:-5px;
	_right:-1px;
	top:0;
	z-index:0;
	margin-left: 25px;
	margin-top: 3px;
        color: #fff;
        font-size: 24px;
}
.goods-iten .goods_rq {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -100px;
	position:absolute;
	/*right:0;
	_right:-1px;*/
	left: -2px;
	_left: -1px;
	top:0;
	z-index:1;
}
.goods-iten .goods_xs {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -192px;
	position:absolute;
	left:-2px;
	_right:-1px;
	top:0;
	z-index:1;
}
.goods-iten .pic {
	text-align:center;
	overflow:hidden;
	position:relative;
}
.goods-iten .pic a {
	display:inline-block;
	margin-top:10px;
}
.goods-iten .pic img {
	width:200px;
	margin:30px 0px;
	height:200px;
}
.goods-iten .pic p {
	background:#BFBFBF;
	opacity:0.8;
	height:25px;
	color:#fff;
	line-height:25px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.goods-iten .pic p span {
	padding:3px;
}
.goods-iten .name {
	height:20px;
	line-height:18px;
	margin-bottom:5px;
	overflow:hidden;
	padding:0 10px;
}
.goods-iten .name a {
	height:20px;
	line-height:18px;
	color:#414141;
	display:block;
	overflow:hidden;
}
.goods-iten .name a:hover {
	text-decoration:underline;
	color:#f80;
}
.goods-iten .money {
	padding:0 10px 5px;
	font-family:宋体;
	text-align:left;
	color:#999;
}
.goods-iten .money span {
	font-family:arial;
	color:#666;
}
.goods-iten .Progress-bar {
	width:90%;
	margin:0 auto;
}
.gl_buybtn:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.gl_buybtn {
	padding:2px 10px 10px;
	height:50px;
	zoom:1;
	position:relative;
}
.goods-iten .gl_number {
	line-height:20px;
	color:#999;
	text-align:center;
}
.goods-iten .gl_number .num_del,.goods-iten .gl_number .num_add,.goods-iten .gl_number .num_dig {
	width:18px;
	height:18px;
	overflow:hidden;
	display:inline-block;
	font-family:宋体;
	border:1px solid #CFCFCF;
	text-align:center;
	font-size:14px;
	color:#999;
	line-height:20px;
	vertical-align:middle;
	background:#F4F4F4;
}
.goods-iten .gl_number .num_ban {
	color:#CCC;
	cursor:default;
}
.goods-iten .gl_number .num_dig {
	width:47px;
	line-height:18px;
	border-left:none;
	border-right:none;
	background:#fff;
	font-family:Arial;
}
.goods-iten .go_buy:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.goods-iten .go_buy {
	margin-top:10px;
	zoom:1;
}
.go_Shopping {
	padding: 0px 20px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	border-radius: 4px;
	background: #fff;
	font-family: "Microsoft Yahei",simhei;
	font-weight: bold;
	color:#f80;
	border:1px solid #f80;
	/*margin-left:26px;*/
}
a.go_Shopping:hover {
	color:#fff;
	background:#f80;
	text-decoration:none
}
.go_cart {
	margin-left:10px;
    border: medium none;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    width: 45px;
    height: 45px;
    text-indent: -99em;
    background: url(../images/xmix-btn.png) left top no-repeat;
    _background: url(../images/xmix-btn.png) no-repeat;
	
}
.xh_floatleft{float:left}

.go_cart:hover {
	background: url(../images/xmix-btn.png) no-repeat scroll 0px -50px ;
}
.NoConMsg span {
	/*background:url(../images/webmsg.png) no-repeat;*/
}
.NoConMsg {
	text-align:center;
	padding:40px 0;
	background:#fff;
	margin:10px auto 0;
	border:1px solid #E4E4E4;
}
.NoConMsg span {
	height:110px;
	line-height:90px;
	/*padding-left:80px;
	background-position:0 -90px;
	*/
	display:inline-block;
	font-family:微软雅黑,宋体;
	font-size:18px;
	color:#999;
	
}
.error {
	background:url(../images/PublicIcon.png) no-repeat;
}
.error {
	width:100px;
	clear:both;
	border:1px solid orange;
	line-height:20px;
	text-align:left;
	height:20px;
	background-position:4px -74px;
	padding-left:25px;
	display:none;
	position:absolute;
	top:-15px;
	left:25%;
	z-index:12;
	background-color:#fff;
	color:#666;
}
.list_goodsTj {
	width:980px;
	background:#fff;
	margin:10px auto 20px auto;
	_margin:10px auto 10px auto;
}
.list_goodsTj .list_goodsTjTit {
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	height:36px;
	line-height:36px;
	padding-left:15px;
	border-top:3px solid #F60;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
.list_goodsTj .Roll_Left {
	width:24px;
	height:280px;
	float:left;
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	z-index:9;
}
.list_goodsTj .Roll_Left a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-left:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Right {
	width:24px;
	height:280px;
	float:right;
	background:#fff;
	position:absolute;
	right:0;
	top:0;
	z-index:9;
}
.list_goodsTj .Roll_Right a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-right:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Left a.Roll_enabled,.list_goodsTj .Roll_Right a.Roll_enabled {
	background:#F6F6F6;
	color:#BCBCBC;
}
.list_goodsTj .Roll_Left a.Roll_enabled:hover,.list_goodsTj .Roll_Right a.Roll_enabled:hover {
	background:#F6F6F6;
	color:#F60;
}
.list_goodsTj .Roll_Con {
	width:880px;
	height:280px;
	float:left;
	overflow:hidden;
	position:relative;
	left:48px;
}
.list_goodsTj .list_goodsTjCon {
	width:978px;
	border:1px solid #E4E4E4;
	height:280px;
	overflow:hidden;
	position:relative;
}
.list_goodsTj .list_goodsTjCon ul {
	width:1927px;
	position:absolute;
	z-index:1;
	left:0;
}
.list_goodsTjCon li {
	width:150px;
	float:left;
	margin:10px 32px 10px 0;
}
.list_goodsTjCon .pic {
	text-align:center;
	width:150px;
	height:140px;
	overflow:hidden;
	margin-bottom:10px;
}
.list_goodsTjCon .pic a {
	display:inline-block;
}
.list_goodsTjCon .pic img {
	width:150px;
	height:140px;
}
.list_goodsTjCon .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.list_goodsTjCon .name a {
	line-height:18px;
	color:#666;
	display:block;
}
.list_goodsTjCon .name a:hover {
	text-decoration:underline;
	color:#f60;
}
.list_goodsTjCon .money {
	font-family:宋体;
	text-align:center;
	color:#999;
}
.list_goodsTjCon .money span {
	font-family:arial;
	color:#666;
}
.list_goodsTjCon .go_buy {
	text-align:center;
	margin-top:7px;
}
.go_Shopping12 {
	padding:5px 16px 6px 16px;
	_padding:6px 16px 5px 16px;
	border:1px solid #F60;
	background:#F60;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
}
a.go_Shopping12:hover {
	color:#fff;
}
.Progress-bar {
	height:44px;
}
.Progress-bar p {
	height:4px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
	font-size:0;
}
.Progress-bar p span {
	height:4px;
	border:1px solid #f80;
	background:-webkit-gradient(linear, 0% 0, 100% 0, from(#f80), to(#d2691e));
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:0;
	border-radius:3px;
	font-size:0;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:12px;
	font-family:宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:12px;
	font-family:arial;
	height:14px;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#f80;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#f80;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:34%;
	float:right;
	text-align:right;
}
.goods_loding {
	max-height:325px;
	overflow:auto;
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	text-align:center;
}
.goods_loding img {
	margin-right:5px;
}
.pages {
	overflow:hidden;
	height:60px;
	clear:both;
	border-top:1px solid #E4E4E4;
}
.pages ul.pageULEx {
	float:right;
	padding:20px 0 0 0;
	margin-right:0;
	display:inline;
}
.pages ul.pageULEx li {
	line-height:32px;
}
.pages ul.pageULEx li.curr_page {
	padding:4px 0 3px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li a {
	padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page a,.pages ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page i,.pages ul.pageULEx li.next_page i {
	font-family:宋体;
	font-weight:bold;
}
.pages ul.pageULEx li.prev_page i {
	padding-right:5px;
}
.pages ul.pageULEx li.next_page i {
	padding-left:5px;
}
.pages ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.pages ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.pages ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	background-color:#F60;
	border:1px solid #F60;
	color:#FFF;
	text-decoration:none;
	border-radius:5px;
}
.pages ul.pageULEx li a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li a,.pages li a:hover {
	display:inline-block;
	overflow:hidden;
}
.pages ul.pageULEx li a:hover {
	color:#f60;
	text-decoration:none;
}
.pages ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	width:65px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:65px;
	overflow:hidden;
	display:inline-block;
}
.pages ul.pageULEx li.prev_page a:hover,.pages li.next_page a:hover {
	color:#f60;
	overflow:hidden;
}
.pages ul.pageULEx li.page_curgray a,.pages ul.pageULEx li.page_curgray a:hover {
	cursor:default;
	display:inline-block;
	background:#F4F4F4;
	border:1px solid #E4E4E4;
	color:#CCC;
}
