﻿@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body {
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
div {
	margin:0 auto;
}
img {
	border:0;
}
ul,li {	
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:12px;
}
a {
	color:#333;
	text-decoration:none;
	outline:none;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
a:hover {
	color:#f60;
	outline:none;
}
i,em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl,.fl-img {
	float:left;
}
.fr {
	float:right;
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.hidden {
	display:none;
}
.show {
	display:block;
}
.wrap {
	width:980px;
	margin:0 auto;
}
.Current_nav {
	width:980px;
	font-size:12px;
	color:#bbb;
	font-family:宋体;
	height:25px;
	margin:0 auto;
}
.Current_nav span {
	font-family:宋体;
}
.Current_nav a {
	color:#bbb;
}
.Current_nav a:hover {
	color:#f60;
}
.white {
	color:#fff;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f60;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.Close,.Roll_mycart li a.Close:hover,.quick_cart .Current s,.quick_service .Current s,.quick_Collection .Current s,.quick_Return .Current s {
	background:url(../images/quickBack.png) no-repeat;
}
.quickBack {
	position:fixed;
	_position:absolute;
}
.quickBack {
	position:fixed;
	bottom:40px;
	right:10px;
	width:60px;
	z-index:11;
}
* html .quickBack {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.quickBack .quick_But {
	width:60px;
}
.quickBack .quick_But dd a.quick_cartA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_serviceA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_CollectionA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_ReturnA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	z-index:11;
}
.quickBack .quick_But dd a s {
	cursor:pointer;
	height:58px;
	left:0;
	position:absolute;
	top:0;
	width:58px;
}
.quickBack .quick_But dd a b {
	width:58px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	position:absolute;
	top:32px;
	left:0;
	display:inline-block;
	font-family:微软雅黑;
	display:none;
	cursor:pointer;
	z-index:10;
}
.quickBack .quick_But dd a.Current b {
	display:block;
}
.quick_cart em {
	width:16px;
	padding-left:1px;
	height:17px;
	line-height:16px;
	font-size:11px;
	font-family:Arial;
	text-align:center;
	color:#fff;
	position:absolute;
	top:7px;
	right:5px;
	background:url(../images/quickBack_CartDig.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quickBack_CartDig.png");
}
.quick_cart s {
	background-position:0 0;
}
.quick_service s {
	background-position:0 -59px;
}
.quick_Collection s {
	background-position:0 -118px;
}
.quick_Return s {
	background-position:0 -177px;
}
.quick_cart .Current s {
	background-position:-58px 0;
}
.quick_service .Current s {
	background-position:-58px -59px;
}
.quick_Collection .Current s {
	background-position:-58px -118px;
}
.quick_Return .Current s {
	background-position:-58px -177px;
}
.quick_goods_loding {
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	height:111px;
	min-height:111px;
	text-align:center;
	vertical-align:middle;
	padding:60px 0 0 0;
}
.quick_goods_loding img {
	margin-right:5px;
	vertical-align:middle;
}
.Roll_mycart {
	width:290px;
	height:234px;
	overflow:hidden;
	border:1px solid #2AF;
	position:absolute;
	right:59px;
	top:1px;
	background:#fff;
	z-index:18;
}
.Roll_mycart ul {
	width:282px;
	padding-left:8px;
	border-bottom:1px solid #EFEFEF;
	height:171px;
	float:left;
}
.Roll_mycart li {
	width:60px;
	float:left;
	text-align:center;
	position:relative;
	margin:8px 10px 0 0;
	_display:inline;
	line-height:14px;
}
.Roll_mycart li a {
	height:60px;
	display:block;
}
.Roll_mycart li a.Close {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-color:#EEE;
	background-position:-14px -238px;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
	border-bottom:none;
}
.Roll_mycart li a.Close:hover {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -238px;
	background-color:#F60;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
}
.Roll_mycart li img {
	border:1px solid #EEE;
	width:58px;
	height:58px;
}
.Roll_mycart li span {
	font-family:Arial;
	font-weight:bold;
}
.Roll_mycart li.Roll_CartMore a {
	width:60px;
	height:60px;
	background:#F0F0F0;
	display:inline-block;
	line-height:60px;
	font-family:宋体;
	color:#999;
}
.Roll_mycart li.Roll_CartMore a:hover {
	background:#e8e8e8;
	color:#f60;
}
.Roll_mycart li.Roll_CartMore a i {
	font-weight:bold;
}
.Roll_mycart p {
	text-align:right;
	color:#999;
	width:260px;
	height:22px;
	overflow:hidden;
	float:right;
	padding-top:5px;
	padding-right:8px;
}
.Roll_mycart p span {
	color:#f60;
}
.Roll_mycart h3 {
	height:26px;
	padding-right:8px;
	padding-bottom:4px;
	float:right;
}
.Roll_mycart h3 input {
	width:112px;
	height:26px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f60;
	border-radius:3px;
	float:right;
	padding:2px 0 5px;
	_padding:3px 0 2px;
}
.Roll_mycart h3 input[type=button]::-moz-focus-inner {
	border:0;
}
.collect a,.h_tel,.h_1yyg b,.h_1yyg_eject i,.head_search .search_submit,.mini_mycart a.cart s,.tipsCancel,.login_info .h_news b,.login_info .h_news i,.h_Mobileicon,.DetailsT_Cart s,.login_info .h_inv a,.login_info .h_inv a:hover {
	background:url(../images/headbg11.png) no-repeat;
}
.tips-con i,.rmbred,.rmbgray,.rmbwhite {
	background:url(../images/PublicIcon.png) no-repeat;
}
.rmbred {
	background-position:0 -49px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbgray {
	background-position:0 -3px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbwhite {
	background-position:0 -25px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.tips-con {
	text-align:center;
	color:#999;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:0 -75px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-4px\9;
	_vertical-align:-2px;
}
.header:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.header {
	background:#fff;
	zoom:1;
	position:relative;
	z-index:21;
}
.head_top,.head_mid_bg,.nav_center {
	margin:auto;
	font-size:12px;
}
.site_top {
	width:100%;
	height:32px;
	border-bottom:1px solid #E6E6E6;
	background-color:#F7F7F7;
	box-shadow:0 1px 0 #F7F7F7;
}
.site_top .head_top {
	width:980px;
	height:25px;
}
.head_top .collect {
	float:left;
	padding-top:4px;
	margin-right:10px;
}
.head_top .collect a {
	background-position:0 -13px;
	padding:3px 0 0 15px;
	background-repeat:no-repeat;
	float:left;
	color:#666;
}
.head_top .collect a:hover {
	color:#f60;
}
.head_top .Ht-qqicon {
	float:left;
	margin-top:7px;
	color:#666;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-right:45px;
}
.login_info {
	display:none;
	float:right;
}
.login_info li {
	float:left;
	display:inline;
	margin-top:6px;
	margin-top:5px\0;
}
.gray_info a,.gray_info a:visited,.Ht-qqicon a,.Ht-qqicon a:visited {
	color:#666;
	padding-left:15px;
}
.gray_info a:hover,.Ht-qqicon a:hover {
	color:#f60;
}
.login_info .h_1yyg {
	margin-top:0;
	height:25px;
	position:relative;
	padding:7px 18px 0 7px;
	text-align:center;
	z-index:11;
}
.login_info .h_1yyg b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject {
	position:absolute;
	top:0;
	left:-2px;
	border:1px solid #DFDFDF;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:93px;
	background:#fff;
	z-index:999;
}
.login_info .h_1yyg .h_1yyg_eject dt {
	text-align:left;
	height:32px;
	position:relative;
}
.login_info .h_1yyg .h_1yyg_eject dt a {
	padding:7px 15px 0 8px;
	height:24px;
	display:inline-block;
}
.login_info .h_1yyg_eject i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject dd {
	text-align:left;
	border-top:1px solid #E9E9E9;
}
.login_info .h_1yyg .h_1yyg_eject dd a {
	height:30px;
	display:block;
	padding-left:12px;
	line-height:30px;
}
.login_info .h_1yyg .h_1yyg_eject dd a:hover {
	background:#F5F5F5;
}
.login_info .h_news {
	margin-top:0;
	height:25px;
	position:relative;
	padding:7px 18px 0 7px;
	position:relative;
	text-align:center;
	z-index:11;
}
.login_info .h_news b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_down {
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	z-index:11;
}
.login_info .h_news .h_news_downT {
	position:relative;
	height:32px;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:48px;
	float:left;
	z-index:9;
	background:#fff;
}
.login_info .h_news .h_news_downT a {
	padding:7px 12px 0 0;
	height:24px;
	display:inline-block;
}
.login_info .h_news .h_news_downT i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_downC {
	z-index:11;
	position:relative;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	background:#fff;
	float:left;
	margin-left:0;
	left:0;
	top:1px;
}
.login_info .h_news .h_news_downC a {
	width:80px;
	text-align:left;
	height:30px;
	line-height:30px;
	display:block;
	padding:0 24px 0 11px;
	padding-left:12px;
	line-height:30px;
	border-bottom:1px solid #E9E9E9;
}
.login_info .h_news .h_news_downC a:hover {
	background:#F5F5F5;
}
.login_info .h_wel {
	color:#666;
	padding:0 7px;
}
.login_info .h_login i {
	color:#666;
	padding-right:8px;
}
.login_info .h_wel img {
	width:15px;
	height:15px;
	vertical-align:middle;
	margin-right:5px;
}
.login_info .h_login span {
	padding:0 7px;
	color:#eee;
}
.login_info .h_login {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_Mobile {
	padding:0 7px;
	margin-top:8px\9;
	position:relative;
	z-index:12;
}
.login_info .h_Mobile .h_Mobileicon {
	width:19px;
	height:9px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -212px;
	position:absolute;
	top:-4px;
	top:-5px\9;
	right:-2px;
}
.login_info .h_inv {
	padding:0 7px;
}
.login_info .h_inv {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_inv a,.login_info .h_inv a:visited {
	background-position:0 -141px;
	padding-left:17px;
	color:#f60;
}
.login_info .h_inv a:hover {
	background-position:0 -159px;
	color:#f60;
}
.login_info .h_1yyg a,.login_info .h_1yyg a:visited,.login_info .h_news a,.login_info .h_news a:visited,.login_info .h_inv a,.login_info .h_inv a:visited,.login_info .h_help a,.h_help .h_1yyg a:visited,.login_info .h_Mobile a,.login_info .h_Mobile a:visited {
	color:#666;
}
.login_info .h_1yyg a:hover,.login_info .h_news a:hover,.login_info .h_inv a:hover,.login_info .h_help a:hover,.login_info .h_Mobile a:hover {
	color:#f60;
}
.login_info .h_tel {
	height:15px;
	overflow:hidden;
	background-position:0 0;
	margin-top:9px;
	_margin-top:10px;
	margin-left:5px;
}
.login_info .h_tel b {
	width:138px;
	display:block;
	color:#f60;
	line-height:20px;
	margin-top:-3px;
	font-family:Arial;
	text-indent:15px;
	font-size:18px;
	font-weight:normal;
}
.h_news_tips {
	border:1px solid #BBB;
	width:170px;
	box-shadow:0 0 3px #DFDFDF;
	position:absolute;
	text-align:right;
	padding:5px 5px 2px 10px;
	background:#F7F7F7;
	border-radius:2px;
	z-index:11;
}
.h_news_tips .tipsCancel {
	position:absolute;
	right:3px;
	top:3px;
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -124px;
}
.h_news_tips p {
	text-align:left;
	color:#666;
	height:22px;
	line-height:22px;
	padding-right:15px;
}
.h_news_tips p a {
	color:#2AF;
	text-align:right;
	float:right;
}
.h_news_tips p a:hover {
	text-decoration:underline;
}
.head_mid {
	height:81px;
	background:#fff;
}
.head_mid .head_mid_bg:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.head_mid .head_mid_bg {
	width:980px;
	zoom:1;
	z-index:20;
}
.head_mid .head_mid_bg .logo_1yyg {
	float:left;
	margin-top:10px;
	margin-right:10px;
	display:inline;
}
.head_mid .head_mid_bg .logo_1yyg a {
	display:block;
	width:105px;
	height:62px;
	overflow:hidden;
}
.head_mid .newbie_guide {
	float:left;
	margin-top:12px;
	height:60px;
	overflow:hidden;
}
.head_mid .head_number {
	float:right;
	height:25px;
	line-height:23px;
	_line-height:25px;
	margin:18px 0 0 27px;
	display:inline;
}
.head_mid .head_number a {
	display:inline-block;
	color:#666;
	background:#F5F5F5;
	border:1px solid #e5e5e5;
	font-size:14px;
	font-family:微软雅黑,宋体;
	padding:1px 10px 2px 10px;
	color:#666;
}
.head_mid .head_number a:hover {
	color:#666;
	background:#ebebeb;
	border:1px solid #e0e0e0;
}
.head_mid .head_number span {
	font-size:20px;
	font-family:arial;
	vertical-align:-2px;
	color:#2AF;
	padding:0 5px;
}
.head_mid .head_search {
	float:right;
	margin-top:18px;
}
.head_search .init {
	width:276px;
	height:26px;
	text-indent:5px;
	line-height:26px;
	background-repeat:repeat-x;
	border:1px solid #CFCFCF;
	color:#CCC;
	border-right:none;
	float:left;
	font-family:Arial,"宋体";
}
.head_search .text {
	text-align:left;
	color:#666;
	font-weight:normal;
}
.head_search .search_submit {
	width:46px;
	height:28px;
	background-position:14px -89px;
	background-color:#2AF;
	border:none;
	text-indent:-999em;
	vertical-align:top;
	cursor:pointer;
	float:left;
}
.head_search .keySearch {
	padding-top:1px;
	clear:both;
}
.head_search .keySearch a {
	margin-right:10px;
	color:#999;
}
.head_search .keySearch a:hover {
	color:#f60;
}
.head_nav ul.nav_list li.home-back {
	width:86px;
}
.head_nav ul.nav_list li.sort-all {
	width:108px;
}
.head_nav ul.nav_list li.share {
	width:116px;
}
.head_nav ul.nav_list li.nav_Cloud {
	width:101px;
}
.head_nav ul.nav_list li.new-lottery {
	width:116px;
}
.head_nav ul.nav_list li.cooperation {
	width:86px;
}
.head_nav ul.nav_list li.what-1yyg {
	width:116px;
}
body.index .head_nav ul.nav_list li.home-back a.home,body.sort .head_nav ul.nav_list li.sort-all a.sort,body.share .head_nav ul.nav_list li.share a,body.nav_Cloud .head_nav ul.nav_list li.nav_Cloud a,body.lottery .head_nav ul.nav_list li.new-lottery a,body.cooperation .head_nav ul.nav_list li.cooperation a,body.helper .head_nav ul.nav_list li.what-1yyg a {
	background:#F40;
	border:1px solid #E53D00;
	box-shadow:inset 0 0 15px #E53D00;
	height:33px;
	overflow:hidden;
	font-weight:bold;
	line-height:32px;
	_line-height:34px;
}
body.sort .head_nav .nav_center ul.nav_list li a.nav_ico {
	background:#ff4e00;
}
.nav_list li a.nav_ico {
	background:#ff4e00;
}
.head_nav {
	width:100%;
	height:35px;
	position:relative;
	z-index:19;
	background:#f60;
}
.head_nav .nav_center {
	width:980px;
	height:33px;
	background:#F60;
	margin:0 auto;
	position:relative;
	z-index:19;
}
.head_nav .nav_list {
	float:left;
	width:749px;
	height:35px;
	background:#F60;
	margin:0;
	overflow:hidden;
}
.head_nav .nav_list li {
	float:left;
}
.head_nav .nav_list li a {
	float:left;
	width:100%;
	text-align:center;
	height:35px;
	overflow:hidden;
	line-height:32px;
	_line-height:34px;
	font-size:14px;
	font-family:微软雅黑,宋体;
	color:#fff;
	border:1px solid #F60;
}
.head_nav .nav_list li a:hover {
	background:#FF4800;
	border:1px solid #FF4800;
}
.head_nav ul.nav_list li.home-back a {
	width:84px;
}
.head_nav ul.nav_list li.sort-all a {
	width:107px;
}
.head_nav ul.nav_list li.share a {
	width:114px;
}
.head_nav ul.nav_list li.nav_Cloud a {
	width:99px;
}
.head_nav ul.nav_list li.new-lottery a {
	width:114px;
}
.head_nav ul.nav_list li.cooperation a {
	width:84px;
}
.head_nav ul.nav_list li.what-1yyg a {
	width:114px;
}
.head_nav .mini_mycart {
	background:#2AF;
	width:200px;
	float:right;
	height:35px;
	padding:0;
}
.head_nav .mini_mycart a.cart {
	/*width:70px;*/
	height:35px;
	line-height:34px;
	float:left;
	text-align:left;
	font-size:14px;
	font-family:微软雅黑,宋体;
	overflow:hidden;
	color:#fff;
	position:relative;
	padding-left:39px;
	*margin-top:-10px;
}
.head_nav .mini_mycart a.cart s {
	width:22px;
	height:18px;
	background-position:0 -39px;
	display:black;
	float:left;
	position:absolute;
	left:11px;
	top:8px;
}

.head_nav .mini_mycart a.checkout {
	width:81px;
	height:27px;
	line-height:25px;
	_line-height:27px;
	text-align:center;
	background:#0095F2;
	font-family:微软雅黑;
	font-size:14px;
	float:right;
	color:#fff;
	border-radius:3px;
	margin:4px 4px 0 0;
	display:inline-block;
}
#sCartTotal {
	font-family:Arial,Helvetica,sans-serif;
}
.nav_class {
	width:978px;
	height:33px;
	background:#fff;
	border:1px solid #DCDCDC;
	border-top:none;
	margin:0 auto 10px;
	position:relative;
	z-index:0;
	box-shadow:0 0 2px #D3D3D3;
}
.nav_class ul:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.nav_class ul {
	padding-left:10px;
	zoom:1;
}
.nav_class li {
	float:left;
	height:33px;
	font-size:14px;
	font-family:微软雅黑,宋体;
	color:#888;
}
.nav_class li a {
	color:#888;
	padding:4px 17px 5px 17px;
	padding:5px 17px 4px 17px\9;
	_padding:7px 17px 5px 17px;
	display:inline-block;
}
.nav_class li a:hover {
	color:#f60;
}
.mycart_list {
	width:250px;
	border:1px solid #2AF;
	position:absolute;
	z-index:10;
	top:35px;
	*top:35px;
	_top:35px;
	right:0;
	background:#fff;
}
.mycart_list dl {
	width:230px;
	padding:10px 10px 8px 10px;
	height:62px;
	border-bottom:1px solid #EFEFEF;
	position:relative;
}
.mycart_list dl.mycartcur {
	background:#F4F4F4;
}
.mycart_list dl dd,.mycart_list dl dt {
	float:left;
	padding:0;
	background:none;
}
.mycart_list dl dt {
	width:58px;
	height:58px;
	padding:0 10px 0 0;
}
.mycart_list dl dt a,.mycart_list dl dt a img,.mycart_list dl dt a:hover {
	width:58px;
	height:58px;
	display:block;
	border:0;
	color:#555;
	padding:0;
	background:none;
}
.mycart_list dl dt a img {
	border:1px solid #EFEFEF;
}
.mycart_list dl dd.title {
	width:145px;
	float:left;
}
.mycart_list dl dd.title em {
	color:#999;
	font-family:宋体;
}
.mycart_list dl dd.title a {
	width:145px;
	height:40px;
	line-height:20px;
	display:block;
	overflow:hidden;
	color:#555;
	padding:0;
	background:none;
}
.head_nav .nav_center .mycart_list dl dd.title a:hover {
	color:#f60;
	text-decoration:underline;
}
.mycart_list dl dd.title span {
	color:#f60;
	line-height:20px;
}
.mycart_list dl dd.del {
	margin-top:0;
	position:absolute;
	right:10px;
	bottom:10px;
}
.mycart_list dl dd.del a {
	color:#ccc;
	font-weight:normal;
	font-size:12px;
	padding:0;
	background:none;
}
.mycart_list dl dd.del a:hover {
	color:#f60;
	text-decoration:underline;
}
.mycart_list p {
	padding:5px 8px 10px 0;
	text-align:right;
	color:#999;
}
.mycart_list p span {
	color:#f60;
}
.mycart_list h3 {
	height:30px;
	padding-right:8px;
	padding-bottom:13px;
}
.mycart_list h3 input {
	width:120px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f60;
	border-radius:3px;
	float:right;
	padding:3px 0 5px;
	_padding:3px 0 2px;
}
.footer_line,.ft-fwrx-tel,.ft-fwrx-service a,.service-promise li a,.Service_Time p,.Service_Fund P,.ft-weixin dt span,.ft-weixin-img s {
	background:url(../images/footerimg.png);
}
.footer_content {
	background:#fff;
	overflow:hidden;
	zoom:1;
	clear:both;
	margin-top:10px;
}
.footer_line {
	height:8px;
	font-size:0;
	line-height:0;
	background-position:0 0;
}
.footservice {
	width:980px;
	height:185px;
	margin:10px auto 0 auto;
	overflow:hidden;
	clear:both;
}
.footer_content .service-promise {
	width:948px;
	padding-left:30px;
	border:1px solid #E8E8E8;
	margin:0 auto;
	height:46px;
	background:#fff;
}
.footer_content .service-promise ul {
	float:left;
}
.footer_content .service-promise li {
	float:left;
	display:block;
	height:43px;
}
.footer_content .service-promise .service-promise-border-r0 a {
	margin-right:0;
}
.sp-fair a,.sp-wares a,.sp-free-delivery a,.sp-business a {
	height:21px;
	display:inline-block;
	margin:13px 90px 0 0;
}
.footer_content .service-promise .sp-fair a {
	background-position:0 -65px;
	width:145px;
}
.footer_content .service-promise .sp-wares a {
	background-position:0 -89px;
	width:144px;
}
.footer_content .service-promise .sp-free-delivery a {
	background-position:0 -113px;
	width:134px;
}
.footer_content .service-promise .sp-business a {
	background-position:0 -137px;
	width:230px;
}
.footer_content .service-promise .sp-fair a span,.footer_content .service-promise .sp-wares a span,.footer_content .service-promise .sp-free-delivery a span,.footer_content .service-promise .sp-business a span {
	display:none;
}
.footservice .support {
	width:980px;
	margin:15px 0;
	overflow:hidden;
	zoom:1;
}
.footservice .support dl {
	float:left;
	width:183px;
	border-right:1px solid #F3F3F3;
}
.footservice .support dt {
	height:20px;
	margin-bottom:6px;
	overflow:hidden;
	margin-top:4px;
}
.footservice .support dt span {
	font-size:14px;
	font-weight:bold;
	color:#666;
}
.footservice .support .ft-newbie,.footservice .support .ft-ygjj,.footservice .support .ft-delivery,.footservice .support .ft-wares {
	width:125px;
	height:154px;
	margin-right:30px;
}
.footservice .support .ft-fwrx {
	width:180px;
	margin-right:30px;
	height:154px;
}
.footservice .support .ft-fwrx .ft-fwrx-tel {
	background-position:0 -41px;
	height:16px;
	_height:15px;
	overflow:hidden;
}
.footservice .support .ft-fwrx .ft-fwrx-tel i {
	display:block;
}
.footservice .support .ft-fwrx .ft-fwrx-service a {
	background-position:0 -10px;
	width:109px;
	height:24px;
	_height:23px;
	display:block;
	text-indent:-999em;
}
.footservice .support .ft-fwrx .ft-fwrx-time {
	color:#9F9F9F;
	line-height:20px;
	height:22px;
	_height:21px;
}
.footservice .support dd {
	height:22px;
	padding:2px 0 0 0;
	_padding:3px 0 0 0;
	overflow:hidden;
}
.footservice .support dd.ft-fwrx-service {
	height:60px;
	color:#9F9F9F;
}
.footservice .support dd.ft-fwrx-service .ft-qqicon {
	height:20px;
	display:block;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-left:15px;
}
.footservice .support dd.ft-fwrx-service .ft-qqgroup {
	display:block;
	font-size:12px;
	font-family:Arial;
}
.footservice .support dd b {
	width:3px;
	height:3px;
	font-size:0;
	line-height:0;
	background:#CACACA;
	vertical-align:3px;
	display:inline-block;
	margin-right:5px;
}
.footservice a,.footer a:link,.footer a:visited {
	color:#9F9F9F;
}
.footservice a:hover,.footer a:hover {
	color:#f60;
	text-decoration:underline;
}
.service_date {
	width:253px;
	margin:18px auto 6px;
	text-align:center;
	height:48px;
	color:#fff;
}
.service_date .Service_Time {
	width:99px;
	padding:5px 0 0 15px;
	height:43px;
	text-align:left;
	background:#F60;
	border-radius:2px;
	display:block;
	float:left;
	margin:0 3px;
}
.service_date .Service_Time p {
	height:16px;
	line-height:15px;
	background-position:-215px -15px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Time span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund a {
	width:105px;
	padding:5px 10px 0 15px;
	_display:inline;
	height:43px;
	text-align:left;
	background:#3B0;
	border-radius:2px;
	display:block;
	float:left;
	color:#fff;
}
.service_date .Service_Fund p {
	height:16px;
	line-height:15px;
	background-position:-215px -40px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Fund span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund i {
	font-size:12px;
	padding-left:5px;
	line-height:20px;
}
.footservice .support .ft-weixin {
	width:140px;
	overflow:hidden;
	border-right:none;
}
.footservice .support .ft-weixin dt span {
	background-position:-104px -168px;
	padding-left:25px;
	margin-left:5px;
}
.footservice .support .ft-weixin dd.ft-weixin-img {
	width:125px;
	height:93px;
	text-align:center;
	margin-bottom:2px;
}
.footservice .support .ft-weixin dd.ft-weixin-img s {
	width:93px;
	height:93px;
	margin:0 auto;
	display:inline-block;
	background-position:0 -168px;
}
.footer {
	width:100%;
	text-align:center;
	clear:both;
	padding:20px 0 10px 0;
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
	color:#333;
	background:#fff;
}
.footer .footer_links {
	text-align:center;
}
.footer .footer_links a {
	width:70px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.footer .footer_links b {
	height:11px;
	width:1px;
	background:#E4E4E4;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	margin-top:4px;
	*+margin-top:2px;
	margin-top:4px\9;
	margin-left:-3px;
}
.footer a {
	text-align:center;
	line-height:16px;
	line-height:18px\9;
}
.footer .footer_links .footer_links_nonebj a {
	text-align:center;
	border-left:none;
	width:50px;
}
.copyright {
	text-align:center;
	color:#9F9F9F;
	margin:0 auto 15px auto;
	padding:5px 0 0 0;
	clear:both;
	font-family:Arial,"宋体";
}
.footer_icon {
	margin:0 auto 0 auto;
	height:30px;
}
.footer_icon li {
	width:90px;
	height:30px;
	margin:0 0 0 10px;
	float:left;
}
.footer_icon li a {
	width:90px;
	height:30px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.footer_icon li.fi_315online span {
	display:none;
}
.footer_icon .fi_pingan,.footer_icon .fi_alipay,.footer_icon .fi_cnnic,.footer_icon .fi_315online,.footer_icon .fi_ectrustchina {
	background:url(../images/footer.png) transparent scroll 0 0 no-repeat;
}
.footer_icon .fi_ectrustchina {
	background-position:0 -220px;
}
.footer_icon .fi_315online {
	background-position:0 -250px;
}
.footer_icon .fi_cnnic {
	background-position:0 -280px;
}
.footer_icon .fi_pingan {
	background-position:0 -310px;
}
.footer_icon .fi_alipay {
	background-position:0 -340px;
}
.hCollectCon {
	width:100%;
	padding-top:15px;
	background:#fff;
}
.hCollectCon2 {
	border-top:#E8E8E8 1px solid;
	background:#fff;
	padding-bottom:10px;
}
.hCollectCon3 {
	border-top:#E8E8E8 1px solid;
	background:#fbfbfb;
	padding-bottom:20px;
}
.hCollect {
	width:980px;
	margin:0 auto;
}
.hCollect:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.hCollect li {
	float:left;
	height:29px;
	margin:8px 19px 0;
}
.hCollect li a {
	display:inline-block;
	background-image:url(../images/collect.png);
	background-repeat:no-repeat;
	color:#666;
	font-size:14px;
	width:80px;
	height:16px;
	line-height:16px;
	padding-left:22px;
	overflow:hidden;
	margin-top:6px;
}
.hCollect a.hyyg {
	background-position:0 0;
}
.hCollect a.hauto {
	background-position:0 -23px;
}
.hCollect a.hbaidu {
	background-position:0 -46px;
}
.hCollect a.hgoogle {
	background-position:0 -69px;
}
.hCollect a.hsina {
	background-position:0 -93px;
}
.hCollect a.hqq {
	background-position:0 -115px;
}
.hCollect a.hadd {
	background-position:8px -155px;
	border:1px dotted #999;
	width:65px;
	height:27px;
	line-height:27px;
	line-height:29px\9;
	padding-left:22px;
	text-align:center;
	margin-top:0;
}
.hCollect li a:hover {
	color:#f60;
}
.hUnfold {
	display:inline-block;
}
.hCollect2 {
	color:#666;
	font-size:14px;
}
.hCollect2 ul {
	margin-left:-26px;
	overflow:hidden;
	display:inline-block;
}
.hCollect2 li {
	float:left;
	border:1px dotted #999;
	height:19px;
	line-height:19px;
	width:115px;
	margin-left:26px;
	display:inline;
	padding:3px 0;
	padding:4px 0 2px\9;
	*height:23px;
	*line-height:23px;
	*padding:3px 0 2px;
	_height:19px;
	_line-height:19px;
	_padding:3px 0;
	position:relative;
	margin-bottom:10px;
	overflow:hidden;
}
.hCollect2 li:hover {
	border:1px dotted #333;
}
.hCollect2 li dd {
	display:inline-block;
	background-image:url(../images/collect.png);
	background-repeat:no-repeat;
	color:#666;
	font-size:14px;
	padding-left:20px;
	margin-left:5px;
	height:19px;
	line-height:19px;
	*display:inline;
}
.hCollect2 li dd span {
	width:58px;
	overflow:hidden;
	display:inline-block;
}
.hCollect2 {
	width:980px;
	margin:10px auto;
}
.hCollect2 dd.hyyg {
	background-position:0 1px;
}
.hCollect2 dd.hauto {
	background-position:0 -22px;
	*background-position:0 -23px;
	_background-position:0 -22px;
}
.hCollect2 dd.hbaidu {
	background-position:0 -45px;
	*background-position:0 -46px;
	_background-position:0 -45px;
}
.hCollect2 dd.hgoogle {
	background-position:0 -68px;
	*background-position:0 -69px;
	_background-position:0 -68px;
}
.hCollect2 dd.hsina {
	background-position:0 -91px;
	*background-position:0 -92px;
	_background-position:0 -91px;
}
.hCollect2 dd.hqq {
	background-position:0 -114px;
	*background-position:0 -115px;
	_background-position:0 -114px;
}
.hCollect2 dd.hnet {
	background-position:0 -137px;
}
.hCollectCon dd.hdef,.hCollectCon a.hdef {
	background-position:0 -251px;
}
.hCollect2 li a {
	display:inline-block;
	background:url(../images/collect.png) 10px -188px no-repeat;
	width:19px;
	height:19px;
	padding-left:10px;
	cursor:pointer;
	position:absolute;
	right:5px;
	text-align:left;
}
.hCollect2 li a:hover {
	background:url(../images/collect.png) 10px -219px no-repeat;
}
.hAddInfo {
	clear:both;
	width:978px;
	height:36px;
	line-height:25px;
	margin:27px auto 10;
	background:#f7f7f7;
	border:1px solid #e8e8e8;
	color:#666;
	font-size:14px;
	padding-top:13px;
	position:relative;
}
.hAddInfo label {
	margin-left:20px;
	padding:0;
	float:left;
}
.hAddInfo input.hName,.hAddInfo input.hWebsite {
	border:#bbb 1px solid;
	background:#fff;
	height:23px;
	line-height:23px;
	padding:0 5px;
	color:#666;
}
.hAddInfo input.hName {
	width:168px;
	float:left;
}
.hAddInfo input.hWebsite {
	width:450px;
	font-family:Arial!important;
	float:left;
}
.hAddInfo input.hbtn {
	width:65px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#fff;
	border:0 none;
	font-size:14px;
	cursor:pointer;
	border-radius:2px;
	margin-left:5px;
}
.hAddInfo input.hbtn1 {
	background:#f60;
}
.hAddInfo input.hbtn1:hover {
	background:#f40;
}
.hAddInfo input.hbtn2 {
	background:#bbb;
}
.hAddInfo input.hbtn2:hover {
	background:#999;
}
.hAddInfo span {
	width:144px;
	height:24px;
	line-height:24px;
	border:#FFBB62 1px solid;
	display:inline-block;
	background:#FFFCE2 url(../images/collect.png) 10px -276px no-repeat;
	padding-left:35px;
	font-size:12px;
	color:#ff6f0f;
	position:absolute;
	top:-18px;
}
.hAddInfo span.hLength {
	left:90px;
}
.hAddInfo span.hLength2 {
	left:333px;
}
