@charset "utf-8";
	.H_bgWhite {
	background:#F7F7F7;
	height:10px;
	overflow:hidden;
	width:980px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
.ShopExplainbg {
	background:url(../images/Explainbg.png);
}
.ShopExplain:after {
	content:"\0020";
	display:block;
	height:0;
}
.ShopExplain {
	width:980px;
	overflow:hidden;
	position:relative;
	zoom:1;
	margin:0 auto;
	background:#fff;
}
.ShopExplain li {
	line-height:0;
	font-size:0;
}
.ShopExplain p a {
	display:block;
}
.ShopExplainTu {
	height:234px;
	overflow:hidden;
	z-index:1;
}
.ShopExplainClose,.ShopExplainOpen,.ShopExplainOff {
	position:absolute;
	width:34px;
	padding-left:25px;
	height:23px;
	display:inline-block;
	font-size:14px;
	font-family:微软雅黑,宋体;
	color:#fff;
	top:18px;
	right:18px;
	line-height:20px;
	_line-height:23px;
	overflow:hidden;
	background:#FFA264 url(../images/Explain.png) no-repeat;
}
.ShopExplainClose:hover,.ShopExplainOpen:hover,.ShopExplainOff:hover {
	color:#fff;
}
.ShopExplainClose {
	background-position:-122px -1px;
}
.ShopExplainOpen {
	background-position:0 -1px;
	right:82px;
}
.ShopExplainOff {
	background-position:-61px -1px;
	right:82px;
}
.ShopExplainTxt {
	width:710px;
	line-height:24px;
	color:#F60;
	font-size:14px;
	text-shadow:1px 1px 0 #fff;
	position:absolute;
	top:45px;
	left:245px;
}
.goods_loding {
	max-height:325px;
	overflow:auto;
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	text-align:center;
}

.banner_recommend {
	width:1200px;
	height:680px;
}
.banner-box {
	width:969px;
	float:left;
}
.banner-box .yg-flow {
	width:742px;
	height:50px;
	padding-bottom:6px;
}
.banner-box .yg-flow a img {
	width:742px;
	height:50px;
}
.banner {
	width:740px;
	height:333px;
	overflow:hidden;
	position:relative;
}
.banner ul {
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:10;
}
.banner ul li {
	width:16px;
	height:16px;
	margin:0 0 0 4px;
	float:left;
	border:1px solid #ddd;
	opacity:0.8;
	filter:Alpha(Opacity=60);
	font-family:Arial;
	line-height:16px;
	text-align:center;
	background:#fefefe;
	cursor:pointer;
}
.banner ul li.on {
	color:#fff;
	background:#f60;
	font-weight:bold;
}
.recommend {
	width:228px;
	height: 249px;
	float:right;
	overflow:hidden;
	position:relative;
	border:solid 1px #ebebeb; 

}
.banner_box{
position: relative;
width: 690px;
height: 249px;
transition:0.5s;
-moz-transition: 0.5s; /* Firefox 4 */
-webkit-transition: 0.5s; /* Safari 和 Chrome */
-o-transition: 0.5s;

}
.recommend1 {
	width:228px;
	float:right;
	overflow:hidden;
	position:relative;
	border:solid 1px #ebebeb; 

}
.honesty_box1{
	float: left;
	position: absolute;
	left: -228px;
	top: 0;
}
.honesty_box2{
	float: left;
	position: absolute;
	left: 0;
	top: 0;

}
.honesty_box3{
	float: left;
	position: absolute;
	left: 228px;
	top: 0;

}


.recommend_2{width:228px;float:right;overflow:hidden;position:relative; border:solid 1px #ebebeb}
.recommend .Pro .goods_tj {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right 0;
	position:absolute;
	left:0;
	_left:-1px;
	top:0;
	z-index:0;
}
.recommend .Pro .goods_rq {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -100px;
	position:absolute;
	left:0;
	_left:-1px;
	top:0;
	z-index:1;
}
.recommend .Pro .goods_xs {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -192px;
	position:absolute;
	left:0;
	_left:-1px;
	top:0;
	z-index:1;
}
.recommend .Pro {
	width:208px;
	background:#f5f5f5;
	padding:5px 11px 10px 11px;
	text-align:center;
	position:relative;
}
.recommend .Pro i {
	position:absolute;
	width:58px;
	height:58px;
	right:26px;
	top:7px;
	/*background:url(../images/recommend-pic.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://skin.1yyg.com/images/recommend-pic.png?v=1200621");
*/
}
.recommend .Pro .title {
	width:80px;
	margin-right:119px;
	height:20px;
	margin:0;
	display:block;
	background:url(../images/index.png) no-repeat right 1px;
	float:left;
	color:#f60;
	font-size:14px;
	font-weight:bold;
	font-family:arial;
	padding:0;
	text-align:left;
}
.recommend .Pro .pic {
	width:170px;
	border:none;
}
.recommend .Pro .pic a {
	width:170px;
	height:170px;
	display:block;
}
.recommend .Pro .pic a img {
	width:170px;
	height:170px;
	display:block;
}
.recommend .Pro .name {
	text-align:left;
	font-size:12px;
	padding:0; 
	line-height:22px; 
	overflow:hidden;
}
.recommend .Pro .name a {
	line-height:22px; 
	display:block;  
	color:#414141; 
	overflow:hidden;
}
.recommend .Pro .money {
	padding:0 0 8px 0;
	font-family:arial;
	text-align:left;
	color:#999;
}
.recommend .Pro .money span {
	font-family:arial;
	color:#666;
}
.recommend .Pro .name a {
	color:#414141;
	display:block;
	overflow:hidden;
}
.recommend .Pro .name a:hover {
	text-decoration:underline;
	color:#f80;
}
.recommend dl dd span.all {
	color:#fe0000;
	font-family:arial;
	padding:0 3px;
	font-size:14px;
	font-weight:bold;
}
.recommend dl dd span.much {
	color:#5db6ff;
	font-weight:bold;
	padding:0 3px;
}
.recommend .Pro a.go_buy {
	width:145px;
	height:40px;
	display:block;
	background:url(../images/index.png) no-repeat 0 0;
	margin:5px auto 0 auto;
}
#pre_01{
position:absolute;
left:0px;
width:230px;
height:200px;
}
#pre_02{
position:absolute;
left:230px;
width:230px;
height:200px;
}
#pre_03{
position:absolute;
left:460px;
width:230px;
height:200px;
}
.get_ready {
	width:1200px;
	clear:both;
}
.get_ready .xbigtitle p {
	width:1200px;
	height:44px;
	clear:both;
	border-bottom:1px solid #EBEBEB;
	overflow:hidden;
}
.get_ready .xbigtitle p span {
	width:100px;
	font-size:18px;
	height:25px;
	display:block;
	color:#000;
	font-family:microsoft yahei;
	float:left;
	margin:12px 0 0 5px;
}
.get_ready .xbigtitle p a {
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#9B9B9B;
	font-weight:normal;
	display:block;
	float:right;
	font-family:"宋体";
	margin:20px 10px 0 0;
}
.get_ready .xbigtitle p a:hover {
	color:#f80;
	text-decoration:underline;
}
.get_ready .hot-list {
	width:1200px;
	position:relative;
	
}
.get_ready .hot-list .list-block {
	width:217px;
	height:358px;
	background:#fff;
	float:left;
	border:1px solid #EBEBEB;
	border-top:0;
	margin:0 -1px 0 0;
	position:relative;
	padding:0 11px;
	overflow:hidden;
}
.get_ready .hot-list .list-blockmal {
	width:221px;
}
.get_ready .Progress-bar {
	width:221px;
}
.get_ready .hot-list .cursor {
	border:1px solid #FFAE3C;
	height:358px;
	z-index:10;
	margin:-1px -1px 0 0;
	position:relative;
}
.get_ready .list-block .pic a img {
	width:185px;
	height:185px;
}
.get_ready .list-block .pic {
	width:185px;
	padding:9px 8px;
}
.get_ready .list-block .name {
	text-align:left;
	font-size:14px;
	font-family: "微软雅黑";
	padding: 0;
}
.get_ready .list-block .name a {
	height:24px;
	line-height:24px;
	color:#414141;
	display:block;
	overflow:hidden;
}
.get_ready .list-block .name a:hover {
	text-decoration:underline;
	color:#f80;
}
.get_ready .list-block .money {
	padding:0 0 9px 0;
	font-family:arial;
	text-align:left;
	color:#999;
}
.get_ready .list-block .money span {
	font-family:arial;
	color:#666;
}
.goods_hot {
	width:1200px;
	clear:both;
	margin-top:10px;
}
.goods_hot .goods_left {
	width:960px;
	float:left;
}
.goods_hot .goods_left .new_lottery {
	width:740px;
	height:237px;
	float:left;
	position:relative;
}
.goods_hot .goods_left .new_lottery h4 {
	width:959px;
	height:30px;
	line-height:26px;
	border-bottom:1px solid #ebebeb;
}
.goods_hot .goods_left .new_lottery h4 span {
	width:100px;
	font-size:18px;
	height:25px;
	display:block;
	color:#FF6500;
	font-family:microsoft yahei;
	float:left;
	margin:0 0 0 5px;
}
.goods_hot .goods_left .new_lottery h4 a {
	text-indent:0;
	height:20px;
	line-height:20px;
	text-align:center;
	display:block;
	float:right;
	margin:7px 10px 0 0;
	font-family:"宋体";
	color:#9B9B9B;
}
.goods_hot .goods_left .new_lottery h4 a:hover {
	color:#f60;
	text-decoration:underline;
}
.goods_hot .goods_left .new_lottery ul {
	border:1px solid #ebebeb;
	padding:1px;
	width:955px;
	height:202px;
	overflow:hidden;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li {
	width:150px;
	height:201px;
	border:1px solid red;
	margin:0 1px;
	padding:0 14px;
	float:left;
	position:relative;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li img {
	width:110px;
	height:110px;
	display:block;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li div.newawary {
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/index.png) 0 -46px no-repeat;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li div.countdown_div {
	width:150px;
	height:25px;
	background-color:#F00;
	float:left;
	margin-top:3px;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li div.countdown_div img {
	width:14px;
	height:14px;
	border:0;
	margin-top:5px;
	margin-left:4px;
	float:left;
}
.w_goods_pic span.wenzi {
	width:48px;
	height:20px;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	margin-top:2px;
	margin-left:4px;
}
.w_goods_pic span.shi {
	width:75px;
	height:20px;
	float:left;
	font-size:16px;
	font-weight:bold;
	color:#FF0;
	font-family:"宋体";
}
.w_goods_pic  img {
	width:185px;
	height:185px;
}
.goods_hot .goods_left .new_lottery ul li.countdown_li div.countdown_div span.lateron {
	width:175px;
	height:20px;
	float:left;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	font-family:"宋体";
	margin-top:3px;
	margin-left:10px;
}
.goods_hot .goods_left .new_lottery ul li.new_li {
	width:150px;
	height:202px;
	border:1px solid #fff;
	padding:0 16px;
	float:left;
}
.goods_hot .goods_left .new_lottery ul li.new_li.hover {
	border-color:#ebebeb;
	background:#f3f3f3;
}
.goods_hot .goods_left .new_lottery ul li a.pic {
	width:150px;
	margin:10px auto;
	display:inline-block;
	text-align:center;
}
.goods_hot .goods_left .new_lottery ul li a img {
	width:120px;
	height:120px;
	display:block;
}
.goods_hot .goods_left .new_lottery ul li span.winner {
	width:150px;
	text-align:center;
	display:block;
	float:left;
}
.goods_hot .goods_left .new_lottery ul li a.name {
	width:150px;
	text-align:center;
	height:36px;
	line-height:18px;
	overflow:hidden;
	display:block;
	float:left;
}
.goods_hot .goods_left .new_lottery ul li a.name:hover {
	text-decoration:underline;
	color:#f60;
}
.goods_hot .goods_left .new_lottery ul li span.winner,.goods_hot .goods_left .new_lottery ul li span.winner strong {
	text-decoration:none;
	color:#939393;
	font-weight:normal;
}
.hot {
	clear:both;
	margin:0;
	float:left;
	overflow:hidden;
}
.hot .hot-list {
	width:965px;
	position:relative;
}
.hot .hot-list .list-block {
	width:217px;
	height:358px;
	background:#fff;
	float:left;
	border:1px solid #EBEBEB;
	border-top:0;
	margin:0 -1px 0 0;
	position:relative;
	padding:0 11px;
	overflow:hidden;
}
#hostGoodsItems .list-block:hover{
border: 1px solid #f80;
height: 358px;
z-index: 2;
margin: -1px -1px 0 0;
position: relative
}
#readyLotteryItems .list-block:hover{
border: 1px solid #f80;
height: 358px;
z-index: 2;
margin: -1px -1px 0 0;
position: relative
}
.hot .hot-list .cursor {
	border:1px solid #FFAE3C;
	height:358px;
	z-index:99;
	margin:-1px -1px 0 0;
	position:relative;
}
.hot .list-block .pic a img {
	width:185px;
	height:185px;
}
.hot .list-block .pic {
	width:185px;
	padding:9px 8px;
}
.hot .list-block .name {
	font-family: "微软雅黑";
	text-align:left;
	font-size:14px;
	padding:0;
}
.hot .list-block .name a {
	height:24px;
	line-height:24px;
	color:#414141;
	display:block;
	overflow:hidden;
}
.hot .list-block .name a:hover {
	text-decoration:underline;
	color:#f80;
}
.hot .list-block .money {
	padding:0 0 9px 0;
	font-family:arial;
	text-align:left;
	color:#999;
}
.hot .list-block .money span {
	font-family:arial;
	color:#666;
}
.goods_hot .goods_left .hot .xbigtitle p {
	width:953px;
	height:44px;
	clear:both;
	border-bottom:1px solid #EBEBEB;
	overflow:hidden;
}
.goods_hot .goods_left .hot .xbigtitle p span {
	width:200px;
	font-size:18px;
	height:25px;
	display:block;
	color:#000;
	font-family:microsoft yahei;
	float:left;
	margin:12px 0 0 5px;
}
.goods_hot .goods_left .hot .xbigtitle p a {
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#9B9B9B;
	font-weight:normal;
	display:block;
	float:right;
	font-family:"宋体";
	margin:20px 10px 0 0;
}
.goods_hot .goods_left .hot .xbigtitle p a:hover {
	color:#f80;
	text-decoration:underline;
}
.goods_hot .goods_right {
	width:230px;
	float:right;
}
.goods_hot .goods_right .news {
	width:228px;
	height:143px;
	border:1px solid #ebebeb;
	margin:0 0 10px 0;
	float:left;
	overflow:hidden;
	padding:0 0 10px 0;
}
.goods_hot .goods_right .news ul {
	width:228px;
}
.goods_hot .goods_right .news h3 {
	width:228px;
	height:45px;
	line-height:45px;
	background:#898989;
	text-indent:13px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.goods_hot .goods_right .news ul {
	min-height:110px;
	padding:4px 0 0 0;
}
.goods_hot .goods_right .news ul li {
	width:208px;
	height:22px;
	line-height:22px;
	line-height:23px\9;
	text-indent:5px;
	overflow:hidden;
	padding:0 0 0 20px;
	margin-top:1px;
	float:left;
	background:url(../images/index.png) no-repeat -180px -380px;
}
.goods_hot .goods_right .news ul li a:hover,.goods_hot .goods_right .wait_lottery a:hover {
	text-decoration:underline;
	color:#f60;
	cursor:pointer;
}
.goods_hot .goods_right .wait_lottery {
	width:230px;
	height:198px;
	clear:both;
	overflow:hidden;
}
.goods_hot .goods_right .wait_lottery dl {
	width:210px;
	height:178px;
	padding:10px;
	text-align:center;
	background:url(../images/index.png) no-repeat 0 -40px;
	cursor:pointer;
}
.goods_hot .goods_right .wait_lottery dl dd span {
	color:#f60;
	font-weight:bold;
	padding:0 2px;
}
.goods_hot .goods_right .wait_lottery dl dd.num ul {
	width:198px;
	height:27px;
	padding:5px 0 0 12px;
}
.goods_hot .goods_right .wait_lottery dl dd.num ul li {
	float:left;
	width:21px;
	height:27px;
	line-height:27px;
	font-size:22px;
	font-family:arial;
	color:#fff;
	background:url(../images/index.png) -120px -380px;
	margin:0 0 0 2px;
	*margin:0 0 0 2px;
	_margin:0 0 0 2px;
}
.goods_hot .goods_right .wait_lottery dl dt {
	width:100px;
	height:100px;
	padding:0 55px 10px 55px;
}
.goods_hot .goods_right .wait_lottery dl dt img {
	width:100px;
	height:100px;
}
.goods_hot .goods_right .wait_lottery dl dd {
	line-height:20px;
}
.goods_hot .goods_right .wait_lottery dl dd a {
	height:20px;
	line-height:20px;
	display:block;
	overflow:hidden;
}
.goods_hot .goods_right .share {
	width:226px;
	height:748px;
	overflow:hidden;
	border:1px solid #ebebeb;
	padding:1px;
	float:left;
	margin:10px 0 0 0;
}
.goods_hot .goods_right .share h3 {
	width:226px;
	height:35px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-indent:10px;
	line-height:35px;
	background:#f80;
}
.goods_hot .goods_right .share .buyList {
	width:215px;
	height:680px;
	display:block;
	padding:0 8px;
	overflow:hidden;
}
.goods_hot .goods_right .share ul {
	width:215px;
	display:block;
	overflow:hidden;
}
.goods_hot .goods_right .share ul li {
	width:215px;
	float:left;
	padding:15px 0;
	border-bottom:1px dashed #e5e5e5;
	margin:0 auto;
}
.goods_hot .goods_right .share ul li a.pic img {
	width:58px;
	height:58px;
	display:block;
}
.goods_hot .goods_right .share ul li a.pic {
	width:58px;
	height:58px;
	display:block;
	border:1px solid #fff;
	float:left;
}
.goods_hot .goods_right .share ul li a.pic:hover {
	border:1px solid #f80;
}
.goods_hot .goods_right .share ul li span {
	width:140px;
	line-height:20px;
	padding:0 0 0 12px;
	display:block;
	overflow:hidden;
	float:left;
}
.goods_hot .goods_right .share ul li span.who {
	width:140px;
	height:20px;
	display:block;
	overflow:hidden;
	color:#9f9f9f;
}
.goods_hot .goods_right .share ul li span a.name {
	width:140px;
	height:40px;
	line-height:20px;
	display:block;
	overflow:hidden;
	float:left;
}
.goods_hot .goods_right .share ul li span a:hover {
	text-decoration:underline;
	cursor:pointer;
}
.goods_hot .goods_right .small_banner,.goods_hot .goods_right .small_banner a,.goods_hot .goods_right .small_banner a img {
	width:230px;
	height:218px;
	display:block;
	clear:both;
	overflow:hidden;
}
.lottery_show {
	width:100%;
	overflow:hidden;
	clear:both;
}
.share_show {
	width:1200px;
	overflow:hidden;
	padding:0 0 10px 0;
	clear:both;
}
.share_show .xbigtitle p {
	width:1200px;
	height:44px;
	clear:both;
	
	overflow:hidden;
}
.share_show .xbigtitle p span {
	width:100px;
	font-size:18px;
	height:25px;
	display:block;
	color:#666;
	font-family:microsoft yahei;
	float:left;
	margin:12px 0 0 5px;
}
.share_show .xbigtitle p a {
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#9B9B9B;
	font-weight:normal;
	display:block;
	float:right;
	font-family:"宋体";
	margin:20px 10px 0 0;
}
.share_show .xbigtitle p a:hover {
	color:#f80;
	text-decoration:underline;
}
.share_show .show {
	border:1px solid #EBEBEB;
	border-top:none;
	width:1182px;
	padding:15px 8px 0 8px;
	overflow:hidden;
}
.share_show .show dl {
	width:570px;
	height:124px;
	float:left;
	overflow:hidden;
	padding:0 0 0 19px;
}
.share_show .show dl dt {
	width:100px;
	height:124px;
	display:block;
	float:left;
}
.share_show .show dl dt a,.share_show .show dl dt img {
	width:130px;
	height:100px;
	display:block;
}
.share_show.show dl dd {
	width:355px;
	height:30px;
	line-height:30px;
	float:left;
	display:block;
}
.share_show .show dl dd.bg {
	width:415px;
	height:108px;
	display:block;
	float:right;
	background:url(../images/show.png) no-repeat;
	padding:0;
	margin:0 0 5px 0;
}
.share_show .show dl dd.bg ul {
	width:315px;
	height:90px;
	margin:10px 10px 10px 25px;
	line-height:20px;
	display:block;
	overflow:hidden;
}
.share_show .show dl dd.bg ul li.name {
	width:315px;
	padding:0 0 5px 0;
	border-bottom:1px solid #ffeed8;
	margin:0;
	color:#f80;
}
.share_show .show dl dd.bg ul li.content {
	width:315px;
	height:55px;
	word-wrap:break-word;
	line-height:18px;
	padding:5px 0 0 0;
	overflow:hidden;
	color:#666;
}
.share_show .show dl dd.bg ul li.name span a {
	width:150px;
	height:20px;
	line-height:20px;
	display:block;
	overflow:hidden;
	color:#f80;
	font-weight:bold;
	float:left;
	padding-right:5px;
}
.share_show .show dl dd.bg ul li.name a:hover {
	text-decoration:underline;
}
.share_show .show dl dd.bg p {
	width:315px;
	height:80px;
	margin:14px 15px 14px 30px;
	line-height:20px;
	display:block;
	overflow:hidden;
}
.share_show .show dl dd.bg p span {
	width:315px;
	display:block;
	padding:0;
	color:#f60;
	border-bottom:1px solid #ccc;
}
.share_show .show_list {
	width:1182px;
	padding:15px 9px 10px 9px;
	border-top:1px dashed #e5e5e5;
	clear:both;
	float:left;
}
.share_show .show_list ul {
	width:146px;
	float:left;
	padding:0 0 0 10px;
}
.share_show .show_list ul li {
	width:136px;
	text-align:center;
	padding:3px 10px 0 0;
	float:left;
	color:#7d7d7d;
}
.share_show .show_list ul li.show_tit a {
	width:136px;
	height:20px;
	line-height:20px;
	display:block;
	overflow:hidden;
}
.share_show .show_list ul li a:hover {
	text-decoration:underline;
}
.share_show .show_list ul li.pic {
	width:100px;
	height:100px;
	padding:0 18px;
}
.share_show .show_list ul li.pic a,.share_show .show_list ul li.pic img {
	width:100px;
	height:100px;
	display:block;
}
.Progress-bar {
	height:50px;
}
.Progress-bar p {
	height:4px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
}
.Progress-bar p span {
	height:4px;
	border:1px solid #f80;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff8800',endColorStr='#d2691e',gradientType='1');
	background: -moz-linear-gradient(left, #f80, #d2691e);
	background: -o-linear-gradient(left,#f80, #d2691e);
	background:-webkit-gradient(linear, 0% 0, 100% 0, from(#f80), to(#d2691e));
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	// behavior: url(ie-css3.htc); 
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:12px;
	font-family:宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:12px;
	font-family:arial;
	height:14px;
	padding:3px 0 5px 0;
	color: #f80;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#f80;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}

.Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:35%;
	float:right;
	text-align:right;
}
.shop_buttom {
	height:40px;
	text-align:center;
}
.shop_but {
	width:126px;
	height:30px;
	margin:0 auto;
	display:inline-block;
	background:url(../images/index.png) 0 -104px no-repeat;
}
.goods_tj,.goods_xp,.goods_rq,.goods_xs {
	background:url(../images/goods_tj1.png) no-repeat;
	
}
.goods_xp_shi {
    width: 52px;
    height: 47px;
    display: inline-block;
    background: url(../images/shiyuan.png) no-repeat;
    position: absolute;
   /* right: 0;
    _right: -1px;*/
	left: -4px;
	_left: -2px;
    top: 0;
    z-index: 0;
    margin-left: 10px;
    margin-top: 5px;
    display: none;
}
.goods_xp_shis {
    width: 63px;
    height: 63px;
    display: inline-block;
    background: url(../images/PK6.png) no-repeat;
    position: absolute;
   /* right: 0;
    _right: -1px;*/
	left: -4px;
	_left: -2px;
    top: 0;
    z-index: 0;
    margin-left: 10px;
    margin-top: 5px;
    /*display: none;*/
     
}
.pk_numer{
    z-index: 2;
    position: absolute;
    color:#fff;
    margin-left:10px;
    font-size: 20px;
    margin-top: 5px;
}
.list-block .goods_tj {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right 0;
	position:absolute;
/*	right:0;
	_right:-1px;*/
	left: -2px;
	_left:-1px;
	top:0;
	z-index:1;
}
.list-block .goods_xp {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -50px;
	position:absolute;
	/* right: 0;
        _right: -1px;*/
	left: -4px;
	_left: -2px;
	top:0;
	z-index:1;
}
.list-block .goods_rq {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -97px;
	position:absolute;
	/*right:0;
	_right:-1px;*/
	left:-2px;
	_left:-1px;
	top:0;
	z-index:1;
}
.list-block .goods_xs {
	width:49px;
	height:45px;
	display:inline-block;
	background-position:right -192px;
	position:absolute;
	left:-2px;
	_left:-1px;
	top:0;
	z-index:1;
}

.new_notice{width:239px;height:213px;background:#ebe1b0;float:left;}
.new_notice h4{
color:#666633;
margin-bottom: 5px;
padding-top: 20px;
line-height: 35px;
font-weight: bold;
border-bottom: 1px solid #666633;
}
.new_notice_center{
padding: 0 12px;
height: 231px;
background: #ebe1b0;
color: #666633;
}
.new_notice_center ul{line-height: 18px;}
.new_notice_center ul li{
padding: 6px 0 6px 22px;
position: relative;
zoom: 1;
}
.n_number{
position: absolute;
top: 8px;
left: 0;
display: inline-block;
width: 18px;
line-height: 18px;
text-align: center;
border-radius: 50%;
background-color: #666633;
color: #fff;
}
.new_notice_center ul li a{
color: #666633;
text-decoration: underline;
}

.new_publish{width:1200px;height:320px;border:solid 1px #ebebeb;float:left;position:relative;overflow: hidden;}
.new_publish1{
position: relative;
padding: 10px 0 0 5px;
width: 240px;
height: 320px;
color: #3c3c3c;
float:left;
}

.ico_label_newReveal {
width: 66px;
height: 64px;
width: 70px;
height: 70px;
position: absolute;
top: 1px;
left: 174px;
display: inline-block;
vertical-align: middle;
background:url(../images/mix-icon.png) 0 -210px;
z-index:-1;
}
.ico_label_newRevealready {
width: 66px;
height: 64px;
width: 70px;
height: 70px;
position: absolute;
top: 1px;
left: 174px;
display: inline-block;
vertical-align: middle;
background:url(../images/mix-icon.png) -70px -210px;
overflow: hidden;
}
.w_goods_title{
width: 230px;
height: 45px;
overflow: hidden;
font-size: 14px;
line-height: 20px;
position: absolute;
left: 0;
top: 142px;
margin-left: 6px;
}
.w_goods_title a{color: #3c3c3c;line-height: 22px; font-size:14px;
font-family: "微软雅黑";}
.w_goods_pic{margin: 5px 0 0 30px;}
.w_goods_pic a{color: #3399ff;text-decoration: none;outline: none;}
.w_goods_pic a  img{width: 115px;height: 104px;display: block;}
.w_goods_price{margin-top:46px;color: #808080;margin-left: 2px;}
.w_goods_record{line-height: 30px;margin-left: 2px;margin-top: 15px;}
.w_goods_record p a{color:#3399ff;font-weight:bold;}
.w_goods_record p span{color:#f80;font-weight:bold;}

  .browse2{
		width:1164px;
		height:268px;
		overflow:hidden;
		position:relative;
		}
.arrL{
	width:20px;
	height:33px;
	float:left;
	background:url(../images/pic2.png) -115px -816px no-repeat;
	top:115px;
	position:absolute;
	cursor: pointer;
	z-index:5;
	left:4px
}
.arrR{
	width:20px;
	height:33px;
	float:left;
	background:url(../images/pic2.png) -182px -816px no-repeat;
	top:115px;
	position:absolute;
	cursor: pointer;
	z-index:5;
	right:4px;
}
.pk_bg{width:100%;height:180px; background:url(../images/PKbanner.jpg) center repeat-x; margin:0 auto; margin-top:0px; text-align:center; overflow:hidden}
} 	
.arrows{
		width:20px;
		height:33px;
		float:left;
		background:url(../images/pic2.png) -115px -816px no-repeat;
		margin-left:20px;
		margin-top:120px;
		position:absolute;
		cursor: pointer;
		z-index:999;
		display:none;
		top:-10px;
		}
.arrows1{
		width:20px;
		height:33px;
		float:left;
		background:url(../images/pic2.png) -182px -816px no-repeat;
		margin-left:40px;
		margin-top:158px;
		position:absolute;
		right:16px;
		z-index:10;
		}
.arrows2{
		width:20px;
		height:33px;
		float:left;
		background:url(../images/pic2.png) -115px -816px no-repeat;
		margin-left:40px;
		margin-top:158px;
		position:absolute;
		left:-22px;
		z-index:10;
		}
.glance{
		width:200px;
		height:250px;
		float:left;
		margin-top:10px;
		}
.glance img{
		margin-left:20px;
		}
.prin_pp{height:253px;width:3700px;position:absolute;left:0px;}
.print{ width:240px; height:320px; float:left;left:0px;}
.pic1{ width:157px; height:230px; margin-left:52px; float:left; background:#0C9}
.pic2,.pic1{ width:157px; height:230px;float:left;}
.pic2-1{ width:157px; height:146px;}
.pic2-2,.pic1-2{ width:157px; height:20px; margin-top:10px; overflow:hidden;}
.renminbi{ width:70px; height:20px; float:left;}
.renminbi p{ color:#F00; font-size:18px;}
.ali{ background:url(images/pic2.png) -165px -130px no-repeat; float:right; width:20px; height:20px; margin-top:2px;}
.pic2-3,.pic1-3{ width:157px; height:40px; margin-top:10px;}
.pic2-3 a,.pic1-3 a{ line-height:24px;}

.arrows_arr{
		width:20px;
		height:33px;
		float:left;
		background:url(../images/pic2.png) -115px -816px no-repeat;
		top:110px;
		position:absolute;
		cursor: pointer;
		z-index:5;
		display:none;
		left:4px
		}
.arrows_are{
		width:20px;
		height:33px;
		float:left;
		background:url(../images/pic2.png) -182px -816px no-repeat;
		position:absolute;
		top:110px;
		right:0px;
		z-index:5;
		display:none;
		}

		
.controller-nav{
float:left;
position:absolute;
top:298px;
margin-left:570px;
}

#cur_k1{
display:inline-block;
width:10px;height:10px;
background:#B7B7B7;
margin-left: 5px;
border-radius:5px;
}

#cur_k2{
display:inline-block;
width:10px;height:10px;
background:#B7B7B7;
margin-left: 5px;
border-radius:5px;
}
#cur_k3{
display:inline-block;
width:10px;height:10px;
background:#B7B7B7;
margin-left: 5px;
border-radius:5px;
}

.minute{
color: #fff;
font-size: 15px;
line-height: 30px;
background:#f80;
border-radius:3px;
padding:5px;
}
.ten_bg{width:100%;height:180px; background:url(../images/ten.jpg) center repeat-x; margin:0 auto; margin-top:0px; text-align:center; overflow:hidden}
.ten_bg_bottom{width:100%;height:3px; background:url(../images/mix-icon.png) 0 -12px repeat-x; margin-top:-3px;}



/*index.index.html*/
.demo{ width:970px; height:443px; position:relative; overflow:hidden; padding:0px;}
.num{ position:absolute;margin-left:440px; bottom:30px; z-index:0;}
.num a{display: inline-block;width: 10px;height: 10px;background: #b7b7b7;margin-left: 5px;border-radius: 5px;cursor:pointer;}
.num a.cur{ background:#f80;color:#fff;text-decoration:none;}
.demo ul{ position:relative; z-index:0;}
.demo ul li{ position:absolute; display:none;}
.demo ul li img{ width:970px}
.banner-box{position: relative;}
.banner-box_button  .banner_small{background:url(../images/Button/Button_box.png) no-repeat;
																
																 position: absolute;top: 210px;left:0;
																 height:66px;
																 width:33px;
																
														}
.banner-box_button  .banner_small1{background:url(../images/Button/Button_box1.png) no-repeat;
																
																 position: absolute;top: 210px;right:0;
																 height:66px;
																 width:33px;
																
														}








/**/




















