@charset "utf-8";body{background:#f7f7f7;}
.Newpublish{width:1200px;margin:0 auto;}
.publish_Curtit{height:39px;background:#fff;border:1px solid #E4E4E4;}

.publish_Curtit h1{font-size:18px;line-height:22px;color:#f80;font-family:微软雅黑,宋体;font-weight:bold;padding:8px 10px 0 10px;_padding:9px 10px 0 10px;}
.publish_Curtit span{font-family:微软雅黑,宋体;padding:11px 10px 0 10px;_padding:12px 10px 0 10px;display:block;color:#999;}.publish_Curtit span em{margin:0 5px;}

.NewpublishL{width:920px;float:left;overflow:hidden;}

.publishCen li{width:453px;height:218px;margin-top:10px;float:left;background:#fff;border:1px solid #E4E4E4;position:relative;margin-right:10px;}
.publishCen li.fr{float:right;}

.publishCen li.Cursor{border:1px solid #E4E4E4;}
.publishCen li.Cursor:hover{border:1px solid #f80;}

.publishCen li.Cursor .details{background:#FFF4ED;}
.publishCen .goodsimg{width:196px;height:196px;margin:10px 5px 10px 10px;border:1px solid #F2F2F2;}
.publishCen .goodsimg img{width:196px;height:196px;}.publishCen:after{content:"\0020";display:block;height:0;clear:both;}

.publishCen{overflow:hidden;zoom:1;}

.publishC-Member{height:55px;margin-left:5px;margin-top:10px;overflow:hidden;}
.publishC-Member .headimg img{width:50px;height:50px;margin-top:2px;}
.publishC-Member p{overflow:hidden;margin-left:55px;_margin-left:52px;white-space:nowrap;font-family:宋体;}
.publishC-Member p em{font-family:Arial;padding-right:3px;}
.publishC-tit{margin:4px 8px 0 5px;}.publishC-tit h3{font-size:12px;font-family:宋体;margin-bottom:2px;height:36px;overflow:hidden;}.publishC-tit h3 a{text-decoration:none;}.publishC-tit .money{color:#999;font-family:宋体;}.publishC-tit .money span{padding-left:10px;font-family:Arial;}.publishC-tit .Announced-time{white-space:nowrap;margin-bottom:2px;}.details{width:100%;height:34px;background:#F7F7F7;padding-top:8px;position:absolute;bottom:0;_bottom:0;left:0;overflow:hidden;}.details .details-Code{width:165px;line-height:24px;text-align:center;color:#999;}

.details .details-A{margin-right:10px;width:87px;height:24px;border-radius:3px;line-height:22px;_line-height:23px;line-height:26px\9;border:1px solid #DFDFDF;background:#fff;color:#f80;text-align:center;display:inline-block;}
.jiexiao_detail{clear:both;float:right;margin-left:5px;width:80px;height:25px; line-height:25px; margin-top:10px;margin-right:15px;border:1px solid #DFDFDF;background:#fff;border-radius:3px; text-align:center}
.jiexiao_detail a{color:#C0C0C0;}
.jiexiao_detail:hover{text-decoration:none;background:#ffd9cd;}

.details .details-Single{width:72px;height:24px;border-radius:3px;padding-left:8px;line-height:22px;border:1px solid #DFDFDF;background:#fff;display:inline-block;position:relative;}.details .details-Single .arrow{position:absolute;left:-5px;top:7px;font-size:12px;line-height:12px;font-family:宋体;width:5px;height:12px;overflow:hidden;}.details .details-Single .arrow em{position:absolute;color:#DFDFDF;}.details .details-Single .arrow span{position:absolute;margin-left:1px;color:#fff;}.details .details-Single .gray01{margin-left:7px;}.publishCen li.lottery{width:358px;height:198px;margin-top:10px;float:left;border:1px solid #f60;position:relative;}.publishCen li.lottery .publishC-tit h3{margin-top:10px;}.publishCen li.lottery .details{text-align:center;line-height:26px;color:#fff;background:#f60;}.Pour-time{width:174px;height:52px;background:#f60;margin-left:155px;margin-top:13px;overflow:hidden;}.Pour-time b{width:55px;line-height:17px;padding-top:8px;_padding-top:10px;text-align:center;color:#fff;font-family:微软雅黑,宋体;font-size:14px;font-weight:normal;float:left;}.Pour-time b em{display:block;width:55px;text-align:center;font-size:16px;}.Pour-time ol{width:110px;float:left;display:inline-block;}.Pour-time ol li{float:left;width:13px;height:32px;line-height:32px;color:#fff;background:none;border:none;text-align:center;font-size:16px;font-weight:bold;margin-right:0;}.Pour-time ol li.Dig{width:28px;height:32px;background:#fff;border-radius:5px;color:#FF4B04;font-family:Arial;font-weight:normal;font-size:20px;}.pour-are{font-family:微软雅黑,宋体;font-size:20px;line-height:48px;width:174px;height:52px;background:#f60;margin-left:155px;margin-top:13px;overflow:hidden;text-align:center;color:#fff;}.publishCen li .lottery-tips{display:none;}.publishCen li.lottery .lottery-tips{position:absolute;width:60px;height:60px;display:inline-block;left:0;top:0;background:url(http://skin.1yyg.com/DataServer/images/lottery-1.png?v=130205) center top no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skin.1yyg.com/DataServer/images/lottery-1.png?v=130205',sizingMethod='crop');_background-image:none;}.publishCen li .lottery-time{position:absolute;left:10px;top:10px;width:27px;height:29px;padding:6px 5px 5px 8px;display:inline-block;line-height:14px;float:left;font-weight:normal;font-style:normal;color:#fff;text-align:left;background:url(http://skin.1yyg.com/images/auto_04.png?v=13022) center top no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://skin.1yyg.com/images/auto_04.png?v=13022',sizingMethod='crop');_background-image:none;}

.NewpublishR{width:260px;float:right;}
.Newpublishbor{width:258px;border:1px solid #e8e8e8;padding-bottom:10px;background:#fff;}
.Rtitle{padding-left:10px;font-size:18px;height:39px; line-height:40px;font-weight:bold;background:#f7f7f7;color: #f80;font-family: 微软雅黑,宋体;border-bottom:1px solid #E4E4E4}

.Rcenter{width:210px;margin:0 auto;}.Rcenter li{width:210px;height:68px;padding:0;margin:0 auto 8px;border-bottom:1px dotted #ccc;overflow:hidden;}.buylistH{height:453px;overflow:hidden;}.Rcenter li a.pic{border:1px solid #fff;width::56px;height:56px;float:left;margin-right:6px;margin-top:2px;overflow:hidden;}.Rcenter li a.pic img{width::56px;height:56px;}
.Rcenter ul li p.Rintro{width:143px;height:38px;font-size:12px;padding-top:2px;overflow:hidden;}
.Rcenter ul li p.Rtagou{width:143px;color:#9F9F9F;font-size:12px;padding-top:2px;overflow:hidden;white-space:nowrap;}
.Rcenter ul li p.Rtagou a{margin-right:3px;}.RcenterH{height:887px;overflow:hidden;display:inline-block;position:relative;}.RcenterPH li{width:202px;position:relative;height:75px;padding:15px 0 0 0;margin-bottom:0;}.RcenterPH li b{width:20px;height:18px;font-family:Arial;font-size:12px;line-height:16px;left:4px;top:17px;background:#f60;display:inline-block;text-align:center;position:absolute;color:#fff;}.RcenterPH li span.pic{border:1px solid #E4E4E4;width::56px;height:56px;float:left;margin-right:6px;margin-top:2px;overflow:hidden;}.RcenterPH li span.pic img{width::56px;height:56px;}.Rcenter li p{margin-left:60px;}.Rcenter ul li p.Rintro{width:135px;height:38px;font-size:12px;overflow:hidden;}.Rcenter li p i{width:56px;height:15px;overflow:hidden;display:inline-block;color:#fff;line-height:15px;line-height:17px\9;_line-height:15px;padding-left:3px;background:url(http://skin.1yyg.com/DataServer/images/lottery-2.png?v=130205) no-repeat;}.Rcenter li p em{color:#2AF;font-weight:bold;vertical-align:3px;vertical-align:-2px\9;_vertical-align:0;}.Rcenter .list-block{width:186px;margin:0 auto;height:332px;padding:15px 8px 0 8px;position:relative;background:#f3f3f3;}.RcenterPH li.list-block b{left:4px;top:15px;}.Rcenter .list-block .pic a img{width:185px;height:185px;}.Rcenter li.list-block p{margin-left:0;}.Rcenter .list-block .pic{width:186px;text-align:center;}.Rcenter .list-block .pic a{display:inline-block;}.Rcenter .list-block .name{width:186px;height:24px;line-height:24px;display:block;overflow:hidden;white-space:nowrap;text-align:left;font-size:12px;padding:0;}.Rcenter .list-block .name a:hover{text-decoration:underline;color:#f60;}.Rcenter .list-block .money{padding:0 0 9px 0;font-family:arial;text-align:left;color:#999;}.Rcenter .list-block .money span{font-family:arial;color:#666;}.Rcenter .list-block .shop_buttom{text-align:center;clear:both;margin-top:2px;height:30px;overflow:hidden;}.Rcenter .list-block .shop_buttom .go_Shopping{padding:6px 22px 7px 22px;_padding:7px 22px 6px 22px;border:1px solid #F60;border-bottom:1px solid #E85700;background:#F60;color:#fff;border-radius:3px;font-family:微软雅黑,宋体;font-size:14px;line-height:14px;display:inline-block;}.Rcenter .list-block .shop_buttom a.go_Shopping:hover{color:#fff;background:#F40;}
.Progress-bar{height:50px;overflow:hidden;}
.Rcenter .list-block .Progress-bar p{height:4px;background:#E7E7E7;border:1px solid #DBDBDB;position:relative;border-radius:3px;}
.Progress-bar p span{height:4px;border:1px solid #F55700;background:#F60;position:absolute;top:-1px;left:-1px;font-size:0;border-radius:3px;}
.Progress-bar .Pro-bar-li li{float:left;height:40px;color:#AEADAD;font-size:12px;font-family:宋体;border:none;margin:0;padding:0;box-shadow:none;border-radius:none;}.Progress-bar .Pro-bar-li li em{display:block;font-size:12px;font-family:arial;height:14px;padding:3px 0 5px 0;overflow:hidden;}.Progress-bar .Pro-bar-li li.P-bar01 em{color:#F60;}.Progress-bar .Pro-bar-li li.P-bar02 em{color:#777;}.Progress-bar .Pro-bar-li li.P-bar03 em{color:#14A8E4;}.Progress-bar .Pro-bar-li li.P-bar01{width:34.9%;text-align:left;}.Progress-bar .Pro-bar-li li.P-bar02{width:30%;text-align:center;}
.Progress-bar .Pro-bar-li li.P-bar03{width:35%;float:right;text-align:right;}
.pages{overflow:hidden;height:60px;clear:both;padding-right:0;}
.pages ul.pageULEx{float:right;padding:20px 0 0 0;margin-right:0;display:inline;}
.pages ul.pageULEx li{line-height:32px;}.pages ul.pageULEx li.curr_page{padding:4px 0 3px 0;font-size:14px;font-family:Arial;line-height:22px;}.pages ul.pageULEx li a{padding:3px 0 4px 0;font-size:14px;font-family:Arial;line-height:22px;}.pages ul.pageULEx li.prev_page a,.pages ul.pageULEx li.next_page a{padding:4px 0 3px 0;padding:5px 0 2px 0\9;_padding:5px 0 2px 0;line-height:22px;}.pages ul.pageULEx li.prev_page i,.pages ul.pageULEx li.next_page i{font-family:宋体;font-weight:bold;}.pages ul.pageULEx li.prev_page i{padding-right:5px;}.pages ul.pageULEx li.next_page i{padding-left:5px;}.pages ul.pageULEx li{float:left;list-style:none;margin:0 0 0 5px;text-align:center;}.pages ul.pageULEx li{float:left;text-align:center;color:#666;font-family:Arial;}.pages ul.pageULEx li.curr_page{display:block;font-weight:bold;text-align:center;overflow:hidden;padding-left:10px;padding-right:10px;background-color:#F60;border:1px solid #F60;color:#FFF;text-decoration:none;border-radius:5px;}.pages ul.pageULEx li a{border:1px solid #DEDEDE;display:inline-block;text-align:center;padding-left:10px;padding-right:10px;border-radius:5px;color:#999;}.pages ul.pageULEx li a,.pages li a:hover{display:inline-block;overflow:hidden;}.pages ul.pageULEx li a:hover{color:#f60;text-decoration:none;}.pages ul.pageULEx li.prev_page a{border:1px solid #DEDEDE;display:inline-block;text-align:center;overflow:hidden;width:65px;border-radius:5px;color:#999;}.pages ul.pageULEx li.next_page a{white-space:nowrap;width:65px;overflow:hidden;display:inline-block;}.pages ul.pageULEx li.prev_page a:hover,.pages li.next_page a:hover{color:#f60;overflow:hidden;}.pages ul.pageULEx li.page_curgray a,.pages ul.pageULEx li.page_curgray a:hover{cursor:default;display:inline-block;background:#F4F4F4;border:1px solid #E4E4E4;color:#CCC;}
/*clc添加start*/
.Rcenter li {
	height:76px;padding-top:15px;
}
.Rcenter ul li p.Rintro{
	margin-left:75px;overflow: hidden; /*自动隐藏文字*/
text-overflow: ellipsis;/*文字隐藏后添加省略号*/
white-space: nowrap;/*强制不换行*/
}
.Rcenter ul li p.Rintro{
	margin-left:67px;
}
.Rcenter ul li p.Rintro a{
	
	overflow: visible;
}
.Rcenter li a.pic img{
		width:58px;height:58px;
}
/*clc添加end*/
/*最新揭晓的倒计时*/
.jiexiao_winner_info{float:left; width:238px;}
.jiexiao_winner_info_top{ padding-left:5px;color:#999999}
.daojishi_xiaohe{padding-top:15px;padding-left:5px}
.daojishi_xiaohe_top{height:30px; clear:both}
.daojishi_xiaohe_top img{width:30px; height:30px; float:left}
.daojishi_xiaohe_top span{ float:left; line-height:30px; padding-left:10px; font-size:20px; font-weight:bold;color:#666}
.daojishi_xiaohe_bottom{padding-top:10px;padding-left:25px }
.daojishi_xiaohe_bottom span{color:#919191;font-size:28px;}
.daojishi_xiaohe_bottom .minute{color: #fff;font-size: 24px;line-height: 40px;background: #f80;border-radius: 3px;padding: 10px;}

/*我来包尾*/
.xh_lotterlist{width:206px;margin:0 auto; overflow:hidden; padding:0 8px;}
.xh_lotterlist h3{}
.xh_lotter_img{width:160px;height:160px; margin:0 auto;}
.xh_lotter_img img{width:160px;height:160px;}
.xh_lotter_each{margin-top:15px;}
.xh_lotterlist h3 a{font-size:14px;color:#3c3c3c; font-weight:bold}
.xh_lotter_zongxu{height:34px; line-height:34px;color:#808080;font-size:12px;}
.xh_lotter_baowei{clear:both;margin-bottom:20px;border-radius:4px;width:100px;height:34px; line-height:34px;text-align:center;background: #fff;border:1px solid #f80;cursor:pointer; overflow:hidden}
.xh_lotter_baowei:hover{background:#f80}
.xh_lotter_baowei a{color:#f80; font-size:16px;font-weight:bold;    font-family: "Microsoft Yahei",simhei;font-weight: bold;outline: none;background-color: #fff;display: block;width: 102px;height: 36px;}
.xh_lotter_baowei a:hover{
	color: #fff;
	background-color: #f80;
}
.xh_lotter_line{ width:240px; height:1px; background:#e8e8e8;margin:0 auto;}
.xh_lotter_jindu{width:206px;margin-bottom:30px;}
.xh_lotter_jindu_p{width:206px;height:8px;border:1px solid #DBDBDB; position:relative}
.xh_lotter_jindu_p span{display:block;height:8px;top:0; left:0;position:absolute; background:-webkit-gradient(linear, 0% 0, 100% 0, from(#f80), to(#d2691e));}
.xh_lotter_renshu{clear:both;padding-top:5px}
.xh_lotter_renshuyi{float:left}
.xh_lotter_renshuyish{ float:right;text-align:right}
.xh_lotter_renshu li p{color:#999}