@charset "utf-8";
	body {
	background-color:#F7F7F7;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
.show_content:after,.show_Period:after,.Pro_Details:after,.GetPrize:after,.Details_box:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.period_Open i,.period_Open s,.Period_ArrowBut,.Security li i,.Security li s,.Security li b,.Det_Cart i,.AllRecL i,.AllRecR_T i,.AllRecRCur .AllRecR_close,.SingleR_TC i,.SingleR_TC s,.Comment_smile span i,.Comment_smile span s {
	background:url(../images/Detailsbg.png) no-repeat;
}
.show_content {
	zoom:1;
	background:#fff;
	border:1px solid #E4E4E4;
	width:1200px;
	position:relative;
	margin:0 auto;
	z-index:0;
}
.show_Period {
	width:1200px;
	overflow:hidden;
	zoom:1;
	position:relative;
}
.show_Period .period_Open {
	position:absolute;
	right:-1px;
	bottom:0;
	_bottom:-1px;
	background:#fff;
	width:106px;
	height:32px;
	border:1px solid #E4E4E4;
}
.show_Period .period_Open a {
	width:70px;
	height:32px;
	_height:21px;
	overflow:hidden;
	line-height:34px;
	_line-height:35px;
	padding-left:36px;
	_padding-top:11px;
	font-family:宋体;
	display:inline-block;
	cursor:pointer;
	font-size:12px;
	color:#2AF;
}
.show_Period .period_Open i,.show_Period .period_Open s {
	display:inline-block;
	width:7px;
	height:8px;
	vertical-align:0;
	vertical-align:2px\9;
	overflow:hidden;
	margin-left:3px;
}
.show_Period .period_Open i {
	background-position:-273px 0;
}
.show_Period .period_Open s {
	background-position:-261px 0;
}
.show_Period .Period_list {
	width:1200px;
	border-bottom:1px solid #E4E4E4;
	height:32px;
	background:#fcfcfc;
}
.show_Period .Period_list li {
	float:left;
	width:132px;
	height:32px;
	border-left:1px solid #E4E4E4;
}
.show_Period .Period_list li a {
	width:132px;
	height:32px;
	overflow:hidden;
	line-height:31px;
	_line-height:35px;
	text-align:center;
	font-family:微软雅黑,宋体;
	display:inline-block;
	cursor:pointer;
}
.show_Period .Period_list li a:hover {
	background:#fff;
	color:#e53c08;
}
.show_Period li .period_Ongoing {
	width:120px;
	padding-left:10px;
	padding-top:1px;
	_padding-top:8px;
	overflow:hidden;
	font-family:微软雅黑,宋体,Arial;
	font-size:12px;
	position:relative;
	color:#e53c08;
	display:inline-block;
}
.show_Period li .period_Ongoing i {
	width:46px;
	height:16px;
	display:inline-block;
	background:url(../images/Announced_8.gif) no-repeat;
	vertical-align:-3px;
	vertical-align:0\9;
	margin-left:3px;
}
.show_Period li .period_ArrowCur {
	width:132px;
	font-family:微软雅黑,宋体,Arial;
	font-size:16px;
	line-height:32px;
	height:32px;
	background:#e53c08;
	color:#fff;
	text-align:center;
	display:inline-block;
	font-weight:normal;
}
.Pro_Details {
	width:1150px;
	zoom:1;
	padding-bottom:17px;
}
.Pro_Details h1 {
	font-family:微软雅黑,宋体;
	font-size:24px;
	padding-bottom:9px;
	margin-top:15px;
}
.Pro_Details h1 span {
	margin-right:15px;
}
.Pro_Detleft {
	float:left;
	width:420px;
}
.Pro_Detleft .Pro_Detimg {
	float:left;
	margin:0;
}
.Pro_Detleft .Pro_Detimg .Pro_pic {
	width:398px;
	height:398px;
	border:1px solid #E3E3E3;
	margin:6px 0 0 0;
	position:relative;
}
.Pro_Detleft .Pro_Detimg .Pro_pic a {
	display:inline-block;
}
.Pro_Detleft .Pro_Detimg .Pro_pic span {
	color:#fff;
	font-family:"微软雅黑";
	font-size:26px;
	background:url(../images/Announced_05.png) no-repeat;
	width:66px;
	height:66px;
	padding:15px;
	line-height:32px;
	text-align:center;
	position:absolute;
	top:40px;
	left:40px;
}
.Pro_Detleft .Pro_Detimg .Pro_pic span {
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://skin.1yyg.com/images/Announced_05.png?v=130301");
}
.Pro_Detleft .Pro_Detimg img {
	width:398px;
	height:398px;
}
.Result_LConduct {
	height:63px;
	clear:both;
	position:relative;
}
.Result_LConduct dl {
	position:absolute;
	top:-1px;
}
.Result_LConduct dt {
	width:71px;
	height:61px;
	text-align:center;
	border:1px solid #eed7d9;
	background:#efe5e6;
	color:#e53c08;
	font-size:14px;
	float:left;
	font-family:微软雅黑,宋体;
}
.Result_LConduct dt span {
	display:block;
	font-size:18px;
	padding-top:5px;
}
.Result_LConduct dd {
	width:326px;
	height:61px;
	float:left;
	border:1px solid #E3E3E3;
	border-left:none;
}
.Result_LConduct .Result_LConductBut {
	padding:9px 16px 8px 16px;
	_padding:10px 16px 7px 16px;
	border:1px solid #e53c08;
	background:#e53c08;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
	font-weight:bold;
	margin-top:15px;
	font-family:宋体;
}
.Result_LConduct .Result_LConductBut:hover {
	color:#fff;
}
.Result_Progress-bar {
	width:208px;
	margin:12px 12px 0 12px;
	height:44px;
	float:left;
	display:inline;
}
.Result_Progress-bar p {
	height:4px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
}
.Result_Progress-bar p span {
	height:4px;
	border:1px solid #e53c08;
	background:#e53c08;
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:0;
	border-radius:3px;
}
.Result_Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:12px;
	font-family:宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Result_Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:12px;
	font-family:arial;
	height:14px;
}
.Result_Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#e53c08;
}
.Result_Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Result_Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#14A8E4;
}
.Result_Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Result_Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Result_Progress-bar .Pro-bar-li li.P-bar03 {
	width:34%;
	float:right;
	text-align:right;
}
.Pro_Detright {
	float:left;
	width:450px;
}
.Pro_Detright .Det_money {
	height:32px;
	font-family:宋体;
	font-size:14px;
	color:#666;
}
.Pro_Detright .Det_money span {
	font-family:Arial;
	font-size:14px;
	color: #E53C08;
}
.Pro_Detright .Det_money span.rmbgray {
	background-position:0 -2px;
}
.Progress-bar {
	height:66px;
	border-bottom:1px solid #EEE;
}
.Progress-bar p {
	height:10px;
	background:#E7E7E7;
	border:1px solid #DBDBDB;
	position:relative;
	border-radius:3px;
}
.Progress-bar p span {
	height:10px;
	border:1px solid #f80;
	background:#f80 none repeat scroll 0% 0%;
	position:absolute;
	top:-1px;
	left:-1px;
	font-size:0;
	border-radius:3px;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:14px;
	font-family:微软雅黑,宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:18px;
	font-family:arial;
	height:20px;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#f80;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#14A8E4;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:35%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:30%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:34%;
	float:right;
	text-align:right;
}
.Announced_Frame {
	background:url(../images/Announced_2.png);
	background: #f80;
}
.Announced_FrameT,.Announced_FrameTin {
	width:450px;
	height:49px;
	overflow:hidden;
	text-align:center;
	/*background:url(../images/Announced_1.gif) no-repeat;*/
	font-size:20px;
	color:#fff;
	line-height:50px;
	font-family:微软雅黑,宋体;
}
.Announced_FrameTin {
	background:url(../images/Announced_7.gif) no-repeat;
}
.Announced_FrameCode,.Announced_FrameGet,.Announced_FrameBm {
	background:url(../images/Announced_1.png) no-repeat;
}
.Announced_FrameCode {
	width:428px;
	height:87px;
	margin:0 auto;
	background-position:0 0;
}
.Announced_FrameCode .Announced_FrameCodeMal {
	margin:15px 0 0 84px;
	float:left;
	display:inline;
}
.Announced_FrameCode .Announced_FrameClockMar {
	margin:15px 0 0 15px;
	float:left;
	display:inline;
}
.Announced_FrameCode .Announced_FrameClock {
	float:left;
	margin:12px 0 0 13px;
}
.Announced_FrameCode li {
	width:35px;
	height:55px;
	float:left;
	text-align:center;
	position:relative;
	font-family:Arial;
	font-weight:bold;
	background:#fff;
	line-height:52px;
	font-size:50px;
	color:#e53c08;
}
.Announced_FrameCode li b {
	width:35px;
	height:55px;
	position:absolute;
	background:url(../images/Announced_code.png) no-repeat;
	top:0;
	left:0;
}
.Announced_FrameCode li.Code_1 b {
	background-position:-4px -13px;
}
.Announced_FrameCode li.Code_2 b {
	background-position:-48px -13px;
}
.Announced_FrameCode li.Code_3 b {
	background-position:-93px -13px;
}
.Announced_FrameCode li.Code_4 b {
	background-position:-139px -13px;
}
.Announced_FrameCode li.Code_5 b {
	background-position:-183px -13px;
}
.Announced_FrameCode li.Code_6 b {
	background-position:-229px -13px;
}
.Announced_FrameCode li.Code_7 b {
	background-position:-273px -13px;
}
.Announced_FrameCode li.Code_8 b {
	background-position:-318px -13px;
}
.Announced_FrameCode li.Code_9 b {
	background-position:-364px -13px;
}
.Announced_FrameCode li.Code_0 b {
	background-position:-408px -13px;
}
.Announced_FrameCode li.Code_Point b {
	background-position:-450px -13px;
}
.Announced_FrameGet {
	width:428px;
	height:87px;
	background-position:0 -87px;
}
.Announced_FrameGet dl:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Announced_FrameGet dl {
	margin-left:84px;
	padding:14px 0 0 12px;
	_padding:12px 0 0 12px;
	zoom:1;
	font-family:宋体;
}
.Announced_FrameGet dt {
	float:left;
	width:60px;
	margin-right:17px;
	font-size:0;
}
.Announced_FrameGet dt img {
	width:60px;
	height:60px;
}
.Announced_FrameGet dd {
	float:left;
}
.Announced_FrameGet dd p {
	width:250px;
	overflow:hidden;
	white-space:nowrap;
}
.Announced_FrameGet dd a.blue {
	margin:0 5px;
}
.Announced_FrameGet .Announced_FrameLanguage {
	width:410px;
	background:#fff;
	text-align:center;
	display:inline-block;
	margin:13px auto 0 10px;
}
.Announced_FrameBut {
	margin:0 auto;
}
.Announced_But {
	padding:6px 22px 7px 23px;
	_padding:8px 22px 5px 23px;
	background:#d42800;
	color:#FC0;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
	margin:10px 0 0 14px;
	font-family:宋体;
}
.Announced_But:hover {
	background:#c42500;
	color:#FC0;
}
.Announced_FrameBm {
	width:450px;
	height:15px;
	background-position:0 -182px;
}
.MaCenter {
	border:1px solid #EDEDED;
	margin-top:10px;
}
.MaCenter p {
	text-align:left;
	border-bottom:1px solid #EDEDED;
	line-height:30px;
	color:#999;
	text-indent:1em;
}
.MaCenterH {
	height:90px;
	overflow:hidden;
	padding-top:1px;
}
.MaCenter dl {
	display:inline-block;
	color:#666;
}
.MaCenter dl dt {
	float:left;
	width:158px;
	text-align:center;
	line-height:22px;
	height:22px;
}
.MaCenter dl dd {
	float:left;
	width:290px;
}
.MaCenter dl dd b {
	width:72px;
	display:block;
	float:left;
	font-weight:normal;
	line-height:22px;
	height:22px;
}
.MaOpen s,.MaOff s,.AllRecR_See s {
	background:url(../images/Detailsbg.png) no-repeat;
}
.MaOpen {
	border:1px solid #EDEDED;
	border-top:none;
	text-align:center;
	background:#F7F7F7;
	line-height:26px;
	cursor:pointer;
}
.MaOpen span {
	display:inline-block;
	cursor:pointer;
	position:relative;
	color:#999;
	text-decoration:none;
	text-decoration:none;
	height:26px;
	line-height:30px\0;
}
.MaOpen s {
	background-position:-273px -13px;
	width:7px;
	height:8px;
	display:block;
	position:absolute;
	right:-10px;
	top:10px;
}
.MaOff {
	border:1px solid #EDEDED;
	height:28px;
	line-height:26px;
	border-top:none;
	text-align:center;
	background:#F7F7F7;
	cursor:pointer;
}
.MaOff span {
	display:inline-block;
	cursor:pointer;
	position:relative;
	color:#999;
	text-decoration:none;
	height:26px;
	line-height:30px\0;
}
.MaOff s {
	background-position:-262px -13px;
	width:7px;
	height:8px;
	display:block;
	position:absolute;
	right:-10px;
	top:11px;
}
.Details_HotTj {
	width:978px;
	border:1px solid #E4E4E4;
	background:#fff;
	height:238px;
}
.Details_HotTj .HotTj_tit {
	font-size:14px;
	height:31px;
	line-height:29px;
	_line-height:31px;
	text-indent:1em;
	color:#666;
	font-family:微软雅黑,宋体;
	color:#6E6E6E;
	border-bottom:1px solid #E4E4E4;
}
.Details_HotTj .HotTj_Con li {
	width:137px;
	float:left;
	margin:10px 1px 10px 22px;
	display:inline;
}
.Details_HotTj .HotTj_Con .pic {
	text-align:center;
	width:120px;
	height:120px;
	overflow:hidden;
	margin-bottom:10px;
	position:relative;
}
.Details_HotTj .HotTj_Con .pic img {
	width:120px;
	height:120px;
}
.Details_HotTj .HotTj_Con .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.Details_HotTj .HotTj_Con .name a {
	line-height:18px;
	color:#666;
	display:block;
}
.Details_HotTj .HotTj_Con .name a:hover {
	text-decoration:underline;
	color:#e53c08;
}
.Details_HotTj .HotTj_Con .money {
	font-family:arial;
	text-align:center;
	color:#999;
}
.Details_HotTj .HotTj_Con .money span {
	font-family:arial;
	color:#666;
}
.ProductTabNav {
	width:1202px;
	margin:10px auto 0 auto;
	height:38px;
}
.ProductTabNav .DetailsT_Tit {
	top:auto;
	background-color:#fff;
	/*z-index:11;*/
}
.ProductTabNav .nav-fixed {
	position:fixed;
	top:0;
}
* html .ProductTabNav .nav-fixed {
	position:absolute;
	bottom:auto;
	top:expression(eval(document.documentElement.scrollTop));
}
.ProductTabNav .DetailsT_Tit {
	overflow:visible;
}
.DetailsT_TitP {
	border:1px solid #E4E4E4;
	height:35px;
	width:1200px;
	background:#fff;
	/*position:relative;
	z-index:0;*/
}
.DetailsT_TitP ul {
	height:35px;
	float:left;
	margin-top:-1px;
/*	z-index:3;
	position:absolute;*/
}
.DetailsT_TitP li {
	float:left;
	font-family:微软雅黑,宋体;
	font-size:16px;
	text-align:center;
	height:36px;
	line-height:34px;
	border-right:1px solid #E4E4E4;
	/*position:relative;*/
	cursor:pointer;
}
.DetailsT_TitP p {
	float:right;
	margin-top:-1px;
	margin-right:-1px;
	position:absolute;
	right:0;
}
.DetailsT_TitP li.Product_DetT {
	width:134px;
}
.DetailsT_TitP li.All_RecordT {
	width:158px;
}
.DetailsT_TitP li.Single_ConT {
	width:98px;
}
.DetailsT_TitP li.DetailsTCur {
	font-size:18px;
	height:34px;
	color:#f80;
	font-weight:bold;
	line-height:30px;
	border-top:3px solid #d2691e;
	margin-top:0;
	background:#fff;
}
.DetailsT_TitP .DetailsT_Cart {
	background:#22ABFE;
	height:37px;
	color:#fff;
	font-family:微软雅黑,宋体;
	font-size:14px;
	line-height:32px;
	_line-height:36px;
	position:relative;
	padding:0 10px 0 39px;
	display:inline-block;
}
.DetailsT_TitP .DetailsT_Cart s {
	width:22px;
	height:18px;
	background-position:-108px -39px;
	display:inline-block;
	left:11px;
	top:8px;
	position:absolute;
}
.DetailsT_TitP .DetailsT_Cart:link {
	color:#fff;
}
.DetailsT_TitP .DetailsT_Cart:hover {
	color:#fff;
}
.AllRecordT_Tit,.SingleT_Tit {
	width:978px;
	margin:10px auto 0;
	font-family:微软雅黑,宋体;
	font-size:14px;
	height:35px;
	line-height:32px;
	text-indent:1em;
	border-top:2px solid #e53c08;
	background:#F8F8F8;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
.AllRecordT_Tit span {
	font-size:12px;
	color:#A6A6A6;
}
.SingleT_Tit span {
	font-size:12px;
	color:#A6A6A6;
	font-family:宋体;
}
.AllRecordT_Tit span em,.SingleT_Tit span em {
	font-family:Arial;
	margin:0 5px;
}
.Product_Content,.AllRecord_Content,.Single_Content {
	width:1200px;
	overflow:hidden;
	border:1px solid #E4E4E4;
	border-top:none;
	background:#fff;
	margin:0 auto;
}
.AllRecord_Content .pages,.Single_Content .pages {
	width:910px;
}
.Product_Con {
	width:918px;
	overflow:hidden;
	padding:30px 30px 30px 30px;
}
.AllRecordCon {
	width:920px;
	margin:0 auto 15px;
	padding:38px 0 15px;
}
.AllRecord_Content .pages {
	margin-bottom:12px;
	border-top:1px solid #E4E4E4;
	padding:12px 0 0;
}
.Single_Content .pages {
	margin-bottom:12px;
}
.NoConMsg {
	text-align:center;
}
.NoConMsg span {
	height:110px;
	line-height:90px;
	display:inline-block;
	font-family:微软雅黑,宋体;
	font-size:18px;
	color:#999;
}
.goods_loding {
	
}
.goods_loding img {
	margin-right:5px;
	vertical-align:middle;
}
.AllRecW:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.AllRecW {
	width:920px;
	margin:0 auto;
	zoom:1;
	background:url(../images/AllRecord_1.png) 0 repeat-y;
}
.AllReclist {
	padding-top:6px;
}
.AllRecTime {
	height:16px;
	position:relative;
}
.AllRecTime p {
	font-family:微软雅黑,宋体;
	font-size:24px;
	color:#999;
	display:inline-block;
	position:absolute;
	left:124px;
	top:-18px;
}
.AllRecTime b {
	width:36px;
	height:1px;
	background:#E4E4E4;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	left:265px;
	top:0;
}
.All_lineH {
	height:48px;
}
.AllRecW .AllRecL {
	width:292px;
	text-align:right;
	position:relative;
	padding-right:22px;
	margin-top:7px;
	color:#9A9A9A;
}
.AllRecW .AllRecL i {
	width:16px;
	height:5px;
	overflow:hidden;
	background-position:-98px 0;
	display:inline-block;
	position:absolute;
	right:0;
	top:7px;
}
.AllRecW .AllRecR {
	width:575px;
	margin:1px;
}
.AllRecW .AllRecRCur {
	border:1px solid #E4E4E4;
	background:#F8F8F8;
	margin:0;
	padding-bottom:15px;
	position:relative;
}
.AllRecW .AllRecRCur .MaOff {
	border:none;
	position:relative;
	bottom:-15px;
}
.AllRecW .AllRecRCur .MaOpen {
	border:none;
	position:relative;
	bottom:-15px;
}
.AllRecW .AllRecR_T .AllRecR_See {
	margin-left:10px;
	color:#666;
	display:inline-block;
	position:relative;
	padding-right:10px;
}
.AllRecW .AllRecR_T .AllRecR_See:hover {
	color:#e53c08;
}
.AllRecW .AllRecR_T .AllRecR_See s {
	background-position:-262px -13px;
	width:7px;
	height:8px;
	display:block;
	position:absolute;
	right:0;
	top:5px;
}
.AllRecW .AllRecRCur .AllRecR_close {
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
	position:absolute;
	right:5px;
	top:5px;
	background-position:-98px -8px;
}
.AllRecW .AllRecR .AllRecR_T {
	height:25px;
	color:#999;
	padding-left:4px;
	padding-top:7px;
}
.AllRecW .AllRecR .AllRecR_T a.blue {
	margin-right:5px;
}
.AllRecW .AllRecR .AllRecR_T em.orange {
	margin:0 5px;
	font-family:Arial;
}
.AllRecW .AllRecR .AllRecR_T i {
	width:10px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	background-position:-122px 0;
	vertical-align:-2px;
	_vertical-align:middle;
	margin:0 3px;
}
.AllRecW .AllRecR .AllRecR_T .AllRecR_Over {
	color:#999;
	display:inline-block;
}
.AllRecW .AllRecR .AllRecR_T .AllRecR_Over span {
	color:#ccc;
}
.AllRecW .AllRecR .AllRecR_T img {
	vertical-align:middle;
	margin-right:8px;
}
.AllRecW .AllRecR .AllRecR_T em {
	font-family:宋体;
}
.AllRecW .AllRecR .AllRecR_Code {
	font-family:宋体;
	padding-left:14px;
	overflow:hidden;
}
.AllRecW .AllRecR .AllRecR_Code b {
	font-weight:normal;
	width:66px;
	text-align:right;
	display:inline-block;
}
.Single_Content:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Single_Content {
	zoom:1;
}
.Single_Content .lineNone {
	border-bottom:none;
}
.SingleR_TC i {
	font-size:80px;
}
.Single_list {
	width:918px;
	overflow:hidden;
	margin:30px auto 15px;
	padding:0 0 19px 0;
	border-bottom:1px solid #E4E4E4;
}
.Single_Content .lineNone {
	border-bottom:none;
}
.Single_list .Topiclist-img {
	width:80px;
	overflow:hidden;
	text-align:center;
	float:left;
}
.Single_list .Topiclist-img .head-img {
	width:80px;
	margin:0 auto;
	display:block;
}
.Single_list .Topiclist-img .head-img img {
	width:80px;
	height:80px;
}
.Single_list .Topiclist-img .blue {
	white-space:nowrap;
	width:80px;
	overflow:hidden;
	display:block;
}
.Single_list .Topiclist-img .class-icon {
	width:40px;
	white-space:nowrap;
	padding-left:16px;
	color:#999;
}
.Single_list .Topiclist-img span {
	white-space:nowrap;
}
.Single_list .SingleR {
	width:782px;
	margin-left:48px;
	display:inline;
}
.Single_list .SingleR_TC:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Single_list .SingleR_TC {
	position:relative;
	zoom:1;
}
.Single_list .SingleR_TC h3 {
	color:#999;
	font-family:微软雅黑,宋体;
	font-size:18px;
	color:#333;
	line-height:24px;
}
.Single_list .SingleR_TC h3 span {
	font-size:14px;
}
.Single_list .SingleR_TC h3 em {
	font-size:12px;
}
.Single_list .SingleR_TC p {
	padding:7px 25px 12px 0;
}
.Single_list .SingleR_TC i,.Single_list .SingleR_TC s {
	width:19px;
	height:17px;
	display:inline-block;
	position:absolute;
}
.Single_list .SingleR_TC i {
	left:-28px;
	top:0;
	background-position:-143px 0;
}
.Single_list .SingleR_TC s {
	right:0;
	bottom:12px;
	background-position:-168px 0;
}
.Single_list ul.SingleR_pic {
	display:inline-block;
}
.Single_list .SingleR_pic li {
	float:left;
	margin-right:10px;
	display:inline;
}
.Single_list .SingleR_Comment .Comment_smile {
	height:25px;
	padding-top:6px;
}
.SingleR_Comment .Comment_smile span {
	margin-right:10px;
}
.SingleR_Comment .Comment_smile span i {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:-4px;
	background-position:-198px 0;
	margin-right:3px;
}
.SingleR_Comment .Comment_smile span s {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:-8px;
	background-position:-230px 0;
	margin-right:0;
}
.Single_list .SingleR_Comment p.SingleRmore {
	height:31px;
	line-height:31px;
	font-family:宋体;
	border-top:1px dotted #DDD;
}
.Single_list .SingleR_Comment li {
	padding:3px 0;
	line-height:22px;
	border-top:1px dotted #DDD;
}
.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s {
	background:url(../images/new-class-icon.png);
}
.class-icon01,.class-icon02,.class-icon03,.class-icon04,.class-icon05,.class-icon06,.class-icon07 {
	display:inline-block;
	position:relative;
	padding-left:17px;
	padding-right:5px;
	line-height:20px!important;
	color:#666;
}
.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s {
	position:absolute;
	width:13px;
	height:13px;
	display:inline-block;
	top:4px;
	top:2px\9;
	_top:4px;
	left:0;
}
.class-icon01 s {
	background-position:-1px 0;
}
.class-icon02 s {
	background-position:-18px 0;
}
.class-icon03 s {
	background-position:-35px 0;
}
.class-icon04 s {
	background-position:-52px 0;
}
.class-icon05 s {
	background-position:-69px 0;
}
.class-icon06 s {
	background-position:-86px 0;
}
.class-icon07 s {
	background-position:-106px -1px;
}
.ygRecord {
	width:1100px;
	overflow:hidden;
}
.ygRecord h3 {
	background:#F8F8F8;
	font-family:微软雅黑,宋体;
	font-size:14px;
	height:36px;
	line-height:30px;
	text-align:center;
	width:900px;
	margin-bottom:30px;
}
.ygRecord h3 span {
	font-family:宋体;
	padding-left:10px;
	font-weight:bold;
	color:#8D8D8D;
}
.ygRecord .yghelp {
	border:1px solid #eed7d9;
	margin:17px 0 7px 0;
	background:#efe5e6;
	text-align:left;
	padding:5px 0 5px 20px;
	line-height:20px;
	color:#e53c08;
}
.ygRecord ul.Record_content {
	height:35px;
	width:900px;
	overflow:hidden;
	border-bottom:1px solid #F4F4F4;
}
.ygRecord div.RecordOnehundred {
	border-top:0 solid #fc5765;
	position:relative;
	width:1100px;
	overflow:hidden;
}
.ygRecord div.RecordOnehundred h4 {
	background:#f80;
	color:#FFF;
	height:29px;
	line-height:28px;
	text-align:center;
	width:1100px;
}
.ygRecord div.RecordOnehundred div.FloatBox {
	background:url("../images/resultArrow01.png") repeat-y scroll 95px 0 transparent;
	border:1px solid #f80;
	border-top:none;
	border-bottom:none;
	height:3598px;
	left:93px;
	position:absolute;
	top:29px;
	width:180px;
}
.ygRecord .RecordOnehundred .ResultBox {
	background:#fc5765;
	color:#FFF;
	line-height:20px;
	padding:10px 0 10px 120px;
	width:980px;
	text-align:left;
	position:relative;
	display:inline-block;
}
.ygRecord .RecordOnehundred .ResultBox h2 {
	position:absolute;
	top:15px;
	left:30px;
	font-family:微软雅黑,宋体;
	font-size:18px;
}
.ygRecord .RecordOnehundred .ResultBox p {
	height:119px;
	overflow:hidden;
	padding-left:26px;
	line-height:31px;
	background:url(../images/Announced_3.png) 0 8px no-repeat;
}
.ygRecord .RecordOnehundred .ResultBox p.num4 {
	height:87px;
	overflow:hidden;
	padding-left:26px;
	line-height:31px;
	background:url(../images/Announced_3.png) 0 8px no-repeat;
}
.ygRecord .RecordOnehundred .ResultBox span.rus {
	color:#fff;
	font-size:12px;
}
.ygRecord .RecordOnehundred .ResultBox span {
	color:#F3E11E;
	font-size:14px;
	font-family:宋体;
}
.ygRecord .RecordOnehundred .ResultBox span em {
	font-size:18px;
}
.ygRecord .RecordOnehundred .ResultBox b {
	margin-top:10px;
	margin-left:25px;
	padding:5px 25px 5px 25px;
	border:1px solid #FFF60E;
	background:#FFF;
	color:#f00;
	border-radius:18px;
	font-size:18px;
	line-height:18px;
	display:inline-block;
	font-family:微软雅黑,宋体;
	font-weight:normal;
}
.ygRecord div.RecordOnehundred ul {
	border-bottom:1px solid #F9D8DD;
	height:35px;
	width:1100px;
	background:#FFFEF1;
}
.ygRecord ul.Record_title {
	background:#F4F4F4;
	height:33px;
	width:1100px;
	overflow:hidden;
}
.ygRecord ul.Record_title li {
	float:left;
	line-height:33px;
	text-align:left;
	padding:0 0 0 24px;
}
.ygRecord ul.Record_content li,.ygRecord div.RecordOnehundred ul li {
	color:#999;
	display:block;
	float:left;
	text-align:left;
	height:17px;
	line-height:17px;
	overflow:hidden;
	padding:9px 0 9px 15px;
}
.ygRecord ul.Record_title li.time,.ygRecord ul.Record_content li.time {
	width:260px;
}
.ygRecord div.RecordOnehundred ul li.time {
	width:177px;
}
.ygRecord div.RecordOnehundred ul li.time b {
	font-weight:normal;
	margin-right:15px;
}
.ygRecord ul.Record_content li.time b {
	font-weight:normal;
	margin-right:15px;
}
.ygRecord div.RecordOnehundred ul li.timeVal {
	color:#e53c08;
	padding-left:4px;
	text-align:left;
	width:88px;
}
.ygRecord ul.Record_title li.nem,.ygRecord ul.Record_content li.nem,.ygRecord ul.Record_contents li.nem,.ygRecord div.RecordOnehundred ul li.nem {
	width:120px;
}
.ygRecord div.RecordOnehundred ul li.nem {
	padding-left:14px;
}
.ygRecord ul.Record_content li.name,.ygRecord div.RecordOnehundred ul li.name {
	width:575px;
	white-space:nowrap;
	padding-left:0;
}
.ygRecord ul.Record_title li.name{
	width:575px;
	white-space:nowrap;
	padding-left:8px;
}
.ygRecord ul.Record_content li.much,.ygRecord div.RecordOnehundred ul li.much {
	width:65px;
	padding-left:14px;
}
.ygRecord ul.Record_title li.much{
	width:65px;
	padding-left:5px;
}
.list_goodsTj {
	width:980px;
	background:#fff;
	margin:10px auto 20px auto;
	_margin:10px auto 10px auto;
}
.list_goodsTj .list_goodsTjTit {
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	height:36px;
	line-height:36px;
	padding-left:15px;
	border-top:2px solid #e53c08;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
}
.list_goodsTj .Roll_Left {
	width:24px;
	height:280px;
	float:left;
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}
.list_goodsTj .Roll_Left a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-left:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Right {
	width:24px;
	height:280px;
	float:right;
	background:#fff;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
.list_goodsTj .Roll_Right a {
	width:24px;
	height:111px;
	display:inline-block;
	text-align:center;
	line-height:111px;
	font-family:宋体;
	font-size:24px;
	font-weight:bold;
	border:1px solid #E4E4E4;
	border-right:none;
	background:#F6F6F6;
	color:#BBB;
	margin-top:50px;
}
.list_goodsTj .Roll_Left a.Roll_enabled,.list_goodsTj .Roll_Right a.Roll_enabled {
	background:#F6F6F6;
	color:#BCBCBC;
}
.list_goodsTj .Roll_Left a.Roll_enabled:hover,.list_goodsTj .Roll_Right a.Roll_enabled:hover {
	background:#F6F6F6;
	color:#Fca1b38;
}
.list_goodsTj .Roll_Con {
	width:880px;
	height:280px;
	float:left;
	overflow:hidden;
	position:relative;
	left:48px;
}
.list_goodsTj .list_goodsTjCon {
	width:978px;
	border:1px solid #E4E4E4;
	height:280px;
	overflow:hidden;
	position:relative;
}
.list_goodsTj .list_goodsTjCon ul {
	width:1927px;
	position:absolute;
	z-index:1;
	left:0;
}
.list_goodsTjCon li {
	width:150px;
	float:left;
	margin:10px 32px 10px 0;
}
.list_goodsTjCon .pic {
	text-align:center;
	width:150px;
	height:140px;
	overflow:hidden;
	margin-bottom:10px;
}
.list_goodsTjCon .pic a {
	display:inline-block;
}
.list_goodsTjCon .pic img {
	width:150px;
	height:140px;
}
.list_goodsTjCon .name {
	height:38px;
	line-height:18px;
	text-align:center;
	overflow:hidden;
}
.list_goodsTjCon .name a {
	line-height:18px;
	color:#666;
	display:block;
}
.list_goodsTjCon .name a:hover {
	text-decoration:underline;
	color:#e53c08;
}
.list_goodsTjCon .money {
	font-family:宋体;
	text-align:center;
	color:#999;
}
.list_goodsTjCon .money span {
	font-family:arial;
	color:#666;
}
.list_goodsTjCon .go_buy {
	text-align:center;
	margin-top:7px;
}
.go_Shopping12 {
	padding:5px 16px 6px 16px;
	_padding:6px 16px 5px 16px;
	border:1px solid #e53c08;
	background:#e53c08;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	line-height:12px;
	display:inline-block;
}
a.go_Shopping12:hover {
	color:#fff;
}
.pages {
	overflow:hidden;
	height:35px;
	clear:both;
}
.pages ul.pageULEx {
	float:right;
	padding:0;
	margin-right:0;
	display:inline;
}
.pages ul.pageULEx li {
	line-height:32px;
}
.pages ul.pageULEx li.curr_page {
	padding:4px 0 3px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li a {
	padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page a,.pages ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.pages ul.pageULEx li.prev_page i,.pages ul.pageULEx li.next_page i {
	font-family:宋体;
	font-weight:bold;
}
.pages ul.pageULEx li.prev_page i {
	padding-right:5px;
}
.pages ul.pageULEx li.next_page i {
	padding-left:5px;
}
.pages ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.pages ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.pages ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	background-color:#e53c08;
	border:1px solid #e53c08;
	color:#FFF;
	text-decoration:none;
	border-radius:5px;
}
.pages ul.pageULEx li a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li a,.pages li a:hover {
	display:inline-block;
	overflow:hidden;
}
.pages ul.pageULEx li a:hover {
	color:#e53c08;
	text-decoration:none;
}
.pages ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	width:65px;
	border-radius:5px;
	color:#999;
}
.pages ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:65px;
	overflow:hidden;
	display:inline-block;
}
.pages ul.pageULEx li.prev_page a:hover,.pages li.next_page a:hover {
	color:#e53c08;
	overflow:hidden;
}
.pages ul.pageULEx li.page_curgray a,.pages ul.pageULEx li.page_curgray a:hover {
	cursor:default;
	display:inline-block;
	background:#F4F4F4;
	border:1px solid #E4E4E4;
	color:#CCC;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	background:url(../images/star-icon.png);
}
.Member_Pop_friend,.Member_Pop_letter,.Member_Pop_Has {
	height:23px;
	border-radius:3px;
	font-size:12px;
	line-height:23px;
	line-height:26px\9;
	_line-height:23px;
	display:inline-block;
	color:#fff;
	text-align:left;
	margin-right:8px;
}
.Member_Pop_friend s,.Member_Pop_letter i {
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:-1px;
	cursor:pointer;
}
.Member_Pop_friend {
	width:62px;
	padding-left:12px;
	background:#49B8FF;
	border:1px solid #1BA3FA;
	position:relative;
	text-indent:15px;
}
.Member_Pop_friend:hover {
	background:#1BA3FA;
	border:1px solid #1BA3FA;
	color:#fff;
}
.Member_Pop_friend s {
	background-position:0 -53px;
	width:10px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
}
.Member_Pop_pal {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
	float:left;
}
.Member_Pop_pal:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
}
.Member_Pop_letter {
	width:62px;
	padding-left:12px;
	border:1px solid #DDD;
	background:#fff;
	color:#2af;
	position:relative;
	text-indent:15px;
}
.Member_Pop_letter:hover {
	border:1px solid #BBB;
	color:#2af;
}
.Member_Pop_letter i,.ta-friend li .Member_Pop_letter i,.Member-list li .Member_Pop_letter i {
	background-position:-11px -53px;
	width:13px;
	height:10px;
	position:absolute;
	left:10px;
	top:7px;
	padding:0;
}
.Member_Pop_Has {
	color:#747474;
	width:74px;
	text-align:center;
	background:#f4f4f4;
	border:1px solid #ddd;
}
.Member_Pop_Has:hover {
	background:#f4f4f4;
	border:1px solid #ddd;
	color:#747474;
	cursor:default;
}
.Member_Pop {
	width:278px;
	height:140px;
	border:1px solid #CCC9C6;
	background:#fff;
	position:absolute;
	box-shadow:2px 2px 3px 0 rgba(34,25,25,.2);
}
.Member_Pop_cur {
	background:#FBFBFB;
}
.Member_Pop_img {
	float:left;
	width:80px;
	height:80px;
	margin:10px;
	display:inline;
}
.Member_Pop_img img,.ta-friend li .Member_Pop_img img,.Member-list li .Member_Pop_img img,.R-list .Member_Pop_img img {
	width:80px;
	height:80px;
}
.Member_Pop_info,.ta-friend li .Member_Pop_info {
	margin-left:91px;
	margin-top:7px;
	text-align:left;
}
.Member_Pop_info .Member_Pop_intro {
	height:40px;
	overflow:hidden;
	padding-right:8px;
}
.Member_Pop_name {
	font-size:14px;
	height:25px;
}
.Member_Pop_class {
	height:22px;
}
.Member_Pop_class .class-icon {
	float:left;
}
.Member_Pop_class span {
	float:left;
}
.Member_Pop_class span.address-icon {
	width:95px;
	height:20px;
	overflow:hidden;
}
.Member_Pop_but {
	width:100%;
	height:30px;
	background:#F4F4F4;
	position:absolute;
	bottom:0;
	margin-left:0;
	left:0;
	text-align:right;
	padding-top:5px;
}

/*最右边显示要购买的最新一期的*/
.g-side {
    height: 560px;
    border: 1px solid #dddddd;
    border-top: 0;
    background-color: #f2f2f2;
}
.g-side {
    float: right;width: 268px;
}
.m-detail-period-title {
    padding-left: 22px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #3C3C3C;
    background-color: #F2F2F2;
    font-family: "Microsoft Yahei";
}
.m-detail-period-title h4 {
    font-size: 18px;
}
.m-detail-period-main {
    padding: 0px 10px 9px;
    height: 510px;
}
m-detail-period-main {
    padding: 0px 10px 9px;
    height: 510px;
}
.m-detail-period-main-wrap {
}
.m-detail-period-main-wrap {
    height: 100%;
    background-color: #FFF;
}
.m-detail-period-nav {
    padding: 19px 0px 0px 15px;
    height: 36px;
    background: #FFF none repeat scroll 0% 0%;
}
.g-twoCol, .f-clear {
}
.m-detail-period-nav-newer-disable {
    background-position: -300px -30px;
}
.m-detail-period-nav-newer {
    background: transparent url(../images/xmix-icon.png) no-repeat scroll -344px -30px;
}
.m-detail-period-nav-btn {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #F5F5F5;
    text-indent: -9999px;
    overflow: hidden;
}
.m-detail-period-nav-current {
    display: block;
    float: left;
    width: 148px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
}
.m-detail-period-nav-older {
    background: transparent url(../images/xmix-icon.png) no-repeat scroll -344px -73px;
}
.m-detail-period-content {
    height: 455px;
}
m-detail-period-winner-detail {
    padding: 30px 10px 22px;
}
.m-detail-period-winner-detail {
    padding: 15px 10px 5px;
    color: #3C3C3C;
}
.avatar {
    margin: 0px auto 13px;
}
.m-detail-period-winner-detail .avatar {
    margin: 0px auto 3px;
    padding: 4px;
    width: 90px;
    border: 1px solid #DDD;
    border-radius: 2px;
}
.m-detail-period-winner-detail .title {
    margin-bottom: 5px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px dashed #DDD;
}
.m-detail-period-winner-detail p {
    line-height: 24px;
}
.m-detail-period-winner-detail p {
    line-height: 18px;
}
.f-txtabb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-detail-period-winner-link {
    text-align: center;
}
.w-button-simple {
    padding: 0px 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Verdana";
    color: #808080;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    background: transparent -moz-linear-gradient(center top , #FFF, #EEE) repeat scroll 0% 0%;
}
.m-detail-period-winner-detail p {
    line-height: 24px;
}
.m-detail-main-ing {
    padding-right: 50px;
    padding-top: 12px;
    border: 1px dotted #a0a0a0;
    border-left: 0;
    border-right: 0;
}
.w-goods-xxl {
}
.m-detail-main-codes a, .m-detail-main-codes-list a {
    font-family: 'simsun';
}
.m-detail-main-progress {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}
.txt-blue {
    color: #39F;
	font-weight:bold;
}
.txt-err, .txt-impt, .txt-red {
    color: #e53c08;
	font-weight:bold;
}


.m-detail-period-newest_h6{
	padding-left: 15px;
    line-height: 42px;
    color: #3c3c3c;
	font-size:12px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
.xjiexiao_img{width:70%;height:120px;}
.xjiexiao_img img{width:100%;height:120px;}
.xjiexiao_content{width:241px; height:510px; background:#FFF}
.xjiexiao_titlte{width:90%;margin:30px auto auto auto;text-align:center;word-wrap: break-word;}
.xjiexiao_titlte a{color: #3c3c3c;font-size:14px;font-weight: bold; }
.xjiexiao_titlte_gudnong{width:220px; margin:20px auto auto auto;}

.xjiexiao_xuanze{width:200px; height:38px; line-height:36px; margin:10px auto auto auto; overflow:hidden;}
.xjiexiao_pre{float:left; width:36px; height:35px; background:URL(../images/goods_detail/1.png) no-repeat; cursor:pointer}
.xjiexiao_next{float:left;width:36px; height:35px; background:URL(../images/goods_detail/4.png) no-repeat;cursor:pointer}
.xjiexiao_qishu{width:128px; height:33px;text-align:center;float:left; color:#808080; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd}
.xjiexiao_detail{width:220px;margin:20px auto auto auto; overflow:hidden}
.xjiexiao_detail p{ margin-top:10px;color:#3c3c3c}
.xjiexiao_seedetail{width:66px; height:24px; line-height:24px; border:1px solid #d8d8d8; color:#808080; font-size:12px; text-align:center; cursor:pointer; margin:30px auto auto auto; border-radius:5px; background:#f6f6f6; font-family:"Verdana"}

/*加减*/
.xh_goumai{width:60%; margin:15px auto; overflow:hidden}
.xh_goumai_left{float:left;width:22px; height:22px;font-family:宋体;border:1px solid #CFCFCF;text-align:center;font-size:18px;color:#999;line-height:24px;vertical-align:middle;background:#F4F4F4; cursor:pointer}
.xh_goumai_bott{ text-align:center;width:70px;height:22px; line-height:22px;float:left;border:1px solid #CFCFCF; margin:0 5px;font-size:14px;color:#999}
.xh_zhongtishi{width:80%; text-align:center; font-size:12px;color:#999;}
.xh_right_all{ text-align:center; margin-top:15px;}
	.ng-total-nav .now a{color: #E53C08 !important;}
	.ng-total-nav .now{width:156px;
						}
    .ng-sort a{color: #999;
    			
    			overflow: hidden;
    			display: block;
    			font-size: 14px;
    			background-color: #fff;}
 
	.ng-total-nav li a{
						
						text-align: center;
						line-height: 38px;
						border: 1px solid #e4e4e4;
						}
	.ng-total-nav li{width: 116px;}	
	.ng-total-nav li{float: left;}
	.ng-total-nav {width: 1200px;
					height: 38px;
					margin: auto; 
					border: 1px solid #e4e4e4;
				    box-shadow: 0 0 5px #e4e4e4;
				    overflow: hidden;}
	.clearfix{clear: both;}
	.box_color{ background-color:#E53C08;
      			color: #fff;}