@charset "utf-8";
/*商品期数导航*/
*{
	font-family: "微软雅黑";
	list-style: none;
	text-decoration:none;
	/*color: #999999;*/
	
	margin: 0;
	padding: 0;
}
	

.more{
	width: 1200px;
	height:700px;
	border: solid 1px #E0E0E0;
	overflow: hidden;
	position:absolute;
	background:white;
	z-index:10;
	display: none;		
}

.more_box{width: 228px;
		  height: 30px;
		  border-radius: 22px;
		 
		 margin: auto;
		  border: solid 1px #F0F0F0;
		  margin-top:10px;
		  position: relative;
		 }

.more_box1{width: 64px;
					height: 30px;
					border-right: 1px solid #F0F0F0;
					line-height: 30px;
					float: left;
					font-size: 14px;
					 text-align: left;
		  			text-indent: 10px;
					}
.more_box3{width: 64px;
					height: 30px;
					line-height: 30px;
					float: left;
					font-size: 14px;
					border-left: solid 1px #F0F0F0;
					 text-align: left;
		  			text-indent: 10px;
		  			margin-bottom: 10px;
					}
.more_box2{width: 98px;
			height: 30px;
			float: left;
			font-size: 12px;
			line-height: 30px;
			text-align:center;
			}
 .more_box2 .more_new{width: 98px;
			list-style: none;
			color: #999999;
			font-size: 14px;
			line-height: 30px;
			border: none;}
.more_box3 span{width: 30px;
				height:30px;
				top: -1px;
				right:-1px;
				border-radius: 18px;
				border: solid 1px #F0F0F0;
				position: absolute;
				
				}
.more_box3 img{width: 50%;
				display: block;
				position: absolute;top:50%;left:50%;margin-left: -7px;margin-top: -7px;
				}
.more_small{
			
			}
.more_small ul{margin:auto;width: 1150px;}
.more_small ul li{width: 228px;
		line-height: 46px;
		height: 46px;
		border:1px solid #F0F0F0;
		
		float: left;
		
		}
.more_small .more_box4{
	color:#f80;
	display: block;
}
.more li{font-size: 14px;
			
			
			}
.more_small b{font-size: 14px;
			  font-weight: normal;
			  color:#f80;
			  
			  }
.more_gdt{overflow-x:auto;height:670px;width: 1200px;text-align: center }
.more_box5{position: absolute;top: 15px;right:20px;}
.clearfix{clear: both;}
		
			
			
.ng-total-nav .now a{color: #f80 !important;}
.ng-total-nav .now{width:156px;
					}
.ng-sort a{color: #999;
			
			overflow: hidden;
			display: block;
			font-size: 14px;
			background-color: #fff;}
 
.ng-total-nav li a{
					
					text-align: center;
					line-height: 38px;
					border: 1px solid #F0F0F0;
					}
.ng-total-nav li{width: 116px;}	
.ng-total-nav li{float: left;}
.ng-total-nav {width: 1200px;
				height: 38px;
				margin: auto; 
				border: 1px solid #F0F0F0;
			    box-shadow: 0 0 3px #D0D0D0;
			    overflow: hidden;}
.clearfix{clear: both;}
.box_color{ background-color:#f80;
  			color: #fff;}
#go_goods:hover{
		background-color:#94D5FF;
	}