﻿@charset "utf-8";
.login_layout:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.login_layout {
	width:1200px;
	zoom:1;
	border:1px solid #E3E3E3;
}
.login_process li.login_arrow,.login_process li b,.login_process li.login_processCur b,.login_ConInput dl dd .tips_txt_yes s,.login_ConInput dl dd .tips_txt_Wrong s,.Mem_orangebut,.login_CMobile_Complete dl dd .tips_txt_Wrong s {
	background:url(../images/login_new.png) no-repeat;
}
.login_title {
	height:30px;
	padding:16px 20px 0 20px;
	border-bottom:1px solid #E3E3E3;
	background:#F5F5F5;
}
.login_title h2 {
	float:left;
	font-size:14px;
	color:#666;
	font-weight:bold;
	margin-right:25px;
}
.login_title span {
	float:right;
}
.login_process,.login_process li {
	float:left;
	color:#676767;
}
.login_process li b,.login_process li.login_processCur b {
	width:17px;
	height:18px;
	margin-right:5px;
	text-align:center;
	color:#fff;
	line-height:18px;
	font-family:Arial;
	display:inline-block;
}
.login_process li b {
	background-position:-19px 0;
}
.login_process li.login_processCur b {
	background-position:0 0;
}
.login_process li.login_processCur {
	color:#f80;
}
.login_process li.login_arrow {
	text-align:center;
	color:#fff;
	display:inline-block;
	width:9px;
	height:11px;
	background-position:-39px 0;
	margin:4px 15px 0 20px;
}
.login_ConInput {
	margin:58px 0 0 140px;
}
.login_ConInput dl {
	height:54px;
}
.login_ConInput dl dt,.login_ConInput dl dd {
	float:left;
}
.login_ConInput dl dt {
	width:140px;
	height:35px;
	overflow:hidden;
	line-height:35px;
	line-height:38px\9;
	_line-height:36px;
	font-size:14px;
	text-align:right;
	color:#666;
}
.login_ConInput dl dd .login_input_text {
	width:243px;
	height:33px;
	line-height:33px;
	padding-left:3px;
	_padding-left:5px;
	border:1px solid #BBB;
	font-family:Arial;
	font-size:14px;
	margin:1px;
	float:left;
}
.login_ConInput dl dd .login_input_textCur {
	width:241px;
	height:33px;
	line-height:33px;
	padding-left:3px;
	_padding-left:5px;
	border:2px solid #f80;
	font-family:Arial;
	font-size:14px;
	background:#FFFAF6;
	margin:0;
	float:left;
}
.login_ConInput dl dd .tips_txt {
	color:#ABABAB;
	padding-left:8px;
	height:35px;
	line-height:35px;
	line-height:38px\9;
	_line-height:34px;
}
.login_ConInput dl dd .tips_txt_yes s {
	margin-left:5px;
	width:15px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	margin-top:12px;
	_margin-top:13px;
}
.login_ConInput dl dd .tips_txt_yes s {
	background-position:-1px -19px;
}
.login_ConInput dl dd .tips_txt_loding i {
	margin-left:5px;
	margin-top:11px;
	_margin-top:12px;
	width:15px;
	height:15px;
	overflow:hidden;
	display:inline-block;
}
.login_ConInput dl dd .tips_txt_Wrong {
	color:#d00;
	overflow:hidden;
	margin-left:5px;
	margin-top:9px;
	*+margin-top:10px;
	margin-top:11px\0;
	_margin-top:11px;
}
.login_ConInput dl dd .tips_txt_Wrong s {
	width:15px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	background-position:-17px -19px;
	margin-right:3px;
	vertical-align:-4px;
	*+vertical-align:-2px;
	vertical-align:-4px\0;
	_vertical-align:-2px;
}
.login_ConInput dd span img {
	width:100px;
	height:35px;
	margin-top:0;
	vertical-align:middle;
	margin-right:7px;
	cursor:pointer;
}
.login_ConInput dd span em {
	color:#2AF;
	text-decoration:underline;
	cursor:pointer;
}
.Pas_tips_StrWeak {
	color:#A9A9A9;
	padding-left:5px;
	margin:0;
	text-align:left;
	float:left;
}
.Pas_tips_StrWeak p.password_tips01,.Pas_tips_StrWeak p.password_tips02,.Pas_tips_StrWeak p.password_tips03 {
	height:18px;
	height:19px\9;
	overflow:hidden;
	text-align:left;
	margin-top:1px\9;
}
.Pas_tips_StrWeak p.password_tips01 span,.Pas_tips_StrWeak p.password_tips02 span,.Pas_tips_StrWeak p.password_tips03 span {
	width:120px;
	height:4px;
	background:#fff;
	float:left;
	overflow:hidden;
	font-size:0;
	line-height:0;
	display:inline-block;
	margin-top:6px;
	margin-right:3px;
}
.Pas_tips_StrWeak p.password_tips01 em,.Pas_tips_StrWeak p.password_tips02 em,.Pas_tips_StrWeak p.password_tips03 em {
	height:4px;
	display:inline-block;
	overflow:hidden;
}
.Pas_tips_StrWeak p.password_tips02 i,.Pas_tips_StrWeak p.password_tips02 i,.Pas_tips_StrWeak p.password_tips03 i {
	float:left;
	margin-top:0;
	margin-top:2px\9;
	_margin-top:0;
}
.Pas_tips_StrWeak p.password_tips01 span {
	border:1px solid #d00;
}
.Pas_tips_StrWeak p.password_tips01 em {
	width:33.3%;
	background:#d00;
}
.Pas_tips_StrWeak p.password_tips01 i {
	color:#d00;
}
.Pas_tips_StrWeak p.password_tips02 span {
	border:1px solid #fa0;
}
.Pas_tips_StrWeak p.password_tips02 em {
	width:66.6%;
	background:#fa0;
}
.Pas_tips_StrWeak p.password_tips02 i {
	color:#fa0;
}
.Pas_tips_StrWeak p.password_tips03 span {
	border:1px solid #3B0;
}
.Pas_tips_StrWeak p.password_tips03 em {
	width:100%;
	background:#3B0;
}
.Pas_tips_StrWeak p.password_tips03 i {
	color:#3B0;
}
.Pas_tips_StrWeak b {
	width:100%;
	font-weight:normal;
	display:block;
}
.login_ConInput .login_Membut {
	margin-left:140px;
}
.Mem_orangebut {
	border:0;
	cursor:pointer;
	width:162px;
	height:36px;
	line-height:36px;
	line-height:39px\9;
	_line-height:35px;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	background-position:-50px 0;
	display:inline-block;
}
.Mem_orangebut:hover {
	color:#fff;
}
.Service_Agreement {
	width:615px;
	padding:5px 10px 10px 10px;
	margin:0 auto;
	height:230px;
	overflow-x:auto;
	overflow-y:scroll;
	border:1px solid #ccc;
	background:#f9f9f9;
}
.Service_Agreement h2 {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-bottom:0;
	color:#666;
}
.Service_Agreement h3 {
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
	color:#999;
}
.Service_Agreement p {
	line-height:24px;
	padding-bottom:5px;
	text-indent:2em;
	font-size:12px;
	color:#999;
}
.login_Email_but,.login_Email_butClick,.login_Sendoutbut,.login_SendoutbutClick {
	display:inline-block;
	border-radius:2px;
	text-align:center;
	padding:0 10px;
	*overflow:visible;
	cursor:pointer;
}

.login_Email_but {
	background:#f80;
	border:1px solid #f80;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	height:30px;
	_height:28px;
	padding:0 15px;
}
.login_Email_but:hover {
	background:#f80;
	color:#fff;
}
a.login_Email_butClick {
	height:29px;
	line-height:29px;
	line-height:32px\9;
	_line-height:28px;
}
.login_Email_butClick {
	border:1px solid #CFCFCF;
	color:#A5A5A5;
	font-size:14px;
	font-weight:bold;
	padding:0 15px 0 30px;
}
.login_Email_butClick:hover {
	color:#A5A5A5;
}
a.login_Sendoutbut {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
.login_Sendoutbut {
	background:#E7E7E7;
	border:1px solid #C7C7C7;
	color:#888;
	font-size:12px;
	padding:0 15px;
	text-shadow:1px 1px 1px #fff;
	cursor:default;
}

.login_SendoutbutClick {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
.login_SendoutbutClick {
	background:#f80;
	border:1px solid #f80;
	color:#fff;
	font-size:12px;
	height:25px;
	padding:0 15px;
}
.login_SendoutbutClick:hover {
	background:#F65802;
	color:#fff;
}
.login_Explain {
	width:895px;
	padding:34px 0 50px 300px;
	margin:0 auto;
	border-top:1px dotted #CDCDCD;
}
.login_Explain h2 {
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding-bottom:6px;
}
.login_Explain p {
	height:26px;
	color:#999;
	margin-top:3px;
	line-height:26px;
}
.login_CEmail:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.login_CEmail {
	zoom:1;
	padding:64px 0 38px 0;
}
.login_Complete {
	padding-bottom:108px;
}
.login_CEmail dl {
	margin-left:200px;
}
.login_CEmail dt,.login_CEmail dd {
	float:left;
}
.login_CEmail dd {
	padding:20px 0 0 23px;
}
.login_CEmail dd h2 {
	font-size:14px;
	height:34px;
}
.login_CEmail dd p {
	font-size:14px;
	height:38px;
	color:#666;
}
.login_CEmail dd p em {
	font-size:12px;
}
.login_CEmail_Complete {
	text-align:center;
	padding-bottom:70px;
}
.login_CEmail_Complete p {
	font-size:14px;
	height:44px;
	color:#666;
}
.login_CMobile_Complete {
	padding:64px 0 70px 300px;
}
.login_CMobile_Complete p {
	font-size:14px;
	height:44px;
	color:#666;
}
.login_CMobile_Complete .login_Email_but,.login_CMobile_Complete .login_Email_butClick {
	margin-left:197px;
	margin-top:10px;
}
.login_CMobile_Code {
	width:143px;
	height:33px;
	line-height:36px\9;
	_line-height:32px;
	padding-left:3px;
	_padding-left:5px;
	border:1px solid #BBB;
	font-family:Arial;
	font-size:14px;
	vertical-align:middle;
}
.login_CMobile_Complete dl {
	height:54px;
}
.login_CMobile_Complete dl dt,.login_CMobile_Complete dl dd {
	float:left;
}
.login_CMobile_Complete dl dt {
	width:150px;
	height:35px;
	overflow:hidden;
	line-height:35px;
	line-height:38px\9;
	_line-height:36px;
	font-size:14px;
	text-align:right;
	color:#666;
}
.login_CMobile_Complete dl dd .tips_txt_Wrong {
	color:#d00;
	overflow:hidden;
	margin-left:5px;
	margin-top:8px;
	*+margin-top:9px;
	margin-top:10px\0;
	_margin-top:10px;
	display:inline-block;
}
.login_CMobile_Complete dl dd .tips_txt_Wrong s {
	width:15px;
	height:15px;
	overflow:hidden;
	display:inline-block;
	background-position:-17px -19px;
	margin-right:3px;
	vertical-align:-4px;
	*+vertical-align:-2px;
	vertical-align:-4px\0;
	_vertical-align:-2px;
}
.Pas_tips_StrWeak {
	color:#A9A9A9;
	padding-left:5px;
	margin:0;
	text-align:left;
	float:left;
}
.login_CMobile_Complete dl dd .login_input_text {
	width:143px;
	height:35px;
	line-height:35px;
	line-height:38px\9;
	_line-height:34px;
	padding-left:3px;
	_padding-left:5px;
	border:1px solid #BBB;
	font-family:Arial;
	font-size:14px;
}
.login_CMobile_Complete dl dd .login_input_textCur {
	width:141px;
	height:35px;
	line-height:35px;
	line-height:38px\9;
	_line-height:34px;
	padding-left:3px;
	_padding-left:5px;
	border:2px solid #FF6500;
	font-family:Arial;
	font-size:14px;
	background:#FFFAF6;
}
.login_CEmailPal .login_Email_but,.login_CEmailPal .login_Email_butClick {
	margin-left:148px;
	margin-top:10px;
}
.login_CMobile_CodeW {
	width:234px;
	height:33px;
	line-height:33px;
	padding-left:3px;
	_padding-left:5px;
	border:1px solid #BBB;
	font-family:Arial;
	font-size:14px;
	vertical-align:middle;
	float:left;
}
.login_CEmailPal .login_input_text {
	float:left;
}
.login_CEmailPal dd span {
	padding-left:7px;
	margin-top:1px;
	height:36px;
	overflow:hidden;
	display:inline-block;
	color:#ABABAB;
	cursor:default;
}
.login_CEmailPal dd span img {
	width:100px;
	height:35px;
	margin-top:0;
	vertical-align:middle;
	margin-right:7px;
	cursor:pointer;
}
.login_CEmailPal dd span em {
	color:#2AF;
	text-decoration:underline;
	cursor:pointer;
}
.login_Ptxtf14 {
	padding-bottom:50px;
}
.login_Ptxtf14 p.Ptxt_F14 {
	font-size:14px;
	height:38px;
	color:#666;
	padding-left:56px;
}
