﻿.w-button-main @charset "utf-8";
/*展开全部，查看所有的购买码*/ 
 .xiaohe_zhe{position: fixed;z-index: 998;_position:absolute;left: 0;top: 0;width: 100%;height: 100%;background: #000;opacity: 0.6;filter:alpha(opacity=60); display:none}
  .xiaohe_content{width:500px; height:600px; position:fixed; z-index:999999; background:#fff;left:100px; top:100px; display:none; }
  .xiaohe_content_first{height:40px; background:#CCC;border-bottom:1px solid #999;}
  .xiaohe_content_first span{ font-size:20px; line-height:40px; float:right; padding-right:15px; cursor:pointer}
  .xiaohe_content_sec{ width:90%; height:60px; line-height:58px; border-bottom:2px solid #666; margin:0 auto; font-size:16px; font-weight:bold; text-align:center; font-family:"微软雅黑"; margin:0 auto;}
  .xiaohe_content_sec p{display:inline}
  .xiaohe_content_sec span{ color:#F00}
  .xiaohe_content_three{ margin-left:5%; font-size:16px; font-weight:bold; margin-top:15px;}
  .xiaohe_content_fourth{  margin-top:10px;width:90%; margin-left:5%; height:400px;overflow-y:auto}

  .xiaohe_content_fourth b{}
  .xiaohe_content_fourth li{width:15%; margin-right:5%; float:left; font-size:14px;}
  .xiaohe_content_five{ clear:both;width:90%; height:2px; background:#666;margin:0 auto;}
  
 
 /*登录*/ 
.xh_login{width:530px; height:400px;border-radius:5px; position:fixed; left:100px; top:100px; z-index:999; background:#FFF;display:none;
-moz-box-shadow: 10px 5px 10px #a9a9a9; /* Firefox */
  -webkit-box-shadow: 10px 5px 10px #a9a9a9; /* Safari 和 Chrome */
  box-shadow: 10px 5px 10px #a9a9a9; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}}
.xh_login_top{ height:36px; line-height:36px; background:; border-bottom: 1px solid #D8D8D8; clear:both}
.xh_login_top_left{ padding-left:15px;color:#3C3C3C; font-size:14px; float:left}
.xh_login_top_right{ float:right; padding-right:15px; font-size:20px; color:#999; cursor:pointer}
.xh_login_bottom{width:290px; margin:30px auto auto auto; overflow:hidden}
.xh_login_bottom_username{width:253px; height:52px;border:1px solid #D8D8D8;border-radius:5px; padding-left:35px}
.xh_login_bottom_username input{padding:15px 4px 0 4px;border-radius: 3px;outline: none; font-size:20px;color:#808080;border:none; background:#FFF}
.xh_login_01{ background:url(../images/goods_detail/username.png) 10px center no-repeat;}
.xh_login_02{ background:url(../images/goods_detail/pass.png) 10px center no-repeat;}
.xh_login_bottom_login{ width:258px; height:52px; line-height:52px;font-size:22px;}
.m-login .m-login-btn { margin: 0 0 5px;height: 50px;line-height: 50px;font-size: 24px;font-weight: normal;}
.w-button-main:hover {
    background:#f80;
    color: #fff;
}
.xh_login_regist{margin-top:5px; font-weight:bold}
.xh_login_regist a{color:#3399ff; font-size:12px;}
.xh_tishi{color:#333}
.xh_login_three{width:290px; margin:20px auto 0 auto;border-bottom: 1px solid #ddd;text-align: center; position:relative}
.xh_login_three span{position:absolute;padding:0 8px;background:#fff;color: #3d3d3d;font-family:"微软雅黑";bottom:-8px; left:100px}
.xh_login_threeimg{ width:200px; margin:20px auto 0 auto;text-align:center;}
.xh_login_threetubiao{display:block;width:35px; height:35px;float:left; margin-left:77px;}

.xh_login_threeqq{ background:url(../images/new/login_ico.png) 0 0 no-repeat;opacity:0.5;}
.xh_login_threewx{background:url(../images/new/login_ico.png) -70px 0 no-repeat;opacity:0.5;}
.xh_login_threewb{background:url(../images/new/login_ico.png) -35px 0 no-repeat;opacity:0.5;}
.xh_login_threeqq:hover,.xh_login_threewx:hover,.xh_login_threewb:hover{display:block;opacity:1}


.zuixin_qishu{ padding-left:15px; padding-top:10px;}