﻿<html xmlns="http://www.w3.org/1999/xhtml">

	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>1元,一元,易中夺宝,1元财神,1元财神,易中夺宝,1元云购,易中夺宝,1元云购官网,易中夺宝官网,云购奇兵,云购,一元购,1元购,云购商城</title>
		<link type="text/css" href="css/detail.css" rel="stylesheet" />
		<style type="text/css">
			.login_btn{
				border:2px solid white;
				position: fixed;top:5%;right:10%;
				background: rgba(0,0,0,0.3);
				color: white;
				padding: 3px 10px 2px 10px;
				line-height: 20px;
				font-family: "微软雅黑";
			}
		</style>
		<body>
			<button class="login_btn" ng-hide="holdUID" ng-click="go_login()">
					登录
			</button>
			<div class="hb_con1"><img src="images/aa03.jpg" /></div>
			<!--增加三个按钮-->
			<div class="hv_con1_btn">
				<div class="con1_add_1 ">
					<a class="hv_con1_left" href="#/tab/rigister">
						<img src="images/zhuce_btn.png" />
						<div class="button_a1"></div>
					</a>
					<a class="AN_WZ" href="javascript:;" ng-click="show_codeimg()">
						<img src="images/chongzhi_btn.png" />
						<div class="button_a2"></div>
					</a>
					<a href="javascript:;" ng-click="go_recharge()">
						<img src="images/shaidan_btn1.png" />
						<div class="button_a3"></div>
					</a>
				</div>
				<div style="clear: both"> </div>
			</div>
			<!--活动内容和中奖名单-->
			<div class="hv_con_content">
				<div class="con_content_1">
					<div class="content_1_1">
						<div class="text_content">
							<div>活动1：注册立得3元财神币；</div>

							<div>活动2：邀请好友送10元财神币大礼包；</div>

							<div>活动3：首次充值满10元的用户，直接赠送5元财神币，可直接参与产品购买。该活动仅限首次充值的用户。</div>
							<div>活动4：分享有奖：凡是在“易中夺宝”众筹中奖的用户将产品晒出来，将中奖心语写出来就追加奖励红包2元。 通过这些方式活跃会员气氛，并增加网站的公开、透明。</div>
						</div>
					</div>
					<div class="slide_cr">
						<div id="demo" style="overflow: hidden; width: 301px;">
							<table border="0" align="center" cellpadding="1" cellspacing="1" cellspace="0">
								<tr>
									<td id="demo1" valign="top">
										<!-- 特别注意，下面的图片总宽度必须大于上面定义的demo的宽度，如上面demo的宽度为500px,则下面图片总宽度必须大于500,否则会出现些问题！ -->

										<table border="0" cellspacing="0" cellpadding="0">
											<tr align="center">

												<td></td>
												<td></td>
											</tr>
										</table>
									</td>
									<td id="demo2" valign="top"></td>
								</tr>
							</table>
						</div>
					</div>

				</div>
				<div style="clear: both"> </div>
			</div>

			<!--活动规则-->
			<div class="hv_con_rule">
				<div class="rule_content_1">
					<div class="rule_1_1">
						<img src="images/huodong_08.png" class="hv_con_rule" />
						<div class="rule_text" style="font-family: 'Microsoft YaHei'; font-size:12px;">
							<p>首次参与注册的用户立得3元财神币，可直接参与产品购买，没有任何限制；</p>
							<p>活动期间，邀请好友注册并且该被邀请人充值了，邀请人立得10元财神币；</p>
							<p>活动期间，首次充值的用户，一次性充值满10元立得5元财神币，该活动仅限首冲有效；</p>
							<p>活动期间，中奖用户收到奖品并在官网晒单的，立得2元财神币红包，不限制次数，晒单越多赠送越多!</p>
						</div>
					</div>
					<div style="clear: both"> </div>
				</div>
			</div>

			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?4ea00a3e91994957b2d03b984e29ba94";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
			<!--站长统计-->
			<script src="http://s95.cnzz.com/z_stat.php?id=1260210174&web_id=1260210174" language="JavaScript"></script>
		</body>

</html>