@charset "utf-8";
/*头部*/
.xh_overflow_x{
    overflow: hidden;
    display:block;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
}
/*公用全局样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input { margin:0; padding:0; border:none; }
a { text-decoration:none; color:#585858; cursor:pointer; }
a:hover { color:#ff6600;  blur:expression(this.onFocus=this.blur()); }
a:active { outline:none; }
li { list-style-type:none; }
img{ border:0px none; vertical-align:bottom;}
table { border-collapse:collapse; }
fieldset { border-style:none }
button { cursor:pointer; }
select, input, textarea { font-size:12px; }
ul, li, dt, dd, dl { list-style:none; }
q:before, q:after { content: ''; }
abbr, acronym { border:0; }
.clear{ clear: both; font-size:0px;height:0px;line-height:0px;}

/*修改*/
.hb_w1000{ width:1000px; margin:0 auto; font-family:"微软雅黑";}
.hb_w1000 input,.hb_w1000 textarea{outline:none;} 
.hb_con1,.hb_con2,.hb_con3{ background:no-repeat center top; min-width:1000px;}
.hb_con1{ background-image:url(../../images/default/aa03.jpg); height:1030px;}
	/*按钮*/
.con1_add_1{margin: 0 auto;width: 982px;}
.hv_con1_btn{width: 100%;height: 95px;background-color:#FF6D32}
.button_a1{background: url("../../images/default/zhuce_btn.png") no-repeat;height: 99px;width:252px;margin-left: 10px;float: left}
.button_a2{background: url("../../images/default/chongzhi_btn.png") no-repeat;height: 99px;width:252px;float: left;margin-left: 103px;}
.button_a3{background: url("../../images/default/shaidan_btn1.png") no-repeat;height: 99px;width:252px;float: left;margin-left: 103px}
.button_a1:hover,.button_a2:hover,.button_a3:hover{opacity: 0.8}
	/*内容名单*/
.hv_con_content,.hv_con_rule{ background:no-repeat center top; min-width:1000px;}
.hv_con_content{ background-image:url(../../images/default/ye02_02.png); height:447px;}
.con_content_1{width: 1100px;margin: 0 auto}
.content_1_1{width: 653px;height: 414px;float: left;}
.content_1_1 .text_content{font-size: 20px;font-family: "Microsoft YaHei";color: #ff6d32;margin-top: 42px;margin-left: 95px;}

#content_1_2{width: 321px;float: left;height: 170px;position: absolute;margin-top: 178px;margin-left:706px}
.content_a{height: 170px;width: 112px;float: left;}
.content_a img{width: 110px;}
.content_b{height: 170px;width: 189px;float: left;color: #ffffff;font-family: "Microsoft YaHei"}
.content_b div:nth-child(2),.content_b div:nth-child(3){text-align: center;}
.content_b div:nth-child(1){font-size: 12px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width: 169px;}
.content_b div:nth-child(2){font-size: 12px;margin-top:20px;width: 169px;}
.content_b div:nth-child(3){font-size: 20px;width: 169px;}
/*规则*/
.hv_con_rule{background-image:url(../../images/default/ye_03.png); height:688px;}
.hv_con_rule{background-image:url(../../images/default/ye_03.png); height:688px;}.rule_content_1{width: 1000px;height: auto;margin: 0 auto;padding-top:125px;padding-left:98px;}
.rule_text{font-size: 20px;font-family: "Microsoft YaHei";}
.a123{
	margin-top: 7px;color: #ff6d32;text-indent: 20px;
}
.b123{
	color: #ff6d32;font-size: 18px;margin-top: 7px;
}
.cycle_list{
	width: 10px;
}
.cycle_list img{
	width: 10px; float: left;margin-top: 5px;margin-right: 10px;
}
.slide_l{
	width: 302px;
}
.slide_cr{
	width: 301px;float: left;padding-top: 175px;padding-left: 91px
}
#demo{
	/*padding-top: 20px; padding-left: 20px;*/
}