body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.top_xuanfu{
	width: 100%;height: 2634px;background:rgba(0,0,0,0.8);position: fixed;z-index: 9999;display:none;
}
.xuanfu{
	position: fixed;z-index: 9999;width: 615px;
	height: 80px;top:50%;left:30%;
}
/*背景*/
.bg_bg1{
    width: 100%;
    min-width: 900px;
    height: 2535px;
    min-height: 1200px;
    position: absolute;
    z-index: -1;
    top: 103px;
}
.bg_bg1 img{
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 1200px;
}
/*head*/
.head_action{
    width: 62.5%;margin: 0 auto;height: 103px;text-align: center;line-height: 103px; min-width: 900px;
}
.head_action .left_logo{
    float:left;margin-left: 20px;
<!--[if lt IE 6]>margin-left: -1000px;<![endif]-->
}

.right_r{
    height: 103px; line-height: 103px;float: right;width: 202px;font-size: 16px;margin-right: 20px;font-family: "Microsoft YaHei";font-size: 20px;
}
.right_r1{
    float: right;width: 100px;height: 103px; line-height: 103px;
}
.r1_1{
    float: right;width: 100px;height: 103px; line-height: 103px;
}
.right_r2{
    width: 100px;height: 103px; line-height: 103px;
}
.r2_1{
    width: 100px;height: 103px; line-height: 103px;
}
.right_r2 a, .right_r1 a{
    text-decoration: none !important;cursor: pointer;
}
.right_r2 a:hover, .right_r1 a:hover{
   color: #f80;
}
.big_content{
    /* width: 100%;height: 829px;background: url("../../images/default/1_a4.png") no-repeat 0 103px ;
     background-size: 100% 829px;*/

}
/*lev_1*/
.lev_1{
    width: 100%;height: 27.78%;  margin-top: 454px;float: left;
}
@media (max-width: 1598px) {
    .lev_1{
         margin-top: 474px;
    }
}
.lev_1 .lev_i{
    width: 26.68%;height:auto;float: left;margin-left:17% ;
}
.lev_1 .lev_1a img{
    width: 24.91%;float: left;height:auto;margin-left: 2%;margin-top: 17%;
}
.lev_1 .lev_1a img:hover{
    opacity: 0.8;
}
/*lev_2*/
.lev_2{
    width: 100%;  float: left;margin-top: 80px;
}
.lev_2 img{
    width:48.72% ;margin: 0 auto;display: block;
}
/*lev_3*/
.lev_3{
    width: 100%;  float: left;margin-top: 80px;
}
.lev_3 img{
    width:16.447% ;margin: 0 auto;display: block;
}
.lev_3 img:hover{
    opacity: 0.8;
}
/*选项卡*/
.lev_4{
    width: 100%;  float: left;margin-top: 80px;
}
div{margin:0;padding:0;}
.tab{margin:0;padding:0;list-style:none;width:200px;overflow:hidden;}
.tab li{float:left;cursor:pointer; }
.on{display:block;}
.tabs_box{ /*width: 945px;height: 413px;background-color: #AE0E26; position: absolute; z-index: 1002;margin-top:55%;margin-left: 25.31%;*/
    width: 845px;height: 369px;z-index:1001;margin:0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.tabs_box ul{  width: 97px;float: left;margin-left: 17px;  }
.tabs_box ul li{  width: 97px;  height: 95px;float: left;  }
.tabs_box .tabs_content{  width: 845px;display:none;  }
.on_clicked{  display:none;  width: 97px;height: 95px;float: left;  }
.list_bg1{  background: url("../../images/default/baozupo.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 20px;  margin-bottom: 15px;  }
.list_bg2{  background: url("../../images/default/xiaomei.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 2px;  margin-bottom: 15px;  }
.list_bg3{  background: url("../../images/default/xiaowang.png") no-repeat 7px 9px;  background-size: 75px 80px;  width: 75px;height: 80px;  margin-top: 2px;  margin-bottom: 5px;  }
.tabs_content1{  background: url("../../images/default/baozupo_background_04.png") no-repeat;   background-size: 845px 369px;  width: 845px;height: 369px;  }
.tabs_content2{  background: url("../../images/default/xiaomei_background_04.png") no-repeat;   background-size: 845px 369px;  width: 845px;height: 369px;  }
.tabs_content3{  background: url("../../images/default/xiaowang_background_04.png") no-repeat;  background-size: 845px 369px;  width: 845px;height: 369px;  }
@media (max-width: 1398px) {
    .lev_1{
        margin-top: 300px;
    }
    .bg_bg1{


        height: 1949px;
        /* position: absolute;
         z-index: -1;
         top: 103px;*/
    }
    .bg_bg1 img{
        width: 100%;
        height: 100%;
        min-width: 900px;
    }
    /*选项卡*/
    .lev_4{
        width: 100%;  float: left;margin-top: 80px;
    }
    div{margin:0;padding:0;}
    .tab{margin:0;padding:0;list-style:none;width:200px;overflow:hidden;}
    .tab li{float:left;cursor:pointer; }
    .on{display:block;}
    .tabs_box{ /*width: 945px;height: 413px;background-color: #AE0E26; position: absolute; z-index: 1002;margin-top:55%;margin-left: 25.31%;*/
        width: 645px;height: 282px;z-index:1001;margin:0 auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .tabs_box ul{  width: 70px;float: left;margin-left: 17px;  }
    .tabs_box ul li{  width: 70px;  height: 68px;float: left;  }
    .tabs_box .tabs_content{  width: 645px;display:none;  }
    .on_clicked{  display:none;  width: 70px;height: 70px;float: left;  }
    .list_bg1{  background: url("../../images/default/baozupo.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 20px;    }
    .list_bg2{  background: url("../../images/default/xiaomei.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 2px;   }
    .list_bg3{  background: url("../../images/default/xiaowang.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 2px;   }
    .tabs_content1{  background: url("../../images/default/baozupo_background_04.png") no-repeat;   background-size: 645px 282px;  width: 645px;height: 282px;  }
    .tabs_content2{  background: url("../../images/default/xiaomei_background_04.png") no-repeat;   background-size: 645px 282px;  width: 645px;height: 282px;  }
    .tabs_content3{  background: url("../../images/default/xiaowang_background_04.png") no-repeat;  background-size: 645px 282px;  width: 645px;height: 282px;  }
}
/*lev_5*/
.lev_5{
    width: 100%;  float: left;margin-top: 60px;
}
.lev_5 img{
    width:50% ;margin: 0 auto;display: block;
}
/*lev_6*/
.lev_6{
    width: 100%;  float: left;
}
.lev_6 img{
    width:16.447% ;margin: 0 auto;display: block;margin-top: 60px;margin-bottom: 30px;
}
.lev_6:hover{
    opacity: 0.8;
}
/*@media (max-width: 1298px) {
    .lev_1{
        margin-top: 300px;
    }
    .bg_bg1{
        width: 100%;

        height: 1717px;
        /!* position: absolute;
         z-index: -1;
         top: 103px;*!/
    }

}*/
@media (max-width: 1298px) {
    .lev_1{
        margin-top: 250px;
    }
    /*lev_2*/
    .lev_2{
       margin-top: 40px;
    }

    /*lev_3*/
    .lev_3{
        margin-top: 40px;
    }
    .bg_bg1{
        width: 100%;

        height: 1767px;
       /* position: absolute;
        z-index: -1;
        top: 103px;*/
        min-height: 1200px;
    }
    .bg_bg1 img{
        width: 100%;
        height: 100%;
        min-width: 900px;
        min-height: 1200px;
    }

    /*选项卡*/
    .lev_4{
        width: 100%;  float: left;margin-top: 50px;
    }
    div{margin:0;padding:0;}
    .tab{margin:0;padding:0;list-style:none;width:200px;overflow:hidden;}
    .tab li{float:left;cursor:pointer; }
    .on{display:block;}
    .tabs_box{ 
        width: 645px;height: 282px;z-index:1001;margin:0 auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .tabs_box ul{  width: 70px;float: left;margin-left: 17px;  }
    .tabs_box ul li{  width: 70px;  height: 68px;float: left;  }
    .tabs_box .tabs_content{  width: 645px;display:none;  }
    .on_clicked{  display:none;  width: 70px;height: 70px;float: left;  }
    .list_bg1{  background: url("../../images/default/baozupo.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 20px;    }
    .list_bg2{  background: url("../../images/default/xiaomei.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 2px;   }
    .list_bg3{  background: url("../../images/default/xiaowang.png") no-repeat 5px 9px;  background-size: 55px 60px;  width: 55px;height: 60px;  margin-top: 2px;   }
    .tabs_content1{  background: url("../../images/default/baozupo_background_04.png") no-repeat;   background-size: 645px 282px;  width: 645px;height: 282px;  }
    .tabs_content2{  background: url("../../images/default/xiaomei_background_04.png") no-repeat;   background-size: 645px 282px;  width: 645px;height: 282px;  }
    .tabs_content3{  background: url("../../images/default/xiaowang_background_04.png") no-repeat;  background-size: 645px 282px;  width: 645px;height: 282px;  }
}
/*lev_2*/
.lev_1,.lev_2,.lev_3,.lev_4{
    min-width: 900px;
}

/*lev_5*/
.lev_5{
    width: 100%;  float: left;margin-top: 60px;  min-width: 900px;
}
.lev_5 img{
    width:50% ;margin: 0 auto;display: block;
}
/*lev_6*/
.lev_6{
    width: 100%;  float: left;  min-width: 900px;
}
.lev_6 img{
    width:16.447% ;margin: 0 auto;display: block;margin-top: 60px;margin-bottom: 30px;
}
.lev_6:hover{
    opacity: 0.8;
}