<!DOCTYPE >
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>微信绑定财神账号</title>
		<style type="text/css">
			body{
				text-align: center;
				font-family: '微软雅黑';
			}
            a{
                text-decoration: underline;
            }
			.go_login{
                margin-top: 50px;
			}
            .go_login a{
                padding: 10px;
                background: white;
            }
			.title_top{
				color:rgb(0,135,222);
			}
			.touxiang{
				width:20%;
				border-radius:50%;
				border:3px solid rgba(0,135,222,0.5);
			}
			.bind_box{
				margin:10px auto;
				width:80%;
				text-align: center;
			}
			.bind_box input{
				width: 100%;
			}
			.input-group{
                background: white;
				margin-bottom: 20px;
			}
			.input-group-addon{
				color:white;
				border-color:white;
				background-color: rgb(229,60,8) !important;
			}
			.form-control{
				border-color:white;
				height:40px;
			}
			.bind_btn_click{
				width: 50%;
			    background: rgb(229,60,8);
			    border: 2px solid white;
			    padding: 5px;
			    color: white;
			    font-size: 16px;
                margin:0 auto;
			    font-family: '微软雅黑';
			}
            .prompt{
                font-size:12px;
                padding:5px 10px;
                width: 100%;
                text-align: left;
                font-weight: bold;
            }
            .input-group{
                margin-bottom: 15px;
            }
		</style>
	</head>
	<body>
		
		<div style="width:100%;height:50px;background:white;">

            <div style="width:70%;height:50px;margin:0px 5%;background:white;font-size:18px;text-align: left;float: left;line-height: 50px;font-family: '微软雅黑';">
                绑定财神账户
            </div>
            <div style="width:20%;height:30px;margin:10px 0px;font-size:26px;float: left;line-height: 50px;color:rgb(229,60,8);font-weight: bold;" ng-click="go_home()">
                <a id="moreBtn" href="#/tab/home"><i class="ico ico-more"></i></a>
            </div>
        </div>
		
		<div class="">
			<div class="" style="">
				<div style="width:20px;height:2px;margin-top: 20px;"></div>
				<img class="touxiang" src="{{headimgurl}}"/>
				
				<p class="title_top">{{nickname}}</p>
			</div>

		</div>

        <div class="bind_box" ng-show="write_username">
            <div class="input-group prompt" >请及时绑定手机，以便您获得了商品我们能够联系您：</div>
            <div class="input-group" >
                <span class="input-group-addon">账号</span>
                <input type="text" class="form-control" name="mobile" placeholder="请输入您的手机号码" ng-model="mobile">
            </div>
            <button class="bind_btn_click" ng-click="check_user()">下一步</button>
            <p class="go_login"><a  href="#/tab/login">有账户？前去登录~ </a></p>
        </div>




        <div class="bind_box" ng-show="write_password">
            <div class="input-group prompt" >该手机已注册,输入密码绑定登录：</div>
            <div class="input-group" >
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control" name="password" placeholder="请输入您的密码" ng-model="password">
            </div>
            <button class="bind_btn_click" ng-click="login_bind()">登录并绑定</button>
        </div>




        <div class="bind_box" ng-show="write_checkcode">
            <div class="input-group prompt" >请输入您要注册的密码：</div>
            <div class="input-group" >
                <span class="input-group-addon">验证码</span>
                <input type="text" class="form-control" name="mobile" placeholder="请输入您的验证码" ng-model="checkcode">
            </div>
            <div style="width: 100%;height:40px;">
                <a href="javascript:;" ng-click="send_code()" ng-class="{false: 'btn btn-default pull-right phone-code', true: 'btn btn-default pull-right phone-coded'}[checked]" ng-bind="codeText"></a>
            </div>
            <button class="bind_btn_click" ng-click="check_mobile_code()">确定验证码</button>
        </div>




        <div class="bind_box" ng-show="write_password_code">
            <div class="input-group prompt" >输入密码注册登录：</div>
            <div class="input-group" >
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control" name="password" placeholder="请输入您的密码" ng-model="password">
            </div>
            <button class="bind_btn_click" ng-click="login_bind_code()">登录并绑定</button>
        </div>
        <!--<div class="input-group" ng-show="write_pass">-->
            <!--<span class="input-group-addon">密码</span>-->
            <!--<input type="password" class="form-control" name="password"  placeholder="请输入您的账户密码" ng-model="password">-->
        <!--</div>-->

		
		
		
		
		
		
		
		
		
		
	</body>
</html>