html {
    -overflow-y: scroll;
}

body {
    -webkit-text-size-adjust: none;
    color: #666;
    background: #f7f7f7;
    font-size: 14px;
    line-height: 1.666
}

img {
    max-width: 100%;
}

header, footer, section, aside, article, nav, hgroup, figure, figcaption, body, h1, h2, h3, h4, h5, h6, ul, ol, li, form, p, dl, dt, dd, blockquote, legend, table, th, td, fieldset, menu, pre {
    margin: 0;
    padding: 0
}

table, th, td, img, fieldset {
    border: 0
}

time, mark, output, meter, address, cite, em, code, var, dfn, ins, i, th, caption {
    font-style: normal;
    text-decoration: none
}

h1, h2, h3, h4, h5, h6, th {
    font-size: 100%;
    font-weight: normal
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

q:before, q:after {
    content: ""
}

ul, ol {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th, caption {
    text-align: left
}

header, footer, section, aside, article, nav, hgroup, figure, figcaption {
    display: block
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.w-button {
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    color: #f80;
    background: #fff;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
    border: 1px solid #f80;
    border-radius: 5px;
}

.w-button-round-addToCart {
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    border-width: 0;
    border-style: solid;
    border-color: #1B7DE0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    outline: none;
    display: block;
    padding: 0;
    width: 32px;
    height: 32px;
    background: #f80;
    border: 0;
    border-radius: 50%;
    text-indent: -999em;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    background: url("../images/icon/add_to_list_icon.png") no-repeat;
    background-size: 32px;
}

.w-button-top {
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    border-width: 0;
    border-style: solid;
    border-color: #1B7DE0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
}

.w-button-main {
    background: #f80;
    border-color: #b6243d;
    color: #fff;
}
.w-button-main-empty {
    background: #cecece!important;
    color: #999!important;
    border-color: #b0b0b0!important;
}

.w-button-simple {
    padding: 0 8px;
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background: #f80;
    border: 0;
    border-radius: 20px;
}

.w-button-simple-white {
    background: #fff;
    color: #f80
}

.w-button-green {
    background: #1FB89A;
    border-color: #048E77;
}

.w-button-gray {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    color: #808080;
    border-color: #d8d8d8;
}

.w-button-s {
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.w-button-l {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 4px;
}

.w-button-xl {
    padding: 0 35px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    border-radius: 4px;
}

.w-button-aside {
    background: #E2E2E2;
    border-color: #C6C6C6;
    color: #3C3C3C;
}

.w-button-square {
    display: block;
    padding: 0;
    width: 27px;
    height: 27px;
    background: #f80;
    border: 0;
    position: relative;
}

.w-button-addToCart:before {
    top: 15px;
    left: 8px;
    height: 0;
    border-top: 2px solid #fff;
}

.w-button-addToCart:after {
    top: 8px;
    left: 15px;
    width: 0;
    border-left: 2px solid #fff;
}

.w-button-backToTop {
    position: fixed;
    bottom: 10px;
    right: 40%;
    width: 45px;
    height: 45px;
    background: #c5c5c5;
    opacity: 0.8;
    z-index: 10;
    -webkit-transition: bottom .2s ease-in;
    transition: bottom .2s ease-in;
}

.w-button-round {
    display: none;
    padding: 0;
    border: 0;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden;
}

.w-button-backToTop:before, .w-button-backToTop:after {
    content: "";
    display: block;
    position: absolute;
    overflow: hidden;
}

.w-button-backToTop:before {
    top: 13px;
    left: 15px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.w-button-backToTop:after {
    top: 13px;
    left: 21px;
    width: 0;
    height: 23px;
    border-left: 3px solid #fff;
}

.w-button-disabled {
    background: #cecece !important;
    color: #999 !important;
    border-color: #b0b0b0 !important;
    cursor: default
}

.w-textarea, .w-input {
    display: inline-block;
+ display : inline;
+ zoom : 1;
    position: relative;
    width: auto;
}

.w-textarea .w-input-placeholder, .w-input .w-input-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    color: #999
}

.w-textarea-input, .w-input-input {
    padding: 8px;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .05) inset;
    outline: none;
}

.w-input-tips {
    margin-top: 3px;
    font-size: 12px;
    display: block;
}

.w-input-disabled .w-input-input {
    background: #f0f0f0;
    color: #999
}

.w-input-err .w-input-input, .w-textarea-err .w-input-input {
    background: #FBE2E2;
    border-color: #C7605F;
}

.w-number {
    padding: 0 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
}

.w-number-input {
    text-align: center;
    width: 55px;
    border: 1px solid #e0e0e0;
    height: 26px;
    padding: 2px 4px;
    outline: none;
}

.w-number-input:focus {
    background: #ffffe1;
}

.w-number-btn {
    font-size: 18px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-decoration: none;
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
    background: #F5F5F5;
    color: #9e9e9e;
    border: 1px solid #e0e0e0;
}

.w-number-btn:hover {
    background: #f8f8f8;
    color: #333;
    text-decoration: none;
}

.w-number-btn-plus {
    right: 0;
    top: 0;
}

.w-number-btn-minus {
    left: 0;
    top: 0;
}

.w-table {
    text-align: left;
    border: 1px solid #ddd;
    border-top-width: 2px;
    border-collapse: collapse;
}

.w-table caption, .w-table td, .w-table th {
    padding: 8px 15px;
    font-weight: normal;
}

.w-table caption {
    text-align: left
}

.w-table td {
    border-bottom: 1px solid #ddd;
}

.w-table thead, .w-table tfoot {
    background: #f2f2f2;
}

.w-table-chk {
    width: 16px;
}

.w-table-opt {
    text-align: right;
}

.w-table td b {
    color: #39f;
}

.w-table td em {
    color: #DD344F;
}

.w-nav {
    background-color: #f7f7f7;
    height: 36px;
    display: -webkit-box;
    display: box;
}

.w-nav-hasBorder {
    border-bottom: 1px solid #dcdcdc;
}

.w-nav-item {
    display: block;
    cursor: pointer;
    -webkit-box-align: stretch;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    position: relative;
}

.w-nav-txt {
    display: inline-block;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
}

.w-nav-item-on .w-nav-txt {
    color: #DA3555;
    border-bottom: 2px solid #D93651;
}

.w-nav-hasSplt .w-nav-item:after {
    content: '';
    border-right: 1px solid #D5D5D5;
    height: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.7em;
    display: block;
}

.w-nav-hasSplt .w-nav-item:last-child:after {
    display: none;
}

.w-pager .w-button {
    margin: 0 3px;
    color: #808080
}

.w-pager .w-button:hover {
    color: #f80;
}

.w-pager-prev, .w-pager-next {
    font-weight: bold;
    font-family: "Simsun";
}

.w-pager .w-pager-cur, .w-pager .w-pager-cur:hover {
    background-color: #f80 !important;
    border-color: #da3651 !important;
    color: #fff !important;
}

.w-pager .w-pager-ellipsis, .w-pager .w-pager-ellipsis:hover {
    background: none;
    border: none;
}

.w-msgbox {
    position: fixed;
    z-index: 999;
    left: 14px;
    right: 14px;;
    background: #fff;
    border-radius: 5px;
    color: #333;
}

.w-msgbox-close {
    font-family: sans-serif;
    color: #ACACAC;
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.w-msgbox-center {
    text-align: center;
}

.w-msgbox-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.w-msgbox-bd {
    padding: 15px 20px;
}

.w-msgbox-ft {
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #eaeaea;
}

.w-msgbox-ft .pro-btn {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    color: #1E96FD;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
}

.w-msgbox-ft .pro-btn:first-of-type {
    font-weight: bold;
}

.w-msgbox-ft-1 .pro-btn {
    width: 100%;
}

.w-msgbox-ft-2 .pro-btn {
    float: right;
    width: 50%;
    border-right: 1px solid #eaeaea
}

.w-msgbox-ft-2 .pro-btn:first-of-type {
    border-right: none
}

.pro-mask {
    position: fixed;
    z-index: 998;
    -position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    filter: alpha(opacity=60);
}

.w-msgbox-codes {
    padding: 5px 0 0;
    font-size: 12px;
    color: #999;
}

.w-msgbox-codes .name {
    margin-bottom: 8px;
    line-height: 30px;
    border-bottom: 1px dotted #d4d4d4;
    position: relative;
}

.w-msgbox-codes .name h3 {
    padding-right: 70px;
    color: #3399FE;
}

.w-msgbox-codes .name span {
    position: absolute;
    top: 0;
    right: 0;
}

.w-msgbox-codes ul {
    overflow: hidden;
}

.w-msgbox-codes li {
    float: left;
    width: 63px;
    line-height: 20px;
}

.w-msgbox-special {
    background: none;
    border-radius: 0;
    right: auto;
}

.w-msgbox-special .w-msgbox-ft {
    border: 0;
}

.w-msgbox-special-getBonus .w-msgbox-bd {
    padding: 54px 55px 52px;
}

.w-msgbox-special-getBonus .w-msgbox-ft {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.w-msgbox-special-getBonus .pro-btn {
    text-indent: -999em;
}

.w-msgbox-special-getBonus-link {
    display: block;
    padding-top: 130px;
    width: 100%;
    height: 90px;
    color: #ffec6f;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.w-msgbox-special-cooperaion .w-msgbox-bd, .w-msgbox-special-tequan .w-msgbox-bd {
    padding: 45px 30px 0 40px;
    color: #666;
    font-size: 12px;
}

.w-msgbox-special-cooperaion .w-msgbox-title, .w-msgbox-special-tequan .w-msgbox-title {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
}

.w-msgbox-special-cooperaion .w-msgbox-ft, .w-msgbox-special-tequan .w-msgbox-ft {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 10px;
}

.w-msgbox-special-cooperaion .w-msgbox-ft button, .w-msgbox-special-tequan .w-msgbox-ft button {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal !important;
    background: #fff;
    border-radius: 2px;
    color: #f80;
}

.w-dir {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

.w-dir a {
    color: #808080;
}

.w-search {
}

.w-search-form {
}

.w-search-input {
}

.w-search-input .w-input-input {
}

.w-search-input .w-input-placeholder {
}

.w-miniCart {
    position: fixed;
    bottom: 70px;
    left: 10px;
    z-index: 2;
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f80;
    opacity: 0.8;
    -webkit-transition: bottom .2s ease-in;
    transition: bottom .2s ease-in;
}

.w-miniCart-count {
    position: absolute;
    top: -2px;
    left: 30px;
    display: inline-block;
    padding: 1px 4px;
    line-height: 14px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background: #f80;
    border-radius: 14px;
}

.w-miniCart-text {
    line-height: 48px;
}

.w-miniCart .ico-miniCart {
    position: absolute;
    top: 9px;
    left: 8px;
}

.w-miniCart.jump {
    -webkit-animation: jump .8s ease-in;
    animation: jump .8s ease-in;
}

@-webkit-keyframes jump {
    0% {
        bottom: 5px;
    }
    40% {
        bottom: 10px;
    }
    50% {
        bottom: 5px;
    }
    70% {
        bottom: 9px;
    }
    80% {
        bottom: 5px;
    }
    90% {
        bottom: 7px;
    }
    100% {
        bottom: 5px;
    }
}

@keyframes jump {
    0% {
        bottom: 5px;
    }
    40% {
        bottom: 10px;
    }
    50% {
        bottom: 5px;
    }
    70% {
        bottom: 9px;
    }
    80% {
        bottom: 5px;
    }
    90% {
        bottom: 7px;
    }
    100% {
        bottom: 5px;
    }
}

.w-miniCart-gray {
    padding: 0 10px;
    line-height: 38px;
    width: 25px;
    height: 38px;
    background: none;
    border-radius: 0;
}

.w-miniCart-gray .w-miniCart-count {
    top: 1px;
    padding: 0 3px;
    background: #db3625;
    color: #fff;
}

.w-miniCart-gray .w-miniCart-text {
    display: none;
}

.w-miniCart-gray .ico-miniCart {
    top: 7px;
    left: 9px;
}

.w-progressBar {
    font-size: 12px;
}

.w-progressBar .wrap {
    position: relative;
    margin-bottom: 2px;
    height: 3px;
    border-radius: 5px;
    background-color: #e8e8e8;
    overflow: hidden;
}

.w-progressBar .bar, .w-progressBar .color {
    display: block;
    height: 100%;
    border-radius: 4px;
}

.w-progressBar .bar {
    overflow: hidden;
}

.w-progressBar .color {
    width: 100%;
    background: #FFA538;
    background: -webkit-gradient(linear, left top, right top, from(#f80), to(#d2691e));
    background: -moz-linear-gradient(left, #f80, #d2691e);
    background: -o-linear-gradient(left, #f80, #d2691e);
    background: -ms-linear-gradient(left, #f80, #d2691e);
}

.yixin .w-progressBar .color {
    background: #ffb643
}

.w-progressBar .txt {
    overflow: hidden;
}

.w-progressBar li {
    float: left;
    line-height: 18px;
}

.w-progressBar .txt-r {
    float: right;
    border: 0;
    text-align: right;
}

.w-progressBar .txt p {
    display: block;
    color: #f80;
}

.w-progressBar .txt b {
    font-weight: normal;
}

.w-countdown, .w-countWaiting {
    color: #999;
    line-height: 16px;
    font-size: 12px;
}

.w-countdown-title {
    color: #999;
}

.w-countdown-nums, .w-countWaiting {
    color: #f80;
}

.w-countdown-disabled, .w-countdown-disabled .w-countdown-title {
    color: #999 !important;
}

.w-label {
    position: absolute;
}

.w-label-text {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.w-label-revealed {
}

.w-label-revealed .w-label-text {
    display: block;
    padding-top: 30px;
    width: 82px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    background: rgb(80, 80, 80);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.w-label-revealed .w-label-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.w-shareTo {
    line-height: 20px;
    overflow: hidden;
}

.w-shareTo-txt {
    float: left;
    margin-right: 6px;
}

.w-shareTo-list li {
    float: left;
    margin-right: 3px;
    display: inline;
}

.w-shareTo-yixin {
    background-position: 0 -20px;
}

.w-shareTo-weibo {
    background-position: -21px -20px;
}

.w-shareTo-t163 {
    background-position: -44px -20px;
}

.w-shareTo-qzone {
    background-position: -66px -20px;
}

.w-shareTo-tqq {
    background-position: -89px -20px;
}

.w-goodsList {
    overflow: hidden;
}

.w-goodsList-item {
    overflow: hidden;
    position: relative;
}

.w-goodsList-brief {
    width: 101%;
    overflow: hidden;
}

.w-goodsList-brief .w-goodsList-item {
    float: left;
    width: 33%;
    margin-bottom: 10px;
    border-right: 1px solid #dcdcdc;
}

.w-goodsList-s .w-goodsList-item {
    float: left;
    width: 50%;
}

.w-goodsList-s .w-goods {

}

.w-goodsList-s .ico-label {
    left: 2px;
}

.w-goodsList-l .w-goodsList-item {
    border-bottom: 1px solid #dcdcdc;
}

.w-goods {
    overflow: hidden;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    position: relative;
}

.w-goods p {
    line-height: 18px;
}

.w-goods-price, .w-goods-user {
    font-size: 12px;
}

.w-goods-pic img {
    width: 85%;
}

.w-goods-title a {
    color: #2c2c2c;
    line-height: 18px;
}

.w-goodsList-s .w-goods {
    padding: 8px 6px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.w-goods-ing {
}

.w-goods-ing .w-goods-pic {
    margin: 0 auto 7px;
    width: 140px;
    height: 105px;
    text-align: center;
}

.w-goods-ing .w-goods-title {
    margin-bottom: 5px;
    width: 100%;
}

.w-goods-ing .w-goods-price {
    margin-bottom: 2px;
}

.w-goods-ing .w-goods-progressHint {
    display: none;
}

.w-goods-ing .w-goods-opr {
    margin-top: 20px;
    text-align: center;
}

.w-goods-ing .w-goods-opr-number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 125px;
    height: 30px;
    vertical-align: middle;
}

.w-goods-l {
    padding: 12px 10px;
}

.w-goods-l .w-goods-pic {
    float: left;
    margin: 0;
    width: 80px;
    height: 68px;
}

.w-goods-l .w-goods-title {
    max-height: 36px;
    white-space: normal;
    text-overflow: initial;
    font-size: 14px;
}

.w-goods-l .w-progressBar {
    margin-right: 60px;
}

.w-goods-l .w-goods-info {
    margin-left: 90px;
}

.w-goods-l .w-goods-shortFunc {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.w-goods-xxl {
}

.w-goods-xxl .w-goods-title {
    padding: 5px 0;
    color: #606060;
    font-size: 14px;
    line-height: 18px;
}

.w-goods-xxl .w-progressBar {
    margin-bottom: 10px;
}

.w-goods-brief {
    padding: 0 5px;
    text-align: center;
}

.w-goods-brief .w-goods-pic {
    margin: 0 auto;
    max-width: 70px;
    height: 53px;
}

.w-goods-brief .w-goods-title {
    margin-top: 5px;
    width: 100%;
}

.w-goods-brief .w-countdown, .w-goods-brief .w-countWaiting {
    margin-top: 5px;
}

.w-goods-brief .w-goods-user {
    margin-top: 5px;
    line-height: 16px;
}

.w-goods-picShow {
    width: 430px;
    height: 478px;
    position: relative;
    overflow: hidden;
}

.w-goods-picShow-large {
    width: 410px;
    height: 380px;
    padding: 9px;
    border: 1px solid #dddddd;
    overflow: hidden;
}

.w-goods-picShow-thumbnail {
    margin-top: 20px;
    overflow: hidden;
}

.w-goods-picShow-thumbnail-list li {
    float: left;
    display: inline;
    margin: 0 6px;
    padding: 4px;
    width: 64px;
    height: 48px;
    border: 1px solid #dddddd;
    overflow: hidden;
    cursor: pointer;
}

.w-goods-picShow-thumbnail-list li.selected {
    border-color: #f80
}

.w-goods-picShow .ico-arrow {
    position: absolute;
    bottom: 64px;
    left: 38px;
}

.w-goods-limit {
}

.w-goods-limit .w-goodsList-item {
    border: #DCDCDC 1px solid;
    border-width: 0 1px 1px 0;
    margin-right: -1px;
}

.w-goods-limit .w-goods {
    border: 0px;
    padding: 10px 10px 0
}

.w-goods-limitInfo {
    border-top: #DCDCDC 1px dotted;
    height: 80px;
}

.w-goods-limitInfo-result {
    padding-top: 10px;
}

.w-goods-limitInfo-result .item {
    line-height: 16px;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
}

.w-goods-limitInfo-titIco {
    margin: 10px 0
}

.w-goods-limitInfo-remain {
    font-size: 14px;
    color: #DE3753;
    font-weight: bold;
}

.w-record {
}

.w-record-avatar, .w-record-goods {
    float: left;
    margin-top: 5px;
}

.w-record-avatar img {
    border-radius: 4px;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.w-record-detail {
    line-height: 22px;
    *zoom: 1;
}

.w-record-date {
    float: right;
}

.w-record-title strong {
    color: #d83333;
}

.w-record-title a {
    color: #3c3c3c;
}

.w-crumbs {
    padding-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
}

.w-crumbs-item {
    float: left;
    margin-right: 5px;
}

.w-crumbs-item a {
    color: #7F7F7F;
}

.w-crumbs-split {
    padding-left: 6px;
}

.w-crumbs-active {
    color: #EB677E;
}

.w-form {
}

.w-form-title {
    padding-left: 59px;
    padding-top: 17px;
}

.w-form-item {
    margin: 10px 0
}

.w-form-name {
    display: inline-block;
+ display : inline;
+ zoom : 1;
    width: 138px;
    text-align: right;
}

.w-form-cont {
    overflow: hidden;
    display: inline-block;
+ display : inline;
+ zoom : 1;
    vertical-align: top;
}

.w-form-input {
    height: auto;
    line-height: normal;
    border: 1px solid #ccc;
    padding: 4px;
    width: 268px;
}

.w-form-split {
    padding: 0 3px;
}

.w-switcher {
    position: relative;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 32px;
    background: #F4F4F4;
    border: 1px solid #D5D5D5;
    border-radius: 32px
}

.w-switcher, .w-switcher:after {
    -webkit-transition: all .2s
}

.w-switcher:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 100%;
    content: ""
}

.w-checkBar-checked .w-switcher, .w-switcher-on {
    background: #F14B67;
    border-color: #F14B67;
}

.w-checkBar-checked .w-switcher:after, .w-switcher-on:after {
    left: 28px;
}

.w-checkBar-disabled .w-switcher:after {
    background: #F4F4F4
}

.w-radio {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #B7B7B7;
}

.w-radioBar-checked .w-radio:after, .w-radio-checked:after {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #4CC064;
    content: ""
}

.w-checkBar-disabled .w-radio, .w-radio-disabled {
    visibility: hidden
}

.w-checkBar-checked .w-checkbox, .w-checkbox-checked {
    background-position: -186px 0
}

.w-checkBar-disabled .w-checkbox, .w-checkbox-disabled {
    visibility: hidden
}

.w-bar {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 14px;
    line-height: 45px;
    color: #525252;
    margin-bottom: -1px;
    border: solid #dcdcdc;
    border-width: 1px 0;
}

.m-user-bar .w-bar {
    color: #656565;
    font-size: 14px;
    border-color: #DCDCDC;
    border-width: 0 0 1px 0;
    margin-bottom: 0;
    line-height: 50px;
}

.w-bar-ext {
    float: right;
    color: #a9a9a9;
}

.w-bar-extText {
    position: absolute;
    right: 42px;
    top: 0;
}

.w-bar-hint {
    font-size: 12px;
    color: #8f8f8f;
    right: 30px;
    position: absolute;
    font-weight: normal;
}

.w-bar-input {
    width: 100%;
    height: 38px;
    background: none;
    border: none;
    color: #333;
    outline: none;
    padding: 0;
    margin: 0;
}

textarea.w-bar-input {
    display: block;
    margin: 14px 0;
    resize: none;
}

.w-bar-label {
    width: 6em;
    float: left;
}

.w-bar-control {
    overflow: hidden;
    position: relative;
}

.w-bar-input-clear {
    display: none;
    float: right;
    margin-right: -10px;
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    background: #dcdcdc;
    color: #fff;
    border-radius: 100%;
    border: 10px solid #fff;
}

.w-checkBar input, .w-radioBar input {
    display: none;
}

.w-inputBar-placeholder {
    position: absolute;
    left: 0;
    top: 11px;
    color: #999;
    line-height: 22px;
}

.w-checkBar .w-checkbox {
    float: left;
    margin: 12px 0 0 0;
}

.w-radioBar .w-radio {
    float: left;
    margin: 15px 5px 0 0;
}

.w-option .ico-fold {
    margin-right: 5px;
}

.w-radioBar-disabled, .w-checkBar-disabled, .w-option-disabled .w-bar {
    color: #ccc;
}

.w-bar-content {
    background: #fff;
}

.w-bar-content .w-bar {
    margin-left: 14px;
    margin-right: 14px;
    padding: 0;
    line-height: 33px;
    border-color: #E7E7E7;
}

.w-bar-content .w-bar:first-of-type {
    margin-top: 0;
}

.w-bar-content .w-bar .w-radio {
    margin-top: 9px;
}

.w-shareList {
}

.w-shareItem {
    padding: 10px;
    margin: 10px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    line-height: normal;
}

.w-shareItem .abbr {
    display: -webkit-box;
    display: box;
}

.w-shareItem .abbr .pic, .w-shareItem .abbr .txt {
    -webkit-box-align: stretch;
    box-sizing: border-box;
}

.w-shareItem .abbr .txt {
    -webkit-box-flex: 1;
    box-flex: 1;
    white-space: normal;
    white-space: normal;
    word-wrap: break-word;
}

.w-shareItem .abbr .pic {
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.w-shareItem .abbr .pic img {
    width: 90px;
}

.w-shareItem .abbr .txt {
    padding-left: 10px;
    height: 90px;
    overflow: hidden;
    line-height: 1.66;
    margin-top: -3px;
}

.w-shareItem .abbr .txt a {
    color: #999;
}

.w-shareItem .title, .w-shareItem .title a {
    color: #515151;
    font-size: 14px;
}

.w-shareItem .author {
    position: relative;
+ zoom : 1;
    padding: 10px 0;
}

.w-shareItem .author .time {
    position: absolute;
    right: 0;
    top: 10px;
    color: #8F8F8F;
}

.w-shareItem .author a {
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w-shareItem .all {
    line-height: 1.66;
    font-size: 13px;
    white-space: normal;
    white-space: normal;
    word-wrap: break-word;
}

.w-shareItem .all .pic {
    overflow: hidden;
}

.w-shareItem .all .pic p {
    text-align: center;
}

.w-shareItem .all .pic img {
    margin: 10px auto;
    min-height: 100px;
    max-width: 100%;
}

.w-shareItem .goods {
    font-size: 12px;
    background-color: #F4F4F4;
    margin-bottom: 10px;
    padding: 6px 10px;
    line-height: 1.66;
}

.w-shareItem .goods p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-shareItem .toAudit {
    color: #FE9900
}

.w-shareDetail {
    padding: 10px 0;
}

.w-shareDetail .title, .w-shareDetail .author, .w-shareDetail .all {
    margin: 0 10px;
}

.w-loading, .w-more {
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #999
}

.w-more a {
    color: #999;
}

.w-tips {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 990;
    opacity: 0;
    -webkit-transition: opacity .3s
}

.w-tips-bottom {
    bottom: 30px;
}

.w-tips-top {
    top: 40px;
}

.w-tips-inner {
    background-color: RGBA(0, 0, 0, .5);
    line-height: 2;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    min-width: 50%;
    max-width: 80%;
    overflow: hidden;
    border-radius: 3px;
    padding: 10px 20px;
    white-space: normal;
}

.w-tips-show {
    opacity: 1;
}

.w-slide {
    background: #fff;
    overflow: hidden;
    position: relative;
}

.w-slide-wrap {
    overflow: hidden;
}

.w-slide-wrap-list-item {
    float: left;
}

.w-slide-controller-nav {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 0;
    text-align: center;
}

.w-slide-controller-nav .dot {
    margin-right: 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #b7b7b7;
    overflow: hidden;
    *zoom: 1
}

.w-slide-controller-nav .curr {
    background: #f80
}

.w-address {
    padding: 10px 30px 10px 10px;
    line-height: 1.6
}

.w-address-focus {
    background: #EEEEF0;
}

.w-address em {
    color: #2895FF;
}

.w-address .w-bar-ext {
    margin-right: -15px;
}

.w-address-mobile {
    float: right;
}

.w-address-button, .w-addressList-button {
    margin-top: 20px;
    text-align: center;
}

.embed .w-wishSetting {
    margin-top: 39px;
}

.w-wishSetting-main {
    padding: 10px 20px;
    font-size: 12px;
    background: #fff;
}

.w-wishSetting-main .pic {
    float: left
}

.w-wishSetting-main .info {
    margin: 0 0 10px 90px;
    height: 60px;
}

.w-wishSetting-main .name {
    margin-bottom: 10px;
    max-height: 36px;
    font-size: 14px;
    line-height: 18px;
}

.w-wishSetting-form-title {
    background: #F3F3F3;
}

.w-wishSetting .w-wishes {
    margin: 14px 10px;
}

.w-wishSetting-step2 {
    font-size: 12px;
    background: #f0f0f0;
}

.w-wishSetting-step2 .title {
    font-size: 16px;
    text-align: center;
    color: #222;
    line-height: 50px;
    background: #f7f7f7;
}

.w-wishSetting-step2 .share {
    padding: 10px;
}

.w-wishSetting-step2 .share .w-button-simple {
    margin-left: 10px;
    padding: 0;
    width: 65px;
    height: 31px;
    line-height: 31px;
    background: #fff;
    border: 1px solid #f80;
    border-radius: 4px;
    color: #f80;
}

.w-wishSetting-step2 .intro {
    margin-bottom: 10px;
    font-size: 14px;
}

.w-wishSetting-step2 .copyhint {
    height: 25px;
    line-height: 25px;
    position: relative;
    left: 230px;
}

.w-wishSetting-step2 .link {
    padding: 15px 10px;
    text-align: center;
}

.w-wishSetting-step2 .link .w-button {
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

.w-wishes {
}

.w-wishes-tab {
    overflow: hidden;
}

.w-wishes .w-bar-input {
    line-height: 22px;
    height: 95px;
}

.w-wishes .w-inputBar-placeholder {
    top: 14px;
}

.w-wishes .w-wishes-tab-wrap {
    float: left;
    display: inline;
    width: 25%;
    _width: 24.9%;
}

.w-wishes .w-wishes-tab-item {
    display: block;
    margin: 0 1px;
    text-align: center;
    line-height: 24px;
    background: #f0f0f0;
    color: #888;
    text-decoration: none;
}

.w-wishes .w-wishes-tab-item:hover {
    text-decoration: none;
    color: #3c3c3c;
}

.w-wishes .selected .w-wishes-tab-item {
    background: #ddd;
    color: #3c3c3c;
}

.w-wishes-text .w-inputBar {
    border-width: 1px;
}

.w-toast {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    position: fixed;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 4px;
}

.w-bonus .w-bonus-cont {
    padding-top: 25px;
    text-align: center
}

.w-bonus .bonus-num {
    height: 32px;
    width: 19px;
    background-position: 0 0;
    background-size: contain;
}

.g-twoCol, .f-clear {
+ zoom : 1;
}

.g-twoCol:after, .g-twoCol:before, .f-clear:before, .f-clear:after {
    clear: both;
    content: ".";
    font-size: 0;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.f-txtabb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    *zoom: 1;
}

.f-bold {
    font-weight: bold !important;
}

.f-breakword {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all
}

.status-empty {
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #999;
}

.txt-suc {
    color: #35BC00;
}

.txt-impt, .txt-err {
    color: #f80;
}

.txt-main {
    color: #333;
}

.txt-red {
    color: #f80;
}

.txt-gray {
    color: #999;
}

.txt-blue {
    color: #f80;
}

.txt-orange {
    color: #ff9b00;
}

.txt-green {
    color: #528d00;
}

.txt-yxgreen {
    color: #20b89a;
}

.txt-dark {
    color: #333;
}

.ico {
    display: inline-block;
    vertical-align: middle;
    background-size: 300px 300px;
}

.ico-logo {
    width: 94px;
    height: 22px;
    background-position: 0 0;
}

.ico-search {
    width: 24px;
    height: 24px;
    background-position: 0 -25px;
}

.ico-userpage {
    width: 24px;
    height: 24px;
    background-position: -25px -25px;
}

.ico-bonus {
    width: 24px;
    height: 24px;
    background-position: -50px -25px;
}

.ico-bonus-s {
    width: 13px;
    height: 15px;
    background-position: -215px 0
}

.ico-more {
    width: 35px;
    height: 35px;
    background: url("../images/icon/home_icon.png") no-repeat;
    background-size: 25px;
    background-position: center;
}
.ico-more-b {
    width: 55px;
    height: 55px;
    background: url("../images/icon/home_icon_b.png") no-repeat;
    background-size: 25px;
    background-position: center;
}

.ico-share {
    width: 24px;
    height: 24px;
    background: url("../images/icon/share.png") no-repeat;
    background-size: 20px;
}

.ico-home {
    width: 24px;
    height: 24px;
    background-position: -75px -25px;
}

.ico-home-light {
    background-position: -100px -25px;
}

.ico-del {
    width: 16px;
    height: 17px;
    background-position: -145px 0;
}

.ico-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ff002b;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    -webkit-animation: breath 0.8s 3 ease-in-out;
    -moz-animation: breath 0.8s 3 ease-in-out;
    animation: breath 0.8s 3 ease-in-out;
}

@-webkit-keyframes breath {
    0% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
}

@-moz-keyframes breath {
    0% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
}

@keyframes breath {
    0% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    }
}

.ico-miniCart {
    width: 30px;
    height: 30px;
    background: url('../images/icon/shop_list_icon.png') no-repeat;
    background-size: 28px;
}

.ico-miniCart-gray {
    width: 24px;
    height: 24px;
    background-position: -125px -25px;
}

.ico-wishHeart {
    width: 30px;
    height: 30px;
}

.ico-wishHeart-hollow {
    background-position: -70px -50px;
}

.ico-wishHeart-solid {
    background-position: -100px -50px;
}

.ico-type {
    width: 16px;
    height: 16px;
}

.ico-type-0 {
    background-position: 0 -200px;
}

.ico-type-1 {
    background-position: -20px -200px;
}

.ico-type-2 {
    background-position: -40px -200px;
}

.ico-type-3 {
    background-position: -60px -200px;
}

.ico-type-4 {
    background-position: -80px -200px;
}

.ico-type-5 {
    background-position: -100px -200px;
}

.ico-type-6 {
    background-position: -120px -200px;
}

.ico-type-7 {
    background-position: -140px -200px;
}

.ico-type-8 {
    background-position: -140px -200px;
}

.selected .ico-type-0 {
    background-position: 0 -220px;
}

.selected .ico-type-1 {
    background-position: -20px -220px;
}

.selected .ico-type-2 {
    background-position: -40px -220px;
}

.selected .ico-type-3 {
    background-position: -60px -220px;
}

.selected .ico-type-4 {
    background-position: -80px -220px;
}

.selected .ico-type-5 {
    background-position: -100px -220px;
}

.selected .ico-type-6 {
    background-position: -120px -220px;
}

.selected .ico-type-7 {
    background-position: -140px -220px;
}

.selected .ico-type-8 {
    background-position: -140px -200px;
}

.ico-state {
    width: 15px;
    height: 15px;
}

.ico-state-1 {
    background-position: -95px 0
}

.ico-state-2 {
    background-position: -110px 0
}

.ico-state-3 {
    background-position: -125px 0
}

.ico-label {
    position: absolute;
    width: 30px;
    height: 35px;
    z-index: 1;
    top: 15px;
    left: 65px;
}

.ico-label-free {
    background-position: 0 -85px;
}

.ico-label-ten {
    background: url("../images/icon/ten_.png") no-repeat;
    background-size: 25px;
}

.ico-label-limit {
    background-position: -182px -85px;
}

.ico-label-mall {
    width: 42px;
    height: 37px;
    background-position: -140px -85px;
}

.ico-label-midautumn {
    width: 31px;
    height: 31px;
    background-position: -255px -85px;
}

.ico-label-l {
    width: 40px;
    height: 45px;
}

.ico-label-free-l {
    background-position: -30px -85px;
}

.ico-label-ten-l {
    background-position: -100px -85px;
}

.ico-label-limit-l {
    background-position: -212px -85px;
}

.ico-label-recommend {
    width: 32px;
    height: 32px;
    background-position: -35px -50px;
}

.ico-label-winner {
    width: 42px;
    height: 42px;
    background: url("../images/icon/winner_icon.png") no-repeat;
    background-size: 40px;
}

.ico-announcing {
    width: 80px;
    height: 17px;
    background-position: -45px -240px;
}

.ico-thirdLogin-qq {
    width: 60px;
    height: 60px;
    background: url("../images/icon/qq_icon.png") no-repeat;
}

.ico-thirdLogin-weibo {
    background-position: -40px 0;
}

.ico-back, .ico-prev, .ico-next, .ico-fold, .ico-unfold {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid;
    background: none;
}

.ico-back {
    width: 11px;
    height: 11px;
    border-width: 2px 0 0 2px;
    color: #8a8a8a;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ico-prev {
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ico-next {
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ico-fold {
    border-width: 0 2px 2px 0;
    transform: translateY(-3px) rotate(45deg);
    -webkit-transform: translateY(-3px) rotate(45deg);
}

.w-option-unfold .ico-fold, .ico-unfold {
    border-width: 2px 0 0 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ico-arrow {
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    background: none;
}

.ico-arrow-down {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.ico-arrow-up {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.ico-arrow-s-gray {
    width: 5px;
    height: 5px;
    border-width: 2px;
    border-color: #9a9a9a;
}

.ico-arrow-s-red {
    width: 3px;
    height: 3px;
    border-width: 2px;
    border-color: #f80;
}

.ico-arrow-transfer {
    width: 10px;
    height: 6px;
    position: relative;
    background: none;
}

.ico-arrow-transfer:before, .ico-arrow-transfer:after {
    content: "";
    position: absolute;
    display: block;
}

.ico-arrow-transfer:before {
    left: 0;
    top: 2px;
    border-top: 2px solid #db3625;
    width: 5px;
    height: 0;
}

.ico-arrow-transfer:after {
    top: 1px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 4px;
    border-top: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #db3625;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.ico-sortArrow {
    width: 8px;
    height: 11px;
    position: relative;
    background: none;
}

.ico-sortArrow:before, .ico-sortArrow:after {
    content: "";
    position: absolute;
    display: block;
}

.ico-sortArrow:before {
    width: 0;
    height: 0;
    border-width: 4px;
    border-top: 0;
    border-style: solid;
    border-color: transparent;
}

.ico-sortArrow:after {
    width: 0;
    height: 7px;
    top: 0;
    left: 3px;
    border-left: 2px solid #9a9a9a;
}

.ico-sortArrow-down:before {
    top: 6px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.ico-sortArrow-up:after {
    top: 4px;
}

.ico-sortArrow-gray:before {
    border-bottom-color: #9a9a9a;
}

.ico-sortArrow-gray:after {
    border-color: #9a9a9a;
}

.ico-sortArrow-red:before {
    border-bottom-color: #f80;
}

.ico-sortArrow-red:after {
    border-color: #f80;
}

.ico-sort2Arrow {
    width: 8px;
    height: 11px;
    position: relative;
    background: none;
}

.ico-sort2Arrow:before, .ico-sort2Arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    border: 2px solid #b2b2b2;
    border-top: 0;
    border-right: 0;
}

.ico-sort2Arrow:before {
    top: 1px;
    left: 1px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.ico-sort2Arrow:after {
    top: 5px;
    left: 1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.ico-arrow-transGray {
    width: 15px;
    height: 0;
    border-width: 15px;
    border-color: transparent;
    border-left: 15px solid rgba(0, 0, 0, .9);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.ico-loading-l {
    width: 50px;
    height: 50px;
}

.icon-alert {
    width: 70px;
    height: 70px;
    background-position: 0 0;
}

.icon-suc {
    width: 70px;
    height: 70px;
    background-position: -70px 0;
}

.icon-err {
    width: 70px;
    height: 70px;
    background-position: -140px 0;
}

.icon-alert-m {
    width: 30px;
    height: 30px;
    background-position: 0 -70px
}

.icon-suc-m {
    width: 30px;
    height: 30px;
    background-position: -30px -70px
}

.icon-err-m {
    width: 30px;
    height: 30px;
    background-position: -60px -70px
}

.icon-alert-s {
    width: 12px;
    height: 12px;
    background-position: 0 -100px
}

.icon-suc-s {
    width: 12px;
    height: 12px;
    background-position: -15px -100px
}

.icon-err-s {
    width: 12px;
    height: 12px;
    background-position: -30px -100px
}

.g-header {
    background-color: #fff;
    position: relative;
    z-index: 3;
    _zoom: 1;
}

.g-body {
    position: relative;
    min-width: 320px;
    overflow: hidden;
    z-index: 2;
    _zoom: 1;
}

.g-footer {
    border-top: 1px solid #ededed;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    z-index: 1;
    _zoom: 1;
}

.g-footer .g-wrap {
    padding: 10px 0;
}

.g-main {
    float: left;
}

.g-side {
    float: right;
}

.g-wrap {
    margin: 0 auto;
    position: relative;
}

.g-body-hd {
    z-index: 2;
}

.g-body-bd {
    z-index: 1;
}

.g-body-bd-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, .3);
}

.g-twoCol {
    position: relative;
    zoom: 1
}

.g-twoCol .name {
    width: 90px;
    text-align: right;
    float: left
}

.g-twoCol .cont {
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all
}

.g-twoCol-ext {
    display: inline-block;
    overflow: hidden
}

.m-header {
    padding: 0 10px 0 15px;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background-color:white;
    border-bottom: 1px solid #f80;
}

.m-header-logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.m-header-logo-link {
    position: absolute;
    top: 0;
    display: block;
    padding-top: 12px;
    width: 100px;
    height: 33px;
    line-height: 0;
    overflow: hidden;
}

.m-header-toolbar {
    float: right;
    height: 45px;
    line-height: 45px;
}

.m-header-toolbar-btn {
    padding: 0 8px;
    display: inline-block;
    height: 100%;
    text-align: center;
    position: relative;
}

.m-header-toolbar-btn .ico-dot {
    top: 8px;
    right: 1px;
}

.APP-dashi .ico-dashi-info {
    width: 18px;
    height: 18px;
    background-position: 0 0;
}

.APP-dashi .ico-dashi-arrDown {
    width: 18px;
    height: 15px;
    background-position: -36px 0
}

.APP-dashi .ico-dashi-arrUp {
    width: 18px;
    height: 15px;
    background-position: -72px 0;
}

.APP-dashi-actMenu .ico-dashi-check {
    width: 17px;
    height: 17px;
    background-position: -108px 0;
}

.APP-dashi-actMenu .ico-dashi-arr {
    width: 9px;
    height: 14px;
    background-position: -162px 0;
}

.APP-dashi {
    float: left;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 70%
}

.APP-dashi .ico-dashi {
    margin-right: 3px
}

.APP-dashi-actMenu {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 46px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px 0px rgba(160, 160, 160, 0.5);
    overflow: hidden
}

.APP-dashi-actMenu li {
    height: 45px;
    line-height: 45px;
    position: relative;
    border-bottom: #DCDCDC 1px solid;
    padding: 0 15px;
    color: #494B57;
}

.APP-dashi-actMenu .info {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.APP-dashi-actMenu .info .tips {
    font-size: 12px;
    color: #999;
}

.APP-dashi-actMenu .ico-dashi-check {
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 14px;
}

.APP-dashi-actMenu .ico-dashi-arr {
    position: absolute;
    right: 15px;
    top: 14px;
}

.APP-dashi-actMenu .check {
    color: #DB3951;
}

.APP-dashi-actMenu .check .ico-dashi-check {
    visibility: visible;
}

.APP-dashi-actMenu .disable {
    color: #9FA8B1;
}

.m-nav {
    height: 39px;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 0 1px 3px 0px rgba(160, 160, 160, 0.2);
}

.m-nav-list {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.m-nav-list li {
    position: relative;
    text-align: center;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.m-nav-list a {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    line-height: 37px;
    text-align: center;
    color: #666666;
}

.m-nav-list a span {
    display: inline-block;
}

.m-nav-list .selected span {
    color: #f80;
    line-height: 34px;
    border-bottom: 2px solid #f80
}
.m-nav_tow {
    /*height: 39px;*/
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 0 1px 3px 0px rgba(15, 8, 0, 0.2);
}

.m-nav-list_tow {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.m-nav-list_tow li {
    position: relative;
    text-align: center;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.m-nav-list_tow a {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    line-height: 37px;
    text-align: center;
    color: #666666;
}

.m-nav-list_tow a span {
    display: inline-block;
}

.m-nav-list_tow .selected span {
    color: #f80;
    line-height: 34px;
    border-bottom: 2px solid #f80
}

.m-nav_tow .g-wrap_tow ul{position: fixed;top:0;left:0;background:white;}
.m-state {
    padding: 2px 0;
    width: 250px;
    margin: 0 auto;
}

.m-state li {
    float: left;
    margin-right: 4%;
    padding: 3px 0;
    line-height: 15px;
}

.m-state li.last {
    margin-right: 0;
}

.m-state .ico-state {
    margin-right: 4px;
}

.m-link a {
    color: #999;
}

.m-link .m-link-login, .m-link .m-link-user {
    color: #0079fe;
}

.m-link-logout {
    margin-left: 5px;
}

.m-link var {
    margin: 0 5px;
    color: #d5d5d5;
}

.m-copyright {
    line-height: 24px;
    font-size: 11px;
}

.m-simpleHeader, .m-simpleFooter {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    border: 1px solid #D4D4D4;
    background: #fff;
}

.m-simpleHeader {
    top: 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px 0px rgba(160, 160, 160, 0.2);
}

.m-simpleHeader-back {
    position: absolute;
    left: 0;
    padding: 0 15px;
    overflow: hidden;
    background: url('../images/icon/back_icon.png') no-repeat;
    background-size: 10px;
    background-position: center;
    width: 42px;
    height: 44px;
}

.m-simpleHeader h1 {
    font-size: 16px;
    color: #606060;
    margin-left: 48px;
    margin-top: 13px;
    font-weight: bold;
}

.m-simpleFooter {
    padding: 5px 10px;
    bottom: 0;
    border-width: 1px 0;
    line-height: 32px;
    height: 45px;
}

.m-simpleFooter-ext {
    position: absolute;
    right: 10px;
    top: 4px;
}

.m-simpleHeader-ok, .m-simpleHeader-cancel {
    position: absolute;
    padding: 0 14px;
}

.m-simpleHeader-ok {
    right: 0;
}

.m-simpleHeader-cancel {
    left: 0;
}

.m-simpleBody {
    padding-top: 38px;
}

.fn-lazyLoadMinHeight {
    min-height: 40px;
    min-width: 40px;
    _height: 40px;
    _width: 40px;
}

.fn-delLine {
    text-decoration: line-through;
    vertical-align: middle;
}

.m-yixinNav {
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.m-yixinNav-list {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.m-yixinNav-list li {
    height: 40px;
    line-height: 40px;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.m-yixinNav-list a {
    display: block;
    text-align: center;
    color: #333;
    border-right: 1px solid #dcdcdc;
}

.m-yixinNav-list li.first a {
    border-left: 0;
}

.m-yixinNav-list li.last a {
    border-right: 0;
}

.m-yixinNav-list li.selected a {
    font-weight: bold;
    color: #f80;
    border-bottom: 2px solid #f80;
    line-height: 39px;
}

.m-yixinFooter {
    padding: 10px 0;
    background-color: transparent !important;
}

.m-yixinFooter .m-state {
    margin-bottom: 5px;
}

.m-yixinFooter-phone {
    font-size: 13px;
}

.nav-ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
    text-align: left;
    text-shadow: none;
}

.nav-ul li {
    padding: 15px;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 12px;
    line-height: 24px
}

.nav-ul li a img {
    display: block;
    width: 32px;
    margin-left: auto;
    margin-right: auto;
}

.nav-ul li a span {
    position: relative;
    color: #666666;
}

.broadcast {
    margin: 5px 15px 15px 15px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
}

.m-intro-picWrap {
    max-width: 100%;
    margin-top: 44px;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group input {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.m-login-extLogin {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 12px;
}

.m-login-extLogin .hd {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.m-login-extLogin .hd span {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 0 10px;
    background: #f7f7f7;
    color: #3d3d3d;
}

.m-login-extLogin .bd {
    text-align: center;
}

.m-login-extLogin .bd .m-login-extLogin-item {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    line-height: 26px;
    color: #666;
}