﻿/*公用全局样式*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input {
	margin: 0;
	padding: 0;
	border: none;
}

a {
	text-decoration: none;
	color: #585858;
	cursor: pointer;
}

a:hover {
	color: #ff6600;
	blur: expression(this.onFocus=this.blur());
}

a:active {
	outline: none;
}

li {
	list-style-type: none;
}

img {
	border: 0px none;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

fieldset {
	border-style: none
}

button {
	cursor: pointer;
}

select,
input,
textarea {
	font-size: 12px;
}

ul,
li,
dt,
dd,
dl {
	list-style: none;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

.clear {
	clear: both;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
}


/*修改*/

.hb_con1 {
	width: 100%;
	font-family: "微软雅黑";
	padding-bottom: 1%;
	background: rgb(255, 109, 50);
}

.hb_con1 img {
	width: 100%;
}


/*按钮*/

.con1_add_1 img {
	width: 100%;
	margin: auto;
	display: block;
}

.con1_add_1 a {
	width: 32%;
	float: left;
	margin: auto;
}


.con1_add_1 {
	overflow: hidden;
	position: relative;
	width: 98%;
	margin: auto;
	border: none;
}

.hv_con1_btn {
	width: 100%;
	background-color: rgb(255, 108, 49);
	margin: auto;
	clear: both;
	padding: 5% 0;
	margin-top: -1px;
	margin-bottom: -2px;
}

.button_a1:hover,
.button_a2:hover,
.button_a3:hover {
	opacity: 0.8
}

.hv_con1_btn .AN_WZ {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}


/*内容名单*/

.hv_con_content {
	background: no-repeat center top;
	clear: both;
}

.hv_con_content {
	width: 100%;
	background: rgb(255, 109, 50);
	background-size: 100%;
}

.con_content_1 {
	margin: 0 auto
}

.content_1_1 {
	float: left;
	margin-bottom: -1px;
}

.content_1_1 .text_content {
	font-family: "Microsoft YaHei";
	width: 86%;
	margin: auto;
	margin-bottom: -8px;
}

.content_1_1 .text_content div {
	width: auto;
}

.text_content div {
	font-size: 2rem;
	line-height: normal;
	margin: 0;
	color: rgb(255, 215, 26);
	padding: 2% 0;
}

#content_1_2 {
	width: 321px;
	float: left;
	height: 170px;
	position: absolute;
	margin-top: 178px;
	margin-left: 706px
}

.content_a {
	height: 170px;
	width: 112px;
	float: left;
}

.content_a img {
	width: 110px;
}

.content_b {
	height: 170px;
	width: 189px;
	float: left;
	color: #ffffff;
	font-family: "Microsoft YaHei"
}

.content_b div:nth-child(2),
.content_b div:nth-child(3) {
	text-align: center;
}

.content_b div:nth-child(1) {
	font-size: 12px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 169px;
}

.content_b div:nth-child(2) {
	font-size: 12px;
	margin-top: 20px;
	width: 169px;
}

.content_b div:nth-child(3) {
	font-size: 20px;
	width: 169px;
}


/*规则*/

.hv_con_rule {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.hv_con_rule img {
	width: 100% !important;
}

.rule_content_1 {
	margin: auto;
	font-size: 3rem;
}

.rule_text {
	font-family: "Microsoft YaHei";
	position: absolute;
	top: 18%;
	left: 4%;
	width: 94%;
}

.a123 {
	margin-top: 7px;
	color: #ff6d32;
	text-indent: 20px;
}

.b123 {
	color: #ff6d32;
	font-size: 18px;
	margin-top: 7px;
}

.cycle_list {
	width: 0.6rem;
}

.cycle_list img {
	width: 100%;
	float: left;
	;
}

.slide_l {
	width: 302px;
}

.slide_cr {
	width: 301px;
	float: left;
}

#demo {
	/*padding-top: 20px; padding-left: 20px;*/
}