{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-Frame.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-setUp.css"/>

<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>

{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	<style>
	.xh_actiive{width:90%; padding:20px 10px;text-align:center}
	.xh_actiive a{color:red}
	.xh_actiive td,.xh_actiive th{
		padding: 10px 0px;
		border: 1px solid rgb(222,222,222);
	}
	.xh_hactiive{text-align:center; padding-top:15px;}
	</style>
	<div class="xh_actiive">
		<!-- {wc:if $you_quan=='have_ticket_ji'}
			您的奖金券已经被激活(自动兑换成幸运豆)，<a href="{WEB_PATH}">赶快去使用吧！</a>
		{wc:elseif $you_quan=='have_ticket_no'}
			您得到了一张奖金券，<a href="{WEB_PATH}/member/home/activechong">充值15元，马上激活！</a>
		{wc:else}
			您还没有参加任何活动！
		{wc:if:end} -->

		<table style="text-align:center;width:100%;">
			<tr>
				<th width="20%">活动类型</th>
				<th width="20%">现金金额（元）</th>
				<th width="20%">状态</th>
				
				<th width="20%">充值金额（元）</th>
				<th width="20%">是否使用</th>
			</tr>
			{wc:loop $active_list $list}
			<tr>
				<td>注册立赠 3 元</td>
				<td>￥ {wc:$list['cash_value']}</td>
				<td>{wc:if $list['is_active']==1}已激活{wc:else}未激活{wc:if:end}</td>
				
				<td>￥ {wc:$list['money']}</td>
				<td>{wc:if $list['is_use']==1}已到账{wc:else}立即使用{wc:if:end}</td>
			</tr>
			
			{wc:loop:end}
			
			{wc:if $first_addmoney}
			{wc:loop $first_addmoney $list}
			<tr>
				<td>首充10元立赠 5 元</td>
				<td>￥ {wc:$list['cash_value']}</td>
				<td>{wc:if $list['is_active']==1}已激活{wc:else}未激活{wc:if:end}</td>
				
				<td>￥ {wc:$list['money']}</td>
				<td>{wc:if $list['is_use']==1}已到账{wc:else}立即使用{wc:if:end}</td>
			</tr>
			{wc:loop:end}
			{wc:else}
			<tr>
				<td colspan="5">
					<a href="{WEB_PATH}/go/lemon/detail" style="color:red" target='_blank'>您还没有参与本次活动，前去参与吧~~</a>
				</td>
			</tr>
			{wc:if:end}
			{wc:loop $yaoqingmoney_list $list}
			<tr>
				<td>第一次邀请好友即赠10元（需好友充值随意金额）</td>
				<td>￥ {wc:$list['cash_value']}</td>
				<td>{wc:if $list['is_active']==1}已激活{wc:else}未激活{wc:if:end}</td>
				
				<td>￥ {wc:$list['money']}</td>
				<td>{wc:if $list['is_use']==1}已到账{wc:else}立即使用{wc:if:end}</td>
			</tr>
			{wc:loop:end}
		</table>




	</div>
	<div class="xh_hactiive">
		{wc:if empty($hactive_list)}
		活动奖现金，<a href="{WEB_PATH}/go/lemon/detail" style="color:red" target='_blank'>赶紧参与我们的活动吧~~</a>
		{wc:else}
			<table cellpadding="0" cellspacing="0" class="xmember_acount">
				<tr>
					<td width="20%" align="center">交易时间</td>	
					<td width="20%" align="center">充值金额（元）</td>
					<td width="20%" align="center">得到红包（元）</td>
					<td width="20%" align="center">红包状态</td>
				<tr>
			</table>
			{wc:loop $hactive_list $hong}
			<table cellpadding="0" cellspacing="0" class="xmember_acount_info">  
			   <tr>
					<td width="20%" align="center">{wc:$hong['r_time']}</td>	
					<td width="20%" align="center">
					{wc:if $hong['money']=='0'}
					 通过晒单分享得到红包
					{wc:else}
					￥{wc:$hong['money']}
					{wc:if:end}
					</td>
					<td width="20%" align="center">￥{wc:$hong['cash_value']}</td>
					<td width="20%" align="center">{wc:if $hong['type']==2}已自动兑换成幸运豆{wc:else}未使用{wc:if:end}</td>
				<tr>
			</table>
			{wc:loop:end}
		{wc:if:end}
	</div>
	{wc:if $total>20}
     <style>
		#divPageNav{width:96%; text-align:right;padding-top:10px;}
		#divPageNav ul{ text-align:center;float:right}
		#divPageNav li a{ padding:5px 8px;}
	</style>
    <div id="divPageNav" class="page_nav">
        {wc:page:two}
    </div>
	{wc:if:end}

</div>
<script type="text/javascript">
$(function(){
	$(".hongbao_dui").click(function(){
		var curr_obj = $(this);
		var hong_id = curr_obj.siblings('input[name=hong_id]').val();
		msg_show.promptmsg("是否兑换成幸运豆？",{"yes":function(){
			action_url = '{WEB_PATH}/member/home/hongbao_duihuan';
			$.ajax({
				url:action_url,
				data:{hong_id:hong_id},
				type:"POST",
				success:function(_data){

					_data = $.parseJSON(_data);
					if(_data.error=="1"){
						msg_show.waring(_data.msg);
					}else if(_data.error=="0"){
						//msg_show.success(_data.msg,_data.url);
						window.location.href=_data.url;
					}
				}
			});
		}});
	});
});

	
</script>

{wc:templates "index","footer"}