<style>
.shouhuo_layer{width:100%;height: 100%;background:#000;opacity:0.5;position:fixed;left;0;top:0;z-index:999;font-family:"微软雅黑";}
.shouhuo_layer a{color:#000;}
.shouhuo_layer_content{width:1000px;height:650px;position:fixed;z-index:9999;background:#fff;left:50%; top:50%;margin-top:-320px;margin-left:-500px;}
.shouhuo_layer_contentselect h3{font-size:18px;font-weight:bold;padding:10px; text-align:center}
.shouhuo_dizhi_closecontent{margin-top:15px;text-align:center;}
.shouhuo_dizhi_close{width:60px;background: #1B7DE0;padding:5px 10px; font-size:18px; cursor:pointer; color:#fff;text-align:center; border-radius:5px}
.queding_shouhuo{padding:5px 10px; cursor:pointer;background:#1B7DE0;color:#fff;border-radius:5px}
.shop_status_you_no{padding:5px 10px;cursor:pointer;background:#1B7DE0;color:#fff !important;border-radius:5px}

#confrim_status .tishi{font-size:16px;padding-top:15px;text-align:center}
</style>
<div class="shouhuo_layer"></div>
<div class="shouhuo_layer_content">
	<div class="shouhuo_layer_contentselect">
		<h3>请确认收货地址<span style="color:red;font-size:12px;">（虚拟商品，街道地址添加支付宝账号）</span></h3>
		{wc:templates "member","address_list"}
		
	</div>
	<div class="shouhuo_dizhi_closecontent">
		<span class="shouhuo_dizhi_close" id="shouhuo_dizhi_close">关闭</span>&nbsp;&nbsp;&nbsp;
		 {wc:if empty($recover_info['confrim_addr']) && empty($recover_info['confrim_addr_time'])}
		<span class="shouhuo_dizhi_close" id="shouhuo_dizhi_queding">确定</span>
		{wc:if:end}
	</div>
	
</div>

<script type="text/javascript">
$("#shouhuo_dizhi_close").click(function(){
	$(".shouhuo_layer,.shouhuo_layer_content").hide();
	setTimeout(function(){
		//window.location.reload();
	},2000);
});

$(".shop_status_you_no").click(function(){
	$("#xh_confirm").show();
	$(".shouhuo_layer,.shouhuo_layer_content").show();
});
</script>