<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-Frame.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-setUp.css"/>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/area.js"></script>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".registerform").Validform({
		tiptype:2,
		ignoreHidden:true,
		datatype:{
			"tel":/^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/,
			"zhong":/[\u4E00-\u9FA5\uF900-\uFA2D]{2,16}/,
		},
		beforeSubmit:function(curform){
			var x_data = $(curform).serialize();
			var action_url = '{wc:WEB_PATH}/member/home/useraddress';
			x_data += "&confirm_addr";
			$.ajax({
				url:action_url,
				data:x_data,
				type:"POST",
				success:function(_data){
					_data = $.parseJSON(_data);
					if(_data.error=="1"){
						msg_show.waring(_data.msg);
					}else if(_data.error=="0"){
						$("#div_consignee").hide();
						if($("#addressListDiv").find("liBg").length < 5){
							$("#btnAddnewAddr").show();
						}
						
						var x_hmtl = '<ul class="liBg">';
						x_hmtl += '<li style="width:10%;padding-left:10px">';
						x_hmtl += '<input type="radio" name="record_id" checked="" value="'+_data.address_info.address+'"></li>';
						x_hmtl += '<li id="shr_57" class="pad" style="width:35%;">'+_data.address_info.address+'</li>';
						x_hmtl += '<li id="shr_57" style="width:25%; text-align:center">'+_data.address_info.shouhuoren+'</li>';
						x_hmtl += '<li id="mob_57" style="width:20%; text-align:center">'+_data.address_info.mobile+'</li>';
						x_hmtl += '</ul>';
						$("#addressListDiv").append(x_hmtl);
						msg_show.success(_data.msg);
     
					}
				}
			});
			return false;
		}
	});	
	demo.tipmsg.w["tel"]="请正确输入电话号码(区号、号码必填，用"-"隔开)";
	demo.tipmsg.w["zhong"]="收货人姓名在2~16个汉字之间";
	demo.addRule([
	{
		ele:"#txt_ship_name,#shr2",
		datatype:"zhong",
	}]);

	
	/*确认收货地址*/
	$("#shouhuo_dizhi_queding").click(function(){
		var this_obj = $(this);
		var record_id = {wc:$record_id};
		var _current_obj = $("#addressListDiv").find(".liBg").find("[name=record_id]:input:checked");
		var info_address = $.trim(_current_obj.val());
		var _mobile = $.trim(_current_obj.parents(".liBg").find("li").eq(3).text());
		var _shouhuoren =$.trim(_current_obj.parents(".liBg").find("li").eq(2).text());
		var confrim_addr_uinfo = _shouhuoren+"|"+_mobile;
		msg_show.promptmsg("一旦确定，不能更改！",{"yes":function(){
			var rurl = '{WEB_PATH}/member/home/confirm_address';
			$.ajax({
				url:rurl,
				data:{record_id:record_id,info_address:info_address,confrim_addr_uinfo:confrim_addr_uinfo},
				type:"POST",
				success:function(_data){
					_data=$.parseJSON(_data);
					if(_data.error=="1"){
						msg_show.waring(_data.msg);
					}else if(_data.error=="0"){
						
						msg_show.success(_data.msg);
						var _html = "<div class='tishi'>您确认的收货地址为："+info_address+"</div>";
						$("#confrim_status").html(_html);
						$("#shouhuo_dizhi_queding").remove();
						
					}
				}
			});
		
		}});		
		
	});
	
});
$(function(){
	$("#btnAddnewAddr").click(function(){
		$("#div_consignee").show();
		$("#btnAddnewAddr").hide();
	});
	$("#btn_consignee_cancle").click(function(){
		$("#div_consignee").hide();
		$("#btnAddnewAddr").show();
	});
});
$(function(){
	$(".xiugai").click(function(){
		$("#btnAddnewAddr").hide();
		$("#div_consignee").hide();
	});
	
});
</script>

    <div class="R-content"> 

      <div id="addressListDiv" class="list-tab detailAddress gray01" style="">
        <ul class="listTitle tdTitle">
          <li style="width:10%;padding-left:10px">操作</li>
          <li class="pad" style="width:35%;text-align:left">详细地址</li>
          <li style="width:25%;text-align:center">收货人</li>
          <li style="width:20%;text-align:center">电话号码</li>
          
        </ul>
        {wc:loop $address_list $v}
        <ul class="liBg">
        
          <li style="width:10%;padding-left:10px">
          	<input type="radio" name="record_id" {wc:if $v['default']=='Y'}checked{wc:if:end} value="{wc:$v['sheng']},{wc:$v['shi']},{wc:$v['xian']},{wc:$v['jiedao']}"/>
          </li>
          <li id="dizh_{wc:$v['id']}" class="pad" style="width:35%;">{wc:$v['sheng']},{wc:$v['shi']},{wc:$v['xian']},{wc:$v['jiedao']}</li>
          
          <li id="shr_{wc:$v['id']}" style="width:25%; text-align:center">{wc:$v['shouhuoren']}</li>
          <li id="mob_{wc:$v['id']}" style="width:20%; text-align:center">{wc:$v['mobile']}</li>
        
        </ul>
        {wc:loop:end} 
        </div>
     
      
     
      <div class="add" style="margin-left:20px;clear:both" id="confrim_status">
      	{wc:if count($address_list)<5 && empty($recover_info['confrim_addr'])}
        	<input id="btnAddnewAddr" type="button" class="orangebut" value="新增收货地址" />
        {wc:if:end}
        {wc:if !empty($recover_info['confrim_addr']) && !empty($recover_info['confrim_addr_time'])}
        	<div class="tishi">您确认的收货地址为：{wc:$recover_info['confrim_addr']}</div>
         {wc:else}
         <div class="tishi">您还没有确认收货地址,请勾选一条地址确定</div>
         {wc:if:end}
      </div>
      
      
      
      {wc:if count($address_list) <= 5}
      <div id="div_consignee" class="addAddress" style="display:none;">
        <dl>
          添加收货地址
        </dl>
        <form class="registerform" method="post" action="">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr> 
                <script>var s2=["province2","city2","county2"];</script>
                <td><label>所在地区：</label></td>
                <td><select datatype="*" nullmsg="请选择有效的省市区" class="select" id="province2" runat="server" name="sheng">
                  </select>
                  <select datatype="*" nullmsg="请选择有效的省市区" id="city2" runat="server" name="shi">
                  </select>
                  <select datatype="*" nullmsg="请选择有效的省市区" id="county2" runat="server" name="xian">
                  </select>
                  <em id="ship_address_valid_msg" class="red">*</em> 
                  <script type="text/javascript">setup2()</script></td>
                <td><div class="Validform_checktip"></div></td>
              </tr>
              <tr>
                <td><label>街道地址：</label></td>
                <td><input datatype="*1-100" nullmsg="请填街道地址！" errormsg="范围在100之间！" name="jiedao" type="text" class="street" maxlength="100" />
                  <em id="ship_address_valid_msg" class="red">*</em></td>
                <td><div class="Validform_checktip">(不需要重复填写省/市/区)<span style="color:red;font-size:12px;">(虚拟商品，请添加支付宝账号)</span>
				</div></td>
              </tr>
             
              <tr>
                <td><label>收货人：</label></td>
                <td><input datatype="*" nullmsg="收货人不能为空" name="shouhuoren" type="text" maxlength="20" id="txt_ship_name" class="inputTxt" value="">
                  <em class="red" id="ship_name_valid_msg">*</em></td>
                <td><div class="Validform_checktip"></div></td>
              </tr>
              <tr>
                <td><label>手机号码：</label></td>
                <td><input datatype="m" nullmsg="手机号不能为空" errormsg="手机号不对" name="mobile" type="text"  class="inputTxt" maxlength="11">
                  <em id="ship_mb_valid_msg" class="red">*</em>
                <td><div class="Validform_checktip"></div></td>
                  </td>
              </tr>
              <tr>
                <td><label>&nbsp;</label></td>
                <td><input style="margin-right:20px;" name="submit" type="submit" class="orangebut" id="btn_consignee_save" value="保存" title="保存">
                  <input type="button" class="cancelBtn" value="取消" id="btn_consignee_cancle" title="取消"></td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td><span style="font-size:12px; color:#db3752;">注：带*的为必填项</span></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      {wc:if:end}
      
    </div>
