{wc:templates "index","header"}

<style type="text/css">
.bind_box{width:1200px;margin:50px auto 10px;}
.bind_tit{text-align:center;font-size:18px;}
.input_box{width:300px;margin:40px auto 0;}
.bind_item{margin:20px 0 5px;height:36px;line-height:36px;}

#mobile{height:36px;border:1px solid #c7c4c4;width:220px;padding-left:5px;}
#code{height:36px;border:1px solid #c7c4c4;width:130px;padding-left:5px;}
#do_send{height:36px;border:1px solid #c7c4c4;width:80px;margin-left:10px;background:#da4453;color:#fff;}
.submit{text-align:center;}
.submit input{height:36px;width:220px;border:1px solid #c7c4c4;background:#da4453;color:#fff;}

.mobile_msg{margin-left:50px;color:red;height:15px;line-height:15px;}
.code_msg{margin-left:50px;color:red;height:15px;}
</style>
<script type="text/javascript" src="{G_WEB_PATH}/statics/plugin/layer/new/newlayer.js"></script>

<div class="bind_box">
	<h3 class="bind_tit">绑定手机号码</h3>
 
	 <div class="input_box">
		<div class="bind_item">手机号：<input type="text" placeholder="请输入手机号" name="mobile"  id="mobile"/></div>
		<p class="mobile_msg"></p>
		
		<div class="bind_item">验证码：<input type="text" placeholder="请输入验证码" name="code" id="code" /><input type="button" id="do_send"  value="发送验证码"/></div>
		<p class="code_msg"></p>
		
		<div class="bind_item submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="do_bind" value="提交"/></div>
	</div>
</div>

{wc:php:start}
$partner = "ZLWEBAPITOWEB";
$key = "8O3F4ADJ600FQCA6D911G41DC38A4H5L";
$timestamp = time();
$sign = md5($partner.$timestamp.$key);
$send_url = G_WEB_PATH . "/index.php/yunapi/member/send_mod_mobile_code";
$bind_url = G_WEB_PATH . "/index.php/yunapi/member/do_save_mobile";
{wc:php:end}


<script type="text/javascript">
$(function(){
	var uid = "{wc:$uid}";
	var partner = "{wc:$partner}";
	var timestamp = "{wc:$timestamp}";
	var sign = "{wc:$sign}";
	var send_url = "{wc:$send_url}";
	var bind_url = "{wc:$bind_url}";
	console.log(uid)
	//发送验证码
	$("#do_send").click(function(){
		var mobile = $('#mobile').val();
		if(!mobile){
			$('.mobile_msg').text("*请输入手机号");
			$("#mobile").focus();
			return false;
		}
		
		$.get(send_url, {uid:uid,mobile:mobile,partner:partner,timestamp:timestamp,sign:sign}, function(_data){
			if(_data.status==0){
				layer.msg(_data.message);
	        	return false;
			}else{
				layer.msg("发送成功");
			}
		},'json');
	});
	
	$("#mobile").blur(function(){
		if( ! this.value){
			$('.mobile_msg').text("*请输入手机号");
			$("#mobile").focus();
		}else{
			$('.mobile_msg').text('');
		}
	});
	$("#code").blur(function(){
		if( ! this.value){
			$('.code_msg').text("*请输入验证码");
			$("#code").focus();
		}else{
			$('.code_msg').text('');
		}
	});
	
	//提交
	$("#do_bind").click(function(){
		var mobile = $('#mobile').val();
		var code = $('#code').val();
		if(!mobile){
			$('.mobile_msg').text("*请输入手机号");
			$("#mobile").focus();
			return false;
		}
		if(!code){
			$('.code_msg').text("*请输入验证码");
			$("#code").focus();
			return false;
		}
		$.get(bind_url,{uid:uid,mobile:mobile,code:code,partner:partner,timestamp:timestamp,sign:sign},function(_data){
			if(_data.status==1){
				layer.msg('绑定成功');
				window.location.href="{WEB_PATH}/member/home/userbuylist";
			}else{
				var msg = _data.message;
				if(msg.indexOf('手机')>=0){
					$('.mobile_msg').text("*请输入手机号");
					$("#mobile").focus();
					return false;
				}else if(msg.indexOf('验证码')>=0){
					$('.code_msg').text("*请输入验证码");
					$("#code").focus();
					return false;
				}else{
					layer.msg(_data.message);
				}
			}
		},'json');
	});

});
</script>




{wc:templates "index","footer"}