{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-recharge.css"/>
<style>
.dopay_title {
    border-bottom: 2px solid #888;
    color: #000;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 40px;
	font-weight:normal;
}
.choose{color: #808080;font-size: 12px;margin:20px auto;width:100%;overflow:hidden; font-weight: bold;
    line-height: 60px;
    margin-right: 10px;}
.fl{float:left;}
.m_tit{line-height:46px;}
.m_money{
    height: 46px;
    line-height: 46px;
	background: #fff none repeat scroll 0 0;
    border: 2px solid #ffccca;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 146px;
	}
.m_money:hover{
 border-color: #ff2e63;
    border-width: 3px;
    height: 44px;
    line-height: 44px;
    width: 144px;
}
.ts{border-color: #ff2e63;
    border-width: 3px;
    height: 44px;
    line-height: 44px;
    width: 144px;
}
.defa{color:#3d3d3d;}
.other_money{width:50px;border: 1px solid #ababab;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) inset;
    outline: medium none;
    padding: 2px;
}
.m_money .other_tit{font-size:12px;}
</style>

<div style="margin:0 auto; width:1200px;padding:10px 0;position:relative;">
	<div style="padding: 80px 100px 20px;">
		<h1 class="dopay_title">充值幸运豆</h1>
		<div class="choose choose_money">
			<div class="fl m_tit">选择金额：</div>
			<div class="fl m_money ts defa">1元</div>
			<div class="fl m_money"><span class="other_tit">其他金额</span> <input class="other_money" type="text" name="money"/></div>
		</div>
		<div class="choose choose_pay">
			<div class="fl p_tit">支付方式：</div>
		</div>
	</div>
</div>



<script>
$(function(){
	$('.m_money').click(function(){
		$('.m_money').removeClass('ts');
		$(this).addClass('ts');
		$(this).find('input[name="money"]').focus();
	});

});
</script>
{wc:templates "index","footer"}