{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
{wc:templates "member","member_nav"}.


<style type="text/css">
	.box_main{width:700px;margin:0 20px;}
	.fl{float:left;}
	.tg_link{height:25px;line-height:25px;margin:10px 0;}
	.tg{width:500px;height:25px; border:1px solid #ccc;}
	.cop{margin-left:5px;}
	.f_list{width:100%;margin-top:10px;}
	.f_list tr td{border:1px solid #ccc;height:28px;line-height:28px;text-indent:5px;}
</style>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/ZeroClipboard.js"></script>

<div class="box_main">
<div>我的推广ID：{wc:$tg_uid}</div>
<div class="tg_link" id="tg_link">
		<div class="fl">我的推广链接：</div>
		<input id="txtInfo"  class="fl tg" disabled="disabled" value="{WEB_PATH}/register/{wc:$uid}" onpaste="return false" type="text">								
		<div id="d_clip_container" style="position:relative;"><div id="d_clip_button" class="bluebut fl cop" style="text-align:center;height:24px;"  >复制</div></div>
</div>
{wc:if $total >0}
<div>成功邀请 {wc:$total} 位好友注册,共获得 {wc:$total_jifen} 积分</div>
{wc:if:end}

<div style="margin-top:10px;">
    邀请好友列表


    <a href="{WEB_PATH}/uname/{wc:$yaoqing_user['uid']}" style="display: inline-block;float: right;">
        <font style="color: #00c0ff">邀请人：{wc:$yaoqing_user['username']}</font>
        <img src="{G_UPLOAD_PATH}/{wc:$yaoqing_user['img']}" alt="" width="20"height="20"/>
    </a>

</div>
<table class="f_list">
<tr>
	<td>用户ID</td>
	<td>用户名</td>
	<td>充值奖励(积分)</td>
	<td>邀请时间</td>
</tr>

{wc:if $total>0}

	{wc:loop $list $key $val}
	<tr>
		<td>{wc:$val['uid']}</td>
		<td>{wc:$val['username']}</td>
		<td>{wc:$val['jifen']}</td>
		<td>{wc:$val['time']}</td>
	</tr>				
	{wc:loop:end}
	
{wc:else}

<tr><td colspan="4">您还没有邀请好友哦！</td></tr>
 
{wc:if:end}			


</table>

{wc:if $total!=0}
<div style="margin-top:10px;float:right;">{wc:page:two}</div>
{wc:if:end}

</div>

	
	
</div>

<script>
 var clip = null;	
function copy(id){ return document.getElementById(id); }	
function initx(){
	clip = new ZeroClipboard.Client();
	clip.setHandCursor(true);
	ZeroClipboard.setMoviePath("{G_TEMPLATES_STYLE}/js/ZeroClipboard.swf");
	clip.addEventListener('mouseOver',function (client){
		clip.setText(copy('txtInfo').value );
	});		
	clip.addEventListener('complete',function(client,text){
		alert("邀请复制成功");
	});		
	clip.glue('d_clip_button','d_clip_container');
}
$(function(){
	initx();
})

</script>



{wc:templates "index","footer"}