{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	<div class="memberxh_title">
    	<ul>
        	<li class="current"><a href="#">夺宝记录</a></li>
            <li><a href="#">中奖记录</a></li>
            <li><a href="#">多起参与</a></li>
            <li><a href="#">晒单</a></li>
        </ul>
    </div>
    <div class="memberxhcontains_serach">
    	<div class="memberxhcontains_serachl">
        	<span class="current">全部</span><span>今天</span><span>本周</span><span>本月</span>
        </div>
        <div class="memberxhcontains_serachr">
        	选择时间段: <input type="submit" name="search_time" value="搜索"/>
        </div>
    </div>
    <!--夺宝信息标题-->
    <table cellpadding="0" cellspacing="0" class="memberxh_duobaotitle" >
        <tr>
            <td width="12%" align="center">商品图片</td>
            <td width="35%" align="left">号商品名称</td>
            <td width="20%" align="center">商品期</td>
            <td width="12%" align="center">夺宝状态</td>
            <td width="10%" align="center">参与人次</td>
            <td width="10%" align="center">操作</td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="memberxh_duobaocontent" >
    	{wc:loop $record $rt}
        {wc:php:start}
        	echo count($record);
        	$jiexiao = get_shop_if_jiexiao($rt['shopid']);
        {wc:php:end}
		{wc:if $jiexiao['q_uid']}
    	<tr><td height="15px"></td></tr>
    	<tr class="memberxh_duobaocontenttr">
        	
        	<td width="12%" align="center" valign="top" class="member_buyimg">
            	<a href="{WEB_PATH}/dataserver/{wc:$rt['shopid']}_{wc:$rt['shopqishu']}" target="_blank">
                	<img src="{G_UPLOAD_PATH}/{wc:$jiexiao['thumb']}" />
                </a>
            </td>
            <td width="35%">
            	<table cellpadding="0" cellspacing="0" class="memberxh_duobaocontentinfo">
                	<tr><td class="membercolor_blur01">Apple MacBook Pro 15.4英寸笔记本</td></tr>
                    <tr><td>总需：14288人次</td></tr>
                    <tr><td>获得者：<span class="membercolor_blur01">
                    	<a href="{WEB_PATH}/uname/{wc:fun:idjia($jiexiao['q_uid'])}">{wc:fun:get_user_name($jiexiao['q_user'])}</a></span>（本期共参与10人次）</td></tr>
                    <tr><td>幸运号码：<span class="membercolor_red01">10009677</span></td></tr>
                    <tr><td>揭晓时间：<span>{wc:fun:microt($rt['time'])}</span></td></tr>
                	<tr><td height="15px"></td></tr>
                </table>
            </td>
            <td width="20%" align="center" valign="top">第({wc:$rt['shopqishu']})期 {wc:$rt['shopname']}</td>
            <td width="12%" align="center" valign="top"  class="membercolor_red01">已揭晓</td>
            <td width="10%" align="center" valign="top">{wc:$rt['gonumber']}人次</td>
            <td width="10%" align="center" valign="top">
            	<a href="{WEB_PATH}/member/home/userbuydetail/{wc:$rt['id']}" target="_blank" class="membercolor_blur01">详情</a>
            </td>
        </tr>
        {wc:else}
        <tr><td height="15px"></td></tr>
    	<tr class="memberxh_duobaocontenttr">
        	
        	<td width="12%" align="center" valign="top">
            	<a href="{WEB_PATH}/dataserver/{wc:$rt['shopid']}_{wc:$rt['shopqishu']}" target="_blank">
                	<img src="{G_UPLOAD_PATH}/{wc:$jiexiao['thumb']}" />
                </a>
            </td>
            <td width="35%">
            	<table cellpadding="0" cellspacing="0" class="memberxh_duobaocontentinfo">
                	<tr><td class="membercolor_blur01">Apple MacBook Pro 15.4英寸笔记本</td></tr>
                    <tr><td>总需：14288人次</td></tr>
                	<tr><td height="15px"></td></tr>
                </table>
            </td>
            <td width="20%" align="center" valign="top">第({wc:$rt['shopqishu']})期 {wc:$rt['shopname']}</td>
            <td width="12%" align="center" valign="top"  class="membercolor_red01">正在揭晓</td>
            <td width="10%" align="center" valign="top">{wc:$rt['gonumber']}人次</td>
            <td width="10%" align="center" valign="top">
            	<a href="{WEB_PATH}/{wc:$rt['id']}" target="_blank" class="membercolor_blur01">详情</a>
            </td>
        </tr>
        
        {wc:if:end}
		{wc:loop:end}
    
    </table>

</div>

{wc:templates "index","footer"}