{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-setUp.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-Frame.css"/>

<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".registerform").Validform({
		tiptype:2,
		beforeSubmit:function(curform){
			//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话表单将不会提交;			
			//$.Hidemsg();
			var x_data = $(curform).serialize();
			x_data = x_data+"&submit=submit";
			var rurl = '{WEB_PATH}/member/home/sendsuccess';
			$.ajax({
				url:rurl,
				data:x_data,
				type:"POST",
				success:function(data){
					var _data=$.parseJSON(data);
					if(_data.error == "1"){
						msg_show.waring(_data.msg);
					}else if(_data.error == "0"){
						msg_show.success(_data.msg,_data.url);
					}
				}
			});
			return false;
		}
	});
})
</script>
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	<div class="R-content">
		<div class="member-t" style="width:75%; margin:30px auto auto auto">
			<h2>邮箱验证</h2>
			<a href="javascript:history.go(-1);" class="blue">&lt;&lt; 返回</a>
		</div>
		<div class="email_verification">
			<div class="prompt orange">请完成邮箱验证，认证邮箱不仅能加强账户安全，快速找回密码，还会在您成功夺宝到商品后及时通知您！<em></em></div>
			<form class="registerform" method="post" action="">
			<div class="text_email">
				<span>输入邮箱地址：</span>
				<input datatype="e"  nullmsg="不能为空" errormsg="邮箱格式错误" name="email" type="text" maxlength="100" class="email"/>
				<input name="submit" type="submit" class="orangebut" value="发送验证邮件"/>			
			</div>
			<div  class="text_email" style="padding-top:0px"><div class="Validform_checktip">点击“发送验证邮件”1元夺宝系统将会给您发送一封验证邮件到您的邮箱！</div></div>
			</form>
		</div>
	</div>
		
</div>
{wc:templates "index","footer"}