<div class="memberxh_title">
	<ul>
		<li {wc:if $current_status=='uname'}class="current"{wc:else}{wc:if:end}><a href="{WEB_PATH}/uname/{wc:$_url}">夺宝记录</a></li>
		<li {wc:if $current_status=='userraffle'}class="current"{wc:if:end}><a href="{WEB_PATH}/userraffle/{wc:$_url}">中奖记录</a></li>
		<li {wc:if $current_status=='userbuy'}class="current"{wc:if:end} ><a href="{WEB_PATH}/userbuy/{wc:$_url}">晒单</a></li>
		<li style="width:62.688%;border-right:none"></li>
	</ul>
</div>