<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/member_style.css"/>
<div class="member_personal_top"><a href="{wc:WEB_PATH}" target="_blank" style="color:#999">首页&nbsp;&nbsp;>&nbsp;&nbsp;</a><span class="membercolor_red02">个人中心</span></div>
<div class="member_personinfo">
	<div class="member_personinfoleft">
    	<img src="{G_UPLOAD_PATH}/{wc:fun:get_user_img('160160')}" />
    </div>	
    <div class="member_personinforight">
    	<h4 class="member_personinforight_user"><span>{wc:fun:get_user_name(get_user_arr(),'username')}</span><a href="javascript:void(0)" id="member_personinforight_user">编辑</a></h4>
        <p class="member_personinforight_userid membermar_01">用户ID：<span style="color:#3C3C3C; font-weight:bold">{wc:fun:get_user_uid()}</span></p>
        <div class="member_personinforight_login membermar_02">
        	<p>手机号码：<span style="color:#3C3C3C; font-weight:bold">{wc:fun:get_user_key($member['uid'],'mobile')}</span> 
				{wc:if $member['mobilecode']=='0'}<a href="{WEB_PATH}/member/home/mobilechecking" class="member_personinfo_loginup">绑定手机号码</a>{wc:if:end}
			</p>
            <p class="membermar_02">账户余额：<span class="membercolor_red02">{wc:fun:get_user_key($member['uid'],'money')}</span> 幸运豆<a href="{WEB_PATH}/member/home/userrecharge" class="member_personinfo_loginch">充值</a></p>
        </div>
        <div style="width:100%;height:30px;">
        </div>
    	<!--<p>
    		{wc:if $member['wx_id']>0}<a href="javascript:;" onclick="godie({wc:$member['wx_id']},'wx');" style="color:royalblue;text-decoration: underline !important;">解绑微信</a>{wc:if:end}
    		{wc:if $member['qq_id']>0}<a href="javascript:;" onclick="godie({wc:$member['qq_id']},'qq');" style="color:royalblue;text-decoration: underline !important;">解绑QQ</a>{wc:if:end}
    	</p>-->
    </div>

</div>
<div style="height:30px;"></div>
{wc:templates "index","outbox"}
<style>
.add_input{color:#3C3C3C;background:#F2F2F2; border:1px solid #FFF; height:22px; line-height:22px; font-size:14x;font-weight:bold}
.username_noticle{ color:#D23726; padding-left:10px; font-size:12px;}
</style>
<script type="text/javascript">

	var uid = {wc:$member['uid']};
	function godie(id,type){
		if(id>0){
			$.ajax({
				
				type:'POST',
				url:'http://www.yz-db.com/new/Api/Seclogin/godie',
				data:{
					paterner:'ZLAPITOH5WAP',
					timestamp:'1469091184',
					sign:'e89a9ce038367a6d05912a76251af34c',
					id:id,
					uid:uid,
					type:type,
				},
				dataType:'json',
				success:function(response){
					console.log(response);
					if(response.status == 1){
						$('.Model_text').text('解绑成功！');
						$('#Model_fade').click();
						setTimeout(function(){
							window.location.reload(true);
						},2000);
					}else{
						$('.Model_text').text('解绑失败！');
						$('#Model_fade').click();
					}
					
				},
				error:function(){
					$('#Model_text').text('检查网络！');
					$('#Model_fade').click();
				}
			});
		}
		
	}
var __URL__ = "{wc:WEB_PATH}";


</script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/new/ajax_username.js"></script>