<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/member_style.css"/>
<div class="member_personal_top"><a href="{wc:WEB_PATH}" target="_blank" style="color:#999">首页&nbsp;&nbsp;>&nbsp;&nbsp;</a><span class="membercolor_red02">个人中心</span></div>
<div class="member_personinfo">
	<div class="member_personinfoleft">
    	<!-- <img src="{G_UPLOAD_PATH}/{wc:$member['img']}" /> -->
    	<img src="{G_UPLOAD_PATH}/{wc:fun:get_user_img('160160')}" />
    </div>	
    <div class="member_personinforight">
    	<h4 class="member_personinforight_user"><span>{wc:fun:get_user_name($member['uid'],'username')}</span></h4>
        <p class="member_personinforight_userid membermar_01">用户ID：<span style="color:#3C3C3C; font-weight:bold">{wc:$member['uid']}</span></p>
    
    </div>
</div>
<div style="height:30px;"></div>