{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-setUp.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-Frame.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/member_style.css"/>

<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>
<script type="text/javascript">
$(function(){
	var demo=$("#tel_verification").Validform({
		tiptype:3,
		beforeSubmit:function(curform){
			//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话表单将不会提交;			
			//$.Hidemsg();
			var x_data = $(curform).serialize();
			x_data = x_data+"&submit=submit";
			var rurl = '{wc:WEB_PATH}/member/home/mobilesuccess';
			$.ajax({
				url:rurl,
				data:x_data,
				type:"POST",
				success:function(data){
					var _data=$.parseJSON(data);
					if(_data.error == "1"){
						msg_show.waring(_data.msg);
					}else if(_data.error == "0"){
						msg_show.success(_data.msg,_data.url);
						return false;
					}
				}
			});
			return false;
		}
	});
})
</script>
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
    <div class="R-content">
        <div class="member-t" style="width:75%; margin:30px auto auto auto"><h2>手机验证</h2><a href="javascript:history.go(-1);" class="blue">&lt;&lt; 返回</a></div>
        <div class="tel_verification">
            <div class="prompt orange">请完成手机验证，验证手机不仅能加强账户安全，快速找回密码，还会在您成功夺宝到商品后及时通知您！<em></em></div>
            <form method="post" action="" id="tel_verification">
            <div class="text_tel" id="divSend" style="display: block; margin-left:50px;">
                <span>第一步输入手机号码：</span>
                <input  datatype="m" ajaxurl="{wc:WEB_PATH}/member/home/mailchackajax" nullmsg="不能为空" errormsg="您输入的手机号码有误" name="mobile" type="text" class="tel" maxlength="11">
                <input type="submit" name="submit" class="orangebut" value="确认手机号码">
                <div class="Validform_checktip"></div>
            </div>
            </form>		
        </div>
    </div>
		
</div>
{wc:templates "index","footer"}