{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	{wc:if count($record)==0}
		<div style="member_noticle_tishi"><i></i>还没有中奖记录，赶快<a href="{wc:WEB_PATH}" target="_blank" class="membercolor_blur01">去参加</a>吧！</div>
	{wc:else}
   <div class="member_shaidanstatus">
        <a href="#">已经晒单</a> | <a href="#">未晒单</a>
    </div>
    <!--中奖记录-->
	
    
    <style>
		#divPageNav{ padding-top:10px;text-align:right}
		#divPageNav li a{ padding:5px;}
	</style>
    <div id="divPageNav" class="page_nav">
        {wc:page:one} <li>共 {wc:$total} 条</li>
    </div>
	{wc:if:end}
</div>

{wc:templates "index","footer"}