{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-recharge.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/weixin_success.css"/>
<div class="box">
	<div class="message">
		<b class="yes_ico"></b>
		<h1 class="gxn"><a href="{WEB_PATH}/member/home/userbalance">恭喜您，充值成功！返回个人中心查看</a></h1>
		<p class="now">您现在可以 <a class="fhsy" href="/">返回首页</a></p>
		
	</div>
	
	<div class="guss_youlove">
		<div class="guss_youlove_top">
			<p>猜你喜欢</p>
			<a href="{WEB_PATH}/goods_list">想看更多精彩，逛一下吧！</a>
		</div>
		<ul>
			{wc:loop $canyoulist $love}
			<li>
				<div class="guss_youimg"><a href="{WEB_PATH}/goods/{wc:$love['id']}"><img src="{G_UPLOAD_PATH}/{wc:$love['thumb']}" /></a></div>
				<div class="guss_youimg_p">
					<p><a href="{WEB_PATH}/goods/{wc:$love['id']}" class="xh_overflow_x">{wc:$love['title']}</a></p>
					<p class="sec">总需人数：{wc:$love['zongrenshu']}人次</p>
				</div>
				<div style="height:15px"></div>
			</li>
			{wc:loop:end}
		</ul>
	</div>
</div>
<div style="clear:both;height:30px;"></div>

<script>
$(function(){


});
</script>
{wc:templates "index","footer"}