<div class="memberxhcontains_serach">
	<div class="memberxhcontains_serachl">
		<span {wc:if $action=='' || $action=='all'}class="current"{wc:if:end}>全部</span>
		<span {wc:if $action=='today'}class="current"{wc:if:end}>今天</span>
		<span {wc:if $action=='weekend'}class="current"{wc:if:end}>本周</span>
		<span {wc:if $action=='month'}class="current"{wc:if:end}>本月</span>
	</div>
	<div class="memberxhcontains_serachr">
		
	
	</div>
</div>
<style>
	/*
	.serach_box{
		height:40px;
		padding: 10px;
		background: #0000FF;
	}
	.serach_things{
		border:none;
	}*/
</style>