{wc:templates "index","header"}
<script type="text/javascript" charset="utf-8" src="{G_PLUGIN_PATH}/uploadify/jquery.uploadify-3.1.min.js"></script>
<link rel="stylesheet" href="{G_PLUGIN_PATH}/uploadify/uploadify.css" type="text/css"> 

<!--a-->
<script type="text/javascript">
var editurl=Array();
editurl['editurl']="{G_PLUGIN_PATH}/ueditor/";
editurl['imageupurl']="{WEB_PATH}/{G_ADMIN_DIR}/ueditor/upimage/";
editurl['imageManager']="{WEB_PATH}/{G_ADMIN_DIR}/ueditor/imagemanager";
</script>
<script type="text/javascript" charset="utf-8" src="{G_PLUGIN_PATH}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{G_PLUGIN_PATH}/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>

<script>
//上传文件
$(function(){
	/*2015/1208start*/
	$("#sd_text").focus();
	/*2015/1208end*/
    $('#sd_file').uploadify({
    	'auto'     : false,
    	'removeTimeout' : 1,
        'swf'      : '{G_PLUGIN_PATH}/uploadify/uploadify.swf',
        'uploader' : '{WEB_PATH}/member/home/singphotoup',
        'method'   : 'post',
		'buttonText' : '选择图片',
		'buttonImage': '{G_PLUGIN_PATH}/uploadify/select.png',
		'width': 120,
		'height': 30,
        'multi'    : true,
		'uploadLimit' : 10,
		'queueID'         : 'fileQueue',
        'fileTypeDesc' : 'Image Files',
        'fileTypeExts' : '*.gif; *.jpg; *.png',
        'fileSizeLimit' : '500KB',

		'formData'        : {
			'uid': '{wc:$uid}',			
			'ushell':'{wc:$ushell}'
		},	
		'onUploadSuccess' : function(file, data, response){		
			$(".fileWarp ul").append(SetImgContent(data));
			SetUploadFile();
		}
    });
	
	//2015/12/09晒单
	$("#shadanList").Validform({
		postonce:true,
		usePlugin:{
			passwordstrength:{
				minLen:6,
				maxLen:20
			}
		},
	    beforeSubmit:function(curform){
			//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话表单将不会提交;			
			//$.Hidemsg();
			var x_data = $(curform).serialize();
			if(x_data){
				$("#sd_submit").attr('disabled',true);
			}
			x_data = x_data+"&submit=submit";
			//console.log(x_data);return false;
			var rurl = '{WEB_PATH}/member/home/singleinsert';
			$.ajax({
				url:rurl,
				data:x_data,
				type:"POST",
				success:function(data){
					var _data=$.parseJSON(data);
					if(_data.error == "1"){
						$("#sd_submit").attr('disabled',false);
						msg_show.waring(_data.msg);
					}else if(_data.error == "0"){
						msg_show.success(_data.msg,_data.url);
					}
				}
			});
			return false;
		}
	});
	
});
function sdUpload(){
		$('#sd_file').uploadify('settings','formData',{'typeCode':document.getElementById('id_file').value});
		$('#sd_file').uploadify('upload','*')
	}
//显示上传的图片
function SetImgContent(data){
	var sLi = "";
		sLi += '<li>';
		sLi += '<img src="{G_UPLOAD_PATH}/' + data + '" width="100" height="100" />';
		sLi += '<input type="hidden" name="fileurl_tmp[]" value="' + data + '">';
		sLi += '<a href="javascript:;">删除</a>';
		sLi += '</li>';
	return sLi;
}

//删除上传元素DOM并清除目录文件
function SetUploadFile(){
	$(".fileWarp ul li").each(function(l_i){
		$(this).attr("id", "li_" + l_i);
	})
	$(".fileWarp ul li a").each(function(a_i){
		$(this).attr("rel", "li_" + a_i);
	}).click(function(){
		$.get(
			'{WEB_PATH}/member/home/singdel',
			{action:"del", filename:$(this).prev().val()},
			function(){}
		);
		$("#" + this.rel).remove();
	})
}
</script>
<style>
 
</style>
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	<div class="member_addshaidan">
		
		<form  action="#" method="post" id="shadanList">	
			<div class="sd_lilie">
				<span class="sd_span">标题：</span>
				<input id="sd_text" type="text" name="title" />
			</div>
			<div style="height:20px;"></div>
			<div class="sd_lilie">
				<span class="sd_span">内容：</span>
				<!--textarea id="sd_textarea" name="content" ></textarea-->
				<div style="float: left;" onfocus="this.value=''">
					<script name="content" id="myeditor" type="text/plain"></script>
					<style>
					.content_attr {
						border: 1px solid #CCC;
						padding: 5px 8px;
						background: #FFC;
						margin-top: 6px;
						width:915px;
					}
					</style>
					<script type="text/javascript">
					//实例化编辑器
					UEDITOR_CONFIG.toolbars = [["source","fontfamily","fontsize","bold","italic","underline","backcolor","link","unlink","justifyleft","justifycenter","justifyright","justifyjustify","insertunorderedlist","insertorderedlist",]];
					UEDITOR_CONFIG.initialFrameWidth = 600;
					UEDITOR_CONFIG.initialFrameHeight = 400;
					var ue = UE.getEditor('myeditor');
					ue.addListener('ready',function(){
						
					});
					</script>
				</div>
			</div>
			<div style="height:20px;"></div>
			<div class="sd_lilie">
				<span class="sd_span">晒图：</span>
				<div style="float:left; width:400px;">
					<input id="sd_file" type="file" name="upimg"/>				
					<div style="width:710px; float:left;"></div>
					<input type="hidden" name="imglist" id="id_file" />
					<div onClick="sdUpload()" class='xh_upload' >上传图片</div>
					<div class="fileWarp"><div id="fileQueue"></div><ul></ul></div>			
				</div>
			</div>
			<input type="hidden" name='sd_recoverid' value='{wc:$recoverid}'/>
			<div class="sd_lilie" style="width:580px;">
			<input id="sd_submit" name="submit" type="submit" value="确认添加" />
			</div>
		</form>
	</div>

</div>
{wc:templates "index","footer"}