{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	
    <div class="member_shaidanstatus">中奖商品-详情</div>

    <!--中奖-详情-->
	<style>
	.shop_status_you span{color:red}
	</style>
    <div class="member_user_winner">
    	<div class="winner_detail">
        	<div class="winner_detail_first">
                订单编号：{wc:$recover_info['code']}
                <br/>
            	当前状态：{wc:$recover_info['status_info']}
				{wc:if $recover_info['confrim_addr'] && $recover_info['confrim_addr_time']}
					<b class="shop_status_you">
					&nbsp;&nbsp;
					<b>您确认的收货地址：{wc:$recover_info['confrim_addr']}</b>
					<b>确认时间：{wc:fun:now_time($recover_info['confrim_addr_time'])}</b>
					</b>
				{wc:else}
					<a class="shop_status_you_no">点击确认</a>	
				{wc:if:end}			
            </div>
            <div class="winner_detail_second">
                <p>再次恭喜您获得本商品，祝你夺宝愉快~!</p>
            </div>
             <div class="winner_detail_three">
            	<span style="float:left">将信息分享到</span>
<div class="social-icons" style="float:left; margin-left:15px; margin-top:-5px">
			
           <span class="bdsharebuttonbox">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
		   </span>
<script>
setTimeout(function(){
	window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
},1000);
            
</script>          				 
		 </div>
            </div>
            <div class="winner_detail_fourth">
            	<h3>物流信息</h3>
                <p>物流公司：{wc:if empty($recover_info['company'])}{wc:$recover_info['status_info']}{wc:else}{wc:$recover_info['company']}{wc:if:end}</p>
                <P>订单号：{wc:if empty($recover_info['company_code'])}{wc:$recover_info['status_info']}{wc:else}{wc:$recover_info['company_code']}{wc:if:end}</P>
            </div>
        </div>
		
    </div>
    <div class="winner_infotitlte">
    	<ul class="title">
        	<li style="width:20%">商品图片</li>
            <li style="width:30%; text-align:left">商品名称</li>
            <li style="width:20%">商品价格</li>
            <li style="width:20%">商品状态</li>
            <li style="width:9%">数量</li>
        </ul>
        <ul class="content">
        	<li style="width:20%"><a href="{wc:WEB_PATH}/dataserver/{wc:$recover_info['shopid']}" target="_blank"><img src="{wc:G_UPLOAD_PATH}/{wc:$recover_info['thumb']}" width="60px" height="60px"/></a></li>
            <li style="width:30%; text-align:left">
            	<p>名称：<span><a href="{wc:WEB_PATH}/dataserver/{wc:$recover_info['shopid']}" class="membercolor_blur01" target="_blank">{wc:$recover_info['shopname']}</a></span></p>
                <p>期号：第（{wc:$recover_info['shopqishu']}）期</p>
                <p>幸运号：<span  class="membercolor_red01">{wc:$recover_info['huode']}</span></p>
                <p>揭晓时间：{wc:fun:now_time($recover_info['q_end_time'])}</p>
            </li>
            <li style="width:20%">￥{wc:$recover_info['moneycount']}</li>
            <li style="width:20%">
            	<p>{wc:$recover_info['status_info']}</p>
                <div style="height:5px"></div>
               {wc:if empty($arr_action) && $recover_info['status_info']=='已签收'}
                   <p><a href="javascript:void(0)" class="member_xiangqing" id="singledetailshaidan">晒单</a></p> 
					<input type="hidden" value="{wc:$recover_info['id']}" id="recover_id"/>
               {wc:if:end}
            </li>
            <li style="width:9%">{wc:fun:get_user_goods_num($recover_info['uid'],$recover_info['shopid'])}</li>
        </ul>
    
    </div>
</div>

<!--确认收获地址-->
<span id="xh_confirm" style="display:none">
{wc:templates "member","address_click"}
</span>


<script type="text/javascript">
$(function(){
	$(".member_shaidanstatus a").click(function(){
		$(".member_shaidanstatus a").removeClass("current");
		$(this).addClass("current");
		$(".member_user_winner").hide();
		
		var _index= parseInt($(this).index());
		$(".member_user_winner").eq(_index).show();
		if($(".member_user_winner").eq(_index).find("li").length>0){
			$(".member_noticle_tishi").hide();		
		}
	});
	
	<!--确认收获地址-->
	var confirm_addr = "{wc:$recover_info['confrim_addr']}";
	var confirm_addr_time = "{wc:$recover_info['confrim_addr_time']}";
	if(!confirm_addr || !confirm_addr_time){
		$("#xh_confirm").show();
		
	}else{
		$("#xh_confirm").hide();

	}
	
	
	//添加晒单
	$("#singledetailshaidan").click(function(){
		var recover_id = $("#recover_id").val();
		var rurl = '{WEB_PATH}/member/home/addsinglestatus';
		$.ajax({
			url:rurl,
			data:{recover_id:recover_id,action:'page'},
			type:"POST",
			success:function(data){
				var _data=$.parseJSON(data);
				if(_data.error == "1"){
					msg_show.waring(_data.msg);
				}else if(_data.error == "0"){
					//msg_show.success(_data.msg,_data.url);
					window.location.href = _data.url;
				}
			}
		});
		return false;
	});
});
</script>


{wc:templates "index","footer"}