{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	
    <div class="member_shaidanstatus">
        <a href="javascript:void(0)" class="current">已经晒单</a> | <a href="javascript:void(0)">未晒单</a>
		<span style="font-size:12px; font-weight:bold">&nbsp;&nbsp;(确认收货后才能晒单！)</span>
    </div>
	
    <!--中奖记录-->
    <div class="member_user_winner">
		{wc:if count($shaidan)==0}
		<div class="member_noticle_tishi"><i></i>暂时没有晒单记录</div>
		{wc:else}
    	<ul>
        	{wc:loop $shaidan $sd}
            <li class="setheight">
            	<div class="member_user_shaidan"><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:find_orginimg($sd['sd_thumbs'])}" /></a>
                </div>
            	<div class="member_shaidantop">
                	<p><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="membercolor_blur01" target="_blank">{wc:fun:_strcut($sd['title'],60)}</a></p>
                    <p>幸运号码：<span class="membercolor_red01">{wc:$sd['q_user_code']}</span></p>
                </div>
                <div class="member_shaidanbottom">
                	<h5 style="font-size:14px"><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank" class="membercolor_blur01" >{wc:$sd['sd_title']}</a></h5>
					<p style="color:#adadad">{wc:fun:now_time($sd['sd_time'])}</p>
                    <p class="content xh_overflow_x">{wc:fun:_strcut($sd['sd_content'],30)}</p>
                </div>
            </li>
           {wc:loop:end}
        </ul>
		{wc:if:end}
    </div>
 

    <!--未晒单的-->
    <div class="member_user_winner" style="display:none">
		 {wc:if $record==null}
		<div class="member_noticle_tishi"><i></i>暂时没有中奖记录</div>
		  {wc:else}
		<ul >
        	{wc:loop $record $sd}
        	<li>
            	<div class="member_user_winnerimg"><a href="{WEB_PATH}/goods/{wc:$sd['shopid']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:shoplisext($sd['shopid'],'thumb')}" /></a></div>
            	<h4 style="height:56px; !important"><a href="{WEB_PATH}/goods/{wc:$sd['shopid']}" class="membercolor_blur01" target="_blank">{wc:fun:_strcut(shoplisext($sd['shopid'],'title'),60)}</a></h4>
                <div class="member_user_winnerinfo">
                    <p>总共参与：{wc:$sd['count_gonumber']}人次</p>
                    <p>揭晓时间：{wc:$sd['time']}</p>
                    <p class="member_shaidanbutton addshaidan">添加晒单</p>
                    <input type="hidden" value="{wc:$sd['id']}" name='sd_id'/>
                
                </div>
            </li>
            {wc:loop:end}
        </ul>
		{wc:if:end}
    </div>
    
</div>
<script type="text/javascript">
$(function(){
	$(".member_shaidanstatus a").click(function(){
		$(".member_shaidanstatus a").removeClass("current");
		$(this).addClass("current");
		$(".member_user_winner").hide();
		
		var _index= parseInt($(this).index());
		$(".member_user_winner").eq(_index).show();
		if($(".member_user_winner").eq(_index).find("li").length>0){
			$(".member_noticle_tishi").hide();
		}
		
	});
	
	//添加晒单
	$(".addshaidan").click(function(){
		var recover_id = $(this).siblings('input[name=sd_id]').val();
		var rurl = '{WEB_PATH}/member/home/addsinglestatus';
		$.ajax({
			url:rurl,
			data:{recover_id:recover_id,action:'page'},
			type:"POST",
			success:function(data){
				var _data=$.parseJSON(data);
				if(_data.error == "1"){
					msg_show.waring(_data.msg);
				}else if(_data.error == "0"){
					//msg_show.success(_data.msg,_data.url);
					window.location.href = _data.url;
				}
			}
		});
		return false;
	});
});
</script>


{wc:templates "index","footer"}