{wc:templates "index","header"}
{wc:templates "member","member_top"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-records.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-Frame.css"/>
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	<div class="R-content" >
		<div class="member-t" style="width:96%; margin:30px auto;"><h2>夺宝记录</h2></div>
		{wc:php:start}
				$jiexiao = get_shop_if_jiexiao($shopinfo['id']);

		{wc:php:end}
		{wc:if $jiexiao['q_uid']}
		<div class="yg_record_goods" style="width:96%; margin:0 auto;">
			<a href="{WEB_PATH}/dataserver/{wc:$shopinfo['id']}" target="_blank" class="fl-img"><img src="{G_UPLOAD_PATH}/{wc:$shopinfo['thumb']}"></a>
			<div class="yg_record_r">
				<li><span class="orange">(第{wc:$record['shopqishu']}期)</span> <a target="_blank" href="{WEB_PATH}/dataserver/{wc:$shopinfo['id']}_{wc:$shopinfo['qishu']}" class="blue">{wc:$jiexiao['title']}</a></li>
				<li class="gray02">本期商品夺宝已结束 【获得者：<a href="{WEB_PATH}/uname/{wc:fun:idjia($member['uid'])}" target="_blank" class="blue">
				{wc:fun:get_user_name($jiexiao['q_user'])}</a>
				幸运编号：{wc:$jiexiao['q_user_code']} 】</li>
				<li><a target="_blank" href="{WEB_PATH}/dataserver/{wc:$shopinfo['id']}" class="bluebut">查看详情</a></li></div>
		</div>
		{wc:else}
		<div class="yg_record_goods" style="width:96%; margin:0 auto;">
			<a href="{WEB_PATH}/goods/{wc:$shopinfo['id']}" target="_blank" class="fl-img"><img src="{G_UPLOAD_PATH}/{wc:$shopinfo['thumb']}"></a>
			<div class="yg_record_r">
				<li><span class="orange">(第{wc:$shopinfo['qishu']}期)</span> <a target="_blank" href="{WEB_PATH}/goods/{wc:$shopinfo['id']}" class="blue">{wc:$jiexiao['title']}</a></li>
				<li><a target="_blank" href="{WEB_PATH}/goods/{wc:$shopinfo['id']}" class="bluebut">查看详情</a></li></div>
		</div>
		{wc:if:end}
		<div class="goods-tit gray02" style="width:96%; margin:10px auto;">
			<p class="fl">本期商品您总共夺宝<span>{wc:fun:get_user_goods_num($member['uid'],$shopinfo['id'])}</span>人次 拥有<span>{wc:fun:get_user_goods_num($member['uid'],$shopinfo['id'])}</span>个幸运码</p>
		</div>


		<div class="list-tab goodsList" id="userbuylist">
			<ul class="listTitle">
				<li style="width:15%; text-align:left">夺宝时间</li>
				<li style="width:10%; text-align:center">夺宝人次</li>
				<li style="width:65%; text-align:left">幸运码</li>
			</ul>
            {wc:loop $record $rec}
			<ul>
				<li style="width:15%; text-align:left">{wc:fun:microt($rec['time'])}</li>
				<li style="width:10%; text-align:center">{wc:$rec['gonumber']}人次</li>
				<li class="Code" style="width:65%; text-align:left"><p style="overflow: auto">{wc:$rec['goucode']}</p></li>
			</ul>
            {wc:loop:end}

		</div>

		<div class="goods-tit gray02" style="width:96%; margin:0 auto;">
			<a href="{WEB_PATH}/member/home/userbuylist" class="blue fr" >&lt;&lt; 返回列表</a></div>
	    </div>

</div>
{wc:templates "index","footer"}