{wc:templates "index","header"}
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
    {wc:if count($account)==0}
		<div class="member_noticle_tishi"><i></i>暂时没有充值记录</div>
	{wc:else}
	<!--搜索-->
    {wc:templates "member","search_t"}
	<script type="text/javascript">
	var _action = 'all';
	$(".memberxhcontains_serachl span").click(function(){
		var _index = $(this).index();
		if(_index == 1){
			 _action = 'today';
		}else if(_index == 2){
			 _action = 'weekend';
		}else if(_index == 3){
			 _action = 'month';
		}else{
			 _action = 'all';
		}
		$(".memberxhcontains_serachl span").removeClass("current");
		$(this).addClass("current");
		window.location.href = "{wc:WEB_PATH}/member/home/userbalance/"+_action;
	});
	</script>
    
    <!--账户明细-->
    <table cellpadding="0" cellspacing="0" class="xmember_acount">
    	<tr>
        	<td width="25%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交易号</td>
            <td width="25%" align="center">交易时间</td>	
            <td width="10%" align="center">金额（元）</td>
             <td width="15%" align="center">充值渠道</td>
            <td width="15%" align="center">充值状态</td>
        <tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="xmember_acount_info">
       {wc:loop $account $ac}
       {wc:php:start}
       		$time = time() - 3600;	//超过一小时就算过期
       {wc:php:end}
       {wc:if $ac[time] < $time && $ac[status] == '未付款' }
       <tr>
        	<td width="25%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<s>{wc:$ac['code']}</s></td>	
            <td width="25%" align="center"><s>{wc:fun:now_time($ac['time'])}</s></td>
            <td width="10%" align="center"><s>{wc:$ac['money']}</s></td>
            <td width="15%" align="center"><s>{wc:$ac['pay_type']}</s></td>
            <td width="15%" align="center"><s>已过期</s></td>
        <tr>
       {wc:else}
    	<tr>
        	<td width="25%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{wc:$ac['code']}</td>	
            <td width="25%" align="center">{wc:fun:now_time($ac['time'])}</td>
            <td width="10%" align="center">{wc:$ac['money']}</td>
            <td width="15%" align="center">{wc:$ac['pay_type']}</td>
            {wc:if $ac[status] == '未付款'}
            	<td width="15%" align="center" style="color:red;">
	            	{wc:$ac['status']}&nbsp;
	            	
            	</td>
            {wc:else}
            	<td width="15%" align="center">{wc:$ac['status']}</td>
            {wc:if:end}
        <tr>
        {wc:if:end}
        {wc:loop:end}
    </table>
    {wc:if:end}
	{wc:if $total>20}
     <style>
		#divPageNav{width:96%; text-align:right;padding-top:10px;}
		#divPageNav ul{ text-align:center;float:right}
		#divPageNav li a{ padding:5px 8px;}
	</style>
    <div id="divPageNav" class="page_nav">
        {wc:page:two}
    </div>
	{wc:if:end}
</div>

{wc:templates "index","footer"}