{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/layout-recharge.css" />
<script>
	$(function() {
		var je = $("#ulMoneyList li");
		var dx = /^[0-9]+$/;
		je.click(function() {
			je.removeClass("selected");
			je.find("input").removeAttr("checked");
			var radio = je.index(this);
			je.eq(radio).find("input").attr('checked', 'checked');
			je.eq(radio).addClass("selected");
			var valx = je.eq(radio).find("input").val();
			$("#Money").text(valx);
			$("#hidMoney").val(valx);
		});
		var tel = $("#txtOtherMoney").val();
		$("#txtOtherMoney").keyup(function() {
			var tel = $("#txtOtherMoney").val();
			if(dx.test(tel) && tel>0){
				$("#txtOtherMoney").val(tel);
				$("#Money").val(tel);
				$("#Money").text(tel);
				$("#hidMoney").val(tel);
			}else{
				console.log('数据不合法！');
			}
			
		});
	})
</script>
{wc:templates "member","member_top"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav"}
	<form id="toPayForm" name="toPayForm" action="{WEB_PATH}/member/cart/addmoney" onsubmit="return checkData()" method="post" target="_blank" autocomplete="off">
		<div class="R-content">
			<div class="member-t" style="">
				<h2>账户充值</h2></div>
			<div class="select">
				<b class="gray01">请您选择充值金额</b>
				<ul id="ulMoneyList">
					<li class="selected" style="margin-left:0;">
						<input type="radio" id="rd10" name="money" value="10" checked="checked"> 
						<label for="rd10">充值 <strong>￥</strong><b>10</b></label>
					</li>
					<li>
						<input type="radio" name="money" value="50" id="rd50"> 
							<label for="rd50">充值 <strong>￥</strong><b>50</b></label>
					</li>
					<li>
						<input type="radio" name="money" value="100" id="rd100"> 
							<label for="rd100">充值 <strong>￥</strong><b>100</b></label>
						<!--<span class="select_song" name='percentage' {wc:if $chong_100=="you" or $member_percentage[0][ 'percentage']==0}style="display:none" {wc:if:end}>+{wc:$member_percentage[0]['percentage']}%</span>-->
					</li>
					<li>
						<input type="radio" name="money" value="200" id="rd200"> 
							<label for="rd200">充值 <strong>￥</strong><b>200</b></label>
						<!--<span class="select_song" name='percentage' {wc:if $chong_200=="you" or $member_percentage[1][ 'percentage']==0}style="display:none" {wc:if:end}>+{wc:$member_percentage[1]['percentage']}%</span>-->
					</li>
					<li>
						<input type="radio" name="money" value="300" id="rd300"> 
							<label for="rd300">充值 <strong>￥</strong><b>300</b></label>
						<!--<span class="select_song" name='percentage' {wc:if $chong_300=="you" or $member_percentage[2][ 'percentage']==0}style="display:none" {wc:if:end}>+{wc:$member_percentage[2]['percentage']}%</span>-->
					</li>
					<li>
						<input type="radio" name="money" value="400" id="rd400"> 
						<label for="rd400">充值 <strong>￥</strong><b>400</b></label>
						<!--<span class="select_song" name='percentage' {wc:if $chong_400=="you" or $member_percentage[3][ 'percentage']==0}style="display:none" {wc:if:end}>+{wc:$member_percentage[3]['percentage']}%</span>-->
					</li>

					<li>
						<input type="radio" name="money" value="500" id="rd500"> <label for="rd500">充值 <strong>￥</strong><b>500</b></label>
						<!--<span class="select_song" name='percentage' {wc:if $chong_500=="you" or $member_percentage[4][ 'percentage']==0}style="display:none" {wc:if:end}>+{wc:$member_percentage[4]['percentage']}%</span>-->
					</li>
					<li class="custom">
						<input type="radio" value="0" name="money" id="rdOther"> <label for="rdOther">其它金额</label>
						<input value="" id="txtOtherMoney" type="text" class="enter" maxlength="7" />
					</li>

				</ul>
				<!--<div class="select_zhushi">注：带*%的为充值该金额送的财神币</div>-->
			</div>

			<div class="charge_money_list" style="padding:0;">
				<p class="title gray01" style="margin:10px 0;">请选择支付方式</p>
				<p class="leix" style="display:none;">银行支付：</p>
				{wc:php:start} 
					$bank1 = $this->db->GetOne("select * from `@#_caches` where `key` = 'pay_bank_type'"); //yeepay 易宝支付 
					$bank2 = $this->db->GetOne("select * from `@#_pay` where `pay_class` = '$bank1[value]'");//微信，支付宝等支付 
					if($bank1 && $bank2['pay_start'] ==1){
				{wc:php:end} {wc:if $bank1['value'] == 'tenpay'}
				<ul class="payment" style="border-bottom:1px dashed #e6e7e8;display:none;">
					<input type="hidden" name="pay_bank" value="tenpay" />
					<li class="top">
						<input type="radio" value="CMB" name="account" id="bankType1001" checked="checked" />
						<label for="bankType1001"><span class="zh_bank"></span></label>
						<input type="radio" value="ICBC" name="account" id="bankType1002" />
						<label for="bankType1002"><span class="gh_bank"></span></label>
						<input type="radio" value="CCB" name="account" id="bankType1003" />
						<label for="bankType1003"><span class="jh_bank"></span></label>
						<input type="radio" value="ABC" name="account" id="bankType1005" />
						<label for="bankType1005"><span class="nh_bank"></span></label>
					</li>

					<li class="top">
						<input type="radio" value="SPDB" name="account" id="bankType1004" />
						<label for="bankType1004"><span class="pf_bank"></span></label>
						<input type="radio" value="SDB" name="account" id="bankType1008" />
						<label for="bankType1008"><span class="sf_bank"></span></label>
						<input type="radio" value="CIB" name="account" id="bankType1009" />
						<label for="bankType1009"><span class="xy_bank"></span></label>
						<input type="radio" value="BOB" name="account" id="bankType1032" />
						<label for="bankType1032"><span class="bj_bank"></span></label>
					</li>

					<li class="top">
						<input type="radio" value="CEB" name="account" id="bankType1022" />
						<label for="bankType1022"><span class="gd_bank"></span></label>
						<input type="radio" value="CMBC" name="account" id="bankType1006" />
						<label for="bankType1006"><span class="ms_bank"></span></label>
						<input type="radio" value="CITIC" name="account" id="bankType1021" />
						<label for="bankType1021"><span class="zx_bank"></span></label>
						<input type="radio" value="GDB" name="account" id="bankType1027" />
						<label for="bankType1027"><span class="gf_bank"></span></label>
					</li>

					<li class="top">
						<input type="radio" value="PAB" name="account" id="bankType1010" />
						<label for="bankType1010"><span class="pa_bank"></span></label>
						<input type="radio" value="BOC" name="account" id="bankType1052" />
						<label for="bankType1052"><span class="zg_bank"></span></label>
						<input type="radio" value="COMM" name="account" id="bankType1020" />
						<label for="bankType1020"><span class="jt_bank"></span></label>
					</li>
				</ul>
				{wc:if:end} {wc:if $bank1['value'] == 'yeepay'}
				<style>
					.yeepay_bank img {
						border: 1px solid #eee;
						padding: 2px;
						width: 130px;
						height: 35px;
						float: left;
						margin-right: 20px;
					}
					
					.yeepay_bank input {
						float: left;
					}
				</style>
				<ul class="payment yeepay_click" style="border-bottom:1px dashed #e6e7e8;display:none;">
					<input type="hidden" name="pay_bank" value="yeepay" />
					<li class="top yeepay_bank">
						<input type="radio" value="ICBC-NET-B2C" name="account" checked="checked" /><img src="{G_TEMPLATES_STYLE}/images/bank/ICBC.png">
						<input type="radio" value="CCB-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/CCB.png">
						<input type="radio" value="ABC-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/ABC.png">
						<input type="radio" value="CMBCHINA-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/CMBCHINA.png">
					</li>
					<li class="top yeepay_bank">
						<input type="radio" value="BOC-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/BOC.png">
						<input type="radio" value="BOCO-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/JIAOTONG.png">
						<input type="radio" value="CEB-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/CEB.png">
						<input type="radio" value="GDB-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/GDB.png">
					</li>
					<li class="top yeepay_bank">
						<input type="radio" value="POST-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/PSBC.png">
						<input type="radio" value="CMBC-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/CMBC.png">
						<input type="radio" value="PINGANBANK-NET" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/SZPA.png">
						<input type="radio" value="BCCB-NET-B2C" name="account" /><img src="{G_TEMPLATES_STYLE}/images/bank/BCCB.png">
					</li>
				</ul>
				{wc:if:end} {wc:php:start} } {wc:php:end}
				<p class="leix" style="display:none;">支付平台支付：</p>
				<ul class="payment yeepay_click">
					{wc:loop $paylist $pay} {wc:if $pay['pay_class'] != 'iapppay'}
					<!--  if($pay['pay_class'] != 'iapppay') {
			 
			 } -->
					{wc:php:start} if($pay['pay_class']=='alipay'){ $check = "checked='checked'"; }else{ $check = ""; } {wc:php:end}
					<li>
						<input {wc:$check} type="radio" value="{wc:$pay['pay_id']}" name="account">
						<img style="border:1px solid #eee; padding:1px; margin-right:20px;" height="35px" width="100px" src="{G_UPLOAD_PATH}/{wc:$pay['pay_thumb']}">

					</li>
					{wc:if:end} {wc:loop:end}
				</ul>
				<p class="much">应付金额：<span class="yf"><strong>￥</strong><span id="Money">10</span></span>
				</p>
				<h6>			
					<input type="hidden" id="hidPayName" name="payName" value="">
					<input type="hidden" id="hidPayBank" name="payBank" value="0">
					<input type="hidden" id="hidMoney" name="money" value="10">
					<input id="submit_ok" class="bluebut imm" type="submit" name="submit" value="立即充值" title="立即充值">
				</form>
			</h6>
				<div id="payAltBox" style="display:none;">
					<div class="prompt_box">
						<p class="pic"><em></em>请您在新开的页面上完成支付！</p>
						<p class="ts">付款完成之前，请不要关闭本窗口！<br>完成付款后跟据您的个人情况完成此操作！</p>
						<ul>
							<li><a href="{WEB_PATH}/member/home/userbalance" class="look" title="查看充值记录">查看充值记录 </a></li>
							<li><a href="javascript:gotoClick();" class="look" id="btnReSelect" title="重选支付方式">重选支付方式</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>

<style type="text/css">
	#tips_box {
		display: none;
	}
	
	.title {
		color: #3c3c3c;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.8;
	}
	
	.tips {
		font-size: 12px;
		margin: 10px 0 20px;
		color: #333;
	}
	
	.w-msgbox-bd {
		padding: 20px 30px;
	}
	
	.w-msgbox {
		color: #333;
		font-size: 14px;
		line-height: 1.8;
	}
	
	.m-cart-order-pay-tips {
		margin: 0 auto;
		padding-left: 45px;
		position: relative;
		width: 360px;
	}
	
	.close {
		color: #3399ff;
		outline: medium none;
		text-decoration: none;
	}
	
	.w-button-main:hover {
		background: #f81d00;
	}
	
	.ico-tips {
		left: 0;
		position: absolute;
		top: -5px;
		width: 35px;
		height: 35px;
		background:url("{G_TEMPLATES_STYLE}/images/tips.png") no-repeat;
	}
</style>
<div id="tips_box">
	<div class="w-msgbox-bd" data-pro="entry">
		<div class="m-cart-order-pay-tips">
			<i class="ico-tips"></i>
			<div class="title">请在新开窗口完成支付！</div>
			<div class="tips"> 完成付款后根据您的情况进行以下操作！ </div>
			<div class="buttons">
				<button id="yes_btn" class="w-button w-button-main w-button-l">支付完成</button>&nbsp;&nbsp;
				<a class="close" id="rechange" href="javascript:void(0);">支付遇到问题？返回重新选择</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{G_WEB_PATH}/statics/plugin/layer/new/newlayer.js"></script>
<script type="text/javascript">
	$(function() {
		$("#submit_ok").click(function() {
			var money = $("input[name='money']:checked").val();
			var other_money = $("#txtOtherMoney").val();
			if (money > 0 || other_money >= 1) {

				
				if (!this.cc) {
					this.cc = 1;
					return true;
				} else {
					return false;
				}
				return false;
			}
		});
		$(".yeepay_click li>img").click(function() {
			$(this).prev().attr("checked", 'checked');
		});
		//重新选择支付方式 20151225
		$("#rechange").click(function() {
			window.location.href = window.location.href;
		});
		//支付完成 20151225
		$("#yes_btn").click(function() {
			window.location.href = "{WEB_PATH}/member/home/userbalance";
		});
	});
	//验证数据 20151225
	function checkData() {
		var money = $("input[name='money']:checked").val();
		var other_money = $("#txtOtherMoney").val();
		if (money < 1 && other_money < 1) {
			$("#txtOtherMoney").focus();
			return false;
		}
		layer.open({
			type: 1,
			title: '一元财神提示',
			area: ['500px', '200px'],
			fix: true,
			maxmin: false,
			move: false,
			content: $('#tips_box'),
			cancel: function() {
				window.location.href = "{WEB_PATH}/member/home/userbalance";
			}
		});
		//return false;
	}
</script>
{wc:templates "index","footer"}