<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>登陆</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">登陆</h1>
        </div>
        <div class="container" style="margin-top: 60px;">
            <form class="form-style">
                <div class="form-group">
                    <label for="account" class="sr-only">用户名</label>
                    <input style="background-image:url(images/icon/user_icon.png);background-repeat:no-repeat;padding-left:40px;background-size: 26px;background-position: 5px 5px;" ng-model="account" type="text" id="account" class="form-control" placeholder="请输入手机号" required
                           autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">密码</label>
                    <input style="background-image:url(images/icon/password_icon.png);background-repeat:no-repeat;padding-left:40px;background-size: 26px;background-position: 5px 5px;" ng-model="password" type="password" id="password" class="form-control" placeholder="请输入密码" required>
                </div>
                <div class="form-group">
                    <a href="javascript:;" class="btn btn-block" ng-click="do_login($event)" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 16px;font-weight: bold;">登陆</a>
                </div>
                <div class="form-group">
                    <a href="#tab/updatePassword" style="font-size: 14px;">忘记密码？</a>
                    <a href="#/tab/rigister" class="pull-right" style="font-size: 14px;">通过手机号码注册</a>
                </div>
            </form>
        </div>
    </div>
    <style type="text/css">
    	.nav-ul{
    		text-align: center;
    	}
    </style>
    <div class="m-login-extLogin"  ng-show="is_weixin()">
        <div class="hd"><span style="font-size: 14px;color: #666">或用以下方式登陆</span></div>
        <ul class="nav-ul">
            <li style="width: 33%;padding: 0;line-height: 32px;">
            	<a href="http://www.yz-db.com/index.php/api/wapwxlogin/init">
            		<img style="width: 48px;" src="images/icon/wechat_icon.png"/><span>微信登陆</span>
            	</a>
            </li>
            
            <!--<li style="width: 33%;padding: 0;line-height: 32px;"><a href="#"><img style="width: 48px;" src="images/icon/sina_icon.png"/><span>微博登陆</span></a></li>-->
        </ul>
    </div>
    
    <!-- 20160105 kpf -->
    <div class="m-login-extLogin" ng-show="!is_weixin()">
        <div class="hd"><span style="font-size: 14px;color: #666">或用以下方式登陆</span></div>
        <ul class="nav-ul">
            <li style="width: 33%;padding: 0;line-height: 32px;" ng-click="qqlogin()">
            	<a href="javascript:;">
            		<img style="width: 48px;" src="images/icon/qq_icon.png"/><span>QQ登陆</span>
            	</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>