<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>通知</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;display: none;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">通知 - 一元夺宝</h1>
        </div>
        <div>
            <div class="m-detail-more">
                <a ng-repeat="list in listData" href="#/tab/articleInfo?id={{list.id}}" class="w-bar" style="line-height: 25px;padding: 15px 15px;">
                    <span style="display: block;font-weight: bold;" ng-bind="list.title"></span>
                    <span style="font-size: 13px;color: #999" ng-bind="list.time"></span>
                    <span class="w-bar-ext" style="margin-top: -12px;"><b class="ico-next"></b></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>