<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>往期揭晓</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1>往期揭晓</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div id="scroller_passed_publish" class="m-winRecord-wrap">
                <div>
                    <ul class="m-winRecord-list hahah">
                        <li ng-repeat="progresslist in progressList" class="m-winRecord-willReveal" ng-click="click_href('/tab/productDetail?id='+progresslist.id)">
                            <a href="#">期号：<span ng-bind="progresslist.qishu"></span><span style="color: #f00;">  即将揭晓，正在倒计时...</span><span data-pro="waitingTxt" class="txt-orange" style="display:none">请稍候，正在计算...</span></a>
                        </li>
                    </ul>
                    <ul class="m-winRecord-list hahah">
                        <li ng-repeat="finishedlist in finishedList" class="w-record m-winRecord-revealed">
                            <div class="w-record-title"><span>期号：<span ng-bind="finishedlist.qishu"></span></span><span class="pull-right">揭晓时间：<span ng-bind="finishedlist.q_end_time"></span></span></div>
                            <div class="w-record-cnt f-clear">
                                <div class="w-record-avatar"><a href="#/tab/personCenter?type=other&uid={{finishedlist.q_user.uid}}"><img ng-src="{{finishedlist.q_user.img}}"></a></div>
                                <div class="w-record-detail">
                                    <p class="f-txtabb">获奖者：<a href="#/tab/personCenter?type=other&uid={{finishedlist.q_user.uid}}" ng-bind="finishedlist.q_user.username"><span class="txt-green"></span></a></p>
                                    <p>用户ID：<span ng-bind="finishedlist.q_user.uid"></span> (唯一不变标识)</p>
                                    <div style="margin-left: 60px;">
                                        <p>幸运号码：<span class="txt-red" ng-bind="finishedlist.q_user_code"></span></p>
                                        <p>本期参与：<span class="txt-red" ng-bind="finishedlist.q_user.renci"></span>人次</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>