<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>支付订单</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">支付订单</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div id="pay_content">
                <div>
                    <div class="m-pay-order-list" style="background: #fff1e5;padding: 10px 10px;">
                        <table class="m-calc-resultList">
                            <tbody>
                                <tr ng-repeat="shoplist in shopList" class="calcRow">
                                    <td class="time"><span ng-bind="shoplist.title"></span></td>
                                    <td class="user" style="width: 20%;"><span style="float: right;"><b class="txt-red" ng-bind="shoplist.num"></b>人次</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="m-pay-order-total" style="font-size: 14px;">商品合计：<b class="txt-red"><span ng-bind="price"></span>幸运豆</b></div>
                    <div class="m-pay-order-options">
                        <div class="checkbox" style="font-size: 14px;">
                            <label style="margin-left: 20px;">
                                <input type="checkbox" id="optionsCheck" value=""><span>余额支付（余额：<span ng-bind="money"></span>幸运豆）</span>
                            </label>
                        </div>

                        <div class="w-option w-option-unfold">
                            <div class="w-bar" style="font-size: 14px;"><span>其他支付方式<span class="txt-red w-bar-extText"><span ng-bind="price_wait"></span>元</span></span></div>
                            <div  ng-show="!isEnough" class="w-bar-content" style="padding: 10px 20px;font-size: 13px;">
                                <div ng-repeat="payclass in payClass" class="radio" style="margin-bottom: 20px;font-size: 14px;">
                                    <label>
                                        <input ng-checked="{{$index == 0}}" type="radio" name="optionsRadios"  value="{{payclass.pay_class}}" style="width: 15px;height: 15px;"><span ng-bind="payclass.pay_name"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-simpleFooter" style="position: relative;">
                <a href="javascript:;" ng-click="confirmPay()" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;width: 60%;margin: 0 auto;">确认支付</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>