<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>支付结果</title>
</head>
<body>
<div id="resultPay" class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <h1 style="margin-left: 0;">支付结果</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="#/tab/home"><i class="ico ico-more"></i></a>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div ng-if="isSuccess">
                <div class="m-pay-result-title"><h1>恭喜您，参与成功！<br>请等待系统为您揭晓！</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff" class="w-button w-button-main pull-left">继续夺宝</a>
                        <a href="#/tab/snatchRecord?uid={{holdUID}}" style="padding: 5px;color: #3C3C3C;" class="w-button w-button-aside">查看夺宝记录</a>
                    </div>
                </div>
                <div class="m-pay-result-list"><h2>您成功参与了<b class="txt-red" ng-bind="resultData.count"></b>件商品共<b class="txt-red" ng-bind="resultData.zongrenci"></b>人次夺宝，信息如下：</h2>
                    <div class="list">
                        <div class="item" ng-repeat="list in resultData.list">
                            <div class="info">
                                <a href="#/tab/productDetail?id={{list.shopid}}" class="name" ng-bind="list.shopname"></a><span class="ext"><span class="num"><b class="txt-red" ng-bind="list.gonumber"></b>人次</span></span>
                            </div>
                            <div class="codes">
                                <ul>
                                    <li>
                                        <span>商品期号：</span><span ng-bind="list.shopqishu"></span>
                                    </li>
                                    <li class="f-txtabb">
                                        <span>幸运码：</span><span ng-bind="list.goucode"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="isFaild">
                <div class="m-pay-result-title"><h1>sorry，参与失败</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff;" class="w-button w-button-main">继续夺宝</a>
                    </div>
                </div>
            </div>
            <div ng-if="isChongFaild">
                <div class="m-pay-result-title"><h1>sorry，充值失败</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff;" class="w-button w-button-main">马上夺宝</a>
                    </div>
                </div>
            </div>
            <div ng-if="isChongSuccess">
                <div class="m-pay-result-title"><h1>充值成功</h1>
                    <div class="btns">
                        <a href="#/tab/home" style="padding: 5px;color: #fff;" class="w-button w-button-main">马上夺宝</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


