<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>个人资料</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">个人资料</h1>
        </div>
        <div class="g-wrap" style="margin-top: 44px;font-size: 12px;">
            <div class="m-user-info">
                <div class="m-user-bar m-user-bar-l" style="padding-top: 3px;">
                    <div class="w-bar m-user-bar-avatar">头像<span class="w-bar-ext"><span class="m-user-avatar">
                        <img style="width: 45px;height: 45px;" ng-src="{{userInfo.img}}"></span></span></div>
                    <div class="w-bar dark">ID<span class="w-bar-ext" ng-bind="userInfo.uid"></span></div>
                    <a href="#/tab/updateNickname?uid={{uid}}" class="w-bar">昵称<span class="w-bar-ext"><b class="ico-next"></b></span>
                        <span class="m-user-link w-bar-ext" style="margin-right: 10px;"><span ng-bind="userInfo.username"></span></span></a>
                    <a href="#/tab/updatePhone?uid={{uid}}" class="w-bar">手机号码<span class="w-bar-ext"><b class="ico-next"></b></span>
                        <span class="m-user-link w-bar-ext" style="margin-right: 10px;"><span ng-bind="userInfo.mobile"></span></span></a>
                    <a style="margin-bottom: 10px;" href="#/tab/address?uid={{uid}}" class="w-bar">我的收货地址<span class="w-bar-ext"><b
                            class="ico-next"></b></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>