<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>商品详情</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>商品详情</h1>
        </div>
        <div id="productInfoData" class="g-wrap m-intro-picWrap" style="padding: 15px;">
        </div>
    </div>
</div>
</body>
</html>