<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>充值</title>
</head>
<body>
<div id="resultDisplay" class="g-body">
    <div class="m-detail" style="background: #fff;">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1>充值</h1>
        </div>
        <div style="margin-top: 45px;height: 60px;background: url('images/icon/bg_recharge.png');color: #fff;padding: 10px;font-size: 12px;">
            充值获得幸运豆( 1元 = 1幸运豆 )，可用于夺宝，充值的款项将无法退回。
        </div>
        <div class="w-bar" style="border: none;">1、选择充值金额（元）</div>
        <div class="m-pay-moneySelector" style="margin-top: 10px;">
            <div ng-class="{true: 'm-pay-moneySelector-item m-pay-moneySelector-item-selected', false: 'm-pay-moneySelector-item'}[isSelected1]" ng-click="setSelectedItem(1);">20</div>
            <div ng-class="{true: 'm-pay-moneySelector-item m-pay-moneySelector-item-selected', false: 'm-pay-moneySelector-item'}[isSelected2]" ng-click="setSelectedItem(2);">50</div>
            <div ng-class="{true: 'm-pay-moneySelector-item m-pay-moneySelector-item-selected', false: 'm-pay-moneySelector-item'}[isSelected3]" ng-click="setSelectedItem(3);">100</div>
            <div ng-class="{true: 'm-pay-moneySelector-item m-pay-moneySelector-item-selected', false: 'm-pay-moneySelector-item'}[isSelected4]" ng-click="setSelectedItem(4);">200</div>
            <div ng-class="{true: 'm-pay-moneySelector-item m-pay-moneySelector-item-selected', false: 'm-pay-moneySelector-item'}[isSelected5]" ng-click="setSelectedItem(5);"><input ng-change="setNumber()" ng-model="money" type="number" placeholder="其他金额" ng-pattern="/^[0-9]*/"></div>
        </div>
        <div class="w-bar" style="border: none;">2、选择支付方式</div>
        <div style="padding: 0 14px;">
            <div ng-repeat="payclass in payClass" class="radio" style="margin-bottom: 10px;">
               
                <label>
               
                    <input ng-checked="{{$index == 0}}" type="radio" name="optionsRadios" value="{{payclass.pay_class}}" style="width: 15px;height: 15px;"><span ng-bind="payclass.pay_name"></span>
                </label>
            </div>
            <a href="javascript:;" ng-click="confirmPay($event)" class="btn btn-block" style="background: #f80; border-color: #b6243d;color: #fff;font-size: 14px;font-weight: bold;margin-bottom: 5px;">确认支付</a>
        </div>
    </div>
</div>
</body>
</html>