<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>晒单详情</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div ng-if="notNative">
            <div class="m-simpleHeader">
                <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
                <h1>晒单详情</h1>

            </div>
            <div class="m-detail-menu" style="display: none;">
                <a id="moreBtn" href="javascript:;"><i class="ico ico-share"></i></a>
            </div>
        </div>
        <div id="shareDetailContent" class="g-wrap">
            <div class="m-user-shareList">
                <div class="w-shareItem w-shareDetail" style="border: none;">
                    <p class="title" style="font-weight: bold;" ng-bind="shareData.sd_title"></p>
                    <p class="author">
                        <a ng-if="notNative" href="#/tab/personCenter?uid={{shareData.sd_userid}}" ng-bind="shareData.username"></a>
                        <a id="native_user" ng-if="!notNative" href="javascript:;" ng-bind="shareData.username"></a>
                        <span class="time" ng-bind="shareData.sd_time"></span></p>
                    <div class="goods">
                        <p>获奖商品：
                            <a ng-if="notNative" href="#/tab/productDetail?id={{shareData.sd_shopid}}" ng-bind="shareData.title"></a>
                            <a id="native_product" ng-if="!notNative" href="javascript:;" ng-bind="shareData.title"></a>
                        </p>
                        <p>参与期号：<span ng-bind="shareData.sd_qishu"></span></p>
                        <p>本期参与：<span class="txt-impt" ng-bind="shareData.canyurenshu"></span>人次</p>
                        <p>幸运号码：<span class="txt-impt" ng-bind="shareData.q_user_code"></span></p>
                        <p>揭晓时间：<span ng-bind="shareData.q_end_time"></span></p>
                    </div>
                    <div class="all">
                        <div class="txt" ng-bind="shareData.sd_content"></div>
                        <div class="pic">
                            <p ng-repeat="imgurl in shareData.img"><img ng-src="{{imgurl}}" class=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>