<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>夺宝记录</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader" style="text-align: center;">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>

            <h1 style="margin-left: 0;">夺宝记录</h1>
        </div>
        <div id="scroller_snatch_record">
            <div class="g-wrap" style="margin-top: 44px;font-size: 12px;padding-bottom: 45px;">
                <div class="m-nav">
                    <div class="g-wrap">
                        <ul class="m-nav-list">
                            <li ng-class="{true: 'selected', false: ''}[isSelected1]">
                                <a href="javascript:;" ng-click="setSelectedItem(1);" style="width: 50%;"><span style="width: 100%;">全部</span></a>
                            </li>
                            <li ng-class="{true: 'selected', false: ''}[isSelected2]">
                                <a href="javascript:;" ng-click="setSelectedItem(2);" style="width: 50%;"><span style="width: 100%;">进行中</span></a>
                            </li>
                            <li ng-class="{true: 'selected', false: ''}[isSelected3]">
                                <a href="javascript:;" ng-click="setSelectedItem(3);" style="width: 50%;"><span style="width: 100%;">已揭晓</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="m-winRecord-list hahah">
                    <li ng-repeat="countdown in countDown" class="m-winRecord-willReveal" ng-click="click_href('/tab/productDetail?id='+countdown.id)">
                        <!--期号：<span ng-bind="countdown.shopqishu"></span><span style="color: #f00;float: right;">即将揭晓，正在倒计时...</span>-->
                        <div class="w-goods w-goods-l w-goods-ing m-user-goods">
                            <div class="w-goods-pic">
                                <div style="width:20px;height:20px;position: absolute;background:rgba(0, 0, 0, 0) url('images/icon/ten_.png') no-repeat scroll 0 0 / 100% auto;" ng-show="{{countdown.is_ten}}">

                                </div>
                                <a href="#/tab/productDetail?id={{countdown.shopid}}">
                                    <img ng-src="{{countdown.thumb}}">
                                </a>
                            </div>
                            <div class="w-goods-info">
                                <p class="w-goods-title f-txtabb"><a href="#/tab/productDetail?id={{countdown.shopid}}" ng-bind="countdown.shopname"></a></p>
                                <p class="w-goods-period">参与期号：<span ng-bind="countdown.shopqishu"></span></p>
                                <p class="w-goods-price">总需：<span ng-bind="countdown.zongrenshu"></span> 人次</p>
                                <div class="m-user-goods-my">本期参与：<span class="txt-impt" ng-bind="countdown.gonumber"></span>人次</div>
                                <div style="padding: 5px;border: 1px solid #D5D5D5;border-radius: 5px;" class="countdown_nav_{{countdown.shopid}}">
                                    <div class="fnTimeCountDown_{{$index}}" style="color: #f00" data-end="2018/07/08 18:45:13">
                                        揭晓倒计时：
                                        <span class="mini">00</span>:
                                        <span class="sec">00</span>:
                                        <span class="hm">00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="w-goodsList w-goodsList-l m-user-goodsList">
                    <li ng-repeat="record in recordListProgress" class="w-goodsList-item">
                        <div class="w-goods w-goods-l w-goods-ing m-user-goods">
                            <div class="w-goods-pic">
                                <div style="width:20px;height:20px;position: absolute;background:rgba(0, 0, 0, 0) url('images/icon/ten_.png') no-repeat scroll 0 0 / 100% auto;" ng-show="{{record.is_ten}}">

                                </div>
                                <a href="#/tab/productDetail?id={{record.shopid}}">
                                    <img ng-src="{{record.thumb}}">
                                </a>
                            </div>
                            <div class="w-goods-info">
                                <p class="w-goods-title f-txtabb"><a href="#/tab/productDetail?id={{record.shopid}}" ng-bind="record.shopname"></a></p>
                                <p class="w-goods-period">参与期号：<span ng-bind="record.shopqishu"></span></p>
                                <div class="w-progressBar"><p class="wrap"><span class="bar" style="width:{{record.ratio + '%'}}"><i class="color"></i></span></p>
                                    <ul class="txt">
                                        <li class="txt-l"><p>总需<span ng-bind="record.zongrenshu"></span> 人次</p></li>
                                        <li class="txt-r"><p>剩余<b class="txt-blue" ng-bind="record.zongrenshu - record.canyurenshu"></b></p></li>
                                    </ul>
                                </div>
                                <div class="w-goods-shortFunc" style="bottom: 65px;">
                                    <a style="padding: 2px 8px 2px 8px;" href="#/tab/shopList" class="w-button" ng-click="addToCart(record, $event)" ng-bind="buyState"></a>
                                </div>
                                <div class="m-user-goods-my">
                                    本期参与：<span class="txt-impt" ng-bind="record.gonumber"></span>人次
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="w-goodsList w-goodsList-l m-user-goodsList">
                    <li ng-repeat="record in recordListFinished" class="w-goodsList-item">
                        <div class="w-goods w-goods-l w-goods-ing m-user-goods">
                            <!--<div style="height: 50px;position: absolute;width: 50px;z-index: 10000;background: rgba(0, 0, 0, 0) url('images/icon/ten_.png') no-repeat scroll 0 0 / 100% auto;">-->

                            <div class="w-goods-pic">
                                <div style="width:20px;height:20px;position: absolute;background:rgba(0, 0, 0, 0) url('images/icon/ten_.png') no-repeat scroll 0 0 / 100% auto;" ng-show="{{record.is_ten}}">

                                </div>
                                <a href="#/tab/productDetail?id={{record.shopid}}">
                                    <img ng-src="{{record.thumb}}">
                                </a>
                            </div>
                            <div class="w-goods-info">
                                <p class="w-goods-title f-txtabb"><a href="#/tab/productDetail?id={{record.shopid}}" ng-bind="record.shopname"></a></p>
                                <p class="w-goods-period">参与期号：<span ng-bind="record.shopqishu"></span></p>
                                <p class="w-goods-price">总需：<span ng-bind="record.zongrenshu"></span> 人次</p>
                                <div class="m-user-goods-my">本期参与：<span class="txt-impt" ng-bind="record.gonumber"></span>人次</div>
                                <div style="padding: 5px;border: 1px solid #D5D5D5;border-radius: 5px;">
                                    <div class="m-user-goods-owner m-user-box">
                                        <div class="m-user-box-name">获奖者：<a href="#/tab/personCenter?type=other&uid={{record.q_user.uid}}" ng-bind="record.q_user.username"></a></div>
                                        <div class="m-user-box-cont">本期参与：<span class="txt-impt" ng-bind="record.q_user.gonumber"></span>人次</div>
                                    </div>
                                    <p class="m-user-goods-code">幸运号码：<span class="txt-impt" ng-bind="record.q_user.q_user_code"></span></p>
                                    <p class="m-user-goods-time">揭晓时间：<span ng-bind="record.q_end_time"></span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div ng-if="noData" style="text-align: center;margin-top: 100px;">暂无数据</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>