<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>修改昵称</title>
</head>
<body>
<div class="g-body">
    <div class="m-detail">
        <div class="m-simpleHeader">
            <a ng-click="backTo();" href="javascript:void(0);" class="m-simpleHeader-back"></a>
            <h1>修改昵称</h1>
        </div>
        <div class="m-detail-menu">
            <a id="moreBtn" href="javascript:;" ng-click="do_mod_username($event)">保存</a>
        </div>
        <div class="container" style="margin-top: 60px;">
            <form class="form-style">
                <div class="form-group">
                    <input maxlength="10" ng-model="username" type="text" id="username" class="form-control" placeholder="请输入昵称(不超过10个字母或汉字)" required
                           autofocus>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>