{wc:templates "index","header"}
<meta name="description" content="最新100条夺宝记录"><meta name="keywords" content="最新100条夺宝记录">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/Comm.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/ygRecord.css">
   <input name="hidBuyId" type="hidden" id="hidBuyId" value="1948496">
    <!--财神记录开始-->
    <div class="ygRecord">
        <h3>
            <span>最新夺宝记录</span><p>本页显示最新夺宝记录<strong>100</strong>条 <a href="{WEB_PATH}/buyrecord">查看历史夺宝记录&gt;&gt;</a></p>
        </h3>
        <ul class="Record_title">
            <li class="time">夺宝时间</li>
            <li class="nem">会员账号</li>
            <li class="name">夺宝商品名称</li>
            <li class="much">夺宝人次<!--财神人次--></li>
        </ul>
        <div id="recordList">
                {wc:php:start}$n=1;{wc:php:end}    
				{wc:loop $RecordList $Record}
				{wc:php:start}
					$n++;
					$Record['time'] = explode(".",$Record['time']);
					if($n%2==0){$class='Record_content';}else{$class='Record_contents';}
				{wc:php:end}            
				<ul class="{wc:$class}">
					<li class="time">{wc:fun:date("Y-m-d H:i:s",$Record['time'][0])}.{wc:$Record['time'][1]}</li>
					<li class="nem"><a class="blue" href="{WEB_PATH}/uname/{wc:$Record['uid']}" target="_blank">{wc:$Record['username']}</a></li>
					<li class="name"><a href="{WEB_PATH}/goods/{wc:$Record['shopid']}">（第{wc:$Record['shopqishu']}期）{wc:fun:_strcut($Record['shopname'],60,null)}</a></li>
					<li class="much">{wc:$Record['gonumber']}人次</li>
				</ul>
				{wc:loop:end}   
					
        </div>
        <div class="endpage">本页显示最新夺宝记录<strong>100</strong>条 <a href="{WEB_PATH}/buyrecord" rel="nofollow">查看历史夺宝记录&gt;&gt;</a></div>
    </div>
{wc:templates "index","footer"}