<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/header.css"/>
<div class="search_cart_wrap">
  <div class="number">
    <ul id="ulHTotalBuy">
      <li class="gray666">总共参与</li>
      <li class="num"><cite style="top: -216px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
      <li class="nobor">,</li>
      <li class="num"><cite style="top: -216px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
      <li class="num"><cite style="top: -240.545px;"><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em></cite><i></i></li>
      <li class="num"><cite style="top: -235.635px;"><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em></cite><i></i></li>
      <li class="nobor">,</li>
      <li class="num"><cite style="top: -233.18px;"><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em></cite><i></i></li>
      <li class="num"><cite style="top: -225.815px;"><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em></cite><i></i></li>
      <li class="num"><cite style="top: -235.635px;"><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em></cite><i></i></li>
      <li class="gray666 u-secondary">人次</li>
    </ul>
   </div>
</div>

<!--底部-->
<script type="text/javascript">
var __JS__='{G_TEMPLATES_JS}/new';
var __api__="{WEB_PATH}/api/member";
var Base = {
	head: document.getElementsByTagName("head")[0] || document.documentElement,
	Myload: function(B, A) {
		this.done = false;
		B.onload = B.onreadystatechange = function() {
			if (!this.done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) {
				this.done = true;
				A();
				B.onload = B.onreadystatechange = null;
				if (this.head && B.parentNode) {
					this.head.removeChild(B)
				}
			}
		}
	},
	getScript: function(A, C) {
		var B = function() {};
		if (C != undefined) {
			B = C
		}
		var D = document.createElement("script");
		D.setAttribute("language", "javascript");
		D.setAttribute("type", "text/javascript");
		D.setAttribute("src", A);
		this.head.appendChild(D);
		this.Myload(D, B)
	},
	getStyle: function(A, CB) {
		var B = function() {};
		if (CB != undefined) {
			B = CB
		}
		var C = document.createElement("link");
		C.setAttribute("type", "text/css");
		C.setAttribute("rel", "stylesheet");
		C.setAttribute("href", A);
		this.head.appendChild(C);
		this.Myload(C, B)
	}
}
function GetVerNum() {
var D = new Date();
return D.getFullYear().toString().substring(2, 4) + '.' + (D.getMonth() + 1) + '.' + D.getDate() + '.' + D.getHours() + '.' + (D.getMinutes() < 10 ? '0': D.getMinutes().toString().substring(0, 1))
}
Base.getScript('{G_TEMPLATES_JS}/new/Bottom.js?v=' + GetVerNum());
</script>