<style type="text/css">
	
	.m-detail-period-title{
	
		
   
   	
   	padding-left: 0px;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
	}
	.m-detail-period-title .span_box{
	clear: both;
	text-align:left;
	
	}
	.m-detail-period-title span{
	color:#505050;
	
	font-size:18px;
	font-family: "微软雅黑";
	line-height:50px;
	margin-left:30px;
	
	margin-top: 8px;
	}
	
	.xjiexiao_img{
		
		margin-top: 8px;
	}
	.m-detail-period-title .img_box{
		
		width: 18px;
		position: absolute;
		left: 2px;
		top: 17px;
		
		}
	.m-detail-period-title img{margin-left:10px;}	
	.clearfix{clear: both;}
	.xjiexiao_box{padding:10px 0 10px 0;
	border-bottom:#f2f2f2 2px solid;
		text-align: left;
		padding-left: 10px;
		font-family: "微软雅黑";
		font-weight: bold;
		color:#505050;}
	.xjiexiao_img{text-align: center;}
</style>





<div class="g-side">
  <div class="m-detail-period">
    <div class="m-detail-period-title f-clear"> 
    	<div class="img_box">
      	<img src="{G_TEMPLATES_IMAGE}/new-1.png" />
      	</div>
      	<div class="span_box">
      	<span>猜你喜欢</span>
      	
      	</div>
      	
      	<div class="clearfix"></div>
    </div>
   
    <div class="xjiexiao_content">
    	<div class="xjiexiao_box">最新一期正在进行，赶紧参加！</div>
    	<div class="xjiexiao_img">
    		<a href="{WEB_PATH}/goods/{wc:$tuijian_renqi['id']}" target="_blank">
    			<img src="{G_UPLOAD_PATH}/{wc:$tuijian_renqi['thumb']}">
    		</a>
    	</div>
    	<div class="xjiexiao_titlte"><a href="{WEB_PATH}/goods/{wc:$tuijian_renqi['id']}" style="text-align:left" target="_blank">{wc:fun:_strcut($tuijian_renqi['title'],50)}</a></div>
        <div class="xjiexiao_titlte_gudnong">
        	 <div class="Progress-bar">
                <p title="已完成{wc:fun:percent($tuijian_renqi['canyurenshu'],$tuijian_renqi['zongrenshu'])}"><span style="width:{wc:fun:width($tuijian_renqi['canyurenshu'],$tuijian_renqi['zongrenshu'],222)}px; display:;border: 1px solid #e53c08;
background:#e53c08 none repeat scroll 0% 0%;"></span></p>
                <ul class="Pro-bar-li">
                    <li class="P-bar01"><em>{wc:$tuijian_renqi['canyurenshu']}</em>已参与人次</li>
                    <li class="P-bar02"><em id="CodeQuantity">{wc:$tuijian_renqi['zongrenshu']}</em>总需人次</li>
                    <li class="P-bar03"><em id="CodeLift">{wc:$tuijian_renqi['shenyurenshu']}</em>剩余人次</li>
                </ul>
        	</div>
        
        </div>

       
        <div class="xh_right_all" style='text-align:center'><a class="w-button w-button-main w-button-l w-button_margin href="{WEB_PATH}/goods/{wc:$tuijian_renqi['id']}" style="width:96px;" target="_blank">立即夺宝</a></div> 
       
    </div>
  </div>
</div>



  
