<style>
.bar_box{position:relative;}
.bar_tit{text-indent:37px;}
.bar_tit span{color:}
.bar_icon{position:absolute;top:0px;left:0px;}
.bar_item{text-indent:37px;}
.bar_ts_icon{position:absolute;top:-2px;left:-32px;}
</style>
<div class="footer_content">
   	<div style="height:8px;"></div>
   	<div class="footservice">
   		<div class="support">
					
			{wc:getlist sql="select * from `@#_category` where `parentid`='1'" return="category"}
			{wc:loop $category $help}
			{wc:php:start}
				$imginfo = unserialize($help['info']);
			{wc:php:end}
   			<dl class="ft-newbie bar_box">
   				<dt class="bar_tit"><span>{wc:$help['name']}</span></dt>
				{wc:getlist sql="select * from `@#_article` where `cateid`='$help[cateid]' and is_my=0" return="article"}
				{wc:php:start}
					foreach($article as $art){
						echo "<dd class='bar_item'><a href='".WEB_PATH.'/help/'.$art['id']."' target='_blank'>".$art['title'].'</a></dd>';
					}
				{wc:php:end}				
   			</dl>   			
			{wc:loop:end}
            {wc:getlist:end}
			
			<style>
			.myfooter_bao{ overflow:hidden}
			.myfooter_bao div{clear:both;}
			.myfooter_bao div img{float:left;margin-right:5px}
			.myfooter_bao div span{float:left;font-size:16px;color:#9F9F9F;font-weight:200}
			</style>
   			<dl class="myfooter_bao">
   				<div><img src="{G_UPLOAD_PATH}/public/footer_14.png" /><span>100%公平公正</span></div>
				<div style="height:20px;"></div>
				<div><img src="{G_UPLOAD_PATH}/public/footer_25.png" /><span>100%正品保障</span></div>
				<div style="height:20px;"></div>				
				<div><img src="{G_UPLOAD_PATH}/public/footer_31.png" /><span>全国免费配送</span></div>	
   			</dl>
   			<!--dl class="ft-weixin">
   				<p class="ft-weixin-img_xiaohe"></p>
   				<dd class="gray02" style="font-size:12px">&nbsp;&nbsp;易中夺宝官方微信</dd>
   			</dl-->
   		</div>
   	</div>
   
	
</div>

     
<script type="text/javascript">						
$(document).ready(function(){
	try{  
       if(typeof(eval(pleasereg_initx))=="function"){
            pleasereg_initx();
	   }
    }catch(e){
       //alert("not function"); 
    }  
})
</script>
<!--footercontent end-->
<div class="footer" style="height:auto; background:#3d3d3d">
	<div class="footer_links">
		{wc:fun:Getheader('foot')}
		<a href="javascript:void(0)"> 客服QQ: 3503525787</a>
  	</div>
	<div class="copyright">{wc:fun:_cfg('web_copyright')}&nbsp;&nbsp;&nbsp;&nbsp;
	<!-- cnzz统计 -->
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262329096'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262329096' type='text/javascript'%3E%3C/script%3E"));</script>
	<div class="footer_icon" style="width:610px;">
		<ul>
			<a title="诚信网站"  id="___szfw_logo___" href='javascript:' target="_blank"><li class="footer_01" ></li></a>
			<a title="认证联盟"  id="_pingansec_bottomimagesmall_hangye" href='javascript:' target="_blank"><li class="footer_02" ></li></a>
			<a title="可信网站"  id="" href='javascript:' target="_blank"><li class="footer_03" ></li></a>
			<a title="安全联盟，实名认证" href='javascript:' target="_blank"><li class="footer_04" ></li></a>
			<a title="网站信用"  id="_pinganTrust" href='javascript:' target="_blank"><li class="footer_05" ></li></a>
			
		
			
		</ul>
		
	</div>
	<div style="width:100%;height:20px;"></div>
</div>
<script>
var timer = null;
var cart_show = false;
var is_f_cart = true;
$(function(){
	$(".quick_cart").hover(function(){
			is_f_cart = true;
			 timer = setTimeout(function(){
				if(!cart_show){
					//$("#rCartlist,#rCartLoading").show();
					$("#rCartlist p,#rCartlist h3").hide();
					$("#rCartlist li").remove();
					$("#rCartTotal2").html("");
					$("#rCartTotalM").html("");
					$.getJSON("{WEB_PATH}/member/cart/cartshop/"+ new Date().getTime(),function(data){
					cart_show = true;
					$("#rCartlist ul").html(data.li);
					//浏览器兼容20150116ghm
					$("#rCartTotal2").html(data.num);
					if(data.sum=='0.00'){
					if(data.num=='1'){
					$("#rCartTotal2").html(data.num-1);
					}else{
					$("#rCartTotal2").html(data.num);
					}
					}else{
					$("#rCartTotal2").html(data.num);
					}
					//浏览器兼容20150116ghm					
					$("#rCartTotalM").html(data.sum);
					$("#rCartLoading").hide();
					if(is_f_cart){
						$("#rCartlist").show();
					}
					$("#rCartlist ul,#rCartlist p,#rCartlist h3").show();
					/*2015/12/06*/
					if(data.num == 0){
						//alert(data.num);
						$("#rGotoCart").hide();
						var w_html = '<p style="text-align:center">共计<span>0</span> 件商品 金额总计：<span class="rmbgray">0.00</span></p>';
						
					}else{
						$("#rGotoCart").show();
						
					}
					return false;
				});
				}
				
			},20);},function(){
				clearTimeout(timer);
				$("#rCartlist,#rCartlist ul,#rCartlist p,#rCartlist h3").hide();
				 cart_show = false;
				 is_f_cart = false;
			}
		);
	
	$("#rGotoCart").click(function(){
		window.location.href="{WEB_PATH}/member/cart/cartlist";
	})
});
function delshop(id){
	var Cartlist = $.cookie('Cartlist');
	var info = $.evalJSON(Cartlist);
	var num=parseInt($("#rCartTotal2").html())-1;
	var sum=parseInt($("#rCartTotalM").html());
	var rel_num = parseInt($("#shopid"+id).find(".orange").text());
	var rel_money = parseInt($("#rCartTotalM").text());
	info['MoenyCount'] = rel_money-rel_num;
		
	delete info[id];
	//$.cookie('Cartlist','',{path:'/'});
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	$("#rCartTotalM").html(info['MoenyCount']);
	$('#rCartTotal2').html(num);
	$('#sCartTotal').text(num);											
	$('a#btnMyCart em').text(num);
	$("#shopid"+id).remove();
	//cart_show = false;
	return false;
}


$(document).ready(function(){
	$.get("{WEB_PATH}/member/cart/getnumber/"+ new Date().getTime(),function(data){	
		$("#sCartTotal").text(data);
		$("a#btnMyCart em").text(data);											
	});
});

</script>


<!--footer end-->
<div id="divRighTool" class="quickBack">
	
	<dl class="quick_But">
		
		<dd class="quick_cart" style="">
		<a id="btnMyCart" href="{WEB_PATH}/member/cart/cartlist" class="quick_cartA">
			<b>购物车</b><s></s><em>0</em>
		</a>
			<div style="display: none;" id="rCartlist" class="Roll_mycart">
				<ul style="display: none;clear:both"></ul>
				
				<p id="p1" style="display: none;">共计<span id="rCartTotal2">0</span> 件商品 金额总计：<span class="rmbgray" id="rCartTotalM">0</span></p>
				<h3 style="display: none;"><input type="button" value="去购物车结算" id="rGotoCart"></h3>
				<div style="clear:both;height:10px;overflow:hidden"></div>
			</div>
		</dd>
		<dd class="quick_service"><a id="btnRigQQ" href="tencent://message/?uin=3503525787"class="quick_serviceA"><b>在线客服</b><s></s></a></dd>
		<dd class="quick_Collection"><a id="btnFavorite" href="javascript:;" class="quick_CollectionA" onclick="AddFavorite();"><b>收藏本站</b><s></s></a></dd>
		<dd class="quick_Return"><a id="btnGotoTop" href="javascript:;" class="quick_ReturnA"><b>返回顶部</b><s></s></a></dd>
	</dl>
	
	
</div>
		
<script>

$("#divRighTool").show(); 
var wids=($(window).width()-1200)/2-70;
if(wids>0){
	$("#divRighTool").css("right",wids);
}else{
	$("#divRighTool").css("right",10);
}
$(function(){
	$("#btnGotoTop").click(function(){
		$("html,body").animate({scrollTop:0},1500);
	});
	$("#btnFavorite,#addSiteFavorite").click(function(){
		var ctrl=(navigator.userAgent.toLowerCase()).indexOf('mac')!=-1?'Command/Cmd': 'CTRL';
		if(document.all){
			window.external.addFavorite('{G_WEB_PATH}','{wc:fun:_cfg("web_name")}');
		}
		else if(window.sidebar){
		   window.sidebar.addPanel('{wc:fun:_cfg("web_name")}','{G_WEB_PATH}', "");
		}else{ 
			alert('您可以通过快捷键' + ctrl + ' + D 加入到收藏夹');
		}
    });
	$("#divRighTool a").hover(		
		function(){
			$(this).addClass("Current");
		},
		function(){
			$(this).removeClass("Current");
		}
	)
});
	//夺宝基金
	$.ajax({
		url:"{WEB_PATH}/api/fund/get",
		success:function(msg){
			$("#spanFundTotal").text(msg);
		}
	});

</script>

<!--百度统计-->
	<!--NULL-->



<!--可信网站图片LOGO安装开始-->
<!--<script src="http://kxlogo.knet.cn/seallogo.dll?sn=e15123144030061994wbpt000000&size=4"></script>  -->
<!--可信网站图片LOGO安装结束-->
</body>
</html>