

  
{wc:templates "index","header"}
<meta name="360-site-verification" content="b398afdee47fbf7039e3f507dff00b73" />  
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Home.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/NewHome.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/Newindex_shaidan.css"/>
<style type="text/css">

</style>
<!--banner and Recommend 开始-->
<div class="banner_recommend" style="margin:0 auto;">
	<div class="banner-box">
		
		<div class="demo">					
			<ul>	
            	{wc:loop $slides $key $slide}
                {wc:if $key == 0}
            	<li style="display:list-item;"><a href="{wc:$slide['link']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:$slide['img']}"></a></li>
             	{wc:else}
            <li style="display:none;"><a href="{wc:$slide['link']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:$slide['img']}"></a></li>
                {wc:if:end}
                {wc:loop:end}
           </ul>
			<div class="banner-box_button" style="display:none;" id="banner_select">
				<a class="banner_small" id="banner_left"></a>
				<a class="banner_small1" id="banner_right"></a>
			</div>
			 <div class="num">
			{wc:php:start}					
				for($i=1;$i<=count($slides);$i++){
					if($i==1){
						echo '<a class="cur"></a>';
					}else{
						echo '<a class=""></a>';
					}
				}
			{wc:php:end}
		
			</div>
			{wc:getlist:end}
		</div>
		
		<div class="new_publish">		      
            	<a href="javascript:;"><div class="arrows arrows2" arae="left"></div></a>
			  <div class="prin_pp" id="prin_pp">
			    
				{wc:loop $shopqishu $qishu}
				
				{wc:if $qishu['q_showtime']=='Y'}
				<!--倒计时容器-->
				<div class="print kdjs">					
						<div class="new_publish1" style="border-right:solid 1px #ebebeb">					
							<i class="ktag ico_label_newRevealready" title="即将揭晓"></i>
							<p class="w_goods_title xh_overflow_x">
								<a href="{WEB_PATH}/goods/{wc:$qishu['id']}" title="{wc:$qishu[title]}" target="_blank" >(第{wc:$qishu[qishu]}期){wc:$qishu[title]}</a>
							</p>
							<div class="w_goods_pic">
								<a href="{WEB_PATH}/goods/{wc:$qishu['id']}" target="_blank" >
								<img src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}">
								</a>
							</div>
							<p class="w_goods_price">总需：{wc:$qishu['zongrenshu']}人次</p>
							<div class="w_goods_record">
								{wc:php:start}
									$q_time = intval(substr($qishu['q_end_time'],0,10));
									if($q_time-time() <= 3540){
										$q_time = $q_time-time();
									}
								{wc:php:end}
								<input type="hidden" name="times" value="{wc:$q_time}"/>
								<input type="hidden" name="shopid" value="{wc:$qishu[id]}"/>
								<p>获奖者：<a href="javascript:;" class="username">马上揭晓</a></p> 
								<!-- style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden;" -->
								<p class="go" style="display:none;">本期参与：<a href="javascript:;" class="gonumber"  style="font-size:12px;color:#3c3c3c;font-weight:normal;"></a></p>
								<p>本期幸运号码：<a href="javascript:;" class="usercode" style="font-size:12px;color:#3c3c3c;font-weight:normal;">马上揭晓</a></p>
								<span class="wenzi">倒计时：</span>
								<span class="shi"><span class="minute">99</span>:<span class="minute">99</span>:<span class="minute">99</span></span>
								</span>				
							</div>
						</div>
				</div>
				{wc:else}
				{wc:php:start}
				$qishu['q_user'] = unserialize($qishu['q_user']);	
				$user_shop_number = $this->db->GetOne("select sum(gonumber) as gonumber from `@#_member_go_record` where `uid`= '$qishu[q_uid]' and `shopid` = '$qishu[id]' and `shopqishu` = '$qishu[qishu]'");
				$user_shop_number = $user_shop_number['gonumber'];
				{wc:php:end}				
          <div class='print'>
						<div class="new_publish1" style="border-right:solid 1px #ebebeb">
							<i class="ico_label_newReveal" title="最新揭晓"></i>
							<p class="w_goods_title"><a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" title="{wc:$qishu['title']}" class="xh_overflow_x">(第{wc:$qishu['qishu']}期){wc:$qishu[title]}</a></p>
							<div class="w_goods_pic">
								<a title="{wc:$qishu['title']}" href="{WEB_PATH}/dataserver/{wc:$qishu['id']}"><img src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}" /></a>
							</div>
							<p class="w_goods_price">总需：{wc:$qishu['zongrenshu']}人次</p>
							<div class="w_goods_record">
								<P class="xh_overflow_x">获奖者：<a href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}">{wc:fun:get_user_name($qishu['q_user'])}</a></P>
								<p>本期参与：{wc:$user_shop_number}人次</p>
								<p>本期幸运号码：{wc:$qishu['q_user_code']}</p>
							</div>
						</div>
					</div>
				{wc:if:end}
				{wc:loop:end}	
                		
           	
			</div>
                <a href="javascript:;"><div class="arrows arrows1" arae="right"></div></a>
			<div class="controller-nav">
				<a class="cur" id="cur_k1" qarae="lee" href="javascript:;"></a>
				<a class="" id="cur_k2" qarae="lel" href="javascript:;"></a>
				<a class="" id="cur_k3" qarae="lcc" href="javascript:;"></a>
		    </div>
			</div>
		</div>			
	<script type="text/javascript">
$(function(){
	var sw = 0;//当前第几张banner  0 是第一张
	$(".demo .num a").mouseover(function(){
		sw = $(".num a").index(this);
		myShow(sw);
	});
	//上一张幻灯片
	$('#banner_left').bind('click',function(){
		sw--;
		if(sw<0){
			sw = '{wc:fun:count($slides)}' - 1;
		}	
		myShow(sw);
	});
	//下一张幻灯片
	$('#banner_right').bind('click',function(){
		sw++;
		if(sw=='{wc:fun:count($slides)}'){
			sw = 0;
		}
		myShow(sw);
	});
	
	function myShow(i){
		$(".demo .num a").removeClass("cur");
		$(".demo .num a").eq(i).addClass("cur");
		$(".demo ul li").eq(i).stop(true,true).fadeIn(600).siblings("li").fadeOut(600);
	}
	//鼠标移动到 demo这个类上，就显示
	$('.demo').mouseover(function(){
		$('#banner_select').show();
	});
	//鼠标从 demo这个类上移开，就隐藏
	$('.demo').mouseout(function(){
		$('#banner_select').hide();
	});
	//自动开始
	var myTime = setInterval(function(){
		sw++;
		if(sw=='{wc:fun:count($slides)}'){sw=0;}
	  myShow(sw);
	} , 5000);
	//滑入停止动画，滑出开始动画
	$(".demo").hover(function(){
		if(myTime){
		   clearInterval(myTime);
		}
	},function(){
		myTime = setInterval(function(){
			sw++;
		  if(sw=='{wc:fun:count($slides)}'){sw=0;}
		  myShow(sw);
		} , 5000);
	});
	
	
	//20151212  倒计时商品
	var _djs = $('.kdjs');
	if(_djs.length > 0){
		_djs.each(function(){
			var times = $(this).find('input[name="times"]').val();
			times = (new Date().getTime())+(parseInt(times))*1000;
			do_show_time(times,$(this));
		});
	}
	//20151212 执行倒计时
	function do_show_time(endTime,obj){
		rTimeout = window.setTimeout(function(){do_show_time(endTime,obj);},50);
		timeold = endTime-(new Date().getTime());
		if(timeold <= 0){
			obj.find('.shi').html("正在计算...");
			rTimeout && clearTimeout(rTimeout);
			get_lottery_info(obj);
		}else{
			sectimeold=timeold/1000;
			secondsold=Math.floor(sectimeold); 
			msPerDay=24*60*60*1000;
			e_daysold=timeold/msPerDay;
			daysold=Math.floor(e_daysold); 				//天	
			e_hrsold=(e_daysold-daysold)*24; 
			hrsold=Math.floor(e_hrsold); 				//时
			e_minsold=(e_hrsold-hrsold)*60;	
			//分
			minsold=Math.floor((e_hrsold-hrsold)*60);
			minsold = (minsold<10?'0'+minsold:minsold)
			minsold = new String(minsold);
			i = minsold.substr(0,2);	

			//秒
			e_seconds = (e_minsold-minsold)*60;	
			seconds=Math.floor((e_minsold-minsold)*60);
			seconds = (seconds<10?'0'+seconds:seconds)
			seconds = new String(seconds);
			s = seconds.substr(0,2);
			//毫秒	
			ms = e_seconds-seconds;
			ms = new String(ms)
			mss = ms.substr(2,2);
			
			str = '<span class="minute">'+i+'</span>:<span class="minute">'+s+'</span>:<span class="minute">'+mss+'</span>';
			obj.find('.shi').html(str);
		}
	}
	//获取中奖信息
	function get_lottery_info(obj)
	{
		var shopid = obj.find('input[name="shopid"]').val();
		setTimeout(function(){
			$.post("{WEB_PATH}/api/getshop/get_lottery_info",{shopid:shopid},function(_data){
				if(_data.status==1){
					obj.find('.ktag').removeClass('ico_label_newRevealready').addClass('ico_label_newReveal').attr('title','最新揭晓');
					var turl = '{WEB_PATH}/uname/'+(1000000000 + parseInt(_data.data.uid));
					obj.find('.shi,.wenzi').remove();
					obj.find('.username').html('<a href="'+turl+'">'+_data.data.username+'</a>');
					obj.find('.usercode').html(_data.data.usercode);
					obj.find('.go').show();
					obj.find('.gonumber').html(_data.data.gonumber+'人次');
				}else{
					obj.find('.shi').html("倒计时：网络不给力,请刷新页面！");
				}
			},'json');
		},6000);	//正常6秒就可以取到数据 
	}
	
});
</script>
    <!-- 首页右边推荐商品一个 st
    art-->
    {wc:if $new_shop}
        <div class="recommend" style="margin:0 auto;">
        	<a href="javascript:;"><div class="arrL" arae="left"></div></a>
		    <div class="banner_box">
		        	<div class="honesty_box1" style="height:248px;width:228px;text-align: center;border-top: 1px solid rgb(222,222,222);">
		            <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}">
		                <img src="{G_UPLOAD_PATH}/{wc:$new_shop['thumb']}" style="height:148px;margin:20px 0px;" title="{wc:$new_shop['title']}">
		            </a>

		            <p class="name" style="width:90%;padding-left:5%;">
		                <b>
		                    <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}" target="_blank" title="{wc:$new_shop['title']} " class="xh_overflow_x">
		                        &nbsp;{wc:$new_shop[title]}
		                    </a>
		                </b>
		            </p>
		            <p class="money">价值：<span class="rmb">{wc:$new_shop['money']}</span></p>

		       	 </div>
		        	<div class="honesty_box2" style="height:248px;width:228px;text-align: center;border-top: 1px solid rgb(222,222,222);">
		            <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}">
		                <img src="{G_UPLOAD_PATH}/{wc:$new_shop['thumb']}" style="height:148px;margin:20px 0px;" title="{wc:$new_shop['title']}">
		            </a>

		            <p class="name" style="width:90%;padding-left:5%;">
		                <b>
		                    <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}" target="_blank" title="{wc:$new_shop['title']} " class="xh_overflow_x">
		                        &nbsp;{wc:$new_shop[title]}
		                    </a>
		                </b>
		            </p>
		            <p class="money">价值：<span class="rmb">{wc:$new_shop['money']}</span></p>

		       	 </div>
		        	<div class="honesty_box3" style="height:248px;width:228px;text-align: center;border-top: 1px solid rgb(222,222,222);">
		            <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}">
		                <img src="{G_UPLOAD_PATH}/{wc:$new_shop['thumb']}" style="height:148px;margin:20px 0px;" title="{wc:$new_shop['title']}">
		            </a>

		            <p class="name" style="width:90%;padding-left:5%;">
		                <b>
		                    <a href="{WEB_PATH}/goods/{wc:$new_shop['id']}" target="_blank" title="{wc:$new_shop['title']} " class="xh_overflow_x">
		                        &nbsp;{wc:$new_shop[title]}
		                    </a>
		                </b>
		            </p>
		            <p class="money">价值：<span class="rmb">{wc:$new_shop['money']}</span></p>

		        	</div>
		    </div>
        	<a href="javascript:;"><div class="arrR" arae="left"></div></a>
        </div>
<script type="text/javascript">
$(".arrL").click(function(){
	$(".banner_box").css("left","-=228px");
	var Left =parseInt($(".banner_box").css("left"))-100; 
	if(Left<-228){
		$(".banner_box").css("left","228px");
	}
	if(Left>228){
		$(".banner_box").css("left","-228px");
	}
})
$(".arrR").click(function(){
	$(".banner_box").css("left","+=228px");
	var Left =parseInt($(".banner_box").css("left"))+100; 
	if(Left<-228){
		$(".banner_box").css("left","228px");
	}
	if(Left>228){
		$(".banner_box").css("left","-228px");
	}
})
	
</script>		
	{wc:if:end}   
	 <!--诚信经营 start-->

         <div class="recommend1" style="margin:0 auto;">   
             <div class="honesty">

                 <div class="honesty_box"  style="height:140px;padding-bottom:40px;padding-top: 10px;width:100%;">
                     <ul >
                         <!--<li><a href="http://info.1yyg.com/sincerity/index.html" target="_blank" title="诚信网站"><i class="i1"></i>&nbsp;诚信网站</a></li>
                         <li><a href="http://info.1yyg.com/sincerity/index.html#rz2" target="_blank" rel="nofollow" title="可信网站"><i class="i2"></i>&nbsp;可信网站</a></li>
                         <li><a href="http://info.1yyg.com/sincerity/index.html#rz3" target="_blank" rel="nofollow" title="电商诚信"><i class="i3"></i>&nbsp;电商诚信</a></li>
                         <li><a href="http://info.1yyg.com/sincerity/index.html#rz4" target="_blank" rel="nofollow" title="安信宝"><i class="i4"></i>&nbsp;安信宝&nbsp;</a></li>
                         <li><a href="http://info.1yyg.com/sincerity/index.html#rz5" target="_blank" rel="nofollow" title="监督管理局"><i class="i5"></i>监督管理局</a></li>
                         <li><a href="http://info.1yyg.com/sincerity/index.html" target="_blank" rel="nofollow" class="box_small" title="更多"><i class="i6"></i>&nbsp;更&nbsp;多&nbsp;</a></li>-->
                         <li><a href="javascript:;" target="_blank" title="诚信网站"><i class="i1"></i>&nbsp;诚信网站</a></li>
                         <li><a href="javascript:;" target="_blank" rel="nofollow" title="可信网站"><i class="i2"></i>&nbsp;可信网站</a></li>
                         <li><a href="javascript:;" target="_blank" rel="nofollow" title="电商诚信"><i class="i3"></i>&nbsp;电商诚信</a></li>
                         <li><a href="javascript:;" target="_blank" rel="nofollow" title="安信宝"><i class="i4"></i>&nbsp;安信宝&nbsp;</a></li>
                         <li><a href="javascript:;" target="_blank" rel="nofollow" title="监督管理局"><i class="i5"></i>监督管理局</a></li>
                         <li><a href="javascript:;" target="_blank" rel="nofollow" class="box_small" title="更多"><i class="i6"></i>&nbsp;更&nbsp;多&nbsp;</a></li>
                     </ul>
                 </div>
             </div>
<!--              <div class="honesty_box1" style="height:235px;width:100%;text-align: center;border-top: 1px solid rgb(222,222,222);">
                 <a href="{WEB_PATH}/goods/{wc:$new_shop_mun['id']}">
                     <img src="{G_UPLOAD_PATH}/{wc:$new_shop_mun['thumb']}" style="height:148px;margin:20px 0px;" title="{wc:$new_shop_mun['title']}">
                 </a>

                 <p class="name" style="width:90%;padding-left:5%;">
                     <b>
                         <a href="{WEB_PATH}/goods/{wc:$new_shop_mun['id']}" target="_blank" title="{wc:$new_shop_mun['title']} " class="xh_overflow_x">
                             &nbsp;{wc:$new_shop_mun[title]}
                         </a>
                     </b>
                 </p>
                 <p class="money">价值：<span class="rmb">{wc:$new_shop_mun['money']}</span></p>

             </div>  -->
         </div>
	
	 <!--诚信经营end-->
</div>
<!--banner and Recommend 结束-->

<!--即将揭晓 开始-->
<div class="goods_hot" style="margin:0 auto;">
    <div class="goods_left">

        <div class="hot" style="">
            <span class="xbigtitle"><p><span>即将揭晓</span><a rel="nofollow" href="{WEB_PATH}/goods_list/0_0_1">更多&gt;&gt;</a></p></span>
            <ul id="hostGoodsItems" class="hot-list">			
                {wc:loop $shoplist $shop}

                <li class="list-block">
                    <div class="pic"><a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']}">


                            {wc:if $shop['is_new']=='1'}						
                            {wc:php:start}echo '<i class="goods_xp"></i>';{wc:php:end}					
                            {wc:if:end}
                            {wc:if $shop['pos']!='0'}						
                            {wc:php:start}echo '<i class="goods_tj"></i>';{wc:php:end}	
                            {wc:if:end}
                            {wc:if $shop['renqi']=='1'}						
                            {wc:php:start}echo '<i class="goods_rq"></i>';{wc:php:end}				
                            {wc:if:end}
                            {wc:if $shop['is_shi'] ==1}						
                            {wc:php:start}echo '<i class="goods_xp_shi"></i>';{wc:php:end}					
                            {wc:if:end}

                            <img src="{G_UPLOAD_PATH}/{wc:$shop['thumb']}" alt="{wc:$shop['title']}"></a>
                    </div>
                    <p class="name"><a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']}" class="xh_overflow_x">{wc:$shop['title']}</a></p>
                    <p class="money">价值：<span class="rmb">{wc:$shop['money']}</span></p>
                    <div class="Progress-bar" style="">
                        <p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}"><span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],221)}px;"></span></p>
                        <ul class="Pro-bar-li">
                            <li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与人次</li>
                            <li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
                            <li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余人次</li>
                        </ul>
                    </div>
                    <div class="shop_buttom">
                        <input type="hidden" value="{WEB_PATH}/goods/{wc:$shop['id']}" />
                        <a href="{WEB_PATH}/goods/{wc:$shop['id']}" class="w-button w-button-main w-button-l xhone_win" width="70px;" default-renci="{wc:$shop['default_renci']}">立即夺宝</a>
                        <a class="w-button w-button-addToCart" href="javascript:void(0)" max-number="{wc:$shop['wap_ten']}" title="添加到购物车" default-renci="{wc:$shop['default_renci']}"></a>
                    </div>
                </li>
                {wc:loop:end}
            </ul>
        </div>
    </div>
    <div class="goods_right">


        <div class="share">
            <h3>最新参与记录</h3>
            <div id="buyList-Modify" class="buyList" style="overflow:hidden">		
                <ul id="buyList" style="margin-top: 0px;">

                    {wc:loop $go_recordb $gorecord}
                    <li>
                        <a href="{WEB_PATH}/goods/{wc:$gorecord['shopid']}" class="pic" target="_blank">
                            <img src="{G_UPLOAD_PATH}/{wc:fun:shopimg($gorecord['shopid'])}"></a>
                        <span class="who"><p style="display: inline;"><a class="blue" href="{WEB_PATH}/uname/{wc:fun:idjia($gorecord['uid'])}">{wc:fun:get_user_name($gorecord)}</a></p>刚刚夺宝了</span>
						<!--<span class="who"><p style="display: inline;"><a class="blue" href="{WEB_PATH}/uname/{wc:fun:idjia($gorecord['uid'])}">{wc:$gorecord['username']}</a></p>刚刚夺宝了</span>-->
                        <span><a href="{WEB_PATH}/goods/{wc:$gorecord['shopid']}" class="name xh_overflow_x" target="_blank">{wc:$gorecord['shopname']}</a></span>
                    </li>
                    {wc:loop:end}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--即将揭晓 结束-->

<div class="clear"></div>

<!--product 开始-->
<div class="get_ready" style="margin:0 auto;">
    <span class="xbigtitle"><p><span>人气商品</span><a rel="nofollow" href="{WEB_PATH}/goods_list/0_0_2">更多&gt;&gt;</a></p></span>
    <ul id="hostGoodsItems" class="hot-list">
        {wc:loop $shoplistrenqi $renqi}

        <li class="list-block">
            {wc:if $renqi['pk_product']==1}
                {wc:php:start}echo '<i class="goods_xp_shis"></i>';{wc:php:end}
                <span class="pk_numer">{wc:$renqi['pk_number']}</span> 
            {wc:if:end}	
            <div class="pic"><a href="{WEB_PATH}/goods/{wc:$renqi['id']}" target="_blank" title="{wc:$renqi['title']}">					
                    {wc:if $renqi['is_shi']=='1'}						
                    {wc:php:start}echo '<i class="goods_xp_shi"></i>';{wc:php:end}	
                    {wc:else}
                    {wc:php:start}echo '<i class="goods_rq"></i>';{wc:php:end}
                    {wc:if:end}					

                    <img src="{G_UPLOAD_PATH}/{wc:$renqi['thumb']}" alt="{wc:$renqi['title']}"></a></div>
            <p class="name"><a href="{WEB_PATH}/goods/{wc:$renqi['id']}" target="_blank" title="{wc:$renqi['title']}" class="xh_overflow_x">{wc:$renqi['title']}</a></p>
            <p class="money">价值：<span class="rmb">{wc:$renqi['money']}</span></p>
            <div class="Progress-bar" style="">
                <p title="已完成{wc:fun:percent($renqi['canyurenshu'],$renqi['zongrenshu'])}"><span style="width:{wc:fun:width($renqi['canyurenshu'],$renqi['zongrenshu'],221)}px;"></span></p>
                {wc:if $renqi['pk_product']==1}
                    <ul class="Pro-bar-li">
                        <li class="P-bar01"><em>{wc:$renqi['pk_cishu']}</em>已参与人次</li>
                        <li class="P-bar02"><em>{wc:$renqi['pk_number']}</em>总需人次</li>
                        <li class="P-bar03"><em>{wc:$renqi['pk_number']-$renqi['pk_cishu']}</em>剩余人次</li>
                    </ul>
                {wc:else}
                    <ul class="Pro-bar-li">
                        <li class="P-bar01"><em>{wc:$renqi['canyurenshu']}</em>已参与人次</li>
                        <li class="P-bar02"><em>{wc:$renqi['zongrenshu']}</em>总需人次</li>
                        <li class="P-bar03"><em>{wc:$renqi['zongrenshu']-$renqi['canyurenshu']}</em>剩余人次</li>
                    </ul>
                {wc:if:end}
<!--                <ul class="Pro-bar-li">
                    <li class="P-bar01"><em>{wc:$renqi['canyurenshu']}</em>已参与人次</li>
                    <li class="P-bar02"><em>{wc:$renqi['zongrenshu']}</em>总需人次</li>
                    <li class="P-bar03"><em>{wc:$renqi['zongrenshu']-$renqi['canyurenshu']}</em>剩余人次</li>
                </ul>-->
            </div>
            <div class="shop_buttom">
                <input type="hidden" value="{WEB_PATH}/goods/{wc:$renqi['id']}" />
                <a href="{WEB_PATH}/goods/{wc:$renqi['id']}" class="w-button w-button-main w-button-l xhone_win" width="70px;" default-renci="{wc:$renqi['default_renci']}">立即夺宝</a>
                <a class="w-button w-button-addToCart" href="javascript:void(0)" max-number="{wc:$renqi['wap_ten']}" title="添加到购物车" default-renci="{wc:$renqi['default_renci']}"></a>
            </div>
        </li>
        {wc:loop:end}
    </ul>	
</div>
<!--product 结束-->
<div class="clear"></div>
<script type="text/javascript" src="{G_TEMPLATES_JS}/scroll.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.buyList li:even').addClass('lieven');
	})
	$(function(){
		$("div.buyList").myScroll({
			speed:40, //数值越大，速度越慢
			rowHeight:90 //li的高度
		});
	});
</script>




<!--商品 开始-->
<div class="get_ready" style="margin:0 auto;">
    <span class="xbigtitle"><p><span style="color:#000">最新上架</span><a rel="nofollow" href="{WEB_PATH}/goods_list/0_0_4">更多&gt;&gt;</a></p></span>
    <ul id="readyLotteryItems" class="hot-list">
        {wc:loop $shoplistnew $shop}
        <li class="list-block">
            {wc:if $renqi['pk_product']==1}
                {wc:php:start}echo '<i class="goods_xp_shis"></i>';{wc:php:end}
                <span class="pk_numer">{wc:$renqi['pk_number']}</span> 
            {wc:if:end}	
            <div class="pic"><a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']}">
                    {wc:if $shop['is_shi']=='1'}
                    {wc:php:start}echo '<i class="goods_xp_shi"></i>';{wc:php:end}	
                    {wc:else}					
                    {wc:php:start}echo '<i class="goods_xp"></i>';{wc:php:end}					
                    {wc:if:end}			
                    <img src="{G_UPLOAD_PATH}/{wc:$shop['thumb']}" alt="{wc:$shop['title']}"></a></div>
            <p class="name"><a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']}" class="xh_overflow_x">{wc:$shop['title']}</a></p>
            <p class="money">价值：<span class="rmb">{wc:$shop['money']}</span></p>
            <div class="Progress-bar" style="">
                <p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}"><span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],221)}px;"></span></p>
                {wc:if $shop['pk_product']==1}
                    <ul class="Pro-bar-li">
                        <li class="P-bar01"><em>{wc:$shop['pk_cishu']}</em>已参与人次</li>
                        <li class="P-bar02"><em>{wc:$shop['pk_number']}</em>总需人次</li>
                        <li class="P-bar03"><em>{wc:$shop['pk_number']-$shop['pk_cishu']}</em>剩余人次</li>
                    </ul>
                {wc:else}
                    <ul class="Pro-bar-li">
                        <li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与人次</li>
                        <li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
                        <li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余人次</li>
                    </ul>
                {wc:if:end}
<!--                <ul class="Pro-bar-li">
                    <li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与人次</li>
                    <li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
                    <li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余人次</li>
                </ul>-->
            </div>
            <div class="shop_buttom">
                <input type="hidden" value="{WEB_PATH}/goods/{wc:$shop['id']}" />
                <a href="javascirpt:void(0)" class="w-button w-button-main w-button-l xhone_win" width="70px;" default-renci="{wc:$shop['default_renci']}">立即夺宝</a>
                <a class="w-button w-button-addToCart" href="javascript:void(0)" max-number="{wc:$shop['wap_ten']}" title="添加到购物车" default-renci="{wc:$shop['default_renci']}"></a>

            </div>
        </li>
        {wc:loop:end}			
    </ul>
</div>
<!--弹窗-->
<!--2017-06-12-->
<!--{wc:templates "index","outbox"}-->


<script type="text/javascript">
var uid = "{wc:$_COOKIE['uid']}";
var shopinfo = '';
$(function(){
	
	//	<!--点击立刻夺宝跑到购物车中去20105/12/11start-->
	$(".xhone_win").click(function(){
			shopinfo = getaddcartinfo($(this));
			var numdig= 1;
			Cartcookie(true);
			//window.location.href= "{WEB_PATH}/member/cart/cartlist";
			return false;
		});
	//<!--点击立刻夺宝跑到购物车中去20105/12/11end-->

	$(".w-button-addToCart").click(function(){ 
		//添加到购物车动画
		var _parents = $(this).parents(".list-block");
		if(_parents.find(".P-bar03 em").text() <= 0){
			
			return false;
		}
		shopinfo = getaddcartinfo($(this));
		if(!Cartcookie(false)){
			//alert('购买数量达到上限！');
			$('.Model_title').text('友情提示');
			$('.Model_text').text('购买数量达到上限！');
			$('#Model_fade').click();
			return false;
		}
		var src=_parents.children(".pic").find("img").attr('src');
		var $shadow = $('<img id="cart_dh" style="display: none; border:1px solid #aaa; z-index: 99999;" width="400" height="400" src="'+src+'" />').prependTo("body"); 
		var $img = _parents.children(".pic").find("img");
		$shadow.css({ 
		   'width' : $img.css('width'), 
		   'height': $img.css('height'),
		   'position' : 'absolute',      
		   'top' : $img.offset().top,
		   'left' : $img.offset().left, 
		   'opacity' :1
		}).show();	

			
		
		//shopinfo={'shopid':shopid,'money':xmoney,'shenyu':xshengyue,'renci':default_renci};		//2015.12.08  kangpengfei 增加了'renci' = default_renci
	
		var $cart =$("#btnMyCart");
		var numdig= 1;
		$shadow.animate({   
			width: 1, 
			height: 1, 
			top: $cart.offset().top, 
			left: $cart.offset().left,
			opacity: 0
		},500,function(){
			
		});		
	});
	
});

function getaddcartinfo(obj){
	var _obj = obj.parent().children(0);
	var _shopid_num = _obj.val().lastIndexOf("/")+1;
	var shopid = _obj.val().substr(_shopid_num);
	
	var xmoney = obj.parents(".list-block").find(".money").find(".rmb").text();
	//var xshengyue = parseInt(obj.parents(".list-block").find(".P-bar03").find("em").text());
	
	var wap_ten	= obj.attr('max-number');
	
	//默认人次
	var default_renci = parseInt(obj.attr('default-renci'));
	
	xmoney = default_renci * xmoney;
	shopinfo={'shopid':shopid,'money':xmoney,'shenyu':wap_ten,'renci':default_renci};

	return shopinfo;
}

function Cartcookie(cook){
	
	var shopid=shopinfo.shopid;
	shopid = parseInt(shopid);
	var number= 1;
	if(typeof shopinfo.renci != 'undefined') number = shopinfo.renci;
	if(number<=1){number=1;}
	var Cartlist = $.cookie('Cartlist');
	
	if(!Cartlist){
		var info = {};
	}else{
		var info = eval('('+Cartlist+')');
		if((typeof info) !== 'object'){
			var info = {};
		}
	}		

	if(!info[shopid]){
		var CartTotal=$("#sCartTotal").text();
			$("#sCartTotal").text(parseInt(CartTotal)+1);
			$("#btnMyCart em").text(parseInt(CartTotal)+1);
	}
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid].num = typeof(info[shopid].num)=='undefined' ? number : Number(info[shopid].num)+Number(number);
	info[shopid].shenyu = shopinfo.shenyu;
	//加入购物车数量达到上限
	if(info[shopid].num > info[shopid].shenyu){
		//alert('您的购买数量已经达到上限');
		return false;
		//info[shopid].num = info[shopid].shenyu;
	}
	info[shopid].money = typeof(info[shopid].money)=='undefined' ? shopinfo.money : Number(info[shopid].money)+Number(shopinfo.money);
	info.MoenyCount = '0.00';	
	$.cookie('Cartlist',$.toJSON(info),{expires:7,path:'/'});
	
	
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist/"+new Date().getTime();//+new Date().getTime()
	}else{
		return true;
	}
	
}
function isNull(str) {
	if (str == null || str == "" || str == "undefined") {
		return true;
	}
	return false;
}

function addCookie(objName, objValue, objHours){//添加cookie
	var str = objName + "=" + escape(objValue)+"; path=/";
	if (objHours > 0) {//为0时不设定过期时间，浏览器关闭时cookie自动消失
		var date = new Date();
		var ms = objHours * 3600 * 1000;
		date.setTime(date.getTime() + ms);
		str += "; expires=" + date.toGMTString();
	}
	document.cookie = str;
}

function getCookie(objName){//获取指定名称的cookie的值
	var arrStr = document.cookie.split("; ");
	for (var i = 0; i < arrStr.length; i++) {
		var temp = arrStr[i].split("=");
		if (temp[0] == objName)
			return unescape(temp[1]);
	}
}

function delCookie(name){//为了删除指定名称的cookie，可以将其过期时间设定为一个过去的时间
	var date = new Date();
	date.setTime(date.getTime() - 10000);
	document.cookie = name + "=a; expires=" + date.toGMTString()+"; path=/";
}

/*
function Cartcookie(cook){
	var shopid=shopinfo['shopid'];
	var number= 1;
	if(typeof shopinfo['renci'] != 'undefined') number = shopinfo['renci'];
	if(number<=1){number=1;}
	var Cartlist = $.cookie('Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = $.evalJSON(Cartlist);
		if((typeof info) !== 'object'){
			var info = {};
		}
	}		
	if(!info[shopid]){
		var CartTotal=$("#sCartTotal").text();
			$("#sCartTotal").text(parseInt(CartTotal)+1);
			$("#btnMyCart em").text(parseInt(CartTotal)+1);
	}
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid]['num'] = typeof(info[shopid]['num'])=='undefined' ? number : Number(info[shopid]['num'])+Number(number);
	info[shopid]['shenyu'] = shopinfo['shenyu'];
	if(info[shopid]['num'] > info[shopid]['shenyu']){
		info[shopid]['num'] = info[shopid]['shenyu'];
	}
	info[shopid]['money'] = typeof(info[shopid]['money'])=='undefined' ? shopinfo['money'] : Number(info[shopid]['money'])+Number(shopinfo['money']);
	info['MoenyCount']='0.00';	
	$.cookie('Cartlist',$.toJSON(info),{expires:7,path:'/'});
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist/"+new Date().getTime();//+new Date().getTime()
	}
}**/


</script>
<!--商品 结束-->

<!--晒单分享-->
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/index_shaidan.css"/>

<div class="lottery_show">
    <div class="share_show">
        <span class="xbigtitle"><p><span style="color:#000">晒单分享</span><a href="{WEB_PATH}/go/shaidan/" target="_blank">更多&gt;&gt;</a></p></span>
        <div class="xshandan_list"> 
            <ul id="xshandan_list">
                {wc:php:start}
                $k=1;
                $count = count($shaidan);
                {wc:php:end}
                <li>
                    <div class="xshaidan_shu xshaidan_shu-Modify"></div>
                    {wc:loop $shaidan $sd}
                    <div class='xshangdan_list_float xshangdan_list_float-Modify'>
                        <div class="xshandan_list_img"><a href="{WEB_PATH}/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">
                                {wc:if empty($sd['sd_thumbs'])}
                                <img src="{G_TEMPLATES_STYLE}/images/new/fengxiang.jpg" />
                                {wc:else}
                                <img src="{G_UPLOAD_PATH}/{wc:$sd['sd_thumbs']}" />
                                {wc:if:end}
                            </a></div>
                        <div class="xshandan_list_content">
                            <div class="xshandan_list_content_l"><img src="{G_TEMPLATES_STYLE}/images/new/1.png" /></div>
                            <div class="xshandan_list_content_top">{wc:$sd['sd_content']}</div>
                            <div class="xshandan_list_content_bottom">
                                <span style="color:#b1b1b1;font-size:10px; padding-right:2px;">—— ——</span>
                                <span><a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" style="color:#2af">{wc:fun:get_user_name($sd['sd_userid'])}</a></span>
                                <span style="color:#999">{wc:$sd['sd_time']}</span>
                            </div>
                            <div class="xshandan_list_content_r"><img src="{G_TEMPLATES_STYLE}/images/new/2.png" /></div>

                        </div>					
                    </div>
                    {wc:if $k%2==0 && $k != $count}
                </li><li><div class="xshaidan_shu xshaidan_shu-Modify"></div>
                    {wc:if:end}
                    {wc:php:start}
                    $k++;
                    {wc:php:end}
                    {wc:loop:end}

                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="{G_TEMPLATES_JS}/jquery_scroll.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	 //晒单分享上下滚动
	$("#xshandan_list").rollGallery({
		direction:"top",
		speed:2000,
		showNum:12,
	});	
});
</script>
<!--晒单分享end-->

<!--新闻列表-->
<style>
.lottery_news{ width:100%; border:1px solid #000;}
</style>
<!--/新闻列表-->

<!--2015/12/08登录窗口开始-->
{wc:templates "user","login_ajax"}  
<!--登录窗口结束-->

{wc:templates "index","footer"}

<script type="text/javascript">
 //clc修改
 $(document).ready(function() {
	 var href=window.location.href;
		if(href.indexOf('islogin=0') >= 0 && !uid){
			setTimeout(ajax_login(),2000);
		}
		
    $(window).scroll(function() {
 
        if ($(document).scrollTop()<=535){
		   $(".new_publish").mouseover(function(){
				$(".arrows").show();
			});
			$(".new_publish").mouseout(function(){
			  $(".arrows").hide();
		   });
        }
 
        if ($(document).scrollTop() >= 535) {
		
            $(".new_publish").mouseover(function(){
				$(".arrows").hide();
			});
        }
    });
});
//右移动
  $(".arrows1").click(function(){
	 var arae   = $(this).attr("arae");
	 var leftpx = parseInt($("#prin_pp").css("left"));	
	 var leftpx1 = $("#prin_pp").css("left");	
	 var time = 500;
	 if(arae == 'left'){
		leftpx += 1200;
		//$(".controller-nav a").attr("alt","");
		//$(this).parents(".new_publish").find(".controller-nav").find("a").attr("alt","cur")
		//$(this).parents(".new_publish").find(".controller-nav").find(".cur").css("background","#000");
	 }else{
		leftpx -= 1200;
	 }	 
	 if((leftpx < (-1200 * 2))){
		leftpx = 0;	
		time = 250;
	 }
	 
	 if(leftpx > 0){		
		leftpx = (-1200*2);
		time = 250;
	 }	 
 
	 if(leftpx1 == "0px"){
	   $("#cur_k2").css("background","#e53c08");
	   $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
	 }
	 if(leftpx1 == "-1200px"){
	   $("#cur_k3").css("background","#e53c08");
	   $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k2").css("background","#b7b7b7");
	 }
	  if(leftpx1 == "-2400px"){
	   $("#cur_k1").css("background","#e53c08");
	   $("#cur_k2").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
	 }
	 	 $("#prin_pp").animate({left:leftpx+"px"});	
  });
//左移动
  $(".arrows2").click(function(){
	 var arae   = $(this).attr("arae");
	 var leftpx = parseInt($("#prin_pp").css("left"));	
	 var leftpx1 = $("#prin_pp").css("left");	 
	 var time = 500;
	 if(arae == 'left'){
		leftpx += 1200;
	 }else{
		leftpx -= 1200;
	 }	 
	 if((leftpx < (-1200 * 2))){
		leftpx = 0;	
		time = 250;
	 }
	 
	 if(leftpx > 0){		
		leftpx = (-1200*2);
		time = 250;
	 }	 
 
	 if(leftpx1 == "0px"){
	   $("#cur_k3").css("background","#e53c08");
	   $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k2").css("background","#b7b7b7");
	 }
	 if(leftpx1 == "-2400px"){
	   $("#cur_k2").css("background","#e53c08");
	   $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
	 }
	  if(leftpx1 == "-1200px"){
	   $("#cur_k1").css("background","#e53c08");
	   $("#cur_k2").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
	 }
	 	 $("#prin_pp").animate({left:leftpx+"px"});	
  });  


   $(".rect_rem").mouseover(function(){
      $(".arr_row").show();
   });
    $(".rect_rem").mouseout(function(){
      $(".arr_row").hide();
   });

    
  $("#cur_k1").click(function(){
     var qarae   = $(this).attr("qarae");
	 var leftpx = parseInt($("#prin_pp").css("left"));	
	 if(qarae == 'lee'){
		leftpx =0;
	 }else{
		leftpx = leftpx-1200;
	 }	 
	  $("#prin_pp").animate({left:leftpx+"px"});	 
       $(this).css("background","#e53c08");
	   $("#cur_k2").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
  });
  $("#cur_k2").click(function(){
     var warae   = $(this).attr("qarae");
	 var leftpx = parseInt($("#prin_pp").css("left"));	
	  if(warae == 'lel'){
		leftpx = -1200;
	 }else{
		leftpx =leftpx+1200;
	 }	 
	  $("#prin_pp").animate({left:leftpx+"px"});	
       $(this).css("background","#e53c08");
       $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k3").css("background","#b7b7b7");
  });
  $("#cur_k3").click(function(){
     var earae   = $(this).attr("qarae");
	 var leftpx = parseInt($("#prin_pp").css("left"));	
	  if(earae == 'lcc'){
		leftpx = -2400;
	 }else{
		leftpx =leftpx+1200;
	 }	 
	  $("#prin_pp").animate({left:leftpx+"px"});	
       $(this).css("background","#e53c08");
	   $("#cur_k1").css("background","#b7b7b7");
	   $("#cur_k2").css("background","#b7b7b7");
	    
  });
</script>

<script type="text/javascript" src="{G_WEB_PATH}/statics/plugin/layer/new/newlayer.js"></script><!--首页弹窗广告-->
<script>
//首页弹窗广告
$(function(){
	var adv = {};
	adv.is_open = '{wc:$index_adv[is_open]}';
	adv.show_type = '{wc:$index_adv[show_type]}';
	adv.show_time = '{wc:$index_adv[times]}';
	adv.link = "{wc:$index_adv[link]}";
	adv.pics = "{wc:$index_adv[pics]}";
	adv.width = "{wc:$index_adv[width]}" + 'px';
	adv.height = "{wc:$index_adv[height]}" + 'px';

	/*if(adv.is_open==1){
	 var is_show = $.cookie('is_show_adv');
	 if(typeof(is_show) == 'undefined' || is_show == 0){
	 layer.ready(function(){
	 var index_adv = layer.open({
	 //						type: 1,
	 //						title: false,	//不显示title更好看，如果要显示，就把false改成要的标题即可
	 //						area: [adv.width , adv.height],
	 //						shadeClose: false,	//不允许点击其他地方关闭该层
	 //						content: '<div style="width:100%;height:100%;overflow:hidden;"><a href="'+adv.link+'" target="_blank"><img src="'+adv.pics+'"/></a></div>'
	 });
	 });
	 var val = adv.show_type == 1 ? 0 : 1;//等於1或者0，沒有就等於1
	 $.cookie('is_show_adv',val);
	 setTimeout(function(){layer.closeAll();},Number(adv.show_time)*1000);

	 }
	 }*/
	function getExpireTime(){
		var date = new Date();
		var hour = 23-date.getHours();
		var min = 59-date.getMinutes();
		var ms = (3600*hour + 60*min)*1000;
		return ms;
	}
	console.log(adv);
	if(adv.is_open == '1'){
		console.log('弹窗设置开启');
		if(adv.show_type == 2){
			console.log('弹窗设置每天一次');
			//设置广告弹窗
			var need_frame = getCookie('out_frame');
			if(need_frame == 2){
				//已经弹出
				console.log('已弹');
				return false;
			}else{
				//弹窗
				console.log('广告开始');
				//弹窗显示
				layer.ready(function(){
					var index_adv = layer.open({
						type: 1,
						title: false,	//不显示title更好看，如果要显示，就把false改成要的标题即可
						area: [adv.width , adv.height],
						shadeClose: false,	//不允许点击其他地方关闭该层
						content: '<div style="width:100%;height:100%;overflow:hidden;"><a href="'+adv.link+'" target="_blank"><img src="'+adv.pics+'"/></a></div>'
					});
				});
				setTimeout(function(){
					//弹窗关闭
					layer.closeAll();
					console.log('广告结束');
				},adv.show_time * 1000);
				//设置失效时间
				addCookie('out_frame',2,getExpireTime());
			}
		}
	}
});

</script>