<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/NewGoodsDetail.css"/>
                    <div class="Progress-bar">
                        <p title="已完成{wc:fun:percent($item['canyurenshu'],$item['zongrenshu'])}"><span style="width:{wc:fun:width($item['canyurenshu'],$item['zongrenshu'],450)}px; display:;"></span></p>
                        {wc:if $item['pk_product']==1}
                        <ul class="Pro-bar-li">
                            <li class="P-bar01"><em>{wc:$item['pk_cishu']}</em>已参与人数</li>
                            <li class="P-bar02"><em id="CodeQuantity">{wc:$item['pk_number']}</em>总需人数</li>
                            <li class="P-bar03"><em id="CodeLift">{wc:$item['pk_number']-$item['pk_cishu']}</em>剩余人数</li>
                        </ul>
                        {wc:else}
                        <ul class="Pro-bar-li">
                            <li class="P-bar01"><em>{wc:$item['canyurenshu']}</em>已参与人次</li>
                            <li class="P-bar02"><em id="CodeQuantity">{wc:$item['zongrenshu']}</em>总需人次</li>
                            <li class="P-bar03"><em id="CodeLift">{wc:$syrs}</em>剩余人次</li>
                        </ul>
                        {wc:if:end}
                    </div>

                    {wc:if $item['shenyurenshu']=='0' && $item['xsjx_time']=='0' && empty($item['q_uid'])}               
                    <div class="Immediate">
                        <span style="left:10px;right:0px;">这个商品未揭晓成功,请联系客服手动揭晓！</span> 
                    </div>             
                    {wc:if:end}

                    <!-- 限时揭晓 -->
                    {wc:if $item['xsjx_time']!='0'}
                    <div id="divAutoRTime" class="Immediate">

                        <i id="timeall" endtime="{wc:fun:date("m-d-Y H:i:s",$item['xsjx_time'])}" lxfday="no"></i>		                           
                    </div>
            <script type="text/javascript">			
			function lxfEndtime(xsjx_time_shop,this_time){	
				if(!this.xsjx_time_shop){
					this.xsjx_time_shop = xsjx_time_shop;	
					this.this_time		= this_time
				}
				this.this_time = this.this_time + 1000;
				lxfEndtime_setTimeout  = window.setTimeout("lxfEndtime()",1000);				
				var endtime = {wc:$item['xsjx_time']}000;
			    var youtime = endtime - this.this_time;	   	   //还有多久(毫秒值)
				
				var seconds = youtime/1000;
				var minutes = Math.floor(seconds/60);
				var hours = Math.floor(minutes/60);
				var days = Math.floor(hours/24);
				var CDay= days;
				var CHour= hours % 24;
				var CMinute= minutes % 60;
				var CSecond= Math.floor(seconds%60);//"%"是取余运算，可以理解为60进一后取余数，然后只要余数							
				this.xsjx_time_shop.html("<b>限时揭晓</b><p>剩余时间：<em>"+days+"</em>天<em>"+CHour+"</em>时<em>"+CMinute+"</em>分<em>"+CSecond+"</em>秒</p>");
				delete youtime,seconds,minutes,hours,days,CDay,CHour, CMinute, CSecond;
				if(endtime <= this.this_time){			
					lxfEndtime_setTimeout && clearTimeout(lxfEndtime_setTimeout);					
					this.xsjx_time_shop.html("<b>限时揭晓</b><p>正在计算中....</p>");//如果结束日期小于当前日期就提示过期啦	
					xsjx_time_shop = this.xsjx_time_shop;
					$.ajaxSetup({
						async : false
					});
					$.post("{WEB_PATH}/go/autolottery/autolottery_ret_install",{"shopid":{wc:$item['id']}},function(data){		
						if(data == '-1'){
							xsjx_time_shop.html("<b>限时揭晓</b><p>没有这个商品!</p>");
							return;
						}
						if(data == '-2'){
							xsjx_time_shop.html("<b>限时揭晓</b><p>商品揭晓失败!</p>");
							return;
						}
						if(data == '-3'){							
							xsjx_time_shop.html("<b>限时揭晓</b><p>商品参与人数为0，商品不予揭晓!</p>");
							return;
						}
						if(data == '-4'){
							xsjx_time_shop.html("<b>限时揭晓</b><p>商品还未到揭晓时间!</p>");
							return;
						}
						if(data == '-5'){
							xsjx_time_shop.html("<b>限时揭晓</b><p>商品揭晓时间已过期!</p>");
							return;
						}if(data == '-6'){							
							 xsjx_time_shop.html("<b>限时揭晓</b>商品正在揭晓中!");								
							 window.location.href=location.href;
							 return;
						}else{							
							xsjx_time_shop.html("<b>限时揭晓</b><p>揭晓幸运码:<i style='color:#fff;background:#f60; padding:3px 5px;'>"+data+"</i></p>");						
							return;
						}						
						
					});
					
				}							
			  }			  
			 $(function(){lxfEndtime($("#timeall"),{wc:fun:time()}000);});
			</script>
            {wc:if:end}			
			<!-- 限时揭晓end -->
                        <form action="{WEB_PATH}/member/cart/cartlist" method="post">

                            <input type="hidden" name="gid" value="{wc:$item['id']}"/>
                            <input type="hidden" name="is_shi" value="{wc:$item['is_shi']}"/>
                            <input type="hidden" name="money" value="{wc:$item['money']}"/>
                            <input type="hidden" name="shenyu" value="{wc:$syrs}"/>
                            <p class="Pro_Detsingle" style="font-size:14px;">夺宝价格：<b style="color:#e53c08;">{wc:$item['yunjiage']}</b></p>
                                {wc:if $item['pk_product'] == 1 }
                                    {wc:if $user_can_pkbuy !== 1 }
                                        <div id="divNumber" class="Pro_number" style=" position:relative;text-align:center;height:50px;line-height:50px;">
                                            <font style="font-size: 18px;color:#E4393C;">很遗憾,您购买次数达到上限!<font>
                                            <img src="{G_TEMPLATES_IMAGE}/sorry.jpg" style="width:40px;height:40px;"/>
                                        </div>
                                    {wc:else}
                                        <div id="divNumber" class="Pro_number" style=" position:relative">
                                            <div style="float:left;">我要夺宝： </div>
                                            <div class="box_left" id="shopsub">
                                                -
                                            </div>
                                            <input type="input-num" name="number" readonly value="{wc:$item['default_renci']}" class="box_center"/>
                                            <div class="box_right" id="shopadd">
                                                +
                                            </div>
                                            <div style="clear: both;width:100%;height:10px;"> </div>
                                            <div style="position:absolute; color:#e53c08;font-size:12px">{wc:$item['pk_number']}人P模式K，<font id="chance">每人每期限购一次且购买的份数不能改动！</font></div>
                                        </div>
                                    {wc:if:end}
                                {wc:else}
                                    {wc:if $user_can_buy !== 1 }
                                        <div id="divNumber" class="Pro_number" style=" position:relative;text-align:center;height:50px;line-height:50px;">
                                            <font style="font-size: 18px;color:#E4393C;">很遗憾,您购买次数达到上限!<font>
                                            <img src="{G_TEMPLATES_IMAGE}/sorry.jpg" style="width:40px;height:40px;"/>
                                        </div>
                                    {wc:else}
                                        <div id="divNumber" class="Pro_number" style=" position:relative">
                                            <div style="float:left;">我要夺宝： </div>
                                            <div class="box_left" id="shopsub">
                                                -
                                            </div>
                                            <input type="input-num" name="number" value="{wc:$item['default_renci']}" id="num_dig" class="box_center"/>
                                            <div class="box_right" id="shopadd">
                                                +
                                            </div>
                                            <ul class="woyao_box3">
                                                {wc:if $item['is_shi']==1}
                                                {wc:if $user_bought_number>=5}
                                                <li>5</li>
                                                {wc:if:end}
                                                {wc:else}
                                                {wc:if $syrs>10}
                                                <li>10</li>
                                                {wc:if:end}
                                                {wc:if $syrs>50}
                                                <li>50</li>
                                                {wc:if:end}{wc:if $syrs>100}
                                                <li>100</li>
                                                {wc:if:end}{wc:if $syrs>200}
                                                <li>200</li>
                                                {wc:if:end}
                                                {wc:if:end}
                                            </ul>
                                            人次 
                                           
                                        </div>
                                    
                                        {wc:if $item['is_shi'] == 1}
                                        <div style="position:absolute; color:#e53c08;font-size:12px">限购5元，<font id="chance">加大参与人次</font></div>
                                         <div style="clear: both;width:100%;height:20px;"> </div>
                                        {wc:if:end}
                                    {wc:if:end}
                               

                            <script>
                                            $('.woyao_box3 li').click(function(){
                                                    var number = $(this).text();
                                                    if(number%1===0){
                                                            $('#num_dig').val(number);
                                                            $('.woyao_box3 li').css("border","1px solid #E4E4E4");
                                                            $(this).css("border","1px solid rgb(229,60,8)");
                                                            //当选中input框时，键盘有按下的动作，触发事件
                                                            $('#num_dig').keydown(function(){
                                                                    $('.woyao_box3 li').css("border","1px solid #E4E4E4");
                                                            });
                                                    }
                                            });
                            </script>
                            {wc:if:end}
                            {wc:if $item['pk_product']==1}
                            <p class="m-detail-main-progress">
                                <b style="color: #39F;font-weight: bold;">{wc:$item['pk_cishu']}</b>
                                <span style="color:#666; font-family:微软雅黑">人次已参与，赶快去参加吧！剩余</span>
                                <b class="txt-red">{wc:$item['pk_number']-$item['pk_cishu']}</b>
                                <span style="color:#666; font-family:微软雅黑">人次</span>
                                {wc:if $user_bought_number}
                                <span style="color:#666; font-family:微软雅黑">您已参加<font style="color:#0082F0;">{wc:$user_bought_number}</font>人次</span>
                                {wc:if:end}
                            </p>
                            {wc:else}
                            <p class="m-detail-main-progress">
                                <b style="color: #39F;font-weight: bold;">{wc:$item['canyurenshu']}</b>
                                <span style="color:#666; font-family:微软雅黑">人次已参与，赶快去参加吧！剩余</span>
                                <b class="txt-red">{wc:$syrs}</b>
                                <span style="color:#666; font-family:微软雅黑">人次</span>
                                {wc:if $user_bought_number}
                                <span style="color:#666; font-family:微软雅黑">您已参加<font style="color:#0082F0;">{wc:$user_bought_number}</font>人次</span>
                                {wc:if:end}
                            </p>
                            {wc:if:end}
                            <div style="display:none;" id="hqid">{wc:$item['id']}</div>
                            <div id="divBuy" class="Det_button" style="margin-top:30px">
                                {wc:if $item['pk_product']==1}
                                    {wc:if $user_can_pkbuy !== 1 }
                                        <a href="javascript:;" class="Det_Shopbut_exit" title="购买次数达到上限">达到上限</a>
                                    {wc:else}
                                        <input type="submit" value='立即夺宝购' style="width:180px" class="w-button w-button-xl w-button-main"/>
                                        <input type="hidden" value="{WEB_PATH}/goods/{wc:$item['id']}" />
                                    {wc:if:end}
                                {wc:else}
                                    {wc:if $user_can_buy == 1}
                                        <input type="submit" value='立即夺宝购' style="width:180px" class="w-button w-button-xl w-button-main"/>
                                        <input type="hidden" value="{WEB_PATH}/goods/{wc:$item['id']}" />
                                        <a id="addToCart" class="w-button w-button-xl xDet_Cart" href="javascript:void(0)" style="width:132px" default-renci="{wc:$item['default_renci']}"><i class="ico ico-miniCart"></i>加入购物车</a>						
                                    {wc:else}
                                        {wc:if $item['shenyurenshu'] == '0'}
                                            <a href="javascript:;" class="Det_Shopbut_exit">已满员</a>
                                        {wc:else}
                                            <a href="javascript:;" class="Det_Shopbut_exit" title="购买次数达到上限">达到上限</a>
                                        {wc:if:end}	
                                    {wc:if:end}
                                {wc:if:end}
<!--                                {wc:if $user_can_buy == 1}
                                    <input type="submit" value='立即夺宝购' style="width:180px" class="w-button w-button-xl w-button-main"/>
                                    <input type="hidden" value="{WEB_PATH}/goods/{wc:$item['id']}" />
                                    {wc:if $item['pk_product']==1}
                                    {wc:else}
                                    <a id="addToCart" class="w-button w-button-xl xDet_Cart" href="javascript:void(0)" style="width:132px" default-renci="{wc:$item['default_renci']}"><i class="ico ico-miniCart"></i>加入购物车</a>						
                                    {wc:if:end}
                                
                                {wc:else}

                                    {wc:if $item['shenyurenshu'] == '0'}
                                        <a href="javascript:;" class="Det_Shopbut_exit">已满员</a>
                                    {wc:else}
                                        <a href="javascript:;" class="Det_Shopbut_exit" title="购买次数达到上限">达到上限</a>
                                    {wc:if:end}	
                                {wc:if:end}-->
                            </div>
                            <div style="width:100%; height:1px;border-bottom:1px dashed #A0A0A0; margin:20px auto 0 0"></div>
                        </form>
   <script>  
   	 $(function(){
	
		 $("#num_dig").mousemove(function(){
		  $(this).css("border","1px solid #bbbbbb");		 
		});
		 $("#num_dig").mouseout(function(){
		  $(this).css("border","1px solid #CFCFCF");		 
		});		
	});
   </script>       
           