<!--2015/12/03-->
<div class="g-side">
  <div class="m-detail-period">
    <div class="m-detail-period-title f-clear">
      <h4>开奖信息</h4>
    </div>
    
    <div class="xjiexiao_content">
    	<div style="height:15px;"></div>
    	<div class="xjiexiao_xuanze">
        	<div class="xjiexiao_pre"></div>
            <div class="xjiexiao_qishu">第<span style="">{wc:$goods_newsest_one['qishu']}</span>期</div>
            <div class="xjiexiao_next"></div>
            <input type="hidden" name="shopid" value="{wc:$goods_newsest_one['next_id']}"/>
            <input type="hidden" name="sid" value="{wc:$goods_newsest_one['sid']}"/>
        </div>
        <div class="xjiexiao_img"><a href="{WEB_PATH}/uname/{wc:fun:idjia($goods_newsest_one['q_uid'])}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($next_arr_list['q_uid'],'img')}"></a></div>
        <div class="xjiexiao_detail">
        	<p>恭喜<span class="txt-blue">{wc:fun:get_user_name($next_arr_list['q_uid'])}</span>获得该期商品</p>
            <p>用户ID：<span class="txt-red">{wc:fun:get_user_name($next_arr_list['q_uid'])}</span></p>
            <p>幸运号码：<span class="txt-red">{wc:$next_arr_list['q_user_code']}</span></p>
            <p>本期参与：<span>{wc:$next_arr_list['count_gonumber']}</span>人次</p>
            <p>揭晓时间：<span>{wc:fun:microt($next_arr_list['q_end_time'])}</span></p>
            <p>夺宝时间：<span>{wc:fun:microt($next_arr_list['time'])}</span></p>
        
        </div>
        <div class="xjiexiao_seedetail"><a href="{WEB_PATH}/dataserver/{wc:$next_arr_list['next_id']}" target="_blank">查看详情</a></div>
        
    
    </div>
    
    
  </div>
</div>
<script type="text/javascript">
$(function(){
	$(".xjiexiao_next").die("click").live('click',function(){
		var shopid = $(".xjiexiao_xuanze").find("input[name=shopid]").val();
		var sid = $(".xjiexiao_xuanze").find("input[name=sid]").val();
		if(shopid == sid){
			return false;
		}
		var rurl = "{WEB_PATH}/go/index/ajax_next_pre";
		$.post(
			rurl,
			{action:"next",shopid:shopid,sid:sid},
			function(_data){
				$('.xjiexiao_content').html(_data);

			}
		);	
		
	});
	
	$(".xjiexiao_pre").die("click").live('click',function(){
		var shopid = $(".xjiexiao_xuanze").find("input[name=shopid]").val();
		var current_before_id = "{wc:$next_arr_list['next_id']}";
		
		if(shopid == current_before_id){
			return false;
		}
		var sid = $(".xjiexiao_xuanze").find("input[name=sid]").val();
		
		var rurl = "{WEB_PATH}/go/index/ajax_next_pre";
		$.post(
			rurl,
			{action:"pre",shopid:shopid,sid:sid},
			function(_data){
				$('.xjiexiao_content').html(_data);

			}
		);	
		
	});
});


</script>