<link style="text/css" rel="stylesheet" href="{G_TEMPLATES_STYLE}/css/new/NewGoodDetail.css"/>
<style type="text/css">
.daojishi{margin-top:20px;}
.daojishi .djs{display:inline-block;}
.daojishi .tit{color:#e53c08;font-size:14px;font-weight:bold;}
.daojishi .red{display:inline-block;padding:3px 5px;background:#e53c08;height:20px;line-height:20px;color:#fff;}
.daojishi .line{height:30px;line-height:30px;margin-left:45px;}
</style>
<script type="text/javascript">
//倒计时	
function gg_show_Time_fun(endTime,shopid)
{
	if(!this.endTime){this.endTime=endTime;}	
	if(!this.shopid){this.shopid=shopid;}	
	rTimeout = window.setTimeout("gg_show_Time_fun()",30);	
	timeold = this.endTime-(new Date().getTime());
	if(timeold <= 0){		
		$('.times').html("倒计时：正在计算...");
		rTimeout && clearTimeout(rTimeout);	
		get_lottery_info(this.shopid);	// 获取中奖信息
		return;
	}	
	sectimeold=timeold/1000
	secondsold=Math.floor(sectimeold); 
	msPerDay=24*60*60*1000
	e_daysold=timeold/msPerDay 	
	daysold=Math.floor(e_daysold); 				//天	
	e_hrsold=(e_daysold-daysold)*24; 
	hrsold=Math.floor(e_hrsold); 				//时
	e_minsold=(e_hrsold-hrsold)*60;	
	//分
	minsold=Math.floor((e_hrsold-hrsold)*60);
	minsold = (minsold<10?'0'+minsold:minsold)
	minsold = new String(minsold);
	minsold_1 = minsold.substr(0,1);
	minsold_2 = minsold.substr(1,1);	

	//秒
	e_seconds = (e_minsold-minsold)*60;	
	seconds=Math.floor((e_minsold-minsold)*60);
	seconds = (seconds<10?'0'+seconds:seconds)
	seconds = new String(seconds);
	seconds_1 = seconds.substr(0,1);
	seconds_2 = seconds.substr(1,1);	
	//毫秒	
	ms = e_seconds-seconds;
	ms = new String(ms)
	ms_1 = ms.substr(2,1);
	ms_2 = ms.substr(3,1);
	
	$("#fen").html(minsold_1+''+minsold_2);
	$("#miao").html(seconds_1+''+seconds_2);
	$("#haomiao").html(ms_1+''+ms_2);
}

//获取中奖信息
function get_lottery_info(shopid)
{
	$.ajaxSetup({async:false});
	setTimeout(function(){
		$.post("{WEB_PATH}/api/getshop/get_lottery_info",{shopid:shopid},function(_data){
			if(_data.status==1){
				$('.username').html(_data.data.username);
				$('.usercode').html(_data.data.usercode);
				$('.times').html("参与次数："+_data.data.gonumber);
			}else{
				$('.times').html("倒计时：网络不给力,请刷新页面！");
			}
		},'json');
	},6000);
}
</script>


<div class="g-side">
  <div class="m-detail-period">
    <div class="m-detail-period-title f-clear">
      <h4>猜你喜欢</h4>
    </div>
    
    <div class="xjiexiao_content"  style="background:url(/statics/templates/templet2/images/wait_lottery.png) center bottom no-repeat;">
    	<div style="height:15px;"></div>
    	<div class="xjiexiao_xuanze">
        	<div class="xjiexiao_pre"></div>
            <div class="xjiexiao_qishu">第<span style="">{wc:$next_arr_list['qishu']}</span>期</div>
            <div class="xjiexiao_next"></div>
            <input type="hidden" name="shopid" value="{wc:$next_arr_list['next_id']}"/>
            <input type="hidden" name="sid" value="{wc:$next_arr_list['sid']}"/>
        </div>

		{wc:if  intval($next_arr_list['q_uid']) > 0}
			<div class="xjiexiao_img"><a href="{WEB_PATH}/uname/{wc:fun:idjia($next_arr_list['q_uid'])}" target="_blank">
			<img width="200px;" height='220px' src="{G_UPLOAD_PATH}/{wc:fun:userid($next_arr_list['q_uid'],'img','160160')}">
			</a></div>
			<div class="xjiexiao_detail">
				<!--<p>恭喜<span class="txt-blue">{wc:fun:_strcut(get_user_name($next_arr_list['q_uid']),24)}</span>获得该期商品</p>-->
				<p><span class="txt-left">恭喜</span><span class="txt-blue">{wc:fun:_strcut(get_user_name($next_arr_list['q_uid']),24)}</span><span class="txt-right">获得该期商品</span></p>
				<p>用户名：<span class="txt-red">{wc:fun:_strcut(get_user_name($next_arr_list['q_uid']),30)}</span></p>
				<p>幸运号码：<span class="txt-red">{wc:$next_arr_list['q_user_code']}</span></p>
				<p>本期参与：<span>{wc:$next_arr_list['count_gonumber']}</span>人次</p>
				<p>揭晓时间：<span>{wc:fun:microt($next_arr_list['q_end_time'])}</span></p>
				<p>夺宝时间：<span>{wc:fun:microt($next_arr_list['time'])}</span></p>
			
			</div>
			<div class="xjiexiao_seedetail"><a href="{WEB_PATH}/dataserver/{wc:$next_arr_list['next_id']}" target="_blank">查看详情</a></div>
		{wc:else}
			<div class="daojishi">
				<div class="line tit">谁会是本期的幸运者</div>
				<div class="line">获奖者：<span class="username">马上揭晓</span></div>
				<div class="line">本期幸运号码：<span class="usercode">马上揭晓</span></div>
				<div class="line times">倒计时：
				<span class="red" id="fen"></span><span class="djs"> : </span>
				<span class="red" id="miao"></span><span class="djs"> : </span>
				<span class="red" id="haomiao"></span></div>
				<div class="xjiexiao_seedetail"><a href="{WEB_PATH}/goods/{wc:$next_arr_list['next_id']}" target="_blank">查看详情</a></div>
			</div>
			<script type="text/javascript">
				var times = "{wc:$q_time}";
				var shopid = "{wc:$next_arr_list['next_id']}";
				$(function(){
					times = (new Date().getTime())+(parseInt(times))*1000;
					gg_show_Time_fun(times,shopid);
				});
			</script>
		{wc:if:end}
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
	$(".xjiexiao_next").die("click").live('click',function(){
		var shopid = $(".xjiexiao_xuanze").find("input[name=shopid]").val();
		var sid = $(".xjiexiao_xuanze").find("input[name=sid]").val();
		if(shopid == sid){
			return false;
		}
		var rurl = "{WEB_PATH}/go/index/ajax_next_pre";
		$.post(
			rurl,
			{action:"next",shopid:shopid,sid:sid},
			function(_data){
				$('.xjiexiao_content').html(_data);

			}
		);	
		
	});
	
	$(".xjiexiao_pre").die("click").live('click',function(){
		var shopid = $(".xjiexiao_xuanze").find("input[name=shopid]").val();
		var current_before_id = "{wc:$next_arr_list['next_id']}";
		
		if(shopid == current_before_id){
			return false;
		}
		var sid = $(".xjiexiao_xuanze").find("input[name=sid]").val();
		
		var rurl = "{WEB_PATH}/go/index/ajax_next_pre";
		$.post(
			rurl,
			{action:"pre",shopid:shopid,sid:sid},
			function(_data){
				$('.xjiexiao_content').html(_data);

			}
		);	
		
	});
});
</script>