<!--计算公式-->
<div class="m-detail-main-rule">
	<ul class="txt">
		<li>
			<div class="title" style="padding-top:25px;"></div>
			<div class="f-clear formula">
				<div class="box red-box">
					<b class="txt-red">{wc:$item['q_user_code']}</b><br><b class="txt-red" style="font-size:12px">本期幸运号码</b>
				</div>
				<div class="operator">=(</div>
				<div id="mouse-move" class="box gray-box"><b class="txt-red">{wc:$item['q_counttime']}</b><br>100个时间求和
					<!--弹窗-->
					<div id="more-1" class="more-box">
						<i class="ico ico-arrow ico-arrow-yellow"></i>
						<div class="yellow-box">
							<!--气泡框-->
							<div class="arrow">
								<em></em><span></span>
							</div><!--气泡框end-->
						商品的最后一个号码分配完毕，公示该分配时间点前本站全部商品的<span class="txt-red">最后100个参与时间</span>，并求和。
						</div>
					</div>
				</div>
				<div class="operator" title="相加">+</div>
				<div id="mouse-over" class="box gray-box"><b class="txt-red">{wc:$ssc_code}</b><br>“老时时彩”开奖号码
					<div id="more-2" class="more-box">
						<i class="ico ico-arrow ico-arrow-yellow"></i>
						<div class="yellow-box f-breakword">
						<!--气泡框-->
							<div class="arrow arrow-Modify">
								<em></em><span class="arrow-span"></span>
							</div><!--气泡框end-->
							取最近一期“老时时彩” (第<span class="txt-red">{wc:$item['q_sscphase']}</span>期) 开奖结果。 <a href="http://baidu.lecai.com/lottery/draw/view/200/{wc:$ssc_opentime}?" target="_blank">开奖查询</a>
						</div>
					</div>
					<!--弹窗end-->
				</div>
				<div class="operator" title="取余">)%</div>
				<div class="box"><b class="txt-red">{wc:$item['zongrenshu']}</b><br>该商品总需人次</div>
				<div class="operator" title="相加">+</div>
				<div class="box"><b class="txt-red">10000001</b><br>原始数</div>
			</div>
		</li>
	</ul>
</div>