{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Lottery.css"/>
<div class="Current_nav"><a href="{WEB_PATH}">首页</a> &gt; 最新揭晓</div>
<!--开奖列表开始-->
<div class="Newpublish">
	<div class="NewpublishL">
		<div id="current" class="publish_Curtit">
			<h1 class="fl">最新揭晓</h1>
			<span id="spTotalCount">(到目前为止共揭晓商品<em class="orange">{wc:$total}</em>件)</span>
		</div>
		<div class="publishBor">
			 {wc:php:start}
				$i=0;
			{wc:php:end}
			<div class="publishCen" id="listDivTitle">
				<ul id="ProductList">
					{wc:loop $shopqishu $qishu}
                    {wc:php:start}
                    	$qishu['q_user'] = unserialize($qishu['q_user']);
						$i++;
                    {wc:php:end}
					{wc:if $qishu['q_showtime'] == 'Y'}
					{wc:php:start}
						if($i%2 == 0){
							$act = "style='margin-right:0'";
						}else{
							$act = '';
						}
                    {wc:php:end}
					<li class="Cursor kdjsx" {wc:$act}>
						<a class="fl goodsimg" href="{WEB_PATH}/goods/{wc:$qishu['id']}" target="_blank" >
						<img alt="" src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}">
						</a>
						<div class="jiexiao_winner_info">
							<h3 style="padding-left:5px;margin-bottom:20px;margin-top:5px"><a href="{WEB_PATH}/goods/{wc:$qishu['id']}" target="_blank" class="gray01 xh_overflow_x">(第{wc:$qishu['qishu']}期){wc:$qishu['title']}</a></h3>
							<div class="jiexiao_winner_info_top">
								<p class="money">商品价值：<span class="rmb">{wc:$qishu['money']}</span></p>
								<p class="money">总需人次：{wc:$qishu['zongrenshu']}人次</p>
							</div>
							
							<div class="publishC-tit">

							</div>
							<div class="daojishi_xiaohe">
								<div class="daojishi_xiaohe_top">
									<img src="{G_TEMPLATES_STYLE}/images/new/jiexiao.gif" /><span>揭晓倒计时</span>
								</div>
								{wc:php:start}
									$q_time = intval(substr($qishu['q_end_time'],0,10));
									if($q_time-time() <= 3540){
										$q_time = $q_time-time();
									}
								{wc:php:end}
								<input type="hidden" name="times" value="{wc:$q_time}"/>
								<input type="hidden" name="shopid" value="{wc:$qishu[id]}"/>
									
								<div class="daojishi_xiaohe_bottom">
									<span class="shi"><span class="minute">99</span>:<span class="minute">99</span>:<span class="minute">99</span></span>
								</div>
								
							</div>
						</div>
					</li>
					
					{wc:else}
					{wc:php:start}
						if($i%2 == 0){
							$act = "style='margin-right:0'";
						}else{
							$act = '';
						}
                    {wc:php:end}
					<li class="Cursor" {wc:$act}>
						<a class="fl goodsimg" href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" >
						<img alt="" src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}">
						</a>
						<div class="jiexiao_winner_info">
							<h3 style="padding-left:5px;margin-bottom:20px;margin-top:5px"><a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" class="gray01 xh_overflow_x">(第{wc:$qishu['qishu']}期){wc:$qishu['title']}</a></h3>
							<div class="jiexiao_winner_info_top">
								<p class="money">商品价值：<span class="rmb">{wc:$qishu['money']}</span></p>
								<p class="money">总需人次：{wc:$qishu['zongrenshu']}人次</p>
							</div>
							
							<div class="publishC-Member gray02"><a class="fl headimg" href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}" target="_blank" >
								<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:userid($qishu['q_user']['uid'],'img','8080')}" width="50" height="50" border="0"/>
								</a>
								<p>获得者：<a class="blue Fb" href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}" target="_blank">{wc:fun:_strcut(get_user_name($qishu['q_user']),20)}</a></p>
								<p>夺宝：<em class="orange Fb">{wc:fun:get_user_goods_num($qishu['q_uid'],$qishu['id'])}</em>人次</p>
								<p >中奖幸运码：<em class="orange Fb">{wc:$qishu['q_user_code']}</em></p>
							</div>
							<div class="publishC-tit">
								<p class="Announced-time gray02">揭晓时间：{wc:fun:microt($qishu['q_end_time'],'r')}</p>
							</div>
							<div class="jiexiao_detail">
								<a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" rel="nofollow" target="_blank">查看详情</a>
							</div>
						
						</div>
	
					</li>
					{wc:if:end}
					{wc:loop:end}
				</ul>
			</div>
			{wc:if $total>$num}
					<div class="pagesx">{wc:page:two}</div>
			{wc:if:end}
		</div>
	</div>
	<script type="text/javascript">
		//20151212  倒计时商品
	var _djs = $('.kdjsx');
	if(_djs.length > 0){
		_djs.each(function(){
			var times = $(this).find('input[name="times"]').val();
			times = (new Date().getTime())+(parseInt(times))*1000;
			do_show_time(times,$(this));
		});
	}
	//20151212 执行倒计时
	function do_show_time(endTime,obj){
		rTimeout = window.setTimeout(function(){do_show_time(endTime,obj);},50);
		timeold = endTime-(new Date().getTime());
		if(timeold <= 0){
			$('.shi').html("<span style='color:red; font-size:20px;'>正在计算...</span>");
			rTimeout && clearTimeout(rTimeout);
			get_lottery_info(obj);
			return false;
		}
		sectimeold=timeold/1000
		secondsold=Math.floor(sectimeold); 
		msPerDay=24*60*60*1000
		e_daysold=timeold/msPerDay 	
		daysold=Math.floor(e_daysold); 				//天	
		e_hrsold=(e_daysold-daysold)*24; 
		hrsold=Math.floor(e_hrsold); 				//时
		e_minsold=(e_hrsold-hrsold)*60;	
		//分
		minsold=Math.floor((e_hrsold-hrsold)*60);
		minsold = (minsold<10?'0'+minsold:minsold)
		minsold = new String(minsold);
		i = minsold.substr(0,2);	

		//秒
		e_seconds = (e_minsold-minsold)*60;	
		seconds=Math.floor((e_minsold-minsold)*60);
		seconds = (seconds<10?'0'+seconds:seconds)
		seconds = new String(seconds);
		s = seconds.substr(0,2);
		//毫秒	
		ms = e_seconds-seconds;
		ms = new String(ms)
		ms_1 = ms.substr(2,1);
		ms_2 = ms.substr(3,1);
		mss = ms.substr(2,2);
		
		str = '<span class="minute">'+i+'</span>:<span class="minute">'+s+'</span>:<span class="minute">'+mss+'</span>';
		obj.find('.shi').html(str);
	}
	//获取中奖信息
	function get_lottery_info(obj)
	{
		var shopid = obj.find('input[name="shopid"]').val();
		setTimeout(function(){
			$.post("{WEB_PATH}/api/getshop/get_lottery_info",{shopid:shopid},function(_data){
				if(_data.status==1){
					var turl = '{WEB_PATH}/uname/'+(1000000000 + parseInt(_data.data.uid));
					var x_html_1 = '<div class="publishC-Member gray02">';
					x_html_1 += '<a class="fl headimg" href="'+turl+'" target="_blank" >';
					x_html_1 += '<img id="imgUserPhoto" src="'+_data.data.img+'" width="50" height="50" border="0"/>';
					x_html_1 += '</a>';
					x_html_1 += '<p>获得者：<a class="blue Fb" href="'+turl+'" target="_blank">'+_data.data.username+'</a></p>';
					x_html_1 += '<p>财神：<em class="orange Fb">'+_data.data.gonumber+'</em>人次</p>';
					x_html_1 += '<p >幸运财神号：<em class="orange Fb">'+_data.data.usercode+'</em></p>';
					x_html_1 += '</div>';
					obj.find('.jiexiao_winner_info_top').after(x_html_1);
					
					var x_html_2 = '<p class="Announced-time gray02">揭晓时间：'+_data.data.q_end_time+'</p>';
					
					obj.find('.publishC-tit').append(x_html_2);
					
					obj.find('.publishC-tit p').eq(1).remove();
					
					obj.find(".daojishi_xiaohe").remove();

					var x_html_3 = '<div class="jiexiao_detail">';
					x_html_3 += '<a href="{WEB_PATH}/dataserver/'+_data.data.id+'" rel="nofollow" target="_blank">查看详情</a>';
					x_html_3 += '</div>';
					
					obj.find(".jiexiao_winner_info").append(x_html_3);
					return false;
				}else{
					obj.find('.shi').html("倒计时：网络不给力,请刷新页面！");
				}
			},'json');
		},6000);	//正常6秒就可以取到数据 
	}
	</script>
	<div class="NewpublishR">
		<div class="Newpublishbor">
			<div class="Rtitle">最快揭晓 </div>
			<div class="xh_lotterlist">
				<ul>
					{wc:loop $will_shoplist $list}
					<li class="xh_lotter_each">
						<div class="xh_lotter_img"><a href="{WEB_PATH}/goods/{wc:$list['id']}"><img src="{G_UPLOAD_PATH}/{wc:$list['thumb']}"/></a></div>
						<h3><a href="{WEB_PATH}/goods/{wc:$list['id']}" class="xh_overflow_x">{wc:$list['title']}</a></h3>
						<div class="xh_lotter_zongxu">总需：{wc:$list['zongrenshu']}人次</div>
						<div class="xh_lotter_jindu">
							<p class="xh_lotter_jindu_p" title="已完成{wc:fun:percent($list['canyurenshu'],$list['zongrenshu'])}"><span style="width:{wc:fun:width($list['canyurenshu'],$list['zongrenshu'],206)}px"></span></p>
							<ul class="xh_lotter_renshu">
								<li class="xh_lotter_renshuyi">{wc:$list['canyurenshu']}<p>已参与人数</p></li>
								<li class="xh_lotter_renshuyish"><span>{wc:$list['shenyurenshu']}</span><p>剩余人数</p></li>
							</ul>
						</div>
						<div style="height:30px;"></div>
						<div class="xh_lotter_baowei">
							<a href="javascript:void(0)">我来包尾</a>
							<input type="hidden" value="{wc:$list['id']}" name="shop_id"/>
							<input type="hidden" value="{wc:$list['yunjiage']}" name="yunjiage"/>
						</div>
						<div class="xh_lotter_line"></div>
					</li>
					{wc:loop:end}
				</ul>
				<div style="height:25px;"></div>
			</div>
		</div>
		<div class="blank10"></div>
		
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
var shopinfo = '';
$(".xh_lotter_baowei").click(function(){
	var shopid = parseInt($(this).find("input[name=shop_id]").val());
	var c_obj = $(this).parents("li");
	var yunjiage = $(this).find("input[name=yunjiage]").val();
	var shenyurenshu = parseInt(c_obj.find(".xh_lotter_renshuyish span").text());
	var money = yunjiage * shenyurenshu;
	shopinfo={'shopid':shopid,'money':money,'shenyu':0,'num':shenyurenshu};	
	Cartcookie(false);
	window.location.href="{WEB_PATH}/member/cart/cartlist/"+new Date().getTime();
});

function Cartcookie(cook){
	var shopid=shopinfo['shopid'];
	
	var Cartlist = $.cookie('Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = $.evalJSON(Cartlist);
		if((typeof info) !== 'object'){
			var info = {};
		}
	}		
	if(!info[shopid]){
		var CartTotal=$("#sCartTotal").text();
			$("#sCartTotal").text(parseInt(CartTotal)+1);
			$("#btnMyCart em").text(parseInt(CartTotal)+1);
	}	
	info[shopid]={};
	info[shopid]['num']=shopinfo['num'];
	info[shopid]['shenyu']=shopinfo['shenyu'];
	info[shopid]['money']=shopinfo['money'];
	info['MoenyCount']='0.00';	
	$.cookie('Cartlist',$.toJSON(info),{expires:7,path:'/'});
	
}

</script>
{wc:templates "index","footer"}