{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Home.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/GoodsList.css"/>
<!--<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/NewHome.css"/>-->
<div class="pk_bg"></div>
<div class="ten_bg_bottom"></div>
<div style="height:20px;"></div>
<div class="wrap" id="loadingPicBlock">
	<!--PK专区-->
	<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/ten.css"/>
	<div class="m-ten-mod m-ten-rule">
		<div class="m-ten-mod-hd">
			<h3>PK 规则说明</h3>
		</div>
		<div class="m-ten-mod-bd">
			<ul class="m-ten-rule-list">
				<li><span class="txt-red index">1.</span> PK专区是指每个商品只允许几个账户参与人数和人次设置上限</li>
				<li style="float: right;padding-right: 200px"><span class="txt-red index">2.</span> PK专区分配的号码非连号，亦是随机分配</li>
				<li><span class="txt-red index">3.</span> PK模式极大的提高了用户获得产品的几率</li>
				<li style="float: right;padding-right: 220px"><span class="txt-red index">4.</span> 幸运号码计算规则与易中夺宝商品相同</li>
			</ul>
		</div>
	</div>
	<div style="clear:both"></div>
	{wc:if $shoplist}
	<!--商品列表-->
	<div class="listContent">
		<ul class="item" id="ulGoodsList">
			{wc:loop $shoplist $shop}
			<li class="goods-iten" >
				<div class="pic">
                                    
					<a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']} ">
						<!--新品的图标-->
						<!--<i class="goods_xp"></i>-->
						<!--推荐的图标-->
						<!--<i class="goods_tj"></i>-->
						<!--人气商品的图标-->
						<!--<i class="goods_rq"></i>-->
						{wc:if $shop['pk_product'] ==1}
						{wc:php:start}echo '<i class="goods_xp_shis"></i>';{wc:php:end}
						{wc:if:end}
                                               <span class="pk_numer">{wc:$shop['pk_number']}</span> 
						<img alt="{wc:$shop['title']}" src="{G_UPLOAD_PATH}/{wc:$shop['thumb']}">
					</a>
					<p name="buyCount" style="display:none;"></p>
				</div>
				<p class="name">
					<a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']}" class="xh_overflow_x">{wc:$shop['title']}</a>
				</p>
				<p class="money">价值：<span class="rmbgray">{wc:$shop['money']}</span></p>
				<div class="Progress-bar">
					<p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}"><span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],213)}px;"></span></p>
					<ul class="Pro-bar-li">
						<li class="P-bar01"><em>{wc:$shop['pk_cishu']}</em>已参与人数</li>
						<li class="P-bar02"><em>{wc:$shop['pk_number']}</em>总需人数</li>
						<li class="P-bar03"><em>{wc:$shop['pk_number']-$shop['pk_cishu']}</em>剩余人数</li>
					</ul>
				</div>
				<div class="gl_buybtn">
					<div class="go_buy">
						<div style="margin-left:18%;">
							<input type="hidden" value="{WEB_PATH}/goods_list/{wc:$shop['id']}" />
							<a href="javascript:;" title="立即夺宝" class="go_Shopping fl xhone_win" default-renci="{wc:$shop['default_renci']}">立即夺宝</a>
							<a href="javascript:;" title="加入购物车" class="go_cart xh_floatleft w-button-addToCart" default-renci="{wc:$shop['default_renci']}"></a>
						</div>
					</div>
				</div>

				<div class="Curbor_id" style="display:none;">{wc:$shop['id']}</div>
				<div class="Curbor_yunjiage" style="display:none;">{wc:$shop['yunjiage']}</div>
				<div class="Curbor_shenyu" style="display:none;">{wc:$shop['shenyurenshu']}</div>
				<div class="Curbor_default_renci" style="display:none;">{wc:$shop['default_renci']}</div>
			</li>
			{wc:loop:end}
		</ul>
	</div>
	{wc:else}
	<!--未找到商品-->
	<div class="NoConMsg"><span>无相关商品记录哦~！</span></div>
	<!--未找到商品-->
	{wc:if:end}
	<!--商品列表完-->
</div>
<!--弹窗-->
{wc:templates "index","outbox"}

<script type="text/javascript">
var uid = "{wc:$_COOKIE['uid']}";
var shopinfo = '';
$(function(){
	
	
	/*$(".xhone_win").click(function(){
			shopinfo = getaddcartinfo($(this));
			var numdig= 1;
			Cartcookie(true);
			//window.location.href= "{WEB_PATH}/member/cart/cartlist";
			return false;
		});*/
	//<!--点击立刻夺宝跑到购物车中去20105/12/11end-->

	/*$(".w-button-addToCart").click(function(){
		//添加到购物车动画
		var _parents = $(this).parents(".list-block");
		if(_parents.find(".P-bar03 em").text() <= 0){
			
			return false;
		}
		shopinfo = getaddcartinfo($(this));
		if(!Cartcookie(false)){
			//alert('购买数量达到上限！');
			$('.Model_title').text('友情提示');
			$('.Model_text').text('该期产品购买数量达到上限！');
			$('#Model_fade').click();
			return false;
		}
		var src=_parents.children(".pic").find("img").attr('src');
		var $shadow = $('<img id="cart_dh" style="display: none; border:1px solid #aaa; z-index: 99999;" width="400" height="400" src="'+src+'" />').prependTo("body"); 
		var $img = _parents.children(".pic").find("img");
		$shadow.css({ 
		   'width' : $img.css('width'), 
		   'height': $img.css('height'),
		   'position' : 'absolute',      
		   'top' : $img.offset().top,
		   'left' : $img.offset().left, 
		   'opacity' :1
		}).show();	

			
		
		//shopinfo={'shopid':shopid,'money':xmoney,'shenyu':xshengyue,'renci':default_renci};		//2015.12.08  kangpengfei 增加了'renci' = default_renci
	
		var $cart =$("#btnMyCart");
		var numdig= 1;
		$shadow.animate({   
			width: 1, 
			height: 1, 
			top: $cart.offset().top, 
			left: $cart.offset().left,
			opacity: 0
		},500,function(){
			
		});		
	});*/
    $("#ulGoodsList li a.go_Shopping").click(function(){
        var sw = $("#ulGoodsList li a.go_Shopping").index(this);
        Cartcookie(sw,true);
    });
    $("#ulGoodsList li a.go_cart").click(function(){
        var sw = $("#ulGoodsList li a.go_cart").index(this);
        var src = $("#ulGoodsList li .pic a img").eq(sw).attr('src');
        var $shadow = $('<img id="cart_dh" style="display:none; border:1px solid #aaa; z-index:99999;" width="200" height="200" src="'+src+'" />').prependTo("body");
        var $img = $("#ulGoodsList li .pic").eq(sw);
        $shadow.css({
            'width' : 200,
            'height': 200,
            'position' : 'absolute',
            "left":$img.offset().left+16,
            "top":$img.offset().top+9,
            'opacity' : 1
        }).show();

        //顶部购物车显示数目
        var $cart = $("#btnMyCart");

        $shadow.animate({
            width: 1,
            height: 1,
            top: $cart.offset().top,
            left: $cart.offset().left,
            opacity: 0
        },500,function(){
            Cartcookie(sw,false);
        });

    });
	
});

function getaddcartinfo(obj){
	var _obj = obj.parent().children(0);
	var _shopid_num = _obj.val().lastIndexOf("/")+1;
	var shopid = _obj.val().substr(_shopid_num);
	
	var xmoney = obj.parents(".list-block").find(".money").find(".rmb").text();
	//var xshengyue = parseInt(obj.parents(".list-block").find(".P-bar03").find("em").text());
	
	var wap_ten	= obj.attr('max-number');
	
	//默认人次
	var default_renci = parseInt(obj.attr('default-renci'));
	
	xmoney = default_renci * xmoney;
	shopinfo={'shopid':shopid,'money':xmoney,'shenyu':wap_ten,'renci':default_renci};

	return shopinfo;
}
/*
function Cartcookie(cook){
	
	var shopid=shopinfo.shopid;
	shopid = parseInt(shopid);
	var number= 1;
	if(typeof shopinfo.renci != 'undefined') number = shopinfo.renci;
	if(number<=1){number=1;}
	var Cartlist = $.cookie('Cartlist');
	
	if(!Cartlist){
		var info = {};
	}else{
		var info = eval('('+Cartlist+')');
		if((typeof info) !== 'object'){
			var info = {};
		}
	}		

	if(!info[shopid]){
		var CartTotal=$("#sCartTotal").text();
			$("#sCartTotal").text(parseInt(CartTotal)+1);
			$("#btnMyCart em").text(parseInt(CartTotal)+1);
	}
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid].num = typeof(info[shopid].num)=='undefined' ? number : Number(info[shopid].num)+Number(number);
	info[shopid].shenyu = shopinfo.shenyu;
	//加入购物车数量达到上限
	if(info[shopid].num > info[shopid].shenyu){
		info[shopid].num = info[shopid].shenyu;
		return false;
		
	}
	info[shopid].money = typeof(info[shopid].money)=='undefined' ? shopinfo.money : Number(info[shopid].money)+Number(shopinfo.money);
	info.MoenyCount = '0.00';	
	$.cookie('Cartlist',$.toJSON(info),{expires:7,path:'/'});
	
	
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist/"+new Date().getTime();//+new Date().getTime()
	}else{
		return true;
	}
	
}*/
function Cartcookie(sw,cook){

    var shopid = $(".Curbor_id").eq(sw).text(),
            shenyu = parseInt($(".Curbor_shenyu").eq(sw).text()),
            money = $(".Curbor_yunjiage").eq(sw).text(),
            default_renci = parseInt($(".Curbor_default_renci").eq(sw).text());
    //重新计算金额和默认人次   20151208 kangpengfei
    if(default_renci > shenyu){
        default_renci = shenyu;
    }
    money = money * default_renci;

    var Cartlist = $.cookie('Cartlist');
    if(!Cartlist){
        var info = {};
    }else{
        var info = $.evalJSON(Cartlist);
    }
    if(!info[shopid]){
        var CartTotal=$("#sCartTotal").text();
        $("#sCartTotal").text(parseInt(CartTotal)+1);
        $("a#btnMyCart em").text(parseInt(CartTotal)+1);
    }
    if(typeof info[shopid] == 'undefined'){
        info[shopid]={};
    }
    info[shopid]['num']=typeof(info[shopid]['num']) == 'undefined' ? default_renci : Number(info[shopid]['num'])+Number(default_renci);
    info[shopid]['shenyu']=shenyu;
    info[shopid]['money']=typeof(info[shopid]['money']) == 'undefined' ? money : Number(info[shopid]['money'])+Number(money);
    info['MoenyCount']='0.00';
    $.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
    if(cook){
        window.location.href="{WEB_PATH}/member/cart/cartlist";
    }
}

</script>










<!--<script type="text/javascript">

$(function(){
	var shopinfo = '';
//商品购物车
	$("#ulGoodsList li a.go_cart").click(function(){ 
		var sw = $("#ulGoodsList li a.go_cart").index(this);		
		var src = $("#ulGoodsList li .pic a img").eq(sw).attr('src');				
		var $shadow = $('<img id="cart_dh" style="display:none; border:1px solid #aaa; z-index:99999;" width="200" height="200" src="'+src+'" />').prependTo("body");  			
		var $img = $("#ulGoodsList li .pic").eq(sw);
		$shadow.css({ 
			'width' : 200, 
			'height': 200, 
			'position' : 'absolute',      
			"left":$img.offset().left+16, 
			"top":$img.offset().top+9,
			'opacity' : 1    
		}).show();
		
		//顶部购物车显示数目
		var $cart = $("#btnMyCart");

		$shadow.animate({   
			width: 1, 
			height: 1, 
			top: $cart.offset().top,    
			left: $cart.offset().left, 
			opacity: 0
		},500,function(){
			Cartcookie(sw,false);
		});	
		
	});
	$("#ulGoodsList li a.go_Shopping").click(function(){	
		var sw = $("#ulGoodsList li a.go_Shopping").index(this);
		Cartcookie(sw,true); 
	});	
});
	$(".w-button-addToCart").click(function(){ 
		//添加到购物车动画
		var _parents = $(this).parents(".list-block");
		if(_parents.find(".P-bar03 em").text() <= 0){
			
			return false;
		}
		shopinfo = getaddcartinfo($(this));
		var status  = Cartcookie(false);
		if(!Cartcookie(false)){
			//alert('购买数量达到上限！');
			$('.Model_title').text('友情提示');
			$('.Model_text').text('购买数量达到上限！');
			$('#Model_fade').click();
			return false;
		}
		var src=_parents.children(".pic").find("img").attr('src');
		var $shadow = $('<img id="cart_dh" style="display: none; border:1px solid #aaa; z-index: 99999;" width="400" height="400" src="'+src+'" />').prependTo("body"); 
		var $img = _parents.children(".pic").find("img");
		$shadow.css({ 
		   'width' : $img.css('width'), 
		   'height': $img.css('height'),
		   'position' : 'absolute',      
		   'top' : $img.offset().top,
		   'left' : $img.offset().left, 
		   'opacity' :1
		}).show();	

			
		
		//shopinfo={'shopid':shopid,'money':xmoney,'shenyu':xshengyue,'renci':default_renci};		//2015.12.08  kangpengfei 增加了'renci' = default_renci
	
		var $cart =$("#btnMyCart");
		var numdig= 1;
		$shadow.animate({   
			width: 1, 
			height: 1, 
			top: $cart.offset().top, 
			left: $cart.offset().left,
			opacity: 0
		},500,function(){
			
		});		
	});
	
	});
function Cartcookie(sw,cook){

	var shopid = $(".Curbor_id").eq(sw).text(),
		shenyu = parseInt($(".Curbor_shenyu").eq(sw).text()),
		money = $(".Curbor_yunjiage").eq(sw).text(),
		default_renci = parseInt($(".Curbor_default_renci").eq(sw).text());
	//重新计算金额和默认人次   20151208 kangpengfei
	if(default_renci > shenyu){
		default_renci = shenyu;
	}
	money = money * default_renci;
	
	var Cartlist = $.cookie('Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = eval('('+Cartlist+')');
	}
	if(!info[shopid]){	
		var CartTotal=$("#sCartTotal").text();			
			$("#sCartTotal").text(parseInt(CartTotal)+1);			
			$("a#btnMyCart em").text(parseInt(CartTotal)+1);
	}	
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid].num	= typeof(info[shopid].num) == 'undefined' ? default_renci : Number(info[shopid].num)+Number(default_renci);
	info[shopid].shenyu	= shenyu;
	info[shopid].money	= typeof(info[shopid].money) == 'undefined' ? money : Number(info[shopid].money)+Number(money);
	//info['MoenyCount']='0.00';
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist";
	}
}



//存到COOKIE
/*function Cartcookie(sw,cook){

	var shopid = $(".Curbor_id").eq(sw).text(),
		shenyu = parseInt($(".Curbor_shenyu").eq(sw).text()),
		money = $(".Curbor_yunjiage").eq(sw).text(),
		default_renci = parseInt($(".Curbor_default_renci").eq(sw).text());
	//重新计算金额和默认人次   20151208 kangpengfei
	if(default_renci > shenyu){
		default_renci = shenyu;
	}
	money = money * default_renci;
	
	var Cartlist = $.cookie('Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = $.evalJSON(Cartlist);
	}
	if(!info[shopid]){	
		var CartTotal=$("#sCartTotal").text();			
			$("#sCartTotal").text(parseInt(CartTotal)+1);			
			$("a#btnMyCart em").text(parseInt(CartTotal)+1);
	}	
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid]['num']=typeof(info[shopid]['num']) == 'undefined' ? default_renci : Number(info[shopid]['num'])+Number(default_renci);
	info[shopid]['shenyu']=shenyu;
	info[shopid]['money']=typeof(info[shopid]['money']) == 'undefined' ? money : Number(info[shopid]['money'])+Number(money);
	info['MoenyCount']='0.00';
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist";
	}
} */
</script>-->


{wc:templates "index","footer"}