<div class="g-side">
	<div class="m-detail-period">
		<div class="m-detail-period-title f-clear">

			
      	<img src="{G_TEMPLATES_IMAGE}/new-1.png" />
      	<span>猜你喜欢</span>
		
		</div>
		<style>
			.m-detail-period-title{
				font-size: 20px;
    		line-height: 50px;
    		text-align: center;
			}
			.xjiexiao_img{
				text-align: center;
			}

		</style>
		
		
		
		<div class="xjiexiao_content">
			<div class="xjiexiao_img">
				<a href="{WEB_PATH}/goods/{wc:$itemzx['id']}" target="_blank">
					<img src="{G_UPLOAD_PATH}/{wc:$item['thumb']}">
				</a>
			</div>
			<div class="xjiexiao_titlte">
				<a href="{WEB_PATH}/goods/{wc:$itemzx['id']}" style="text-align:left" target="_blank">
    			{wc:fun:_strcut($itemzx['title'],50)}
    		</a>
			</div>
			<div class="xjiexiao_titlte_gudnong">
				<div class="Progress-bar">
					<p title="已完成{wc:fun:percent($itemzx['canyurenshu'],$itemzx['zongrenshu'])}">
						<span style="width:{wc:fun:width($itemzx['canyurenshu'],$itemzx['zongrenshu'],222)}px; display:;border: 1px solid #e53c08;background:#e53c08 none repeat scroll 0% 0%;"></span>
					</p>
					<ul class="Pro-bar-li">
						<li class="P-bar01">
							<em>{wc:$itemzx['canyurenshu']}</em>
							已参与人次
						</li>
						<li class="P-bar02">
							<em id="CodeQuantity">
								{wc:$itemzx['zongrenshu']}
							</em>
							总需人次
						</li>
						<li class="P-bar03">
							<em id="CodeLift">{wc:$itemzx['shenyurenshu']}</em>
							剩余人次
						</li>
					</ul>
				</div>

			</div>

			<div class="xh_right_all" style='text-align:center'><a class="w-button w-button-main w-button-l " href="{WEB_PATH}/goods/{wc:$itemzx['id']}" style="width:96px;" target="_blank">立即夺宝</a></div>

		</div>
	</div>
</div>

<script>
	var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];

	function generateMixed(n) {
		var res = "";
		for (var i = 0; i < n; i++) {
			var id = Math.ceil(Math.random() * 35);
			res += chars[id];
		}
		return res;
	}
</script>