{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/List.css"/>

<!--晒单-->
<div class="shadan_list_bg"></div>
<div class="ten_bg_bottom"></div>
<div class="share_main">
	<div class="Current_nav">
		<a href="{WEB_PATH}">首页</a> &gt; 晒单分享</div>
	<div id="current" class="share_Curtit">
		<h1 class="fl">
			晒单分享</h1>
		<span id="spTotalCount">(共<em class="orange">{wc:$total}</em>个幸运获得者晒单)</span>
	</div>
	<div id="loadingPicBlock" class="share_list">
		<div class="goods_share_listC">
			<ul>				
				<li>
					{wc:loop $sa_one $sd}
					{wc:php:start}
						$sd_thumb = str_replace('.jpg_220203','',$sd[sd_thumbs]);
					{wc:php:end}
					<div class="share_list_content">
						<dl>
							<dt><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}"><img src="{G_UPLOAD_PATH}/{wc:$sd_thumb}"></a></dt>
							<dd class="share-name gray02"> 
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="name-img">								
									<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}" width="50" height="50" border="0"/>									
								</a>
								<div class="share-name-r"> 
									<span class="gray03"> <a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="blue">{wc:fun:get_user_name($sd['sd_userid'],'username')}</a>{wc:fun:date("Y-m-d H:i",$sd['sd_time'])}</span>
									<a class="Fb gray01" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">{wc:$sd['sd_title']}</a>
								</div> 
							</dd> 
							<dd class="share_info gray01">{wc:$sd['sd_content']}</dd> 
							<dd class="message hidden" style="display: block;"> 
								<span class="smile gray03"><i></i><b>羡慕(<em num="1282">{wc:$sd['sd_zhan']}</em>)</b></span>
								<span class="much"><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="gray03"><i></i>评论<em>({wc:$sd['sd_ping']})</em></a></span>
							</dd>
						
							{wc:if $hf_one=hueisd_id($sd['sd_id'])}
								<dd class="text_message gray02 hidden" style="display: block;">
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($hf_one['sdhf_userid'])}" target="_blank" class="name-img">									
									<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:$hf_one['sdhf_img']}" width="50" height="50" border="0"/>								
								</a>
								<p><a href="#" class="blue">{wc:$hf_one['sdhf_username']}</a>:&nbsp;<span>{wc:fun:_strcut($hf_one['sdhf_content'],50)}</span></p>
								</dd>
							{wc:if:end}
						</dl>
						<p class="text-h10"></p>
					</div>	
					{wc:loop:end}
				</li>
				<li>
					{wc:loop $sa_two $sd}
					
					{wc:php:start}
						$sd_thumb = str_replace('.jpg_220203','',$sd[sd_thumbs]);
					{wc:php:end}
					<div class="share_list_content">
						<dl>
							<dt><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}"><img src="{G_UPLOAD_PATH}/{wc:$sd_thumb}"></a></dt>
							<dd class="share-name gray02"> 
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="name-img">
								
								<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}" width="50" height="50" border="0"/>
									
								</a>
								<div class="share-name-r"> 
									<span class="gray03"> <a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="blue">{wc:fun:get_user_name($sd['sd_userid'],'username')}</a>{wc:fun:date("Y-m-d H:i",$sd['sd_time'])}</span>
									<a class="Fb gray01" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">{wc:$sd['sd_title']}</a>
								</div> 
							</dd> 
							<dd class="share_info gray01">{wc:$sd['sd_content']}</dd> 
							<dd class="message hidden" style="display: block;"> 
								<span class="smile gray03"><i></i><b>羡慕(<em num="1282">{wc:$sd['sd_zhan']}</em>)</b></span>
								<span class="much"><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="gray03"><i></i>评论<em>({wc:$sd['sd_ping']})</em></a></span>
							</dd>
							
							{wc:if $hf_two=hueisd_id($sd['sd_id'])}
								<dd class="text_message gray02 hidden" style="display: block;">
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($hf_two['sdhf_userid'])}" target="_blank" class="name-img">									
									<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:$hf_two['sdhf_img']}" width="50" height="50" border="0"/>								
								</a>
								<p><a href="#" class="blue">{wc:$hf_two['sdhf_username']}</a>:&nbsp;<span>{wc:$hf_two['sdhf_content']}</span></p>
								</dd>
							{wc:if:end}
						</dl>
						<p class="text-h10"></p>
					</div>	
					{wc:loop:end}
				</li>
				<li>
					{wc:loop $sa_tree $sd}
					{wc:php:start}
						$sd_thumb = str_replace('.jpg_220203','',$sd[sd_thumbs]);
					{wc:php:end}
					<div class="share_list_content">
						<dl>
							<dt><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}"><img src="{G_UPLOAD_PATH}/{wc:$sd_thumb}"></a></dt>
							<dd class="share-name gray02"> 
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="name-img">
								
								<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}" width="50" height="50" border="0"/>
								
								</a>
								<div class="share-name-r"> 
									<span class="gray03"> <a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="blue">{wc:fun:get_user_name($sd['sd_userid'],'username')}</a>{wc:fun:date("Y-m-d H:i",$sd['sd_time'])}</span>
									<a class="Fb gray01" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">{wc:$sd['sd_title']}</a>
								</div> 
							</dd> 
							<dd class="share_info gray01">{wc:$sd['sd_content']}</dd> 
							<dd class="message hidden" style="display: block;"> 
								<span class="smile gray03"><i></i><b>羡慕(<em num="1282">{wc:$sd['sd_zhan']}</em>)</b></span>
								<span class="much"><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="gray03"><i></i>评论<em>({wc:$sd['sd_ping']})</em></a></span>
							</dd>
							{wc:if $hf_tree=hueisd_id($sd['sd_id'])}
								<dd class="text_message gray02 hidden" style="display: block;">
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($hf_tree['sdhf_userid'])}" target="_blank" class="name-img">									
									<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:$hf_tree['sdhf_img']}" width="50" height="50" border="0"/>								
								</a>
								<p><a href="#" class="blue">{wc:$hf_tree['sdhf_username']}</a>:&nbsp;<span>{wc:$sdhf_content}</span></p>
								</dd>
							{wc:if:end}
						</dl>
						<p class="text-h10"></p>
					</div>	
					{wc:loop:end}
				</li>
				<li class="share-liR">	
					{wc:loop $sa_for $sd}
					{wc:php:start}
						$sd_thumb = str_replace('.jpg_220203','',$sd[sd_thumbs]);
					{wc:php:end}
					<div class="share_list_content">
						<dl>
							<dt><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}"><img src="{G_UPLOAD_PATH}/{wc:$sd_thumb}"></a></dt>
							<dd class="share-name gray02"> 
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="name-img">								
								<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}" width="50" height="50" border="0"/>
								
								</a>
								<div class="share-name-r"> 
									<span class="gray03"> <a href="{WEB_PATH}/uname/{wc:fun:idjia($sd['sd_userid'])}" class="blue">{wc:fun:get_user_name($sd['sd_userid'],'username')}</a>{wc:fun:date("Y-m-d H:i",$sd['sd_time'])}</span>
									<a class="Fb gray01" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank">{wc:$sd['sd_title']}</a>
								</div> 
							</dd> 
							<dd class="share_info gray01">{wc:$sd['sd_content']}</dd> 
							<dd class="message hidden" style="display: block;"> 
								<span class="smile gray03"><i></i><b>羡慕(<em num="1282">{wc:$sd['sd_zhan']}</em>)</b></span>
								<span class="much"><a target="_blank" href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="gray03"><i></i>评论<em>({wc:$sd['sd_ping']})</em></a></span>
							</dd>
							{wc:if $hf_for=hueisd_id($sd['sd_id'])}
								<dd class="text_message gray02 hidden" style="display: block;">
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($hf_for['sdhf_userid'])}" target="_blank" class="name-img">									
									<img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:$hf_for['sdhf_img']}" width="50" height="50" border="0"/>								
								</a>
								<p><a href="#" class="blue">{wc:$hf_for['sdhf_username']}</a>:&nbsp;<span>{wc:$hf_for['sdhf_content']}</span></p>
								</dd>
							{wc:if:end}
						</dl>
						<p class="text-h10"></p>
					</div>	
					{wc:loop:end}
				</li>				
			</ul>				
		</div>
		{wc:if $total>$num}
		<div class="pagesx">{wc:page:two}</div>
		{wc:if:end}
	</div>
</div>

{wc:templates "index","footer"}