{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Home.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/GoodsList.css"/>

<div class="ten_bg"></div>
<div class="ten_bg_bottom"></div>
<div style="height:20px;"></div>
<div class="wrap" id="loadingPicBlock">
	<!--十元专区-->
	<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/new/ten.css"/>
	<div class="m-ten-mod m-ten-rule">
		<div class="m-ten-mod-hd">
			<h3>限购 规则说明</h3>
		</div>
		<div class="m-ten-mod-bd">
			<ul class="m-ten-rule-list">
				<li><span class="txt-red index">1.</span> “限购专区”是指每个商品每个账户<b>参与人次设置上限</b>；</li>
				<li><span class="txt-red index">2.</span> 限购专区分配的号码非连号，亦是随机分配；</li>
				<li><span class="txt-red index">3.</span> 幸运号码计算规则与易中夺宝商品相同。</li>
			</ul>
		</div>
	</div>
	<div style="clear:both"></div>
	{wc:if $shoplist}
	<!--商品列表-->
	<div class="listContent">
		<ul class="item" id="ulGoodsList">		
			{wc:loop $shoplist $shop}
			<li class="goods-iten" >
				<div class="pic">
					<a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']} ">
                    	<i class="goods_xp_shi"></i>                    	
						<img alt="{wc:$shop['title']}" src="{G_UPLOAD_PATH}/{wc:$shop['thumb']}">
					</a>
					<p name="buyCount" style="display:none;"></p>
				</div>
				<p class="name">
					<a href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['title']} " class="xh_overflow_x">{wc:$shop['title']}</a>
				</p>
				<p class="money">价值：<span class="rmbgray">{wc:$shop['money']}</span></p>
				<div class="Progress-bar">
					<p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}"><span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],213)}px;"></span></p>
					<ul class="Pro-bar-li">
						<li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与人次</li>
						<li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
						<li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余人次</li>
					</ul>
				</div>
				<div class="gl_buybtn">
					<div class="go_buy">
						<input type="hidden" value="{WEB_PATH}/goods/{wc:$shop['id']}" />	
						<a href="javascript:;" title="立即夺宝" class="go_Shopping fl" default-renci="{wc:$shop['default_renci']}">立即夺宝</a>
						<a href="javascript:;" title="加入购物车" class="go_cart xh_floatleft" default-renci="{wc:$shop['default_renci']}"></a>
					</div>
				</div>
				
				<div class="Curbor_id" style="display:none;">{wc:$shop['id']}</div>
				<div class="Curbor_yunjiage" style="display:none;">{wc:$shop['yunjiage']}</div>
				<div class="Curbor_shenyu" style="display:none;">{wc:$shop['shenyurenshu']}</div>
				<div class="Curbor_default_renci" style="display:none;">{wc:$shop['default_renci']}</div>
			</li>
			{wc:loop:end}
		</ul>
	{wc:if $total>$num}
	<div class="pagesx">{wc:page:two}</div>
	{wc:if:end}
	</div>
	<!--商品列表完-->
	{wc:else}
	<!--未找到商品-->
	<div class="NoConMsg"><span>无相关商品记录哦~！</span></div>
	<!--未找到商品-->
	{wc:if:end}
	
</div>
<script type="text/javascript">

$(function(){
//商品购物车
	$("#ulGoodsList li a.go_cart").click(function(){ 
		var sw = $("#ulGoodsList li a.go_cart").index(this);		
		var src = $("#ulGoodsList li .pic a img").eq(sw).attr('src');				
		var $shadow = $('<img id="cart_dh" style="display:none; border:1px solid #aaa; z-index:99999;" width="200" height="200" src="'+src+'" />').prependTo("body");  			
		var $img = $("#ulGoodsList li .pic").eq(sw);
		$shadow.css({ 
			'width' : 200, 
			'height': 200, 
			'position' : 'absolute',      
			"left":$img.offset().left+16, 
			"top":$img.offset().top+9,
			'opacity' : 1    
		}).show();
		
		//顶部购物车显示数目
		var $cart = $("#btnMyCart");

		$shadow.animate({   
			width: 1, 
			height: 1, 
			top: $cart.offset().top,    
			left: $cart.offset().left, 
			opacity: 0
		},500,function(){
			Cartcookie(sw,false);
		});	
		
	});
	$("#ulGoodsList li a.go_Shopping").click(function(){	
		var sw = $("#ulGoodsList li a.go_Shopping").index(this);
		Cartcookie(sw,true); 
	});	
});
//存到COOKIE
function Cartcookie(sw,cook){

	var shopid = $(".Curbor_id").eq(sw).text(),
		shenyu = parseInt($(".Curbor_shenyu").eq(sw).text()),
		money = $(".Curbor_yunjiage").eq(sw).text(),
		default_renci = parseInt($(".Curbor_default_renci").eq(sw).text());
	//重新计算金额和默认人次   20151208 kangpengfei
	if(default_renci > shenyu){
		default_renci = shenyu;
	}
	money = money * default_renci;
	
	var Cartlist = $.cookie('Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = $.evalJSON(Cartlist);
	}
	if(!info[shopid]){	
		var CartTotal=$("#sCartTotal").text();			
			$("#sCartTotal").text(parseInt(CartTotal)+1);			
			$("a#btnMyCart em").text(parseInt(CartTotal)+1);
	}	
	if(typeof info[shopid] == 'undefined'){
		info[shopid]={};
	}
	info[shopid]['num']=typeof(info[shopid]['num']) == 'undefined' ? default_renci : Number(info[shopid]['num'])+Number(default_renci);
	info[shopid]['shenyu']=shenyu;
	info[shopid]['money']=typeof(info[shopid]['money']) == 'undefined' ? money : Number(info[shopid]['money'])+Number(money);
	info['MoenyCount']='0.00';
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist";
	}
} 
</script>
{wc:templates "index","footer"}