{wc:templates "index","header"}
<link href="{G_TEMPLATES_STYLE}/js/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/jquery.Validform.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/passwordStrength-min.js"></script>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/new/alert.css"/>
<script type="text/javascript" src='{G_TEMPLATES_JS}/new/alert.js'></script>
<script type="text/javascript">
$(function(){		
	var demo=$(".register").Validform({
		tiptype:2,
		beforeSubmit:function(curform){
			//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话表单将不会提交;
			var x_data = $(curform).serialize();
			var action_url = '{wc:WEB_PATH}/member/finduser/findpassword';
			x_data += "&submit=submit";
			$.ajax({
				url:action_url,
				data:x_data,
				type:"POST",
				success:function(f_data){
					_data = $.parseJSON(f_data);
					if(_data.error=="1"){
						msg_show.waring(_data.msg);
					}else if(_data.error=="0"){
						window.location.href=_data.url;
					}
				}
			});
			return false;
		}
	});	
});
/*var form_but;
window.onload=function(){
			
	var checkcode=document.getElementById('showVerifySN');
	var src=checkcode.src;
		checkcode.onclick=function(){
				this.src=src+'/?';	
		}
	
}*/
</script>
<div class="login_layout">
	<div class="login_title">
		<h2>密码忘了？不要着急，通过以下方式即可帮您顺利的找回来！</h2>
	</div>
	<div class="login_Content">
		<form method="post" action="" enctype="application/x-www-form-urlencoded" class="register">
		<div class="login_CMobile_Complete login_CEmailPal">
			<p>您可以通过注册时所填写的手机号找回密码，请在下方输入您的帐号信息。</p>
			<dl>
				<dt>手机号：</dt>
				<dd><input datatype="m" sucmsg="帐号验证通过！" nullmsg="请填写帐号！" errormsg="手机号！" id="userAccount" type="text" name="name" class="login_CMobile_CodeW" value=""></dd>
				<dd><div style="margin:7px 0 0 10px;" class="Validform_checktip">手机号！</div></dd>
			</dl>
			
			<input type="submit" name="submit" id="btnSubmitAccount" class="login_Email_but"  value="提交" />			
		</div> 
		</form>
		<div class="login_Explain">
			<p>1.您若忘记注册时所用的手机号建议您重新注册账号， <a href="{WEB_PATH}/member/user/register" class="blue Fb">立即注册</a></p>
			<p>2.若有任何疑问或需要帮助请您进入帮助中心，也可以点击在线客服进行咨询或拨打服务热线400-685-9800</p>
		</div>
	</div>
</div>
{wc:templates "index","footer"}