 .mask{
                margin:auto ;
                position:absolute;
                width: 100%;
                height: 100%;
                background-color:rgba(0,0,0,0.5)!important; 
                background:#000; 
                filter:alpha(opacity=50); *background:#000; *filter:alpha(opacity=50);
                position: fixed;	
                /*left:20%;*/
                top:0px;
                display: none;
                z-index:100000;	
            }
            .makscontent{
                border: 1px solid red;
                position: absolute;
                margin:20% 18%;
                background: #FFF;
                width: 65%;
                /*height: 50%;*/
                border-radius: 10px;
            }
            .makswan{
                text-align: center;
                color: red;
            }
            .makscontent p{
                
                display: block;
                height: 30px;
                width: 100%;
            }
            .masktitle{
                /*margin:0px 0px 30px 0px;*/
                text-align: center;
            }
            .maskclose{
                float: right;
                width: 30px;
                height:20px;
      
            }