{wc:getone sql="select * from `@#_fund` where 1 limit 1" return="fund_data"}
{wc:if !$fund_data['fund_off']}
{wc:fun:_message("基金未开启！")}
{wc:if:end}
{wc:getone:end}
{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/fund.css"/>
<div class="fundCon">
	<div class="fImg">
		<img src="{G_TEMPLATES_STYLE}/images/welfare_03.jpg" alt="">
		<img src="{G_TEMPLATES_STYLE}/images/welfare_05.jpg" alt="">
		<img src="{G_TEMPLATES_STYLE}/images/welfare_07.jpg" alt="">
	</div>
	<div class="fInfo">
		<div class="tit1">
			<s class="welfare"></s>
		</div>
		<div class="step">
			<ul>
				<li class="sTop"></li>
				<li class="scen">
					<s class="welfare s1"></s>
					<dl><p>夺宝基金是{wc:fun:_cfg("web_name")}创始人发起成立的以公益事业为主要方向的爱心基金。夺宝基金本着“我为人人，人人为我”的社会责任，向需要帮助的困难人们提供爱心捐助。</p></dl>
				</li>
				<li class="sBottom"></li>
			</ul>
			<ul>
				<li class="sTop"></li>
				<li class="scen">
					<s class="welfare s2"></s>
					<dl><p>每位在{wc:fun:_cfg("web_name")}进行分享购物的朋友，您的每次参与都将是为我们的公益事业做出一份贡献。当您每参与1人次夺宝，将由1元夺宝出资为夺宝基金筹款0.01元，所筹款项将全部用于夺宝基金。</p></dl>
				</li>
				<li class="sBottom"></li>
			</ul>
			<ul>
				<li class="sTop"></li>
				<li class="scen">
					<s class="welfare s3"></s>
					<dl>夺宝基金将会以第1种途径或第2种途径进行使用：<br>
					1、{wc:fun:_cfg("web_name")}全体员工将组织向身边的公益事业进行捐赠与关怀活动。活动内容包括：资金、所需用品以及探望与协助等，每次捐赠与关怀活动结束后夺宝基金将公布活动详情以及基金详细使用报告。<br>
					2、夺宝基金通过腾讯公益或壹基金等公益组织进行爱心捐赠。</dl>
				</li>
				<li class="sBottom"></li>
			</ul>
			<ul>
				<li class="sTop"></li>
				<li class="scen">
					<s class="welfare s4"></s>
					<dl><p>包括夺宝基金的捐赠活动，我们不定期开展内部全体员工对身边更多公益事业或实时公益事业进行爱心捐赠的社会活动。</p>
					<p>我们还将不定期邀请幸运者参与并见证我们的基金社会活动，共同为我们的社会责任付出一份爱心与力量。当活动启动前我们会将活动进行公告，您可自愿或自行组织参与，组成夺宝网大家庭，共同开启活动之行。凡参与社会活动的幸运者均能获得夺宝网为您精心准备的公益爱心礼品一份。</p></dl>
				</li>
				<li class="sBottom"></li>
			</ul>
		</div>
	</div>

	<div class="fAccount">
		<div class="tit2">
			<s class="welfare"></s>
		</div>
		<div class="value">
			<dt>{wc:fun:_cfg("web_name")}公益账户累计总额：</dt>
			<dl>( 其中100万元为夺宝网预先注入启动资金 )</dl>
			<p><b id="pFundMoney">{wc:$fund_data['fund_count_money']}</b><span>元</span></p>
		</div>
		<dl><img src="{G_TEMPLATES_STYLE}/images/welfare_15.gif" alt=""></dl>
		<div class="fCon">
		<div class="funding" id="divFundList">						
			<!--最新购买记录-->
            {wc:m=member.record mod=get_new_record(10)}            
			{wc:loop $datas $row}		
			<ul>
				<li><a href="{WEB_PATH}/uname/{wc:$row['uid']+1000000000}" target="_blank">             
                <img id="imgUserPhoto" src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($row,'img','3030')}" border="0"/>				
				</a></li>
				<li><a href="{WEB_PATH}/uname/{wc:$row['uid']+1000000000}" target="_blank">
                {wc:fun:get_user_name($row)}			
				</a>刚刚夺宝{wc:$row['gonumber']}人次，贡献{wc:$row['gonumber']}份爱心</li>
			</ul>
			{wc:loop:end}
			<!--最新购买记录-->
            
		</div>	
		<div class="btn"><a href="{WEB_PATH}" title="立即参与夺宝 贡献爱心"><img src="{G_TEMPLATES_STYLE}/images/btn_41.gif" border="0" alt=""></a></div>
	</div>
</div>
</div>
<script>
//夺宝基金
$(function(){
	$.ajax({
		url:"{WEB_PATH}/api/fund/get",
		success:function(msg){
			$("#pFundMoney").text(msg);
		}
	})
})
</script>
{wc:templates "index","footer"}