{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/qq.css"/>

<div class="help-main">
	<div class="qqGroup">
		<div class="qqTitle">
			<span class="groupt">夺宝<b>QQ</b>群</span>
			<span>为打造更具公平、透明的夺宝平台，1元夺宝特成立各地QQ交流群（可在选择框查找本地群），欢迎广大云友加入。<br>另外，1元夺宝正在招募各地群主加盟，也可自建群，具体待遇和要求请咨询QQ:{wc:fun:_cfg("qq")}</span>
		</div>		
		<div id="listContents" class="qqList">
			<ul>
            	<!--			
				<li>
					<dt><img border="0" src=""></dt>
					<dt>xxxx-群1</dt><dd>12323</dd>

				</li>
                -->
		<li>
					<dt><img border="0" src="http://www.2yyg.com/statics/templates/yungou/images/qqwm.jpg"></dt>
					<dt>2元夺宝官方群-群1</dt><dd>12323</dd>

				</li>
			</ul>
		</div>
	</div>
</div>
{wc:templates "index","footer"}