<!DOCTYPE >
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>微信绑定财神账号</title>
		<style type="text/css">
			body{
				text-align: center;
				background: #0087DC;
				font-family: '微软雅黑';
			}
			a{
				text-decoration: underline;
			}
			.title_top{
				color:white;
			}
			.touxiang{
				width:20%;
				border-radius:50%;
				border:2px solid #0095F2;
			}
			.bind_box{
				margin:10px auto;
				width:80%;
				text-align: left;
				
			}
			.bind_box input{
				width: 100%;
				
			}
			.input-group{
				margin-bottom: 20px;
			}
			.input-group-addon{
				
				color:white;
				border-color:white;
				background-color: rgb(229,60,8) !important;
			}
			.form-control{
				border-color:white;
				height:40px;
			}
			.bind_btn_click{
				width: 50%;
			    background: rgb(229,60,8);
			    border: 2px solid white;
			    padding: 5px;
			    color: white;
			    font-size: 16px;
			    font-family: '微软雅黑';
			}
			.go_reg{
				font-size: 14px;
				color:white;
				margin-top: 50px;
			}
			
		</style>
	</head>
	<body>
		
		
		
		<div class="">
			<p class="title_top">绑定财神账户</p>	
			<div class="" style="">
				
				<img class="touxiang" src="{{headimgurl}}"/>
				
				<p class="title_top">{{nickname}}</p>
				
			</div>
			<div class="bind_box">
				<div class="input-group">
		         	<span class="input-group-addon">账号</span>
		         	<input type="text" class="form-control" name="mobile" placeholder="请输入您的账号" ng-model="mobile">
		      	</div>
		      	<div class="input-group">
         			<span class="input-group-addon">密码</span>
         			<input type="password" class="form-control" name="password"  placeholder="请输入您的账户密码" ng-model="password">
      			</div>
			</div>
			<div class="bind_btn">
				<button class="bind_btn_click" ng-click="do_bind()">绑定</button>
			</div>
			<p class="go_reg">
				<a href="#/tab/rigister" class="title_top">没有账户？前去注册</a>
			</p>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
	</body>
</html>