* { margin: 0px; padding: 0px; box-sizing: border-box; }
body { font-family: "微软雅黑"; background-color: rgb(255, 255, 255); font-size: 100%; color: rgb(0, 0, 0); margin: 0px auto; }
a { color: rgb(0, 0, 0); font-size: 100%; text-decoration: none; }
img { vertical-align: middle; border: 0px none; outline: medium none; }
div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4 { display: block; width: auto; height: auto; margin: 0px auto; }
.w-product { overflow: hidden; }
.w-product ul { clear: both; }
.w-product ul li { width: 50%; float: left; padding: 15px 0px 10px; }
.w-product ul li:nth-of-type(2n+1) { border-style: solid; border-color: rgb(239, 71, 70); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 1px 0px; }
.w-product ul li:nth-of-type(2n) { border-style: solid; border-color: rgb(239, 71, 70); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 1px 1px; }
.w-product ul li:nth-of-type(1) { border-width: 2px 1px 1px 0px; }
.w-product ul li:nth-of-type(2) { border-width: 2px 0px 1px 1px; }
.w-product ul li:nth-of-type(3) { border-width: 1px 1px 2px 0px; }
.w-product ul li:nth-of-type(4) { border-width: 1px 0px 2px 1px; }
.w-photo { width: 60%; overflow: hidden; padding-bottom: 10px; }
.w-photo img { width: 65%; }
.w-product ul li p { line-height: 45px; }
.w-product ul li p:nth-of-type(1) { text-align: center; font-size: 28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.w-product ul li p:nth-of-type(2) { width: 90%; font-size: 28px; }
.w-product ul li p:nth-of-type(2) span { color: rgb(239, 71, 70); }
.w-product ul li p:nth-of-type(2) span b { font-size: 38px; font-weight: bold; }
.w-product ul li p:nth-of-type(2) i { font-style: normal; float: right; font-size: 30px; color: rgb(102, 102, 102); text-decoration: line-through; }
.w-product ul li a { display: block; width: 90%; background: rgb(239, 71, 70) none repeat scroll 0% 0%; color: rgb(255, 255, 255); margin: 0px auto; text-align: center; border-radius: 3px; padding: 5% 0px; font-size: 36px; }
.m-main { background: rgb(253, 238, 195) none repeat scroll 0% 0%; padding: 0px 2%; overflow: hidden; }
.m-user { overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 10px; padding: 4% 3% 3%; box-shadow: 0px 4px 6px rgba(148, 147, 147, 0.63); }
.m-user-img { width: 100px; height: 100px; overflow: hidden; float: left; }
.m-user-img img { width: 100%; }
.m-share { margin-left: 128px; }
.m-share p { overflow: hidden; line-height: 1.5; }
.m-share p span{ float:right; color:#999;}
.m-share p:nth-of-type(1) { color: rgb(71, 107, 133); font-size: 32px; }
.m-share p:nth-of-type(2) { color: rgb(104, 104, 104); font-size: 28px; }
.m-share-img { overflow: hidden; padding-top: 8px; }
.m-share-img ul { overflow: hidden; clear: both; }
.m-share-img ul li { width: 31%; float: left; margin-right: 2%; }
.m-dbrule { overflow: hidden; padding-top: 8%; }
.m-dbrule ul { clear: both; overflow: hidden; }
.m-dbrule ul li img { width: 100%; }
.m-dbrule ul li:first-child { margin-bottom: -54px; }
.m-dbrule ul li:last-child { margin-top: -25px; }
.m-dbrule-txt { background: transparent url('../other/.com/tg/upload/undefined') repeat-y scroll 0% 0% / 100% 100%; padding: 0px 5%; }
.m-dbrule-txt h4 { font-size: 32px; line-height: 30px; }
.m-dbrule-txt p { padding-top: 14px; line-height: 40px; font-size: 28px; text-align: justify; color: rgb(65, 61, 49); }
.m-dbrule-txt p span { float: left; }
.m-dbrule-txt p i { font-style: normal; margin-left: 42px; display: block; }
.m-xc p { text-align: center; font-size: 34px; color: rgb(14, 4, 3); line-height: 52px; }
.m-xc { overflow: hidden; padding: 8% 0px 3%; }
.m-xc p span { color: rgb(247, 1, 12); }
.m-bq { text-align: center; font-size: 24px; line-height: 1.5; padding: 15px 0px 10px; color:#666;}
.m-bot { background: rgb(249, 242, 196) none repeat scroll 0% 0%; height: 200px; }
@media screen and (max-width: 1081px) {
	.w-product ul li p:nth-of-type(1) { font-size: 28px; }
	.w-product ul li p:nth-of-type(2) i { font-size: 30px; }
	.w-product ul li p:nth-of-type(2) span b { font-size: 38px; font-weight: bold; }
	.w-product ul li p:nth-of-type(2) { width: 90%; font-size: 28px; }
	.w-product ul li a { font-size: 36px; }
	.w-product ul li p { line-height: 45px; }
	.m-user-img { width: 100px; height: 100px; }
	.m-share { margin-left: 128px; }
	.m-share p:nth-of-type(1) { color: rgb(71, 107, 133); font-size: 32px; }
	.m-share p:nth-of-type(2) { color: rgb(104, 104, 104); font-size: 28px; }
	.m-dbrule-txt p { padding-top: 14px; line-height: 40px; font-size: 28px; text-align: justify; color: rgb(65, 61, 49); }
	.m-dbrule-txt h4 { font-size: 32px; line-height: 30px; }
	.m-dbrule-txt p i { font-style: normal; margin-left: 42px; display: block; }
	.m-xc p { text-align: center; font-size: 34px; color: rgb(14, 4, 3); line-height: 52px; }
	.m-bq { text-align: center; font-size: 24px; padding: 15px 0px 10px; }
	.m-bot { height: 170px; }
}
@media screen and (max-width: 780px) {
	.m-dbrule ul li:first-child { margin-bottom: -46px; }
}
@media screen and (max-width: 720px) {
	.m-dbrule ul li:first-child { margin-bottom: -43px; }
	.m-bot { height: 132px; }
}
@media screen and (max-width: 641px) {
	.w-product ul li p:nth-of-type(1) { font-size: 20px; }
	.w-product ul li p:nth-of-type(2) { width: 90%; font-size: 24px; }
	.w-product ul li p:nth-of-type(2) span b { font-size: 30px; font-weight: bold; }
	.w-product ul li p:nth-of-type(2) i { font-size: 24px; }
	.w-product ul li a { font-size: 22px; }
	.m-user-img { width: 70px; height: 70px; }
	.m-share { margin-left: 90px; }
	.m-share p:nth-of-type(1) { color: rgb(71, 107, 133); font-size: 24px; }
	.m-share p:nth-of-type(2) { color: rgb(104, 104, 104); font-size: 20px; }
	.m-dbrule-txt p { padding-top: 14px; line-height: 28px; font-size: 20px; text-align: justify; color: rgb(65, 61, 49); }
	.m-dbrule-txt h4 { font-size: 22px; line-height: 30px; }
	.m-xc p { text-align: center; font-size: 20px; color: rgb(14, 4, 3); line-height: 28px; }
	.m-bq { text-align: center; font-size: 18px; padding: 15px 0px 10px; }
	.m-bot { background: rgb(249, 242, 196) none repeat scroll 0% 0%; height: 110px; }
	.m-dbrule ul li:first-child { margin-bottom: -38px; }
}
@media screen and (max-width: 470px) {
	.m-dbrule ul li:first-child { margin-bottom: -30px; }
	.m-bot { background: rgb(249, 242, 196) none repeat scroll 0% 0%; height: 90px; }
}
@media screen and (max-width: 415px) {
	.w-product ul li p:nth-of-type(1) { font-size: 16px; }
	.w-product ul li p:nth-of-type(2) { width: 90%; font-size: 16px; }
	.w-product ul li p:nth-of-type(2) span b { font-size: 22px; font-weight: bold; }
	.w-product ul li p:nth-of-type(2) i { font-size: 18px; }
	.w-product ul li a { font-size: 18px; }
	.w-product ul li p { line-height: 28px; }
	.m-user-img { width: 56px; height: 56px; }
	.m-share { margin-left: 68px; }
	/*.m-share p { line-height: 30px; }*/
	.m-share p:nth-of-type(1) { color: rgb(71, 107, 133); font-size: 18px; }
	.m-share p:nth-of-type(2) { color: rgb(104, 104, 104); font-size: 16px; }
	.m-dbrule-txt p { padding-top: 14px; line-height: 28px; font-size: 16px; text-align: justify; color: rgb(65, 61, 49); }
	.m-dbrule-txt h4 { font-size: 17px; line-height: 25px; }
	.m-dbrule-txt p { padding-top: 8px; line-height: 22px; font-size: 16px; text-align: justify; color: rgb(65, 61, 49); }
	.m-xc p { text-align: center; font-size: 16px; color: rgb(14, 4, 3); line-height: 25px; }
	.m-bq { text-align: center; font-size: 14px; padding: 15px 0px 10px; }
	.m-bot { background: rgb(249, 242, 196) none repeat scroll 0% 0%; height: 48px; }
	.m-bot { background: rgb(249, 242, 196) none repeat scroll 0% 0%; height: 75px; }
}
@media screen and (max-width: 375px) {
	.w-product ul li p:nth-of-type(1) { font-size: 14px; }
	.m-dbrule ul li:first-child { margin-bottom: -25px; }
	/*.m-share p { line-height: 26px; }*/
	.m-share p:nth-of-type(1) { color: rgb(71, 107, 133); font-size: 16px; }
	.m-share p:nth-of-type(2) { color: rgb(104, 104, 104); font-size: 14px; }
	.m-user-img { width: 50px; height: 50px; }
	.m-dbrule-txt h4 { font-size: 15px; line-height: 25px; }
	.m-dbrule-txt p { padding-top: 8px; line-height: 20px; font-size: 14px; text-align: justify; color: rgb(65, 61, 49); }
	.m-xc p { text-align: center; font-size: 15px; color: rgb(14, 4, 3); line-height: 22px; }
	.m-dbrule-txt p i { font-style: normal; margin-left: 24px; display: block; }
	.w-product ul li p:nth-of-type(2) i { font-size: 16px; }
	.w-product ul li p:nth-of-type(2) span b { font-size: 20px; font-weight: bold; }
	.w-product ul li a { font-size: 16px; }
}
@media screen and (max-width: 320px) {
	.w-product ul li a { font-size: 15px; }
}
.w-bottom-botton { position: fixed; left: 0px; bottom: 0px; right: 0px; overflow: hidden; z-index: 111; }
.w-bottom-botton-dowmload { background: rgba(10, 10, 10, 0.73) none repeat scroll 0% 0%; position: relative; overflow: hidden; cursor: pointer; }
.w-bottom-botton-dowmload ul { overflow: hidden; }
.w-bottom-botton-dowmload ul li { width: 30%; float: left; padding: 6px 0px; overflow: hidden; }
.w-bottom-botton-dowmload ul li:nth-of-type(1), .w-bottom-botton-dowmload ul li:nth-of-type(3) { width: 30%; }
.w-bottom-botton-dowmload ul li:nth-of-type(1) img { width: 54px; display: block; margin: 3px auto 0px; }
.w-bottom-botton-dowmload ul li:nth-of-type(2) { width: 40%; color: rgb(255, 255, 255); font-size: 14px; text-align: center; }
.w-bottom-botton-dowmload ul li:nth-of-type(2) p { line-height: 26px; padding-top: 4px; }
.w-bottom-botton-dowmload ul li:nth-of-type(2) p span { font-size: 16px; }
.w-bottom-botton-dowmload ul li:nth-of-type(3) button { background: red none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-align: center; border: medium none; height: 32px; line-height: 32px; padding: 0px 10px; border-radius: 5px; font-size: 14px; font-weight: bold; display: block; margin: 14px auto 0px; vertical-align: middle; }
.w-bottom-botton-dowmload-close { width: 40px; height: 40px; border-radius: 50%; background: rgb(193, 193, 193) none repeat scroll 0% 0%; position: absolute; top: -16px; left: -16px; }
.w-bottom-botton-dowmload-close::after { content: ""; display: inline-block; width: 0px; height: 16px; border-left: 1px solid rgb(143, 143, 143); position: relative; bottom: -20px; left: 25px; transform: rotate(45deg); }
.w-bottom-botton-dowmload-close::before { content: ""; display: inline-block; width: 0px; height: 16px; border-left: 1px solid rgb(143, 143, 143); position: relative; bottom: -20px; left: 25px; transform: rotate(-45deg); }
* { margin: 0px; padding: 0px; }
a { text-decoration: none; }
img { border: medium none; padding: 0px; display: block; margin: auto; width: 100%; max-width: 1080px; }
div { display: block; max-width: 1080px; margin: auto; }
