{wc:templates "index","header"}
{wc:templates "member","member_top_visit"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav_visit"}
	{wc:if count($shaidan)==0}
		<div class="member_noticle_tishi"><i></i>暂时没有晒单记录</div>
	{wc:else}
    <!--中奖记录-->
    <div class="member_user_winner">
    	<ul>
        	{wc:loop $shaidan $sd}
            <li class="setheight">
            	<div class="member_user_shaidan"><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:find_orginimg($sd['sd_thumbs'])}" /></a>
                </div>
            	<div class="member_shaidantop">
                	<p><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="membercolor_blur01 xh_overflow_x" target="_blank">{wc:$sd['title']}</a></p>
                    <p>幸运号码：<span class="membercolor_red01">{wc:$sd['q_user_code']}</span></p>
                </div>
                <div class="member_shaidanbottom">
                	<h5 style="font-size:14px"><a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank" class="membercolor_blur01 xh_overflow_x" >{wc:$sd['sd_title']}</a></h5>
					<p style="color:#adadad">{wc:fun:now_time($sd['sd_time'])}</p>
                    <p class="content">{wc:fun:_strcut($sd['sd_content'],80,'')}</p>
                </div>
            </li>
           {wc:loop:end}
            
        </ul>
    
    </div>
	{wc:if $total>12}
	<style>
		#divPageNav{width:96%; text-align:right;padding-top:10px;}
		#divPageNav ul{ text-align:center; float:right}
		#divPageNav li a{ padding:5px 8px;}
	</style>
    <div id="divPageNav" class="page_nav">
        {wc:page:two}
    </div>
	{wc:if:end}
	{wc:if:end}
    
    
</div>
{wc:templates "index","footer"}