{wc:templates "index","header"}
{wc:templates "member","member_top_visit"}
<div class="memberxhcontains">
	{wc:templates "member","member_nav_visit"}
	{wc:if count($record)==0}
		<div class="member_noticle_tishi"><i></i>还没有中奖记录，赶快<a href="{wc:WEB_PATH}" target="_blank" class="membercolor_blur01">去参加</a>吧！</div>
	{wc:else}
    <!--中奖记录-->
	
    <div class="member_user_winner">
    	<ul>
		{wc:loop $record $recd}

        	<li>
            	<div class="member_user_winnerimg member_user_winnerimg-Modify"><a href="{WEB_PATH}/dataserver/{wc:$recd['shopid']}" target="_blank"><img src="{G_UPLOAD_PATH}/{wc:fun:yunjl($recd['shopid'])}" width="200px" height="150px"/></a></div>
            	<h4><a href="{WEB_PATH}/dataserver/{wc:$recd['shopid']}" class="membercolor_blur01 xh_overflow_x" target="_blank">{wc:$recd['shopname']}</a></h4>
                <div class="member_user_winnerinfo">
                	<p>总需：{wc:$recd['zongrenshu']}人次</p>
					<p>期号：第{wc:$recd['shopqishu']}期</p>
                    <p>幸运号码：<span class="membercolor_red01">{wc:$recd['huode']}</span></p>
                    <p>总共参与：{wc:fun:get_user_goods_num($recd['uid'],$recd['shopid'])}人次</p>
                    <p>揭晓时间：{wc:fun:microt($recd['q_end_time'])}</p>
                
                </div>
            </li>
		{wc:loop:end}
        </ul>
    
    </div>
	{wc:if $total>12}
   <style>
		#divPageNav{width:96%; text-align:right;padding-top:10px;}
		#divPageNav ul{ text-align:center;float:right}
		#divPageNav li a{ padding:5px 8px;}
	</style>
    <div id="divPageNav" class="page_nav">
        {wc:page:two}
    </div>
	{wc:if:end}
	{wc:if:end}
</div>

{wc:templates "index","footer"}